Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(launcher): rename method
  antarest/core/config.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/service.py
  tests/launcher/test_slurm_launcher.py
  tests/test_resources.py
Due: mypy, ruff-format, ruff-check

remove modulo
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/Matrix/components/MatrixFilter/ColumnFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils.ts
Due: none

rewrite code
  antarest/login/main.py
  antarest/login/repository.py
  antarest/login/service.py
Due: mypy, ruff-format, ruff-check

feat(launcher): refactor classes to not include full config in launcher
  antarest/launcher/adapters/abstractlauncher.py
  antarest/launcher/adapters/factory_launcher.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

feat(launcher): refactor classes to not include full config in launcher
  tests/launcher/test_slurm_launcher.py
Due: ruff-format, ruff-check

all tests are OK
  antarest/login/repository.py
  antarest/login/service.py
  tests/login/conftest.py
  tests/login/test_login_service.py
Due: mypy, ruff-format, ruff-check

start counting SQL requests
  tests/login/test_login_service.py
Due: ruff-format, ruff-check

add tests for non admin users
  tests/login/test_login_service.py
Due: ruff-format, ruff-check

remove useless methods
  antarest/login/ldap.py
  antarest/login/repository.py
Due: mypy, ruff-format, ruff-check

feat(aggregation): streamed aggregation (#2484)
  antarest/core/config.py
  antarest/core/serde/matrix_export.py
  antarest/study/business/aggregator_management.py
  antarest/study/storage/df_download.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  docs/developer-guide/install/1-CONFIG.md
  requirements-dev.txt
  requirements-test.txt
  requirements.txt
  tests/core/serde/test_matrix_export.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
  tests/storage/test_config.py
  tests/study/business/test_aggregator_manager.py
Due: mypy, ruff-format, ruff-check

simplify the function a bit
  antarest/login/service.py
Due: mypy, ruff-format, ruff-check

fix imports issue
  tests/login/test_login_service.py
Due: ruff-format, ruff-check

feat(launcher): add error case in launcher config
  antarest/core/config.py
Due: mypy, ruff-format, ruff-check

write src code
  antarest/login/service.py
Due: mypy, ruff-format, ruff-check

feat(launcher): change behavior for default values
  antarest/core/config.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/model.py
  antarest/launcher/service.py
  antarest/launcher/web.py
  tests/integration/launcher_blueprint/test_launcher_local.py
  tests/integration/launcher_blueprint/test_solver_versions.py
  tests/launcher/test_service.py
Due: mypy, ruff-format, ruff-check

tests
  tests/login/test_login_service.py
Due: ruff-format, ruff-check

same work on groups (#2491)
  antarest/login/service.py
  tests/login/test_login_service.py
Due: mypy, ruff-format, ruff-check

feat(launcher): set type as classvar
  antarest/core/config.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

feat(launcher): check that default exists in the list of launchers
  antarest/core/config.py
  tests/launcher/test_service.py
Due: mypy, ruff-format, ruff-check

feat(launcher): changez docstring
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

feat(launcher): refactor get_load and get_solver_versions
  antarest/core/config.py
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

fix Theo comments
  antarest/login/service.py
Due: mypy, ruff-format, ruff-check

allow modif in front + allow simulation to run
  antarest/study/business/general_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/simulation.py
  antarest/study/storage/study_download_utils.py
  antarest/study/storage/utils.py
  webapp/src/components/App/Singlestudy/explore/Configuration/General/utils.ts
Due: mypy, ruff-format, ruff-check

perf(db): remove N+1 requests when getting users and groups list (#2490)
  antarest/login/ldap.py
  antarest/login/main.py
  antarest/login/repository.py
  antarest/login/service.py
  tests/login/conftest.py
  tests/login/test_login_service.py
Due: mypy, ruff-format, ruff-check

all tests OK I have to write one that used to fail
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: mypy, ruff-format, ruff-check

fix theo comments
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
Due: mypy, ruff-format, ruff-check

fix mauranne comment
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: ruff-format, ruff-check

git add test
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: ruff-format, ruff-check

fix test to make it fail on dev branch
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: ruff-format, ruff-check

see all txt files
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/simulation.py
Due: mypy, ruff-format, ruff-check

fix one test
  tests/storage/test_service.py
Due: ruff-format, ruff-check

continue
  antarest/study/storage/study_download_utils.py
Due: mypy, ruff-format, ruff-check

fix(bc): fix issue when updating `time_step` via table-mode (#2489)
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: mypy, ruff-format, ruff-check

simplify code
  antarest/study/storage/study_download_utils.py
Due: mypy, ruff-format, ruff-check

fixing tests
  tests/launcher/test_service.py
  tests/storage/test_model.py
Due: ruff-format, ruff-check

all tests OK
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
Due: none

fix some mypy issues inside tests
  tests/storage/repository/filesystem/config/test_config_files.py
Due: ruff-format, ruff-check

add multi row filter
  webapp/src/components/common/Matrix/components/MatrixFilter/MultiRowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils.ts
Due: none

revert debug code
  .github/workflows/deploy.yml
  requirements.txt
Due: none

fix(ui-studytree): minor fixes and improvement (#2477)
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/App/Studies/StudyTree/utils.ts
  webapp/src/components/common/utils/constants.ts
  webapp/src/services/utils/localStorage.ts
Due: none
