Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fixing some helpers tests
  tests/storage/rawstudies/test_helpers.py
  tests/study/business/test_playlist_manager.py
Due: ruff-format, ruff-check

remove useless test
  tests/storage/rawstudies/test_helpers.py
Due: ruff-format, ruff-check

remove unnecessary typevar
  antarest/study/business/model/scenario_builder_model.py
Due: mypy, ruff-format, ruff-check

feat(layer): fixes
  antarest/study/business/layer_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_layer.py
  tests/variantstudy/model/command/test_update_layer_name.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

add some comments, create pydantic utils module
  antarest/core/utils/pydantic.py
  antarest/study/web/views/scenario_builder_views.py
Due: mypy, ruff-format, ruff-check

remove unnecessary none check
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
Due: mypy, ruff-format, ruff-check

feat(layer): storage isolation (#2677)
  antarest/study/business/area_management.py
  antarest/study/business/areas/area_utils.py
  antarest/study/business/layer_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/layer_model.py
  antarest/study/dao/api/layer_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_layer_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_layer.py
  antarest/study/storage/variantstudy/model/command/remove_layer.py
  antarest/study/storage/variantstudy/model/command/update_layer.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/test_integration.py
  tests/variantstudy/model/command/test_create_layer.py
  tests/variantstudy/model/command/test_remove_layer.py
  tests/variantstudy/model/command/test_update_layer_name.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

ensure rand values are not serialized to file
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  tests/storage/repository/filesystem/config/test_scenario_builder.py
  tests/variantstudy/model/command/test_update_scenario_builder.py
Due: mypy, ruff-format, ruff-check

feat(scenariobuilder): scenarios for STS additional constraints
  antarest/core/utils/dict_utils.py
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/business/model/study_index.py
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  tests/integration/study_data_blueprint/test_scenario_builder.py
  tests/storage/repository/filesystem/config/test_scenario_builder.py
  tests/study/business/test_scenario_builder_model.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

formatting
  antarest/core/utils/dict_utils.py
  antarest/study/business/model/study_index.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  tests/storage/repository/filesystem/config/test_scenario_builder.py
  tests/study/business/test_scenario_builder_model.py
Due: mypy, ruff-format, ruff-check

refacto
  antarest/study/business/district_manager.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

minor fix
  antarest/study/business/model/scenario_builder_model.py
Due: mypy, ruff-format, ruff-check

refactor(scenario_builder)!: improve scenario builder implementation (#2679)
  antarest/core/utils/pydantic.py
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/business/model/study_index.py
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/scenariobuilder.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/views/__init__.py
  antarest/study/web/views/scenario_builder_views.py
  tests/integration/conftest.py
  tests/integration/study_data_blueprint/test_scenario_builder.py
  tests/integration/test_integration.py
  tests/storage/repository/filesystem/config/test_ruleset_matrices.py
  tests/storage/repository/filesystem/config/test_scenario_builder.py
  tests/storage/repository/filesystem/test_scenariobuilder.py
  tests/study/business/test_scenario_builder_model.py
  tests/variantstudy/model/command/test_manage_binding_constraints.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_remove_cluster.py
  tests/variantstudy/model/command/test_remove_link.py
  tests/variantstudy/model/command/test_remove_renewables_cluster.py
  tests/variantstudy/model/command/test_update_scenario_builder.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

use the nested functions
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
Due: mypy, ruff-format, ruff-check

fixing test
  antarest/study/web/views/scenario_builder_views.py
Due: mypy, ruff-format, ruff-check

fix last failing test
  tests/integration/study_data_blueprint/test_scenario_builder.py
Due: ruff-format, ruff-check

feat(scenariobuilder): handle storages additional constraints (#2681)
  antarest/core/utils/dict_utils.py
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/business/model/study_index.py
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  antarest/study/web/views/scenario_builder_views.py
  tests/integration/study_data_blueprint/test_scenario_builder.py
  tests/storage/repository/filesystem/config/test_scenario_builder.py
  tests/study/business/test_scenario_builder_model.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

add test for samir bug
  tests/integration/study_data_blueprint/test_playlist.py
Due: ruff-format, ruff-check

maxHourlyGenPower && maxHourlyPumpPower && minDailyReservoirLevels && maxDailyReservoirLevels , matrix generation for each new area
  .gitignore
  antarest/study/storage/matrix_profile.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/variantstudy/business/matrix_constants/common.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  resources/antares-desktop-fs/config.yaml
Due: mypy, ruff-format, ruff-check

district update erase areas
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Districts/UpdateDistrictDialog.tsx
  webapp/src/services/api/study.ts
Due: none

refacto
  webapp/src/services/api/study.ts
Due: none

start work
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/update_comments.py
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

use the dao inside the service
  antarest/study/dao/api/study_dao.py
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

cleaning
  antarest/study/service.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/replace_comments.py
  antarest/study/web/studies_blueprint.py
  tests/variantstudy/model/command/test_update_comments.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix failing test
  tests/storage/test_service.py
Due: ruff-format, ruff-check

fix(ui-districts): update erase areas (#2684)
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Districts/UpdateDistrictDialog.tsx
  webapp/src/services/api/study.ts
Due: none

refactor(comments): introduce dao (#2685)
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/replace_comments.py
  antarest/study/web/studies_blueprint.py
  tests/storage/test_service.py
  tests/variantstudy/model/command/test_update_comments.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/business/district_manager.py
  antarest/study/business/model/district_model.py
  antarest/study/dao/api/district_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/test_district_manager.py
Due: mypy, ruff-format, ruff-check

add sts constraints scenariobuilder ui
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/adapters.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/services.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
Due: none

replace domain-specific terminology with generic structural descriptions
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/adapters.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/services.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
Due: none

feat(ui-scenario): add sts constraints scenario builder UI (#2687)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/adapters.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/services.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
Due: none

feat(ui-playlist): disable action buttons when no year is selected
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/index.tsx
  webapp/src/components/common/fieldEditors/NumberSelectionsFE.tsx
  webapp/src/utils/numberSelectionsUtils.ts
Due: none

remove useless doc
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/update_district.py
Due: mypy, ruff-format, ruff-check

feat(ui-playlist): disable action buttons when no year is selected (#2688)
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/index.tsx
  webapp/src/components/common/fieldEditors/NumberSelectionsFE.tsx
  webapp/src/utils/numberSelectionsUtils.ts
Due: none

feat(ui-matrix): allow individual chip removal
  webapp/src/components/common/Matrix/components/MatrixFilter/ColumnFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ListFilterControl.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/TemporalFilterRenderer.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilterControls.ts
Due: none

fix
  antarest/study/dao/file/file_study_district_dao.py
Due: mypy, ruff-format, ruff-check

remove comment
  tests/study/business/test_district_manager.py
Due: ruff-format, ruff-check

add eslint rule
  webapp/eslint.config.js
  webapp/src/components/common/DynamicDataTable/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ListFilterControl.tsx
  webapp/src/services/webSocket/ws.ts
  webapp/src/utils/reactUtils.ts
Due: none

remove dead code
  antarest/study/storage/variantstudy/model/command/update_district.py
  tests/study/business/test_district_manager.py
Due: mypy, ruff-format, ruff-check

add example inside API swagger
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
