Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

create utils method
  tests/integration/studies_blueprint/test_import.py
  tests/integration/studies_blueprint/test_study_copy.py
  tests/integration/studies_blueprint/test_study_export.py
  tests/integration/studies_blueprint/utils.py
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fix everything
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/file/file_study_user_resources_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  tests/study/business/dao/test_file_study_dao.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_area_properties_dao.py
  tests/study/dao/test_database_initialize_study.py
  tests/study/dao/test_database_scenario_builder_dao.py
  tests/study/dao/test_database_settings_dao.py
  tests/study/dao/test_database_st_storage_dao.py
  tests/study/dao/test_database_synthesis_dao.py
  tests/study/dao/test_database_user_resources_dao.py
  tests/study/dao/test_database_xpansion_dao.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

put code in common
  tests/integration/studies_blueprint/test_import.py
  tests/integration/studies_blueprint/test_study_copy.py
  tests/integration/studies_blueprint/utils.py
Due: ruff-format, ruff-check

put back hydro pmax version check
  antarest/study/storage/variantstudy/model/command/convert_hydro_pmax.py
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

chore(reserves): support the modified file format (#3218)
  alembic/versions/4121d3b48393_change_reserves_format.py
  antarest/study/business/compatibility_parameters_management.py
  antarest/study/business/model/config/compatibility_parameters_model.py
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/dao/database/models/settings.py
  antarest/study/dao/file/file_study_compatibility_parameters.py
  antarest/study/dao/file/file_study_optimization_preferences.py
  antarest/study/storage/rawstudy/model/filesystem/config/compatibility_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/convert_hydro_pmax.py
  antarest/study/storage/variantstudy/model/command/update_optimization_preferences.py
  antarest/study/storage/variantstudy/model/command/update_reserves_enabled.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/model/config/__init__.py
  tests/study/business/model/config/test_compatibility_parameters_model.py
  tests/study/dao/test_database_settings_dao.py
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix(ui-studies): otherOptions validation issue in launch dialog
  webapp/src/routes/-shared/components/studies/dialogs/StudyLaunchDialog/utils.ts
Due: none

test(dao): align tests with dev signature and version changes
  tests/study/dao/test_garbage_collector.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

Merge dev
  alembic/versions/4121d3b48393_change_reserves_format.py
  antarest/study/business/compatibility_parameters_management.py
  antarest/study/business/model/config/compatibility_parameters_model.py
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/dao/database/models/settings.py
  antarest/study/dao/file/file_study_compatibility_parameters.py
  antarest/study/dao/file/file_study_optimization_preferences.py
  antarest/study/storage/rawstudy/model/filesystem/config/compatibility_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/convert_hydro_pmax.py
  antarest/study/storage/variantstudy/model/command/update_optimization_preferences.py
  antarest/study/storage/variantstudy/model/command/update_reserves_enabled.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/model/config/__init__.py
  tests/study/business/model/config/test_compatibility_parameters_model.py
  tests/study/business/test_optimization_parameters_manager.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_settings_dao.py
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

better comments
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_renewable_dao.py
  tests/study/dao/test_database_thermal_dao.py
  tests/study/dao/test_database_xpansion_dao.py
Due: ruff-format, ruff-check

revert(optimization): keep v8.4 transmission_capacities default DB-only, also revert formating
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/database/database_study_factory_dao.py
  tests/study/business/test_optimization_parameters_manager.py
  tests/study/dao/test_database_synthesis_dao.py
Due: mypy, ruff-format, ruff-check

feat(variant): fetch whole tree in single request
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/storage/business/test_repository.py
  tests/storage/business/test_variant_study_service.py
  webapp/src/services/api/studies/variants/index.ts
Due: mypy, ruff-format, ruff-check

fix(ui-studies): otherOptions validation issue in launch dialog (#3223)
  webapp/src/routes/-shared/components/studies/dialogs/StudyLaunchDialog/utils.ts
Due: none

chore(release): v2.32.0 (2026-05-26)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  uv.lock
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

start implementing variant logic
  antarest/study/storage/variantstudy/snapshot/database_snapshot_manager.py
  antarest/study/storage/variantstudy/snapshot/file_snapshot_manager.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

moving things
  antarest/study/storage/variantstudy/snapshot/file_snapshot_manager.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/storage/variantstudy/snapshot/database_snapshot_manager.py
  uv.lock
Due: mypy, ruff-format, ruff-check

f
  antarest/study/storage/database_storage.py
Due: mypy, ruff-format, ruff-check

finalize implementation
  antarest/study/storage/variantstudy/snapshot/database_snapshot_manager.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/variantstudy/snapshot/database_snapshot_manager.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

start
  alembic/env.py
  alembic/versions/844f4a7cd371_create_intermediate_table.py
Due: ruff-format, ruff-check

Update README
  README.md
  docs/assets/media/img/readme_screenshot.png
Due: none

chore(doc): remove polyfill.io JS dependency - compromised library
  mkdocs.yml
Due: none

chore(doc): remove polyfill.io JS dependency - compromised library (#3228)
  mkdocs.yml
Due: none

refactor(dao): align DB get_scenario_by_type with FS dense semantics
  antarest/study/dao/database/database_scenario_builder_dao.py
  tests/study/dao/test_database_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

write failing test
  tests/integration/raw_studies_blueprint/test_input_matrices.py
  uv.lock
Due: ruff-format, ruff-check

test is now OK
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

finalize test
  tests/integration/raw_studies_blueprint/test_input_matrices.py
Due: ruff-format, ruff-check

fix(matrix): allow importation for DB studies (#3229)
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_input_matrices.py
  uv.lock
Due: mypy, ruff-format, ruff-check

fix(xpansion): display xpansion page for DB studies
  antarest/core/exceptions.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix(xpansion): display xpansion page for DB studies (#3230)
  antarest/core/exceptions.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(study): add attribute inside GET /studies endpoint
  antarest/study/model.py
  antarest/study/storage/abstract/abstract_study_service.py
Due: mypy, ruff-format, ruff-check

adapt the front-end class
  webapp/src/types/types.ts
Due: none

2 tests fixes
  tests/launcher/test_service.py
Due: ruff-format, ruff-check

f
  tests/integration/variant_blueprint/test_st_storage.py
Due: ruff-format, ruff-check

c
  tests/storage/web/test_studies_bp.py
Due: ruff-format, ruff-check

d
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

fix test
  tests/storage/business/test_variant_study_service.py
Due: ruff-format, ruff-check

c
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

chore(docs): update readme (#3227)
  README.md
  docs/assets/media/img/readme_screenshot.png
Due: none
