Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

update storage constraints
  webapp/src/queries/storages/keys.ts
  webapp/src/queries/storages/mutations.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useCreateStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useDeleteStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useUpdateStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useCreateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDuplicateBindingConstraint.ts
  webapp/src/services/api/studies/bindingConstraints/index.ts
Due: none

style
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/index.tsx
Due: none

feat(favorite_directories): added new alembic file and fixed statement issue
  alembic/versions/y7x41d4a8yc_add_foreign_key_users_favorite_table.py
  antarest/favorite/model.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
Due: mypy, ruff-format, ruff-check

feat(favorite_directories): added new alembic file and fixed statement issue
  antarest/favorite/model.py
Due: mypy, ruff-format, ruff-check

feat(layer): first commit
  alembic/versions/9c4e7f2a3b1d_add_layer_table.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/layer.py
  tests/study/dao/test_database_layer_dao.py
Due: mypy, ruff-format, ruff-check

fix issue inside migration
  alembic/versions/10318e5320f6_create_link_table.py
Due: ruff-format, ruff-check

THE LAST ONE
  webapp/src/main.tsx
  webapp/src/services/api/studies/bindingConstraints/index.ts
Due: none

tests(db): ensure we only have one head for alembic
  tests/core/test_alembic_migration.py
Due: ruff-format, ruff-check

fix lint
  tests/core/test_alembic_migration.py
Due: ruff-format, ruff-check

fix(ui-queries): default staleTime
  webapp/src/main.tsx
Due: none

resolve easy comments
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/models/link.py
Due: mypy, ruff-format, ruff-check

a bit lighter
  antarest/study/dao/database/database_link_dao.py
Due: mypy, ruff-format, ruff-check

feat(layer): first inconsistent layer check
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_layer_dao.py
Due: mypy, ruff-format, ruff-check

feat(layer): simplify loop
  antarest/study/dao/database/database_layer_dao.py
Due: mypy, ruff-format, ruff-check

fix(ui-queries): default staleTime (#2973)
  webapp/src/main.tsx
Due: none

resolve other comment
  antarest/study/dao/database/database_link_dao.py
  tests/study/dao/test_database_link_dao.py
Due: mypy, ruff-format, ruff-check

raise in the code
  antarest/core/persistence.py
  tests/core/test_alembic_migration.py
Due: mypy, ruff-format, ruff-check

rollback unwanted change
  tests/core/test_alembic_migration.py
Due: ruff-format, ruff-check

test(db): ensure we only have one head for alembic (#2972)
  antarest/core/persistence.py
Due: mypy, ruff-format, ruff-check

feat(frontend): cr23 frontend
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-daily-gen-energy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-daily-pump-energy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-hourly-gen-power.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-hourly-pump-power.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/route.tsx
Due: none

create alembic migration
  alembic/versions/124274d80f2e_create_link_matrices.py
Due: ruff-format, ruff-check

create table
  antarest/study/dao/database/models/link.py
Due: mypy, ruff-format, ruff-check

add into the provider
  antarest/study/dao/database/database_matrices_provider.py
Due: mypy, ruff-format, ruff-check

continue code
  antarest/study/dao/database/database_link_dao.py
Due: mypy, ruff-format, ruff-check

split tests
  tests/study/dao/test_database_area_matrices_dao.py
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

add test on link matrices garbage collection
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

create first test
  tests/study/dao/test_database_link_matrices_dao.py
Due: ruff-format, ruff-check

finalize tests
  tests/study/dao/test_database_link_matrices_dao.py
Due: ruff-format, ruff-check

feat(favorite_directories): added new alembic file and fixed statement issue
  alembic/versions/y7x41d4a8yc_add_foreign_key_users_favorite_table.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
  tests/favorite_study/test_favorite_study.py
Due: mypy, ruff-format, ruff-check

feat(favorite_directories): added new alembic file and fixed statement issue
  antarest/favorite/repository.py
Due: mypy, ruff-format, ruff-check

feat(celery): first commit
  antarest/core/config.py
  antarest/maintenance/app.py
Due: mypy, ruff-format, ruff-check

feat(celery): lint
  antarest/maintenance/app.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

feat(celery): remove wrong comment
  antarest/maintenance/app.py
Due: mypy, ruff-format, ruff-check

feat(layer): address fixes
  antarest/study/dao/database/database_layer_dao.py
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_layer_dao.py
Due: mypy, ruff-format, ruff-check

refactor(cr23): refactor frontend on proposed changes
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/compatibility/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/compatibility/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/route.tsx
Due: none

refactor(utils): restore utils inside advanced parameters
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-utils.ts
Due: none

restore(utils): restore utils to default state
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-utils.ts
Due: none

feat(layer): address fixes
  alembic/versions/9c4e7f2a3b1d_add_layer_table.py
  antarest/core/exceptions.py
  antarest/study/business/layer_management.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  tests/variantstudy/model/command/test_replace_layer_areas.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
