Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

c
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
  antarest/study/dao/database/models/thermal_reserve_certification.py
  antarest/study/dao/database/models/thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/api/thermal_reserve_symmetries_dao.py
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

introduce symmetries_check
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

reuse other exception
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

finalize DB implem
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

feat(task): create a celery task to save launcher load state in the database
  antarest/core/config.py
  antarest/launcher/adapters/database_launcher_load_dao.py
  antarest/launcher/model.py
  antarest/launcher/service.py
  antarest/maintenance/app.py
  antarest/maintenance/tasks/launcher_load_task.py
  tests/launcher/test_database_launcher_load_dao.py
Due: mypy, ruff-format, ruff-check

feat(task): create model to store launcher load in db
  antarest/launcher/adapters/database_launcher_load_dao.py
  antarest/launcher/model.py
  tests/launcher/test_database_launcher_load_dao.py
Due: mypy, ruff-format, ruff-check

feat(task): refactor and update service to use database data by default
  antarest/launcher/adapters/database_launcher_load_dao.py
  antarest/launcher/main.py
  antarest/launcher/model.py
  antarest/launcher/service.py
  antarest/maintenance/tasks/launcher_load_task.py
  tests/launcher/test_database_launcher_load_dao.py
  tests/launcher/test_service.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

no mypy issue
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
Due: mypy, ruff-format, ruff-check

study converter
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

c
  tests/study/business/test_reserve_symmetries.py
Due: ruff-format, ruff-check

mama
  antarest/study/dao/file/common.py
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

implement the deletion
  antarest/core/exceptions.py
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

add commen
  antarest/study/dao/file/common.py
Due: mypy, ruff-format, ruff-check

change serialization method
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

finalize dao code
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

fix thermal removal issues
  antarest/study/dao/file/file_study_thermal_dao.py
Due: mypy, ruff-format, ruff-check

remove method
  antarest/study/dao/api/thermal_reserve_symmetries_dao.py
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/remove_thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

add 2nd command
  antarest/study/storage/variantstudy/model/command/replace_thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

implement manager
  antarest/study/business/areas/thermal_reserve_symmetries_management.py
Due: mypy, ruff-format, ruff-check

remove deletion code
  antarest/study/business/areas/thermal_reserve_symmetries_management.py
  antarest/study/storage/variantstudy/model/command/remove_thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

build the managers
  antarest/study/service.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

introduce 2nd endpoint
  antarest/study/business/areas/thermal_reserve_symmetries_management.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/replace_thermal_reserve_symmetries.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): taking final reviews in account
  antarest/favorite/service.py
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): changed alembic heads
  alembic/versions/80fdf2408ede_add_favorite_external_directory_table.py
Due: ruff-format, ruff-check

chore(gunicorn): put back logs
  conf/gunicorn-single.py
  conf/gunicorn.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): changed directory path
  antarest/favorite/service.py
Due: mypy, ruff-format, ruff-check

chore(gunicorn): put back logs (#3284)
  conf/gunicorn-single.py
  conf/gunicorn.py
Due: ruff-format, ruff-check

feat(ui-reserves): add read-only mode to GroupedDataTable and reserves view
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/route.tsx
Due: none

review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

feat(favorite_external_directory): changed directory path
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

update unit tests
  tests/study/storage/test_database_storage.py
Due: ruff-format, ruff-check

refactor(config): use pydantic when loading config (#3261)
  antarest/core/config.py
  antarest/core/logging/utils.py
  tests/core/remote/test_remote_executor.py
  tests/core/test_config.py
  tests/integration/launcher_blueprint/test_launcher_local.py
  tests/integration/maintenance_blueprint/test_disk_usage_log.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
  tests/storage/business/test_watcher.py
  tests/storage/test_config.py
  tests/study/storage/test_database_storage.py
Due: mypy, ruff-format, ruff-check

remove cmd
  antarest/study/business/areas/thermal_reserve_certification_management.py
  antarest/study/dao/api/thermal_reserve_certification_dao.py
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/remove_thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

start rewriting code for new endpoints
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/thermal_reserve_certification_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

typo
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
