Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

f
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

fix issue due to scoped session
  tests/conftest.py
  tests/conftest_services.py
Due: ruff-format, ruff-check

remove useless fixture
  tests/conftest_services.py
Due: ruff-format, ruff-check

cleaning
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

f
  tests/matrixstore/conftest.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

fix failing test
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

add real matrix service inside tests
  tests/conftest.py
  tests/integration/maintenance_blueprint/test_gc_variable_view.py
Due: ruff-format, ruff-check

fix session scope issue
  tests/conftest.py
Due: ruff-format, ruff-check

fixing other tests
  tests/integration/maintenance_blueprint/test_gc_matrix.py
Due: ruff-format, ruff-check

make test work for FS
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

make test work for db studies
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

remove usage of caplog
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

cleaning
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

finalize cleaning
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

feat(launcher): add study launch scheduling
  alembic/versions/22b7814dbb66_add_scheduled_at_to_job_result.py
  antarest/launcher/adapters/abstractlauncher.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/model.py
  antarest/launcher/service.py
  antarest/launcher/web.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
  tests/launcher/test_web.py
Due: mypy, ruff-format, ruff-check

move the filelock
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

skip generation when not needed
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

test is now ok
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/launcher/adapters/abstractlauncher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/integration/test_integration.py
  tests/launcher/test_slurm_launcher.py
Due: ruff-format, ruff-check

ceil
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

really use feather for integration tests
  tests/integration/assets/config.template.yml
Due: none

fix failing test for feather
  tests/integration/output/test_output_variables.py
Due: ruff-format, ruff-check

add test for task
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

add second test
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

remove legacy lock
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: mypy, ruff-format, ruff-check

add concurrent generation test
  antarest/core/exceptions.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: mypy, ruff-format, ruff-check

refactor(events): only push event when the map is edited
  antarest/core/interfaces/eventbus.py
  antarest/study/events.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  webapp/src/services/webSocket/constants.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/services/webSocket/ws.ts
Due: mypy, ruff-format, ruff-check

rewrite flaky test
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

remove all src code
  antarest/launcher/extensions/__init__.py
  antarest/launcher/extensions/adequacy_patch/__init__.py
  antarest/launcher/extensions/adequacy_patch/extension.py
  antarest/launcher/extensions/adequacy_patch/resources/post-processing-legacy.R
  antarest/launcher/extensions/adequacy_patch/resources/post-processing.R
  antarest/launcher/extensions/interface.py
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

all tests are good
  tests/launcher/test_extension_adequacy_patch.py
Due: ruff-format, ruff-check

continue cleaning
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/model.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

chore(launcher): remove adequacy patch legacy code (#3302)
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/extensions/__init__.py
  antarest/launcher/extensions/adequacy_patch/__init__.py
  antarest/launcher/extensions/adequacy_patch/extension.py
  antarest/launcher/extensions/adequacy_patch/resources/post-processing-legacy.R
  antarest/launcher/extensions/adequacy_patch/resources/post-processing.R
  antarest/launcher/extensions/interface.py
  antarest/launcher/model.py
  antarest/launcher/service.py
  tests/launcher/test_extension_adequacy_patch.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

refactor(events): only push event when the map is edited (#3301)
  antarest/core/interfaces/eventbus.py
  antarest/study/events.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/variantstudy/model/test_variant_model.py
  webapp/src/services/webSocket/constants.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/services/webSocket/ws.ts
Due: mypy, ruff-format, ruff-check

fix src code
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

start building big pydantic model
  antarest/study/dao/file/file_study_reserve_certification_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_certifications.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: mypy, ruff-format, ruff-check

continue moving code
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_symmetries.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: mypy, ruff-format, ruff-check

error cases test is ok
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: mypy, ruff-format, ruff-check

add another parsing test
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: ruff-format, ruff-check
