Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix method return value
  antarest/core/serde/np_array.py
Due: mypy, ruff-format, ruff-check

add areas load
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/geo-trimming/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/load.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/xpansion/route.tsx
Due: none

fix test
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

move
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Areas/common/clustersUtils.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/-components/ThermalConfig/ThermalForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/-components/ThermalConfig/ThermalMatrices.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/-components/ThermalConfig/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/index.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/$thermalId/index.tsx
Due: none

area thermal
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/$thermalId/-components/ThermalForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/$thermalId/-components/ThermalMatrices.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/$thermalId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermal/index.tsx
Due: none

thermal to thermals
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Areas/common/clustersUtils.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/-components/ThermalForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/-components/ThermalMatrices.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/index.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/route.tsx
Due: none

move and rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/parameters.tsx
Due: none

fix dim
  antarest/core/serde/np_array.py
Due: mypy, ruff-format, ruff-check

thermal add tabs
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/buttons/BackButton.tsx
  webapp/src/components/page/TabsView.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/route.tsx
Due: none

continue
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
Due: mypy, ruff-format, ruff-check

test if all is good
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
Due: mypy, ruff-format, ruff-check

resolve comments
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/matrices.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/route.tsx
Due: none

fix one file
  tests/storage/web/test_output_bp.py
Due: ruff-format, ruff-check

remove other test
  tests/output/test_output_service.py
Due: ruff-format, ruff-check

clean tmp file after call ends
  antarest/study/output/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(celery): implement maintenance container (#2878)
  antarest/core/config.py
  antarest/core/utils/lock.py
  antarest/maintenance/__init__.py
  antarest/maintenance/app.py
  antarest/maintenance/context.py
  antarest/maintenance/tasks/__init__.py
  antarest/maintenance/tasks/gc_matrix.py
  antarest/maintenance/tasks/gc_matrix_task.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  requirements-dev.txt
  requirements.txt
  resources/application.yaml
  scripts/start.sh
  tests/integration/maintenance_blueprint/__init__.py
  tests/integration/maintenance_blueprint/conftest.py
  tests/integration/maintenance_blueprint/test_gc_matrix.py
  tests/maintenance/__init__.py
  tests/maintenance/tasks/__init__.py
  tests/maintenance/tasks/test_gc_matrix.py
  tests/maintenance/test_app.py
  tests/maintenance/test_context.py
  tests/matrixstore/test_matrix_garbage_collector.py
Due: mypy, ruff-format, ruff-check

add no window on popen
  antarest/launcher/adapters/local_launcher/local_launcher.py
Due: mypy, ruff-format, ruff-check

* add new route in thermal page
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/main.tsx
  webapp/src/redux/selectors.ts
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/availability.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/co2-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/common.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/fuel-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/matrices/ts-generator.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/route.tsx
  webapp/src/types/types.ts
Due: none

move
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/ColumnsResize.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/OccurrencesFE/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/OccurrencesFE/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/ConstraintForm/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/StorageForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/StorageMatrices.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/StorageConfig/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/utils.ts
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/-utils.ts
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/route.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/ColumnsResize.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/OccurrencesFE/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/OccurrencesFE/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/ConstraintForm/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/additional-constraints/AdditionalConstraints/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/parameters/StorageForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/StorageMatrices.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/parameters/parameters.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/parameters.tsx
Due: none

storage parameters
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/index.tsx
Due: none

chore(pydantic): remove pydantic deprecated class-based config (#2905)
  antarest/core/serde/np_array.py
  antarest/core/utils/pydantic.py
  antarest/core/version_info.py
  antarest/fastapi_jwt_auth/config.py
  antarest/front.py
  antarest/launcher/model.py
  antarest/matrixstore/matrix_editor.py
  antarest/study/business/model/district_model.py
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/area.py
  antarest/study/storage/rawstudy/model/filesystem/config/ini_properties.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  antarest/study/storage/variantstudy/model/command_context.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  tests/eventbus/test_websocket_manager.py
Due: mypy, ruff-format, ruff-check

resolve first comments
  antarest/study/model.py
  antarest/study/output/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

area thermal time series
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/costs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/inflows.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/level-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/modulation.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/rule-curves.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/time-series/variation-costs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/route.tsx
Due: none

refactor area thermal
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/time-series/availability.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/time-series/co2-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/time-series/common.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/time-series/fuel-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/time-series/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/time-series/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/time-series/ts-generator.tsx
Due: none

7z the test
  tests/integration/raw_studies_blueprint/assets/output_downloads_list/res1.7z
  tests/integration/raw_studies_blueprint/assets/output_downloads_list/res1.json
  tests/integration/raw_studies_blueprint/test_download_outputs.py
Due: ruff-format, ruff-check

switch back to normal arrays
  antarest/core/serde/np_array.py
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

create utility functions
  antarest/study/business/output/aggregator_management.py
  antarest/study/business/output/utils.py
  antarest/study/output/output_service.py
Due: mypy, ruff-format, ruff-check

* issue in MatrixResize
  webapp/src/components/Matrix/components/MatrixResize.tsx
Due: none

* fix loading fetch Matrix
  webapp/src/components/Matrix/hooks/useMatrixData.ts
Due: none

* add select for cluster
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/components/page/TabsView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/$storageId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/$thermalId/route.tsx
Due: none
