Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

test(db): initialize DB only once for all integration tests (#2891)
  tests/integration/conftest.py
Due: ruff-format, ruff-check

use NaN instead of null
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

refactoring(code): code refactoring
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_generate_thermal_cluster_timeseries.py
  webapp/src/services/api/studies/timeseries/index.ts
Due: mypy, ruff-format, ruff-check

predefined matrices factory
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/service.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
Due: mypy, ruff-format, ruff-check

fix unit test
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: ruff-format, ruff-check

refactor(output): change some logic inside the /variables-views endpoint
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

test building the binary
  requirements-dev.txt
Due: none

fix(desktop): bump pyinstaller to avoid numpy v2 issue (#2895)
  requirements-dev.txt
Due: none

fix(merge-conflix): fix merge conflict and remove unsused imports
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
Due: mypy, ruff-format, ruff-check

update authenticated route
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/__root.tsx
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu.tsx
  webapp/src/routes/_authenticated/-components/Container/SidebarItem.tsx
  webapp/src/routes/_authenticated/-components/Container/TaskIcon.tsx
  webapp/src/routes/_authenticated/-components/Container/index.tsx
  webapp/src/routes/_authenticated/-components/Container/styles.ts
  webapp/src/routes/_authenticated/-components/MaintenanceMode/MessageInfoDialog.tsx
  webapp/src/routes/_authenticated/-components/MaintenanceMode/index.tsx
  webapp/src/routes/_authenticated/-components/SnackbarCloseButton.tsx
  webapp/src/routes/_authenticated/-components/ThemeProvider.tsx
  webapp/src/routes/_authenticated/index.tsx
  webapp/src/routes/_authenticated/route.tsx
Due: none

* update settings
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/(layout)/-components/ThemeProvider.tsx
  webapp/src/routes/_authenticated/settings/route.tsx
Due: none

* useFormBlocker + DialogManager
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/DataGridForm.tsx
  webapp/src/components/Form/index.tsx
  webapp/src/components/Matrix/hooks/useMatrixMutations.ts
  webapp/src/components/TabsView.tsx
  webapp/src/components/dialogs/ConfirmationDialog.tsx
  webapp/src/components/dialogs/DialogManager/DialogManagerContext.tsx
  webapp/src/components/dialogs/DialogManager/index.tsx
  webapp/src/components/dialogs/DialogManager/types.ts
  webapp/src/hooks/useBlocker.ts
  webapp/src/hooks/useDialogManager.ts
  webapp/src/hooks/useFormBlocker.ts
  webapp/src/hooks/useFormCloseConfirm.tsx
  webapp/src/hooks/useFormCloseProtection.ts
  webapp/src/hooks/useOrderedState.ts
  webapp/src/redux/ducks/ui.ts
  webapp/src/redux/selectors.ts
  webapp/src/routes/_authenticated/-components/Container/index.tsx
  webapp/src/routes/_authenticated/data/-components/DatasetCreationDialog.tsx
  webapp/src/routes/_authenticated/route.tsx
  webapp/src/routes/_authenticated/studies/-components/HeaderActions/SearchStudies.tsx
Due: none

fix(tests): add new parameter to the command constructor
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

style(lint): fix lint format
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

start work
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/folder_node.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/output.py
Due: mypy, ruff-format, ruff-check

a bit of cleaning
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(celery): add pydantic true to celery task
  antarest/maintenance/tasks/gc_matrix.py
Due: mypy, ruff-format, ruff-check

feat(celery): restore matrix gc for desktop mode
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/service_creator.py
  scripts/start.sh
Due: mypy, ruff-format, ruff-check

final addition
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

feat(task_status_str): finished integration tests
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/study_storage.py
  tests/integration/studies_blueprint/test_study_export.py
Due: mypy, ruff-format, ruff-check

add a with db
  antarest/study/main.py
Due: mypy, ruff-format, ruff-check

add with_db_context
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

add decorator
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

add with db inside conftest
  tests/conftest_services.py
Due: ruff-format, ruff-check

fix(comments): update frontend to follow skamril logic
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/Fields/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/utils.ts
  webapp/src/services/api/studies/timeseries/index.ts
Due: none

fix(lint): add lint to new frontend code
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/Fields/index.tsx
Due: none

resolve several comments
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

add example in apidoc
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(task_status_str): finished integration tests
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/storage/business/test_export.py
  tests/study/storage/test_abstract_storage_service.py
Due: mypy, ruff-format, ruff-check

refactor(output): change some logic inside the /variables-views endpoints (#2893)
  antarest/core/exceptions.py
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

rename
  webapp/src/routes/-App/Singlestudy/route.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
Due: none

chore(release): v2.27.0 (2025-12-09)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

add code for denormalization
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/folder_node.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/output.py
Due: mypy, ruff-format, ruff-check

docs(changelog): improve changelog message
  docs/CHANGELOG.md
Due: none

move methods
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

try to centralize usage
  antarest/study/storage/variantstudy/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

fix mypy issue and use same code everywhere
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

move
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
