Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

read-only mode also disables matrix resize and filters edition
  webapp/src/components/Matrix/components/MatrixActions/index.tsx
  webapp/src/components/Matrix/index.tsx
Due: none

add alert for needs tab
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
Due: none

add global parameters validation
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditGlobalParametersDrawer.tsx
Due: none

feat(ui): add reserves global parameters fields validation (#3299)
  webapp/src/components/Matrix/components/MatrixActions/index.tsx
  webapp/src/components/Matrix/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditGlobalParametersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
Due: none

create structure
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/file/file_study_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

one less error
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

start fixing
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

fix(ui-reserves): add missing ratios validation rules
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditGlobalParametersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditReserveDrawer.tsx
Due: none

no mypy issue
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: mypy, ruff-format, ruff-check

fix(ui-reserves): add missing ratios validation rules (#3303)
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditGlobalParametersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditReserveDrawer.tsx
Due: none

typo
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

test is now ok
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

make free function from static method
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

document the design notes
  antarest/study/dao/api/reserve_certification_dao.py
  antarest/study/dao/api/reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

fix symmetries deletion test
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_participations.py
Due: mypy, ruff-format, ruff-check

resolve some copilot issues
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

change endpoint signature
  antarest/study/business/areas/reserve_certification_management.py
  antarest/study/business/model/thermal_reserve_certification_model.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

use yml instead of yaml
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/cluster/area/area.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(reserves): rename endpoint and use right file name (#3304)
  antarest/study/business/areas/reserve_certification_management.py
  antarest/study/business/model/thermal_reserve_certification_model.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/cluster/area/area.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

create alembic migration
  alembic/versions/e56b1130bc1f_create_commands_list_version_table.py
Due: ruff-format, ruff-check

modify table schema
  antarest/study/storage/variantstudy/model/dbmodel.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/storage/variantstudy/model/dbmodel.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

remove joined load for now
  antarest/study/storage/variantstudy/repository.py
Due: mypy, ruff-format, ruff-check

avoid N+1 query
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

sort commands
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

move code
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

fill the created table inside alembic migration
  alembic/versions/e56b1130bc1f_create_commands_list_version_table.py
Due: ruff-format, ruff-check

introduce repo reading method
  antarest/study/storage/variantstudy/model/dbmodel.py
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

continue rewriting
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

typo
  antarest/study/storage/variantstudy/repository.py
Due: mypy, ruff-format, ruff-check
