Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

update Redux store immediately after batch delete
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useDeleteStudies.ts
Due: none

feat(ui): add delete many for studies
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/studies/mutations.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/DeleteStudiesDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/useDeleteStudies.ts
  webapp/src/services/api/study.ts
Due: none

add batch delete endpoint
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

add studies batch delete front
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/BatchActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/DeleteStudiesDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/services/api/study.ts
Due: none

add integration tests
  tests/integration/studies_blueprint/test_delete_studies.py
  tests/storage/test_service.py
Due: ruff-format, ruff-check

feat(gc_tasks_task): corrected variable names
  antarest/core/config.py
  antarest/maintenance/tasks/gc_tasks_task.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): add studies batch delete (#2998)
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_delete_studies.py
  tests/storage/test_service.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/studies/mutations.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/BatchActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/DeleteStudiesDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useBreadcrumbs.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useDeleteStudies.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/services/api/study.ts
Due: mypy, ruff-format, ruff-check

fix(ui): update incorrect query param key for st_storage in DTO adapter
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

feat(gc_tasks_task): add tasks table cleanup based on creation date (#3012)
  antarest/core/config.py
  antarest/core/tasks/repository.py
  antarest/core/tasks/service.py
  antarest/maintenance/app.py
  antarest/maintenance/context.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_tasks.py
  antarest/maintenance/tasks/gc_tasks_task.py
  tests/conftest_services.py
  tests/integration/maintenance_blueprint/conftest.py
  tests/integration/maintenance_blueprint/test_gc_tasks.py
  tests/maintenance/tasks/test_gc_tasks.py
  tests/maintenance/test_app.py
  tests/storage/conftest.py
Due: mypy, ruff-format, ruff-check

fix(ui): update incorrect query param key for st_storage in DTO adapter (#3015)
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_delete_studies.py
  tests/storage/test_service.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/studies/mutations.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/BatchActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/DeleteStudiesDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useBreadcrumbs.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useDeleteStudies.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
  webapp/src/services/api/study.ts
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

feat(matrix-store): add an admin endpoint to solve app issues (#3010)
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/model.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/matrixstore/web.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

wip
  alembic/versions/251a3393d58d_add_hydro_matrix_tables.py
  tests/study/dao/test_database_hydro_dao.py
Due: ruff-format, ruff-check

wip
  alembic/versions/c20d6b990db0_add_hydro_matrix_tables.py
Due: ruff-format, ruff-check

feat(celery): add tasks table cleanup based on creation date
  antarest/core/config.py
  antarest/core/tasks/repository.py
  antarest/core/tasks/service.py
  antarest/maintenance/app.py
  antarest/maintenance/context.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_tasks.py
  antarest/maintenance/tasks/gc_tasks_task.py
  tests/conftest_services.py
  tests/integration/maintenance_blueprint/conftest.py
  tests/integration/maintenance_blueprint/test_gc_tasks.py
  tests/maintenance/tasks/test_gc_tasks.py
  tests/maintenance/test_app.py
  tests/storage/conftest.py
Due: mypy, ruff-format, ruff-check

remove todo, move output selection to service
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

move all storage related code in storage module
  antarest/service_creator.py
  antarest/study/adapters.py
  antarest/study/output/adapters.py
  antarest/study/output/output_service.py
  antarest/study/output/storage/__init__.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  antarest/study/output/storage/v2_output_storage.py
  antarest/study/service.py
  antarest/study/web/output_blueprint.py
  tests/storage/business/test_export.py
  tests/storage/business/test_raw_study_service.py
  tests/study/output/file/test_file_output_storage.py
  tests/study/output/storage/test_parquet_output_storage.py
  tests/study/output/test_output_service.py
  tests/study/service/test_export.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

feat(uv): change backend build
  pyproject.toml
Due: none

feat(uv): change backend build
  .github/workflows/main.yml
  Dockerfile
  pyproject.toml
  scripts/linter.sh
  uv.lock
Due: none

feat(ui-studies): scope study search recursively to selected managed directory
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Breadcrumb/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/utils/studiesUtils.ts
Due: none

clarify output models
  antarest/service_creator.py
  antarest/study/adapters.py
  antarest/study/dtos.py
  antarest/study/output/output_service.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  antarest/study/output/storage/repository.py
  antarest/study/output/storage/v2_output_storage.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/web/output_blueprint.py
  tests/study/output/file/test_file_output_storage.py
  tests/study/output/storage/test_repository.py
  tests/study/service/test_service.py
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

feat(ui-studies): scope study search recursively to selected managed directory (#3017)
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Breadcrumb/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/utils/studiesUtils.ts
Due: none

fix test
  antarest/study/adapters.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  antarest/study/output/storage/v2_output_storage.py
  antarest/study/web/output_blueprint.py
  tests/integration/output_blueprint/test_output_storage_v2.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/storage/web/test_output_bp.py
  tests/study/output/storage/test_parquet_output_storage.py
Due: mypy, ruff-format, ruff-check

rename to v2
  tests/study/output/storage/test_v2_output_storage.py
Due: ruff-format, ruff-check

update unit test
  tests/study/output/file/test_file_output_storage.py
Due: ruff-format, ruff-check

simplify metadata extraction
  antarest/study/output/filestudy/extract_metadata.py
  antarest/study/output/storage/repository.py
  antarest/study/output/storage/v2_output_storage.py
Due: mypy, ruff-format, ruff-check

restore file
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
Due: none

adapt types on frontend side
  webapp/src/components/App/Singlestudy/HomeView/InformationView/LauncherHistory/JobStepper.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/ExportModal/ExportFilter/index.tsx
  webapp/src/components/App/shared/studies/dialogs/ExportModal/index.tsx
  webapp/src/services/api/study.ts
  webapp/src/types/types.ts
Due: none

clean up study synthesis model
  antarest/study/dtos.py
  webapp/src/components/App/shared/studies/dialogs/ExportModal/ExportFilter/index.tsx
  webapp/src/components/App/shared/studies/dialogs/ExportModal/index.tsx
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/services/api/study.ts
  webapp/src/services/api/variant.ts
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

feat(uv): update test deps
  pyproject.toml
  uv.lock
Due: none

wip
  tests/study/output/storage/test_repository.py
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/services/api/variant.ts
Due: ruff-format, ruff-check

chore(deps): upgrade fastapi from 0.124.2 to 0.130.0
  requirements.txt
Due: none

remove cache use from output service, done at storage level
  antarest/service_creator.py
  antarest/study/output/output_service.py
  antarest/study/output/storage/file_output_storage.py
  tests/study/output/test_output_service.py
  tests/study/service/test_export.py
Due: mypy, ruff-format, ruff-check

fix tests
  antarest/study/output/storage/file_output_storage.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/integration/studies_blueprint/test_synthesis.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/storage/integration/test_exporter.py
  tests/study/output/file/test_extract_metadata.py
  tests/study/output/storage/test_repository.py
Due: mypy, ruff-format, ruff-check

remove todo about jobs
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

auto-focus and select input when entering edit mode
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/EditableTreeItem.tsx
Due: none

make tree sections collapse
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
Due: none

fix event blur double fires
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/EditableTreeItem.tsx
Due: none

remove managed tree tooltips and add icon for all directories
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
Due: none

remove dead code
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
Due: none
