Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

refactor(datetime): replace `utcnow()` with `now(timezone.utc)`
  antarest/core/filetransfer/service.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/study/storage/auto_archive_service.py
  tests/core/tasks/test_task_job_service.py
  tests/core/test_tasks.py
  tests/storage/business/test_watcher.py
Due: mypy, ruff-format, ruff-check

refactor(datetime): replace `utcnow()` with `now(timezone.utc)`
  tests/core/test_tasks.py
  tests/matrixstore/test_service.py
  tests/storage/business/test_watcher.py
  tests/storage/test_service.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

fix issue
  antarest/study/business/aggregator_management.py
  antarest/study/business/output_variables_management.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/business/aggregator_management.py
Due: mypy, ruff-format, ruff-check

add endpoint
  antarest/study/service.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

add alembic migration
  alembic/versions/a9dfa0e1f23d_add_output_variables_table.py
Due: ruff-format, ruff-check

add DB model
  antarest/study/storage/output_model.py
Due: mypy, ruff-format, ruff-check

add DB calls
  antarest/study/business/output_variables_management.py
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/storage/output_model.py
Due: mypy, ruff-format, ruff-check

refactor(directory): update DTOs, simplify API, and enhance test coverage
  alembic/versions/f1ff6904ff9f_add_directory_management.py
  antarest/study/directory_service.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/web/directory_blueprint.py
  tests/integration/studies_blueprint/test_create_study.py
  tests/integration/studies_blueprint/test_directory.py
  tests/integration/studies_blueprint/test_move.py
  tests/integration/studies_blueprint/test_study_with_directories.py
  tests/study/test_directory_repository.py
  tests/study/test_directory_service.py
Due: mypy, ruff-format, ruff-check

feat(directory): batch delete directories in a single transaction for consistency and efficiency
  antarest/study/directory_service.py
  antarest/study/repository.py
  tests/study/test_directory_service.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/business/output_variables_management.py
  antarest/study/storage/output_model.py
Due: mypy, ruff-format, ruff-check

fix code
  antarest/study/business/output_variables_management.py
  antarest/study/storage/output_model.py
Due: mypy, ruff-format, ruff-check

feat(directory): allow updating directory groups and improve delete permission handling
  antarest/study/directory_service.py
  antarest/study/model.py
  antarest/study/web/directory_blueprint.py
  tests/study/test_directory_service.py
Due: mypy, ruff-format, ruff-check

start writing test
  antarest/study/storage/output_model.py
  tests/integration/raw_studies_blueprint/assets/variables_metadata/res1.json
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

feat(directory): allow updating directory groups and improve delete permission handling
  antarest/study/directory_exceptions.py
  antarest/study/directory_service.py
  antarest/study/model.py
  antarest/study/repository.py
  antarest/study/web/directory_blueprint.py
  tests/integration/studies_blueprint/test_directory.py
  tests/integration/studies_blueprint/test_study_with_directories.py
  tests/study/test_directory_repository.py
  tests/study/test_directory_service.py
Due: mypy, ruff-format, ruff-check

test succeeds
  antarest/study/business/output_variables_management.py
  antarest/study/storage/output_model.py
  tests/integration/raw_studies_blueprint/assets/variables_metadata/res1.json
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

add integration test
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: ruff-format, ruff-check

chore(dao): move some methods inside the filestudy implem
  antarest/study/business/areas/area_utils.py
  antarest/study/dao/file/file_study_layer_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
Due: mypy, ruff-format, ruff-check

chore(dao): move some methods inside the filestudy implem (#2775)
  antarest/study/business/areas/area_utils.py
  antarest/study/dao/file/file_study_layer_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
Due: mypy, ruff-format, ruff-check

chore(launcher): remove dead code
  antarest/launcher/extensions/adequacy_patch/extension.py
  antarest/launcher/extensions/interface.py
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

chore(launcher): remove dead code (#2776)
  antarest/launcher/extensions/adequacy_patch/extension.py
  antarest/launcher/extensions/interface.py
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

add validation, tests
  antarest/launcher/model.py
  antarest/launcher/service.py
  tests/launcher/test_launcher_config.py
Due: mypy, ruff-format, ruff-check

get dirty values by the new API feature
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/Form/types.ts
  webapp/src/components/common/Form/utils.ts
Due: none

update rhf version
  webapp/package-lock.json
  webapp/package.json
Due: none

better exception
  antarest/launcher/model.py
  antarest/launcher/service.py
  tests/launcher/test_launcher_config.py
Due: mypy, ruff-format, ruff-check

refactor(ui): update RHF version and use the new feature to get dirty values (#2768)
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/Form/types.ts
  webapp/src/components/common/Form/utils.ts
Due: none

feat(ui-matrices): add new export formats with header
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/buttons/DownloadButton.tsx
  webapp/src/components/common/buttons/DownloadMatrixButton.tsx
  webapp/src/components/common/buttons/SplitButton.tsx
Due: none

feat(ui-matrices): add new export formats with header (#2769)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/buttons/DownloadButton.tsx
  webapp/src/components/common/buttons/DownloadMatrixButton.tsx
  webapp/src/components/common/buttons/SplitButton.tsx
Due: none

start creating files
  antarest/blobstore/__init__.py
  antarest/blobstore/blob_garbage_collector.py
  antarest/blobstore/blob_usage_provider.py
  antarest/blobstore/in_memory.py
  antarest/blobstore/model.py
  antarest/blobstore/repository.py
  antarest/blobstore/service.py
  antarest/core/config.py
  antarest/service_creator.py
  antarest/study/storage/variantstudy/command_blob_usage_provider.py
  antarest/study/storage/variantstudy/model/command/create_user_resource.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  docs/developer-guide/install/1-CONFIG.md
Due: mypy, ruff-format, ruff-check

a
  antarest/blobstore/blob_garbage_collector.py
  antarest/blobstore/repository.py
  antarest/blobstore/service.py
  antarest/core/config.py
  docs/developer-guide/install/1-CONFIG.md
Due: mypy, ruff-format, ruff-check

add service creator
  antarest/blobstore/main.py
  antarest/service_creator.py
Due: mypy, ruff-format, ruff-check

add override
  antarest/study/storage/variantstudy/model/command/create_user_resource.py
Due: mypy, ruff-format, ruff-check

a
  antarest/blobstore/blob_garbage_collector.py
  antarest/blobstore/repository.py
  antarest/blobstore/service.py
Due: mypy, ruff-format, ruff-check

finalize repo implem
  antarest/blobstore/exceptions.py
  antarest/blobstore/in_memory.py
  antarest/blobstore/repository.py
  antarest/blobstore/service.py
Due: mypy, ruff-format, ruff-check

continue code
  antarest/study/business/model/user_model.py
  antarest/study/storage/variantstudy/model/command/create_user_resource.py
Due: mypy, ruff-format, ruff-check

fix one mypy issue
  antarest/study/storage/variantstudy/model/command/create_user_resource.py
Due: mypy, ruff-format, ruff-check

fix little issue
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/launcher/model.py
  antarest/launcher/service.py
  antarest/launcher/web.py
  tests/launcher/test_service.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/launcher/model.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
