Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix(ui-maps): view breaks when parent study gets a new area
  webapp/src/components/common/utils/UsePromiseCond.tsx
  webapp/src/redux/ducks/studyMaps.ts
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/services/api/variant.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/types/types.ts
Due: none

fix
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/services/webSocket/ws.ts
Due: none

fix import on CI
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_synthesis.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/study_data_blueprint/test_renewable.py
  tests/integration/study_data_blueprint/test_thermal.py
Due: ruff-format, ruff-check

fix test that failed due to change
  tests/storage/integration/test_STA_mini.py
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

add a todo
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

fix(ui-maps): view breaks when parent study gets a new area (#2817)
  webapp/src/components/common/utils/UsePromiseCond.tsx
  webapp/src/redux/ducks/studyMaps.ts
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/services/api/variant.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/services/webSocket/ws.ts
  webapp/src/types/types.ts
Due: none

fix typo in import
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_synthesis.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/study_data_blueprint/test_renewable.py
  tests/integration/study_data_blueprint/test_thermal.py
Due: ruff-format, ruff-check

fix(tasks): remove irrelevant status updates (#2802)
  antarest/core/tasks/model.py
  antarest/core/tasks/service.py
  antarest/core/tasks/web.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/core/tasks/test_model.py
  tests/core/tasks/test_task_job_service.py
  tests/core/tasks/test_tasks_db_model.py
  tests/core/tasks/test_tasks_service.py
Due: mypy, ruff-format, ruff-check

fix(tasks): fix memory leak
  antarest/core/tasks/service.py
Due: mypy, ruff-format, ruff-check

add some minimal test to check memory leak is indeed fixed
  tests/core/tasks/test_tasks_service.py
Due: ruff-format, ruff-check

test(ci): add more time for windows ci
  .github/workflows/main.yml
Due: none

add src code for links
  antarest/study/dao/api/link_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

add scenario builder code
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/service.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

try to remove useless test code
  antarest/study/dao/api/study_dao.py
  tests/bucket/12dfbbbd4b11847de5b30f99f44f99b20fc40ed296d95e43c328e58210050416
Due: mypy, ruff-format, ruff-check

test(ci): add more time for windows ci (#2816)
  .github/workflows/main.yml
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_synthesis.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/study_data_blueprint/test_renewable.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/utils.py
Due: ruff-format, ruff-check

add src code for user resources
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/user_resources_dao.py
  antarest/study/dao/file/file_study_user_resources_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

add hydro matrix
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

clean
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

add hydro save
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

chore(dev): merge origin dev
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

add hydro matrix
  tests/study/business/dao/__init__.py
  tests/study/business/dao/test_file_study_dao.py
Due: ruff-format, ruff-check

initialize test
  tests/study/business/dao/__init__.py
  tests/study/business/dao/test_file_study_dao.py
Due: ruff-format, ruff-check

a
  tests/study/business/dao/test_file_study_dao.py
Due: ruff-format, ruff-check

feat(ui-launcher): add solver configuration choice
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/index.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
  webapp/src/components/common/Fieldset.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/components/common/fieldEditors/SwitchFE.tsx
  webapp/src/services/api/launcher/index.ts
  webapp/src/services/api/launcher/solverPresets/adapters.ts
  webapp/src/services/api/launcher/solverPresets/index.ts
  webapp/src/services/api/launcher/solverPresets/types.ts
  webapp/src/services/api/launcher/types.ts
  webapp/src/services/api/study.ts
Due: none

fix(tasks): fix a memory leak (#2824)
  antarest/core/tasks/service.py
  tests/core/tasks/test_tasks_service.py
Due: mypy, ruff-format, ruff-check

start using dao instead of weird save_area method
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  tests/variantstudy/model/command/test_create_area.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
Due: mypy, ruff-format, ruff-check

fix(layer): fix a bug when updating a layer areas
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_layer.py
Due: mypy, ruff-format, ruff-check

use hydro dao methods
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
Due: mypy, ruff-format, ruff-check

fix(tasks): task status update on restart must be done only once
  antarest/core/tasks/model.py
  antarest/main.py
  antarest/tools/admin.py
  antarest/tools/admin_lib.py
  scripts/pre-start.sh
  tests/core/tasks/test_fix_tasks_status.py
  tests/core/tasks/test_tasks_service.py
Due: mypy, ruff-format, ruff-check

put a bit of code in common
  antarest/study/dao/file/file_study_area_dao.py
Due: mypy, ruff-format, ruff-check

use dao again
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
Due: mypy, ruff-format, ruff-check

use dao for correlation
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
Due: mypy, ruff-format, ruff-check

remove correlation from create area code
  antarest/study/dao/file/file_study_area_dao.py
Due: mypy, ruff-format, ruff-check

fix(layer): fix a bug when updating a layer areas
  webapp/src/services/api/studydata.ts
  webapp/src/types/types.ts
Due: none

cleaning
  antarest/study/dao/file/file_study_area_dao.py
Due: mypy, ruff-format, ruff-check

try to fix tests
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
Due: mypy, ruff-format, ruff-check

fixing one test
  tests/variantstudy/model/command/test_update_hydro_management.py
Due: ruff-format, ruff-check

try to fix some tests
  antarest/study/storage/variantstudy/model/command/create_area.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
