Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix(blobstore): persist the blob bucket outside the container
  docker-compose.yml
  resources/deploy/blobstore/.placeholder
  resources/deploy/config.prod.yaml
Due: none

fix(blobstore): persist the blob bucket outside the container (#3357)
  docker-compose.yml
  resources/deploy/blobstore/.placeholder
  resources/deploy/config.prod.yaml
Due: none

fix(gunicorn): cap the default number of workers at 30 (#3356)
  resources/deploy/gunicorn.py
Due: ruff-format, ruff-check

docs(configuration): align the services list with the Module enum
  docs/configuration.md
Due: none

fix(services): wire the variable_view_gc module into the worker
  antarest/singleton_services.py
  tests/test_singleton_services.py
Due: mypy, ruff-format, ruff-check

chore(release): prepare v2.34.0
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  uv.lock
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

chore(release): prepare v2.34.0 (#3361)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  uv.lock
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

fix(services): wire the variable_view_gc module into the singleton worker (#3360)
  antarest/singleton_services.py
  tests/test_singleton_services.py
Due: mypy, ruff-format, ruff-check

docs(configuration): align the services list with the Module enum (#3358)
  docs/configuration.md
Due: none

fix(dao): add session rollback after integrity errors (#3349)
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_reserve_certification_dao.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

fix(celery): make the beat schedule path configurable
  scripts/start.sh
Due: none

docs(scripts): list the environment variables read by start.sh
  scripts/start.sh
Due: none

perf(reserves): less db requests for saving symmetries
  antarest/core/exceptions.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

remove dead code
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

put back anis comment
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

raise the right exception
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

add failing test
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

test now succeeds for db
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

code is a bit more performant
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/study/dao/api/common.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

fix(postgresql): grant study_data_id sequence access
  alembic/versions/17f8a36cbed6_grant_permissions_on_study_data_id_seq.py
Due: ruff-format, ruff-check

resolve the issue for database
  antarest/study/dao/api/common.py
Due: mypy, ruff-format, ruff-check

fix(celery): make the beat schedule path configurable (#3363)
  scripts/start.sh
Due: none

fix the problem for fs study
  antarest/study/dao/file/common.py
Due: mypy, ruff-format, ruff-check

remove unused method
  antarest/output/filestudy/model.py
Due: mypy, ruff-format, ruff-check

support again district type
  antarest/output/filestudy/download.py
Due: mypy, ruff-format, ruff-check

fix(postgresql): grant study_data_id sequence usage access (#3365)
  alembic/versions/17f8a36cbed6_grant_permissions_on_study_data_id_seq.py
Due: ruff-format, ruff-check

add district outputs
  tests/output/filestudy/data/20260810-1420eco-thermal_groups/about-the-study/areas.txt
  tests/output/filestudy/data/20260810-1420eco-thermal_groups/economy/mc-ind/00001/areas/@ all areas/values-monthly.txt
  tests/output/filestudy/data/20260810-1420eco-thermal_groups/economy/mc-ind/00002/areas/@ all areas/values-monthly.txt
Due: none

add unit test for districts, fix implementation
  antarest/output/filestudy/download.py
  tests/output/filestudy/test_matrix_aggregattion_result.py
Due: mypy, ruff-format, ruff-check

remove more tuple forms
  antarest/output/filestudy/aggregation.py
  antarest/output/filestudy/model.py
  antarest/output/filestudy/variables.py
  antarest/output/storage/v2/variables_storage.py
Due: mypy, ruff-format, ruff-check

remove obsolete option transform_column_headers
  antarest/output/filestudy/aggregation.py
  antarest/output/filestudy/model.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/output/storage/v2/variables_storage.py
Due: mypy, ruff-format, ruff-check

cleanup a little more
  antarest/output/filestudy/aggregation.py
  antarest/output/service.py
  tests/output/storage/v2/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

fix type name*
  antarest/output/model/download.py
Due: mypy, ruff-format, ruff-check

add some docstrings
  antarest/output/filestudy/model.py
Due: mypy, ruff-format, ruff-check

fix bypassed post initializer
  antarest/output/filestudy/model.py
  tests/output/filestudy/test_model.py
Due: mypy, ruff-format, ruff-check

fix bypassed post initializer
  tests/output/filestudy/test_model.py
Due: ruff-format, ruff-check

add final test
  antarest/study/dao/api/common.py
  tests/study/dao/test_thermal_reserves_dao.py
Due: mypy, ruff-format, ruff-check

simplify the test a bit
  tests/study/dao/test_thermal_reserves_dao.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
