Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(directory): add `directory_id` to `StudyMetadataDTO`
  antarest/study/model.py
  antarest/study/storage/abstract_storage_service.py
  tests/integration/variant_blueprint/test_st_storage.py
  tests/storage/integration/test_STA_mini.py
Due: mypy, ruff-format, ruff-check

tests(blobstore): initialize blobstore in test path rahter than projet src
  tests/integration/assets/config.template.yml
  tests/integration/conftest.py
Due: ruff-format, ruff-check

feat(uv): poc astral uv
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .github/workflows/worker.yml
  .gitignore
  pyproject.toml
  uv.lock
Due: none

feat(uv): poc astral uv
  pyproject.toml
  uv.lock
Due: none

feat(uv): poc astral uv
  .github/workflows/deploy.yml
  pyproject.toml
  uv.lock
Due: none

wip
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fix on windows
  tests/integration/test_integration_launcher.py
Due: ruff-format, ruff-check

feat(directory): small improvements
  antarest/study/directory_service.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(directory): add unique constraint
  alembic/versions/f1ff6904ff9f_add_directory_management.py
Due: ruff-format, ruff-check

feat(directory): change delete logic
  antarest/study/directory_service.py
  antarest/study/repository.py
  tests/study/test_directory_repository.py
  tests/study/test_directory_service.py
Due: mypy, ruff-format, ruff-check

test(blobstore): initialize blobstore in test path (#2795)
  tests/integration/assets/config.template.yml
  tests/integration/conftest.py
Due: ruff-format, ruff-check

forgot to commit
  antarest/launcher/model.py
Due: mypy, ruff-format, ruff-check

feat(directory): remove irrevelant test
  tests/integration/studies_blueprint/test_directory.py
Due: ruff-format, ruff-check

add custom timeout
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/launcher/model.py
  antarest/launcher/repository.py
Due: mypy, ruff-format, ruff-check

feat(metrics): more detailed task metrics
  antarest/core/metrics.py
  antarest/core/tasks/model.py
  antarest/core/tasks/service.py
  antarest/service_creator.py
Due: mypy, ruff-format, ruff-check

adapt tests
  antarest/core/metrics.py
  tests/core/test_metrics.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/launcher/model.py
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

remove dead code
  antarest/launcher/repository.py
Due: mypy, ruff-format, ruff-check

feat(directory): optimize rebuilding of folder path for the transition to directories management
  antarest/study/directory_service.py
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/study_storage.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

fix(generaldata): allow reading with missing sections
  antarest/study/dao/file/file_study_adequacy_patch_parameters_dao.py
  antarest/study/dao/file/file_study_optimization_preferences.py
  tests/study/business/test_adequacy_patch_manager.py
  tests/study/business/test_optimization_parameters_manager.py
Due: mypy, ruff-format, ruff-check

clarify behaviour for cancelled tasks
  antarest/core/metrics.py
  antarest/core/tasks/service.py
  tests/core/test_metrics.py
Due: mypy, ruff-format, ruff-check

fix test
  antarest/launcher/web.py
Due: mypy, ruff-format, ruff-check

feat(task): add `GET tasks` endpoint. make `POST tasks` endpoint deprecated
  antarest/core/tasks/web.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

chore(deps): bump fastapi
  antarest/study/web/studies_blueprint.py
  requirements.txt
Due: mypy, ruff-format, ruff-check

resolve comment
  antarest/study/dao/file/file_study_adequacy_patch_parameters_dao.py
  antarest/study/dao/file/file_study_optimization_preferences.py
Due: mypy, ruff-format, ruff-check

fix(generaldata): allow reading with missing sections (#2799)
  antarest/study/dao/file/file_study_adequacy_patch_parameters_dao.py
  antarest/study/dao/file/file_study_optimization_preferences.py
  tests/study/business/test_adequacy_patch_manager.py
  tests/study/business/test_optimization_parameters_manager.py
Due: mypy, ruff-format, ruff-check

fix linting issues
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(metrics): add labels to task metrics (#2798)
  antarest/core/metrics.py
  antarest/core/tasks/model.py
  antarest/core/tasks/service.py
  antarest/service_creator.py
  tests/core/test_metrics.py
Due: mypy, ruff-format, ruff-check

fix(tasks): waiting clients should not change task status
  antarest/core/tasks/service.py
Due: mypy, ruff-format, ruff-check

fix(tasks): update cancel status only if actually cancelled
  antarest/core/tasks/service.py
  antarest/core/tasks/web.py
  tests/core/test_tasks.py
Due: mypy, ruff-format, ruff-check

fix(ui-tasks): jobs without owner trigger an error
  webapp/src/components/App/Singlestudy/HomeView/InformationView/LauncherHistory/JobStepper.tsx
  webapp/src/components/App/Singlestudy/HomeView/InformationView/LauncherHistory/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/components/App/Tasks/LaunchJobLogView.tsx
  webapp/src/components/App/Tasks/index.tsx
  webapp/src/components/common/dialogs/DigestDialog/index.tsx
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/services/api/launcher/jobs/adapters.ts
  webapp/src/services/api/launcher/jobs/index.ts
  webapp/src/services/api/launcher/jobs/types.ts
  webapp/src/services/api/study.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/services/webSocket/ws.ts
  webapp/src/types/types.ts
Due: none

add requirements
  requirements.txt
Due: none

fix(ui-tasks): jobs without owner trigger an error (#2792)
  webapp/src/components/App/Singlestudy/HomeView/InformationView/LauncherHistory/JobStepper.tsx
  webapp/src/components/App/Singlestudy/HomeView/InformationView/LauncherHistory/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/components/App/Tasks/LaunchJobLogView.tsx
  webapp/src/components/App/Tasks/index.tsx
  webapp/src/components/common/dialogs/DigestDialog/index.tsx
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/services/api/launcher/jobs/adapters.ts
  webapp/src/services/api/launcher/jobs/index.ts
  webapp/src/services/api/launcher/jobs/types.ts
  webapp/src/services/api/study.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/services/webSocket/ws.ts
  webapp/src/types/types.ts
Due: none

test(auto-archiver): test auto archiver
  antarest/core/config.py
  antarest/study/storage/auto_archive_service.py
Due: mypy, ruff-format, ruff-check

refactor(output): adapt `/variables` endpoint to use new code (#2791)
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
  antarest/study/storage/study_download_utils.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
  tests/integration/test_integration.py
  tests/storage/integration/test_STA_mini.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/launcher/test_solver_presets.py
Due: ruff-format, ruff-check

test(auto-archiver): test auto archiver
  antarest/study/storage/auto_archive_service.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
