Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

add unit test to file outptu storage
  antarest/core/exceptions.py
  antarest/study/output/file_output_storage.py
  tests/study/output/file/test_file_output_storage.py
Due: mypy, ruff-format, ruff-check

fix an issue with version initialization
  antarest/study/business/model/config/general_model.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  tests/study/business/test_general_config_model.py
Due: mypy, ruff-format, ruff-check

fix test with version
  antarest/study/dao/database/database_study_settings_dao.py
  tests/study/dao/test_database_initialize_study.py
Due: mypy, ruff-format, ruff-check

c
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

add parametrize test
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/study/dao/test_database_initialize_study.py
Due: mypy, ruff-format, ruff-check

fix issue
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/study/dao/test_database_initialize_study.py
Due: mypy, ruff-format, ruff-check

use the whole template
  tests/study/dao/test_database_initialize_study.py
Due: ruff-format, ruff-check

use model dump as its cleaner
  antarest/study/dao/database/database_study_settings_dao.py
Due: mypy, ruff-format, ruff-check

create utils method
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_study_settings_dao.py
Due: mypy, ruff-format, ruff-check

use function
  tests/study/dao/test_database_settings_dao.py
Due: ruff-format, ruff-check

comment
  tests/study/output/file/test_file_output_storage.py
Due: ruff-format, ruff-check

feat(favorite directory): adding last test case for favorite directories / studies
  alembic/versions/u9t13x9i6kt_add_favorite_directory_table.py
  tests/favorite_study/test_favorite_directory.py
  tests/favorite_study/test_favorite_study.py
  tests/integration/favorite_blueprint/test_favorite_directory.py
  tests/integration/favorite_blueprint/test_favorite_study.py
Due: ruff-format, ruff-check

remove export_study test, it's now a service level method
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_abstract_storage_service.py
Due: ruff-format, ruff-check

remove output test from raw study service test, should be done at service level
  tests/study/storage/rawstudy/test_raw_study_service.py
Due: ruff-format, ruff-check

fix(sonar): sonar errors
  webapp/src/routes/_authenticated/settings/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/StudyTreeView/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/map/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/utils.ts
Due: none

explicit non default values inside test
  tests/study/dao/test_database_settings_dao.py
Due: ruff-format, ruff-check

refactor
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

add queries and mutations
  webapp/src/queries/directories/keys.ts
  webapp/src/queries/directories/mutations.ts
  webapp/src/queries/directories/queries.ts
  webapp/src/services/api/directories/index.ts
  webapp/src/services/api/directories/schemas.ts
  webapp/src/services/api/directories/types.ts
Due: none

refactor external tree
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/shared-types.ts
Due: none

add zod
  webapp/package-lock.json
  webapp/package.json
Due: none

add directories api methods schema and types
  webapp/src/services/api/directories/index.ts
  webapp/src/services/api/directories/schemas.ts
  webapp/src/services/api/directories/types.ts
Due: none

add root directory creation
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/EditableTreeItem.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/services/api/directories/schemas.ts
Due: none

feat: add confirmation dialog with cascade options for folder deletion
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/DeleteFolderDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDeleteDirectory.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDeleteFolderDialog.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDirectoryOperations.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
Due: none

fix: resolve infinite render loop in ExternalTree
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/hooks/useStudyTree.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
Due: none

fix navigation breadcrumbs and refactor `Header`
  webapp/src/redux/middlewares/localStorageMiddleware.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/BatchActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/FilterControls.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/NavigationBreadcrumbs.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/ScanFolderDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/useBreadcrumbs.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
Due: none

refactor: hide root node and default workspace in external tree
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/utils.ts
Due: none

move tests
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/__test__/fixtures.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/__test__/utils.test.ts
Due: none

add expand on subfolder creation
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useCreateDirectory.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDirectoryOperations.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
Due: none

refactor styles
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
Due: none

fix styles
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
Due: none

feat: add text ellipsis for long folder names to prevent layout shifts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/index.tsx
Due: none

wip breadcrumb
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header.tsx
Due: none

refactor: separate managed and external tree navigation state
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/services/utils/index.ts
  webapp/src/types/types.ts
  webapp/src/utils/studiesUtils.ts
Due: none

add update and delete
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDeleteDirectory.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDirectoryOperations.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useUpdateDirectory.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/types.ts
Due: none

add subfolder creation
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useCreateDirectory.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDirectoryOperations.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/types.ts
Due: none

add managed tree
  webapp/src/redux/selectors.ts
  webapp/src/routes/_authenticated/studies/-components/SideNav.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/StudyTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/shared-types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/utils.ts
  webapp/src/routes/_authenticated/studies/index.tsx
  webapp/vite.config.ts
Due: none

improve styles
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/routes/_authenticated/studies/index.tsx
Due: none

fix imports
  webapp/src/redux/selectors.ts
Due: none

refactor external tree to use tan stack
  webapp/src/queries/explorer/keys.ts
  webapp/src/queries/explorer/queries.ts
  webapp/src/queries/explorer/schemas.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/__test__/utils.test.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/hooks/useFolderExplorer.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/hooks/useStudyTree.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/hooks/useWorkspaces.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
Due: none

refactor studies sort
  webapp/src/redux/ducks/studies.ts
  webapp/src/redux/middlewares/localStorageMiddleware.ts
  webapp/src/redux/selectors.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/FilterControls.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/services/utils/localStorage.ts
  webapp/src/utils/sorting/studySortUtils.ts
  webapp/src/utils/studiesUtils.ts
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
