Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix copilot stuff
  webapp/src/redux/ducks/studies.ts
Due: none

duplicate checks to have better exceptions
  antarest/core/exceptions.py
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/variantstudy/model/command/test_create_st_storage.py
  tests/variantstudy/model/command/test_update_short_term_storage.py
Due: mypy, ruff-format, ruff-check

fix test on windows
  tests/integration/explorer_blueprint/test_explorer.py
  tests/storage/business/test_explorer_service.py
Due: ruff-format, ruff-check

fix comment
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

feat(storage): add coherence checks for v9.2 (#2577)
  antarest/core/exceptions.py
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/variantstudy/model/command/test_create_st_storage.py
  tests/variantstudy/model/command/test_update_short_term_storage.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): add dao layer
  antarest/study/business/general_management.py
  antarest/study/business/model/config/general_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): setup get method
  antarest/study/business/general_management.py
  antarest/study/business/model/config/general_model.py
  antarest/study/business/playlist_management.py
  antarest/study/dao/api/general_config_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_general_config_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/integration/study_data_blueprint/test_config_general.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): update default values preventing import and matrix updates
  webapp/src/components/common/Matrix/context/MatrixContext.tsx
  webapp/src/components/common/Matrix/index.tsx
Due: none

fix(ui-matrix): update default values preventing import and matrix updates (#2578)
  webapp/src/components/common/Matrix/context/MatrixContext.tsx
  webapp/src/components/common/Matrix/index.tsx
Due: none

feat(generalconfig): setup get method
  antarest/study/business/general_management.py
  antarest/study/business/model/config/general_model.py
  antarest/study/dao/api/general_config_dao.py
  antarest/study/dao/file/file_study_general_config_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_general_config.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

fix windows test again
  tests/integration/explorer_blueprint/test_explorer.py
  tests/storage/business/test_explorer_service.py
Due: ruff-format, ruff-check

feat(generalconfig): setup get method
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/update_general_config.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): setup get method
  antarest/study/dao/file/file_study_general_config_dao.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/integration/study_data_blueprint/test_config_general.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): setup get method
  antarest/study/business/general_management.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): setup get method
  antarest/study/business/model/config/general_model.py
  antarest/study/business/playlist_management.py
  tests/integration/studies_blueprint/test_study_settings.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): setup get method
  antarest/study/business/model/config/general_model.py
Due: mypy, ruff-format, ruff-check

add src code
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

chore(sqlalchemy): fixing unit tests
  antarest/core/configdata/model.py
  antarest/core/filetransfer/model.py
  antarest/core/filetransfer/service.py
  antarest/core/tasks/model.py
  antarest/launcher/model.py
  antarest/login/ldap.py
  antarest/login/model.py
  antarest/login/service.py
  antarest/matrixstore/model.py
  antarest/study/model.py
  antarest/study/storage/output_service.py
  antarest/study/storage/variantstudy/model/dbmodel.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): add unit test for command
  tests/variantstudy/model/command/test_update_general_config.py
Due: ruff-format, ruff-check

remove float format
  antarest/core/serde/matrix_export.py
  antarest/matrixstore/parsing.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix(results): create minimal output object when data is not found in synthesis
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
Due: none

fix(results): minor refactor results components
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/services/api/study.ts
Due: none

fix(ui-results): resolve variant data display, infinite loops, and state inconsistencies
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/redux/hooks/useStudySynthesis.ts
  webapp/src/services/api/study.ts
Due: none

fix disk usage test
  tests/integration/studies_blueprint/test_disk_usage.py
Due: ruff-format, ruff-check

add a todo and remove a fixture
  tests/storage/integration/conftest.py
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

fix one failing test
  tests/integration/studies_blueprint/test_study_version.py
Due: ruff-format, ruff-check

typo
  tests/integration/studies_blueprint/test_study_version.py
Due: ruff-format, ruff-check

fixing test
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

refactor(results): decompose ResultDetails into smaller components
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/SynthesisViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
Due: none

put back the fixture
  tests/storage/integration/conftest.py
Due: ruff-format, ruff-check

put log in debug instead of info to not flood the logs
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

feat(allocation): replace list matrix type by numpy array
  antarest/study/business/allocation_management.py
  tests/study/business/test_allocation_manager.py
Due: mypy, ruff-format, ruff-check

chore(sqlalchemy): fix comments
  antarest/core/filetransfer/service.py
  antarest/launcher/service.py
  antarest/login/service.py
  antarest/matrixstore/model.py
  antarest/matrixstore/service.py
  antarest/service_creator.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/df_download.py
  antarest/study/storage/output_service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/date_serializer.py
  antarest/tools/admin_lib.py
Due: mypy, ruff-format, ruff-check

feat(study): remove editor field in study
  alembic/versions/a8c6e9d47b12_add_editor_field_to_study.py
  antarest/study/model.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(version): refactor version endpoint
  antarest/core/version_info.py
Due: mypy, ruff-format, ruff-check

feat(version): refactor version endpoint
  antarest/core/core_blueprint.py
  antarest/core/version_info.py
  tests/core/test_version_info.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): began unit testing on usage providers. unit testing of command matrix left
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/matrixstore/service.py
  antarest/study/storage/variantstudy/business/matrix_constants/matrix_constants_usage_provider.py
  antarest/study/storage/variantstudy/command_matrix_usage_provider.py
  tests/matrixstore/test_matrix_garbage_collector.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

feat(version): refactor version endpoint
  antarest/core/core_blueprint.py
  antarest/core/version_info.py
  tests/integration/test_core_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): use UTC for date/time display to avoid DST issues
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/common/Matrix/hooks/useGridCellContent/index.ts
  webapp/src/components/common/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.test.ts
  webapp/src/components/common/Matrix/shared/constants.ts
  webapp/src/components/common/Matrix/shared/utils.ts
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
