Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

refactor(matrix): remove preview mode button, optimize filter UI space
  webapp/docs/matrix-filter-optimizations.md
  webapp/src/components/common/Matrix/components/MatrixFilter/ColumnFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/DrawerHeader.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/FilterControls.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/FilterSummaryChips.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilterSummary.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useMatrixFilter.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/context/MatrixContext.tsx
  webapp/src/components/common/Matrix/index.tsx
Due: none

refactor(ui): simplify SelectionSummary component and improve layout
  webapp/src/components/common/Matrix/components/MatrixFilter/SelectionSummary.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/styles.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
Due: none

fix(ui-results): resolve layout issues in results view
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/common/Matrix/components/FilterableMatrixGrid.tsx
  webapp/src/components/common/page/ViewWrapper.tsx
Due: none

refactor(matrix-filter): organize imports
  webapp/src/components/common/Matrix/components/MatrixFilter/ColumnFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/MultiRowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/SelectionSummary.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/__tests__/hourIndexing.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ChipSelector.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/FilterControls.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ListFilterControl.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/RangeFilterControl.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/TemporalFilterRenderer.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilterControls.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilteredData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useMatrixFilter.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useOperationControls.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useTemporalData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/dateUtils.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

fix(matrix-filter): initialize filter lists with all values to prevent empty grid
  webapp/docs/matrix-filter-optimizations.md
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ListFilterControl.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/utils/date/matrixDateUtils.ts
Due: none

feat(matrix-filter): enable range syntax for all list filter operators
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ListFilterControl.tsx
Due: none

refactor(matrix-filter): improve Operations component UI consistency
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ListFilterControl.tsx
  webapp/src/utils/date/matrixDateUtils.ts
Due: none

refactor(matrix-filter): move derived types from constants to types file
  webapp/src/components/common/Matrix/components/MatrixFilter/ColumnFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/ListFilterControl.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/components/TemporalFilterRenderer.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilterControls.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilteredData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useTemporalData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

feat(matrix-filter): implement automatic OR/AND logic for row filters
  webapp/src/components/common/Matrix/components/MatrixFilter/MultiRowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

fix(matrix-filter): treat empty filter selections as "show all" instead of "show none"
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/__tests__/useFilteredData.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilteredData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

optimize deletes
  antarest/study/service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

refactoring
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

add delete event
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

mini refactor
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

resolve some comments
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

fix warning issue with type alias
  antarest/core/model.py
Due: mypy, ruff-format, ruff-check

fix(links): allow legacy parsing for create link command
  antarest/study/storage/variantstudy/model/command/create_link.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

build
  .github/workflows/deploy.yml
Due: none

fix(links): allow legacy parsing for create link command (#2537)
  antarest/study/storage/variantstudy/model/command/create_link.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix(study): copied study's outputs not downloadable
  antarest/launcher/model.py
  antarest/study/main.py
  antarest/study/repository.py
  antarest/study/service.py
  tests/conftest_services.py
  tests/storage/business/test_watcher.py
  tests/storage/integration/conftest.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

remove legacy file
  antarest/study/storage/variantstudy/model/command/binding_constraint_utils.py
Due: mypy, ruff-format, ruff-check

fix(workers): use gunicorn to autorepair load balanced workers
  scripts/start.sh
Due: none

fix(desktop): clean deleted studies desktop mode (#2532)
  antarest/core/exceptions.py
  antarest/main.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/watcher.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

fix(study): add unit test
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fix(study): add unit test
  antarest/launcher/model.py
  antarest/launcher/repository.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(matrixstore): finished unit test, wip integration tests
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

feat(matrixstore): adding missing files
  antarest/matrixstore/matrix_model.py
  conf/requirements.txt
Due: mypy, ruff-format, ruff-check

fix(study): add condition
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(matrixstore): adding missing files n°2
  antarest/matrixstore/matrix_model.py
Due: mypy, ruff-format, ruff-check

feat(matrixstore): added blank get_matrices in in_memory.py
  antarest/matrixstore/in_memory.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): update name and folder fields validation
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/HomeView/InformationView/index.tsx
  webapp/src/components/App/Singlestudy/explore/Debug/Data/Folder/CreateFolderDialog.tsx
  webapp/src/components/App/Studies/CreateStudyDialog.tsx
  webapp/src/components/App/Studies/StudiesList/index.tsx
  webapp/src/components/App/index.tsx
  webapp/src/components/App/shared/studies/StudyActionsMenu.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpdateStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpgradeStudyDialog.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/utils/studiesUtils.ts
  webapp/src/utils/validation/__tests__/string.test.ts
  webapp/src/utils/validation/string.ts
  webapp/src/utils/validation/utils.ts
Due: none

feat(ui-studies): update name and folder fields validation (#2534)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/HomeView/InformationView/index.tsx
  webapp/src/components/App/Singlestudy/explore/Debug/Data/Folder/CreateFolderDialog.tsx
  webapp/src/components/App/Studies/CreateStudyDialog.tsx
  webapp/src/components/App/Studies/StudiesList/index.tsx
  webapp/src/components/App/index.tsx
  webapp/src/components/App/shared/studies/StudyActionsMenu.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpdateStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpgradeStudyDialog.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/utils/studiesUtils.ts
  webapp/src/utils/validation/__tests__/string.test.ts
  webapp/src/utils/validation/string.ts
  webapp/src/utils/validation/utils.ts
Due: none

fix(ui-bc): cannot create BC on study < 8.7
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/AddDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/ConstraintFields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/utils.ts
Due: none

fix(ui-bc): cannot create BC on study < 8.7 (#2542)
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/AddDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/ConstraintFields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/utils.ts
Due: none

fix(workers): remove keepalive parameters, increase timeout
  scripts/start.sh
Due: none

feat(matrixstore): adding missing files n°2
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

add user column and user filter
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/Tasks/index.tsx
  webapp/src/services/utils/localStorage.ts
  webapp/src/types/types.ts
Due: none

code review
  webapp/src/components/App/Singlestudy/HomeView/InformationView/index.tsx
  webapp/src/components/App/Singlestudy/HomeView/StudyTreeView/index.tsx
  webapp/src/components/App/Singlestudy/HomeView/index.tsx
Due: none

fix: cove review
  antarest/login/model.py
  webapp/src/components/App/Singlestudy/NavHeader/Actions.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Details.tsx
  webapp/src/components/App/Singlestudy/NavHeader/index.tsx
  webapp/src/components/App/Singlestudy/index.tsx
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check
