Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

uncommit nonsense
  antarest/study/business/model/thematic_trimming_model.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
Due: mypy, ruff-format, ruff-check

f
  antarest/study/dao/file/file_study_advanced_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
Due: mypy, ruff-format, ruff-check

continue adding code
  antarest/study/dao/file/file_study_advanced_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
Due: mypy, ruff-format, ruff-check

add the command
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_advanced_parameters.py
Due: mypy, ruff-format, ruff-check

use the command
  antarest/study/business/advanced_parameters_management.py
Due: mypy, ruff-format, ruff-check

refactor
  webapp/src/services/api/studies/config/thematicTrimming/types.ts
Due: none

fix src code
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
  antarest/study/storage/variantstudy/model/command/update_advanced_parameters.py
  tests/integration/study_data_blueprint/test_advanced_parameters.py
Due: mypy, ruff-format, ruff-check

add new 9.3 field
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
Due: mypy, ruff-format, ruff-check

add the front end
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
Due: none

add check for shedding policy value
  antarest/study/business/model/config/advanced_parameters_model.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/business/model/config/advanced_parameters_model.py
Due: mypy, ruff-format, ruff-check

add one UT
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

feat(thematic-trimming): support new 9.3 fields (#2625)
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  tests/storage/business/test_config_manager.py
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ThematicTrimmingDialog/utils.ts
  webapp/src/services/api/studies/config/thematicTrimming/types.ts
Due: mypy, ruff-format, ruff-check

continue code
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
  tests/variantstudy/model/command/test_update_advanced_parameters.py
Due: mypy, ruff-format, ruff-check

fix src code
  antarest/study/dao/file/file_study_advanced_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
  tests/variantstudy/model/command/test_update_advanced_parameters.py
Due: mypy, ruff-format, ruff-check

modify front for the v9.3
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
Due: none

change src code and start modifying tests
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  tests/variantstudy/model/command/test_create_st_storage_additional_constraints.py
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
Due: mypy, ruff-format, ruff-check

try to resolve tests
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  webapp/src/services/api/studies/tableMode/constants.ts
Due: mypy, ruff-format, ruff-check

fixing tests
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/variantstudy/model/command/test_create_st_storage_additional_constraints.py
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(ui-api): add storage additional constraints functions
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
  webapp/src/utils/tsUtils.ts
Due: none

bump antares-study-version package
  requirements.txt
Due: none

add model
  antarest/study/business/model/config/adequacy_patch_model.py
Due: mypy, ruff-format, ruff-check

build DAO skeleton
  antarest/study/dao/api/adequacy_patch_parameters_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_adequacy_patch_parameters_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

remove old code
  antarest/study/business/adequacy_patch_management.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

add filedata class
  antarest/study/storage/rawstudy/model/filesystem/config/adequacy_patch_parameters.py
Due: mypy, ruff-format, ruff-check

return object inside update endpoint
  antarest/study/business/advanced_parameters_management.py
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

add typealias and typeadapter
  antarest/study/business/model/sts_model.py
  antarest/study/storage/variantstudy/model/command/update_st_storage_additional_constraints.py
Due: mypy, ruff-format, ruff-check

add file study src code
  antarest/study/dao/file/file_study_adequacy_patch_parameters_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/adequacy_patch_parameters.py
Due: mypy, ruff-format, ruff-check

add command
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_adequacy_patch_parameters.py
Due: mypy, ruff-format, ruff-check

finalize src code
  antarest/study/business/adequacy_patch_management.py
Due: mypy, ruff-format, ruff-check

add test command factory
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_adequacy_patch_parameters_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/adequacy_patch_parameters.py
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/utils.ts
Due: mypy, ruff-format, ruff-check

fix legacy tets
  tests/integration/study_data_blueprint/test_advanced_parameters.py
Due: ruff-format, ruff-check

fix failing test$
  tests/integration/studies_blueprint/test_study_settings.py
Due: ruff-format, ruff-check

add UT for command
  tests/variantstudy/model/command/test_update_adequacy_patch_parameters.py
Due: ruff-format, ruff-check

few fixes: typo in occurrence, limit week hours to 1 and not 0
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/variantstudy/model/command/test_create_st_storage_additional_constraints.py
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(sts): support additional constraints (#2557)
  antarest/core/exceptions.py
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
  antarest/study/business/table_mode_management.py
  antarest/study/dao/api/st_storage_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/__init__.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/st_storage/__init__.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/constraints.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  antarest/study/storage/variantstudy/model/command/create_st_storage_constraints.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  antarest/study/storage/variantstudy/model/command/remove_multiple_storage_constraints.py
  antarest/study/storage/variantstudy/model/command/update_st_storage_additional_constraints.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/variantstudy/model/command/test_create_st_storage_additional_constraints.py
  tests/variantstudy/model/command/test_remove_st_storage.py
  tests/variantstudy/model/command/test_remove_st_storage_additional_constraints.py
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
  tests/variantstudy/test_command_factory.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/services/api/studies/tableMode/constants.ts
Due: mypy, ruff-format, ruff-check

change code structure
  antarest/study/service.py
  antarest/study/web/raw_studies_blueprint.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

changing the code structure
  antarest/study/web/raw_studies_blueprint.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: mypy, ruff-format, ruff-check
