Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

a
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
Due: none

fix
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
Due: none

add failing test
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
Due: ruff-format, ruff-check

fix update src code
  antarest/study/business/model/sts_model.py
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

resolve comments
  antarest/study/service.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(xpansion): forbid candidate deletion when referenced in sensitivity (#2601)
  antarest/core/exceptions.py
  antarest/study/business/xpansion_management.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/variantstudy/model/command/test_xpansion_candidates.py
Due: mypy, ruff-format, ruff-check

finalize update test
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
Due: ruff-format, ruff-check

fix(matrix): eliminate double date parsing in temporal filters
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useTemporalData.ts
Due: none

add error case test
  tests/variantstudy/model/command/test_remove_st_storage_additional_constraints.py
Due: ruff-format, ruff-check

feat(study): add editor field in study (#2546)
  alembic/versions/a8c6e9d47b12_add_editor_field_to_study.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/about/study.py
  antarest/study/storage/rawstudy/model/filesystem/root/study_antares.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/rawstudies/samples/v810/sample1/study.antares
Due: mypy, ruff-format, ruff-check

add UT for deletion
  antarest/study/dao/file/file_study_st_storage_dao.py
  tests/variantstudy/model/command/test_remove_st_storage_additional_constraints.py
Due: mypy, ruff-format, ruff-check

add integration test and fixed src code
  antarest/study/dao/file/file_study_st_storage_dao.py
  tests/integration/study_data_blueprint/test_st_storage.py
Due: mypy, ruff-format, ruff-check

wip
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilteredData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useTemporalData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/dateUtils.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
  webapp/src/utils/date/matrixDateUtils.ts
Due: none

add table-mode tests
  tests/integration/study_data_blueprint/test_table_mode.py
Due: ruff-format, ruff-check

wip
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/__tests__/useFilteredData.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilteredData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useTemporalData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

wip
  antarest/study/business/aggregator_management.py
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-07.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-08-all.result.tsv2
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02-all.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-07-all.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-08-all.result.tsv2
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

chore(ui-filters): add some unit tests
  webapp/src/components/common/Matrix/components/MatrixFilter/MultiRowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/dateInfo.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
  webapp/src/utils/date/matrixDateUtils.ts
Due: none

fix test
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/expected_result_sts.csv
Due: none

fix(ui-filters): fix weekday extraction
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/dateInfo.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

testing
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

rename files
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02-all.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02-all.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-07-all.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-07.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-07.result.tsv2
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-08-all.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-08-all.result.tsv2
Due: none

fix front end issue
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
Due: none

fix filenames
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

return array and not string for hours in the front
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

rehabilitate old error msg
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

same for renewable and storages
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
Due: mypy, ruff-format, ruff-check

remove useless .lower for storage
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
Due: mypy, ruff-format, ruff-check

fix exception catching
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

start work
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/create_user_resource.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_configuration.py
  antarest/study/storage/variantstudy/model/command/remove_district.py
  antarest/study/storage/variantstudy/model/command/update_area_ui.py
Due: mypy, ruff-format, ruff-check

re change exception
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  antarest/study/storage/variantstudy/model/command/remove_user_resource.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_configuration.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_resource.py
  antarest/study/storage/variantstudy/model/command/replace_matrix.py
  antarest/study/storage/variantstudy/model/command/update_areas_properties.py
  antarest/study/storage/variantstudy/model/command/update_comments.py
  antarest/study/storage/variantstudy/model/command/update_config.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  antarest/study/storage/variantstudy/model/command/update_playlist.py
  antarest/study/storage/variantstudy/model/command/update_raw_file.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_settings.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  antarest/study/storage/variantstudy/variant_command_generator.py
Due: mypy, ruff-format, ruff-check

use faield and succeeded everywhere
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/remove_user_resource.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/update_config.py
Due: mypy, ruff-format, ruff-check

add boolean
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
Due: mypy, ruff-format, ruff-check

implement src code
  antarest/study/storage/variantstudy/model/command/update_config.py
  antarest/study/storage/variantstudy/model/command/update_raw_file.py
Due: mypy, ruff-format, ruff-check

fix matrice test
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

add code inside snapshot generator
  antarest/core/interfaces/cache.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/model.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
Due: mypy, ruff-format, ruff-check

all tests OK :)
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

add a tes
  antarest/study/storage/variantstudy/snapshot_generator.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

fix
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
