Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(ui-study): hide job actions when study is archived
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/JobStepper.tsx
Due: none

copilot review
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/utils.ts
Due: none

remove moment.js
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/utils.ts
Due: none

feat(ui-study): hide job actions when study is archived (#3204)
  webapp/eslint.config.js
  webapp/src/queries/jobs/keys.ts
  webapp/src/queries/jobs/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/JobStepper.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/utils.ts
  webapp/src/routes/_authenticated/tasks/index.tsx
  webapp/src/types/types.ts
Due: none

feat(binding_constraints): alleviate binding constraints in daos by using BindingConstraintConfig
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dtos.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/storage/test_model.py
Due: mypy, ruff-format, ruff-check

feat(binding_constraints)!: changes due to PR comments
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  tests/storage/test_model.py
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

feat(binding_constraints)!: format code
  tests/storage/test_model.py
Due: ruff-format, ruff-check

feat(tablemode_backend): taking reviews in account
  alembic/versions/rp986cf862cy_add_tablemode_table.py
  antarest/tablemode/model.py
  antarest/tablemode/service.py
  antarest/tablemode/web.py
  tests/integration/tablemode_blueprint/test_tablemode_blueprint.py
  tests/tablemode/test_tablemode.py
Due: mypy, ruff-format, ruff-check

feat(binding-constraints)!: alleviate binding constraints in config by using BindingConstraintConfig (#3203)
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dtos.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/storage/test_model.py
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

feat(tablemode_backend): corrected alembic error
  alembic/versions/rp986cf862cy_add_tablemode_table.py
Due: ruff-format, ruff-check

feat(tablemode): store tables definitions on backend side (#3193)
  alembic/versions/rp986cf862cy_add_tablemode_table.py
  antarest/core/utils/web.py
  antarest/dependencies.py
  antarest/favorite/repository.py
  antarest/main.py
  antarest/service_creator.py
  antarest/tablemode/__init__.py
  antarest/tablemode/model.py
  antarest/tablemode/repository.py
  antarest/tablemode/service.py
  antarest/tablemode/web.py
  tests/integration/tablemode_blueprint/__init__.py
  tests/integration/tablemode_blueprint/test_tablemode_blueprint.py
  tests/tablemode/__init__.py
  tests/tablemode/test_tablemode.py
Due: mypy, ruff-format, ruff-check

cleaner area not found error message
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  tests/variantstudy/model/command/test_update_renewable_cluster.py
  tests/variantstudy/model/command/test_update_short_term_storage.py
Due: mypy, ruff-format, ruff-check

feat(logging): use ECS formatter, add more context fields
  antarest/core/logging/utils.py
  pyproject.toml
  uv.lock
Due: mypy, ruff-format, ruff-check

feat(reserves): changes
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/cluster/area/area.py
  antarest/study/storage/variantstudy/model/command/create_thermal_cluster_reserve_participation.py
  tests/study/dao/test_thermal_cluster_reserve_participation_dao.py
  tests/variantstudy/model/command/test_thermal_cluster_reserve_participation_commands.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

allow non ascii characters
  antarest/core/logging/utils.py
Due: mypy, ruff-format, ruff-check

remove python-json-logger, not used anymore
  pyproject.toml
  uv.lock
Due: none

mask query params for sensitive endpoints
  antarest/core/logging/utils.py
Due: mypy, ruff-format, ruff-check

remove noisy information from plain text logs
  antarest/core/logging/utils.py
Due: mypy, ruff-format, ruff-check

stricter versioning
  pyproject.toml
Due: none

feat(reserves): fix tests
  tests/integration/raw_studies_blueprint/test_thermal_cluster_reserve_participations.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/study/business/model/test_thermal_cluster_reserve_participation_model.py
  tests/study/dao/test_thermal_cluster_reserve_participation_dao.py
  tests/variantstudy/model/command/test_thermal_cluster_reserve_participation_commands.py
Due: ruff-format, ruff-check

feat(reserves): fix alembic
  alembic/versions/c8d4f2e6a917_add_thermal_cluster_reserve_participation_table.py
Due: ruff-format, ruff-check

refactor(disk_space_analyzer): fixed the disk_space_analysis to let him continue process
  antarest/maintenance/tasks/disk_space_analyzer.py
  tests/integration/maintenance_blueprint/test_disk_space_analyzer.py
Due: mypy, ruff-format, ruff-check

feat(logging): use ECS formatter, add more context fields (#3206)
  antarest/core/logging/utils.py
  pyproject.toml
  uv.lock
Due: mypy, ruff-format, ruff-check

fix(tablemode_backend): replaced uuid name by 'table_id'
  antarest/tablemode/web.py
Due: mypy, ruff-format, ruff-check

refactor(disk_space_analyzer): reinforcing disk space analysis function (#3208)
  antarest/maintenance/tasks/disk_space_analyzer.py
  tests/integration/maintenance_blueprint/test_disk_space_analyzer.py
Due: mypy, ruff-format, ruff-check

fix(tablemode_backend): replaced uuid name by 'table_id' (#3209)
  antarest/tablemode/web.py
Due: mypy, ruff-format, ruff-check

feat/block-snapshot-generation
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

only parent count
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

simplify test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

assert permission first
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

light refactor
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
  tests/study/dao/test_database_scenario_builder_dao.py
Due: ruff-format, ruff-check

feat(variant): block snapshot generation when parent is archived (#3211)
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

wip: creating tables
  antarest/output/storage/v2/variables_metadata.py
Due: mypy, ruff-format, ruff-check

fix(task): use short transaction when polling for task status
  antarest/core/tasks/service.py
Due: mypy, ruff-format, ruff-check

fix(task): use short transaction when polling for task status (#3212)
  antarest/core/tasks/service.py
Due: mypy, ruff-format, ruff-check

draft
  antarest/output/storage/v2/variables_metadata.py
Due: mypy, ruff-format, ruff-check

feat(reserves): read multiple ini sections
  antarest/core/serde/ini_reader.py
  antarest/core/serde/ini_writer.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/file/file_study_thermal_cluster_reserve_participation_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_cluster_reserve_participation.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/cluster/area/reserves_ini.py
  tests/core/serde/test_ini_reader.py
  tests/core/serde/test_ini_writer.py
  tests/integration/raw_studies_blueprint/test_thermal_cluster_reserve_participations.py
  tests/study/business/model/test_thermal_cluster_reserve_participation_model.py
  uv.lock
Due: mypy, ruff-format, ruff-check

feat(reserves): fix delete bug
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/database_thermal_cluster_reserve_participation_dao.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/study/dao/test_thermal_cluster_reserve_participation_dao.py
Due: mypy, ruff-format, ruff-check

no mypy issue
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

ifx uv lock
  uv.lock
Due: none
