Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix(celery): fix logging config, exit on invalid config with clear message
  antarest/main.py
  antarest/maintenance/app.py
  antarest/maintenance/context.py
  antarest/service_creator.py
  antarest/singleton_services.py
Due: mypy, ruff-format, ruff-check

change alembic head
  alembic/versions/e61f6bcf304c_create_study_settings_tables.py
Due: ruff-format, ruff-check

feat(dao): support study settings inside DB (#2977)
  alembic/versions/e61f6bcf304c_create_study_settings_tables.py
  antarest/study/business/model/config/compatibility_parameters_model.py
  antarest/study/business/model/config/general_model.py
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/dao/database/models/settings.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/simulation.py
  antarest/study/storage/utils.py
  tests/study/business/test_general_config_model.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_initialize_study.py
  tests/study/dao/test_database_settings_dao.py
Due: mypy, ruff-format, ruff-check

fix
  webapp/src/components/Form/hooks/useFormInitialDefaultValues.ts
Due: none

fix(ui): issue with FormContext
  webapp/src/components/Form/hooks/useFormInitialDefaultValues.ts
  webapp/src/components/Form/hooks/useFormUndoRedo.ts
  webapp/src/components/Form/index.tsx
  webapp/src/components/Form/types.ts
  webapp/src/components/Form/useFormApiPlus.ts
  webapp/src/hooks/useFormContextPlus.ts
  webapp/src/routes/-shared/components/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/routes/-shared/components/studies/dialogs/StudyLaunchDialog/LauncherMetrics.tsx
  webapp/src/routes/_authenticated/settings/groups/-components/dialog/GroupFormDialog/GroupForm.tsx
  webapp/src/routes/_authenticated/settings/tokens/-components/dialog/TokenFormDialog/TokenForm.tsx
  webapp/src/routes/_authenticated/settings/users/-components/dialog/UserFormDialog/UserForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/TypeConfigFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-components/AllocationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-components/CorrelationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/management-options/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/properties/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/ClusterTermDataFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/LinkTermDataFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/TermsFE.tsx
Due: none

update
  webapp/src/components/Form/hooks/useFormInitialDefaultValues.ts
Due: none

update
  webapp/src/routes/-shared/components/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/Fields.tsx
Due: none

add study id to file name
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/DownloadVariableViewButton.tsx
Due: none

fix(ui): issue with FormContext (#2994)
  webapp/src/components/Form/hooks/useFormInitialDefaultValues.ts
  webapp/src/components/Form/hooks/useFormUndoRedo.ts
  webapp/src/components/Form/index.tsx
  webapp/src/components/Form/types.ts
  webapp/src/components/Form/useFormApiPlus.ts
  webapp/src/hooks/useFormContextPlus.ts
  webapp/src/routes/-shared/components/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/routes/-shared/components/studies/dialogs/StudyLaunchDialog/LauncherMetrics.tsx
  webapp/src/routes/_authenticated/settings/groups/-components/dialog/GroupFormDialog/GroupForm.tsx
  webapp/src/routes/_authenticated/settings/tokens/-components/dialog/TokenFormDialog/TokenForm.tsx
  webapp/src/routes/_authenticated/settings/users/-components/dialog/UserFormDialog/UserForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/TypeConfigFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-components/AllocationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-components/CorrelationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/management-options/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/properties/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/ClusterTermDataFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/LinkTermDataFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/TermsFE.tsx
Due: none

remove useless rollbacks
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_study_dao.py
  tests/study/dao/test_database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

wip
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/DownloadVariableViewButton.tsx
Due: none

perf(db): perform less `select` inside DAO methods (#2996)
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

fix(ui-study): error displayed when opening the study home directly
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/-components/FreezeStudy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Actions.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Breadcrumb/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Details.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
Due: none

fix ts lint
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
Due: none

error message
  webapp/src/redux/ducks/studies.ts
  webapp/src/redux/selectors.ts
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
Due: none

fix heads
  alembic/versions/ae838d5fd166_add_hydro_tables.py
Due: ruff-format, ruff-check

fix
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/DownloadVariableViewButton.tsx
Due: none

fix(ui-study): error displayed when opening the study home directly (#2995)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/redux/ducks/studies.ts
  webapp/src/redux/selectors.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/FreezeStudy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Actions.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Breadcrumb/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Details.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
Due: none

review celery initialization and tests
  antarest/maintenance/app.py
  antarest/maintenance/config.py
  antarest/maintenance/tasks/auto_archive_task.py
  antarest/maintenance/tasks/gc_blob_task.py
  antarest/maintenance/tasks/gc_matrix_task.py
  antarest/maintenance/tasks/gc_variable_view_task.py
  antarest/maintenance/tasks/watcher_scan_task.py
  tests/maintenance/conftest.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

review celery initialization and tests
  antarest/maintenance/app.py
Due: mypy, ruff-format, ruff-check

fix import in unit test
  antarest/maintenance/app.py
  tests/maintenance/conftest.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

fix(ui-outputs): add study id output id and area to download variable view button (#2997)
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/DownloadVariableViewButton.tsx
Due: none

feat(ui-config): add new group for thematic trimming and new buttons by group
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/utils.ts
Due: none

update styles
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
Due: none

scroll
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
Due: none

reduce
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
Due: none

feat(ui-config): add new group for thematic trimming and new buttons by group (#3000)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/utils.ts
Due: none

improve typing
  antarest/maintenance/app.py
  antarest/maintenance/tasks/auto_archive_task.py
  antarest/maintenance/tasks/gc_blob_task.py
  antarest/maintenance/tasks/gc_matrix_task.py
  antarest/maintenance/tasks/gc_variable_view_task.py
  antarest/maintenance/tasks/watcher_scan_task.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_study_dao.py
Due: mypy, ruff-format, ruff-check

fix sonnar
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

fix sonnar
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/business/model/hydro_model.py
Due: mypy, ruff-format, ruff-check

feat(hydro): dao db hydro (#2985)
  alembic/versions/ae838d5fd166_add_hydro_tables.py
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/hydro.py
  tests/study/dao/test_database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

feat(archive): fix tmp path
  antarest/service_creator.py
  antarest/study/output/file_output_storage.py
  tests/storage/business/test_export.py
  tests/storage/business/test_raw_study_service.py
  tests/study/output/test_output_service.py
Due: mypy, ruff-format, ruff-check

add alembic migration
  alembic/versions/0ed392eeb506_add_renewable_clusters_tables.py
Due: ruff-format, ruff-check

wip: updating integration tests
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

remove unused patch
  tests/maintenance/conftest.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
