Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

minor moves
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

replace optional
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

chore(deps): add Renovate configuration
  renovate.json
Due: none

chore(deps): add renovate configuration (#3042)
  renovate.json
Due: none

refactor(ruleset): add unit test
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  tests/storage/rawstudy/model/filesystem/config/test_general.py
Due: mypy, ruff-format, ruff-check

feat(uv): license header
  tests/storage/rawstudy/model/filesystem/config/test_general.py
Due: ruff-format, ruff-check

wip
  alembic/versions/3a7f9c2d1e8b_add_xpansion_tables.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_xpansion_dao.py
  antarest/study/dao/database/models/xpansion.py
  tests/study/dao/test_database_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

feat(disk_usage_log): added disk usage log files
  antarest/maintenance/tasks/disk_usage_log.py
  antarest/maintenance/tasks/disk_usage_log_task.py
Due: mypy, ruff-format, ruff-check

add some doc and turn methods to properties
  antarest/core/utils/utils.py
  antarest/launcher/service.py
  antarest/matrixstore/service.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/watcher.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  antarest/worker/archive_worker.py
Due: mypy, ruff-format, ruff-check

wip
  alembic/versions/3a7f9c2d1e8b_add_xpansion_tables.py
  antarest/study/dao/database/database_xpansion_dao.py
  antarest/study/dao/database/models/xpansion.py
  tests/study/dao/test_database_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

refactor(ruleset)!: study supports only one ruleset (#3034)
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/business/scenario_builder_management.py
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/views/scenario_builder_views.py
  tests/integration/test_integration.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/storage/rawstudy/model/filesystem/config/test_general.py
  tests/variantstudy/model/command/test_manage_binding_constraints.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_remove_cluster.py
  tests/variantstudy/model/command/test_remove_link.py
  tests/variantstudy/model/command/test_remove_renewables_cluster.py
  tests/variantstudy/model/command/test_update_scenario_builder.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

chore(renovate): update conf
  renovate.json
Due: none

chore(renovate): update configuration file (#3051)
  renovate.json
Due: none

chore(renovate): update configuration file
  renovate.json
Due: none

chore(stopwatch): simplify stopwatch API (#3048)
  antarest/core/utils/utils.py
  antarest/launcher/service.py
  antarest/matrixstore/service.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/watcher.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  antarest/worker/archive_worker.py
Due: mypy, ruff-format, ruff-check

add simulation logs to output import
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/service.py
  antarest/study/output/output_service.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  antarest/study/output/storage/v2_output_storage.py
Due: mypy, ruff-format, ruff-check

chore(deps): remove paramiko from update list
  pyproject.toml
  uv.lock
Due: none

chore(deps): revert tables
  antarest/core/persistence.py
  pyproject.toml
  tests/integration/test_integration.py
  uv.lock
Due: mypy, ruff-format, ruff-check

chore(deps): fix mypy issues
  antarest/core/serde/ini_reader.py
  antarest/launcher/service.py
  antarest/main.py
  antarest/maintenance/context.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/service_creator.py
  antarest/singleton_services.py
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/storage/rawstudy/model/filesystem/json_file_node.py
Due: mypy, ruff-format, ruff-check

chore(deps): revert polars
  pyproject.toml
  uv.lock
Due: none

feat(scenario-builder): adapt to new ruleset
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/ruleset.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  tests/integration/test_integration.py
  tests/study/dao/test_database_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

chore(deps): fix breaking changes
  antarest/core/persistence.py
  antarest/core/serde/ini_reader.py
  antarest/launcher/service.py
  antarest/main.py
  antarest/maintenance/context.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/service_creator.py
  antarest/singleton_services.py
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/storage/rawstudy/model/filesystem/json_file_node.py
  pyproject.toml
  tests/integration/test_integration.py
  tests/integration/test_tasks.py
  uv.lock
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): remove useless test
  tests/study/dao/test_database_scenario_builder_dao.py
Due: ruff-format, ruff-check

fix some unit tests, give up on logs in fallback import
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/service.py
  antarest/study/output/storage/file_output_storage.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): fix
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
  antarest/core/exceptions.py
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

add more tests
  tests/study/output/file/test_file_output_storage.py
Due: ruff-format, ruff-check

fix(swagger): bug duplicated operation id
  antarest/core/swagger.py
  antarest/main.py
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(deps): update github actions
  .github/workflows/commitlint.yml
  .github/workflows/license-header.yml
  .github/workflows/main.yml
  .github/workflows/pr-title.yml
  .github/workflows/worker.yml
Due: none

directly use the dao to be faster
  antarest/core/persistence.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

rollback unwanted change
  antarest/core/persistence.py
Due: mypy, ruff-format, ruff-check

perf(craft): get `/data` endpoint answers as fast for variants and raw studies (#3066)
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

chore(deps): rename commitlint file
  commitlint.config.cjs
Due: none

chore(deps): rename commitlint file
  .github/workflows/pr-title.yml
Due: none

add benchark file
  tests/study/dao/bench_database_xpansion_dao.py
Due: ruff-format, ruff-check

add some tests, remove unused parameter in get_logs
  antarest/core/persistence.py
  antarest/launcher/service.py
  antarest/study/output/output_service.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  antarest/study/output/storage/v2_output_storage.py
  antarest/study/storage/utils.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/integration/test_integration.py
  tests/study/output/file/test_file_output_storage.py
Due: mypy, ruff-format, ruff-check

fix benchmark file
  tests/study/dao/bench_database_xpansion_dao.py
Due: ruff-format, ruff-check

chore(deps): update github actions (#3065)
  .github/workflows/commitlint.yml
  .github/workflows/license-header.yml
  .github/workflows/main.yml
  .github/workflows/pr-title.yml
  .github/workflows/worker.yml
  commitlint.config.cjs
Due: none

feat(scenario-builder): fix issues
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/models/ruleset.py
  tests/study/dao/test_database_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check
