Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

add exception at the import
  antarest/core/exceptions.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix import issue
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

bump study-version inside requirements
  requirements.txt
Due: none

do not scan study with wrong flag
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

first version of the front end for sts
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/utils.ts
  webapp/src/services/api/studies/tableMode/constants.ts
Due: mypy, ruff-format, ruff-check

initialize hydro inside the front end
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/utils.ts
Due: none

fix typo
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/utils.ts
Due: none

fix some npm linting
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/index.tsx
Due: none

prepare new matrices
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
Due: none

add little code for matrices
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

refacto(thermal): continue work on thermal cluster classes
  antarest/study/business/area_management.py
  antarest/study/business/areas/thermal_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/business/model/thermal_model.py
  antarest/study/business/table_mode_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  antarest/study/storage/variantstudy/model/command/create_cluster.py
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  antarest/study/storage/variantstudy/model/command/remove_cluster.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/test_integration.py
  tests/storage/business/test_arealink_manager.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/storage/repository/filesystem/test_scenariobuilder.py
  tests/storage/test_model.py
  tests/study/business/areas/test_thermal_management.py
  tests/variantstudy/model/command/test_create_cluster.py
  tests/variantstudy/model/command/test_manage_binding_constraints.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_remove_cluster.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

adapt st storage command
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
Due: mypy, ruff-format, ruff-check

little fix
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
Due: mypy, ruff-format, ruff-check

continue work inside front end
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
Due: none

fix lint inside one front file
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
Due: none

rename fields
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
Due: none

remove center
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
Due: none

improve lint
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

almost okay for lint
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

lint ok ?
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
Due: none

add all matrices v1 view
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

fix npm lint
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

add adequacy patch inside front end
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: none

add other preferecnes inside front
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
Due: none

add upgrader test
  tests/storage/business/test_study_version_upgrader.py
Due: ruff-format, ruff-check

fix one test
  tests/variantstudy/model/command/test_create_st_storage.py
Due: ruff-format, ruff-check

add test for matrices
  tests/variantstudy/model/command/test_create_st_storage.py
Due: ruff-format, ruff-check

fix db issues inside test
  antarest/dbmodel.py
  antarest/login/model.py
Due: mypy, ruff-format, ruff-check

cleaning
  antarest/login/model.py
Due: mypy, ruff-format, ruff-check

refacto(thermal): change version handling, add some tests
  antarest/study/business/model/thermal_model.py
  antarest/study/storage/variantstudy/model/command/create_cluster.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  tests/study/business/test_thermal_model.py
Due: mypy, ruff-format, ruff-check

chore(thermal): better code organization, add some design note
  antarest/study/business/area_management.py
  antarest/study/business/areas/thermal_management.py
  antarest/study/business/model/thermal_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  antarest/study/storage/variantstudy/model/command/create_cluster.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/study/business/test_thermal_model.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

try to make scan test work
  tests/storage/test_service.py
Due: ruff-format, ruff-check

chore(test): restore missing test files
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
Due: none

move methid
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

add unit test for flag method
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

miam miam
  antarest/core/exceptions.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/storage/business/test_raw_study_service.py
Due: mypy, ruff-format, ruff-check

add unit test for scanner
  tests/storage/test_service.py
Due: ruff-format, ruff-check

better solution
  antarest/dbmodel.py
  antarest/login/model.py
Due: mypy, ruff-format, ruff-check

typo
  antarest/login/model.py
Due: mypy, ruff-format, ruff-check

fix(db): fix relationship issues inside tests (#2429)
  antarest/dbmodel.py
Due: mypy, ruff-format, ruff-check
