Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(ui-studies): disable the creation of variants and launch of archived studies (#3224)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/dialogs/FormDialog.tsx
  webapp/src/routes/-shared/components/studies/StudyActionsMenu.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/Fields.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/LauncherMetrics.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/StudyList.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/utils.ts
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/BatchActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/DeleteStudiesDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/index.tsx
Due: none

feat(study): support copy, import and export on DB studies (#3220)
  antarest/study/dao/api/study_factory_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/file/file_study_factory_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/file_study_utils.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_service_interface.py
  antarest/study/storage/study_storage_interface.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/studies_blueprint.py
  tests/conftest.py
  tests/core/tasks/test_tasks_service.py
  tests/integration/studies_blueprint/test_import.py
  tests/integration/studies_blueprint/test_study_copy.py
  tests/integration/studies_blueprint/test_study_export.py
  tests/integration/studies_blueprint/utils.py
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
  tests/study/dao/test_garbage_collector.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

refactor(output): simplify `FileStudyOutputs` class (#3243)
  antarest/core/config.py
  antarest/output/adapters.py
  antarest/output/filestudy/file_output_utils.py
  antarest/output/service.py
  antarest/output/storage/file/storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/digest.py
  antarest/study/storage/rawstudy/model/helpers.py
  antarest/study/storage/utils.py
  antarest/study/web/studies_blueprint.py
  tests/integration/output/test_digest.py
  tests/output/storage/file/test_file_output_storage.py
  tests/output/storage/v2/test_v2_output_storage.py
  tests/output/test_output_service.py
  tests/storage/business/test_export.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_study_service_utils.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/output/model.py
  antarest/output/service.py
Due: mypy, ruff-format, ruff-check

feat(ui-reserves): add create delete and duplicate operations to reserves list (#3249)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/CreateReserveDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

refactor(gc): move the database matrix gc provider (#3235)
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

todo comment in download endpoint
  antarest/output/service.py
Due: mypy, ruff-format, ruff-check

feat(ui-reserves): add reserves list (#3241)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/GroupedDataTable/CreateDialog.tsx
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/route.tsx
  webapp/src/services/api/studies/config/optimization/types.ts
Due: none

feat(output): add new output storage mode (#3245)
  antarest/core/config.py
  antarest/output/adapters.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/file/in_study.py
  antarest/output/storage/file/out_of_study.py
  antarest/output/storage/output_storage.py
  antarest/service_creator.py
  docs/configuration.md
  tests/integration/assets/config.template.yml
  tests/integration/conftest.py
  tests/output/storage/file/test_file_output_storage.py
  tests/output/test_output_service.py
  tests/storage/business/test_export.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

fix(upgrade): remove usage of the cache for db studies (#3272)
  antarest/study/dao/file/file_study_factory_dao.py
  tests/study/storage/test_database_storage.py
Due: mypy, ruff-format, ruff-check

fix(ui-reserves): refresh table data on area change (#3256)
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

feat(variant): fetch whole tree in single request (#3225)
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/helpers.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/storage/business/test_repository.py
  tests/storage/business/test_variant_study_service.py
  webapp/src/services/api/studies/variants/index.ts
  webapp/src/services/api/studies/variants/types.ts
Due: mypy, ruff-format, ruff-check

refactor(reserves): adapt code to new file format (#3274)
  alembic/versions/f50e7ed59478_add_reserve_name_column.py
  antarest/study/business/model/reserve_definition_model.py
  antarest/study/dao/api/reserve_definition_dao.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/models/reserve_definition.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_definition.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/area_reserves.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/reserves_ini.py
  tests/study/business/model/test_reserve_definition_model.py
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_database_reserve_definition_dao.py
  tests/study/dao/test_empty_matrices.py
  tests/study/dao/test_garbage_collector.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/variantstudy/model/command/test_reserve_definition_commands.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

refactor(ui-reserves): load includeReserves flag via TanStack Query, apply read-only to all tabs (#3287)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

fix(api): harmonize usage of `response_model_exclude_none` (#3291)
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_advanced_parameters.py
  tests/integration/study_data_blueprint/test_config_general.py
Due: mypy, ruff-format, ruff-check

feat(favorite): endpoint returning all 3 types of favorites (#3293)
  antarest/dependencies.py
  antarest/favorite/model.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  antarest/service_creator.py
  tests/favorite_study/test_favorite_aggregate.py
  tests/integration/favorite_blueprint/test_favorite_aggregate.py
  tests/integration/favorite_blueprint/test_favorite_directory.py
  tests/integration/favorite_blueprint/test_favorite_study.py
Due: mypy, ruff-format, ruff-check

feat(original-file): support endpoint for db studies (#3268)
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/utils.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

feat(launcher): handle gracefully empty output (#3282)
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/exceptions.py
  antarest/launcher/service.py
  antarest/study/storage/utils.py
  tests/launcher/test_service.py
  tests/study/storage/test_utils.py
Due: mypy, ruff-format, ruff-check

fix(output, db): do not remove outputs inside study at import (#3251)
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  tests/integration/studies_blueprint/test_import.py
  tests/integration/studies_blueprint/test_import_directory.py
  tests/storage/business/test_import.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

fix(ui-reserves): prevent infinite re-render on Needs tab when area has no reserves (#3267)
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
Due: none

fix(config): revert allowing integers as group IDs (#3288)
  antarest/core/config.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): skip matrixindex call for custom-fetcher matrices (#3276)
  webapp/src/components/Matrix/hooks/useMatrixData.ts
Due: none

feat(study): support upgrade for db studies (#3269)
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  tests/integration/test_studies_upgrade.py
  tests/storage/business/test_export.py
  tests/study/service/test_service.py
  tests/study/storage/test_database_storage.py
Due: mypy, ruff-format, ruff-check

fix(output): support reading variables for `adequacy` simulations (#3262)
  antarest/output/filestudy/file_output_utils.py
  tests/integration/assets/output_adq.7z
  tests/integration/assets/output_adq.zip
  tests/integration/output/test_output_variables.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): add destination directory picker to import dialog (#3215)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/dialogs/UploadDialog.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/DirectoryList.tsx
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/index.tsx
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/styles.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/useRedirectToDestination.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/utils.ts
  webapp/src/routes/-shared/components/studies/dialogs/ImportStudyDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/utils.ts
  webapp/src/routes/_authenticated/studies/-components/HeaderActions/index.tsx
  webapp/src/services/api/study.ts
Due: none

chore(gunicorn): put back logs (#3284)
  conf/gunicorn-single.py
  conf/gunicorn.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): add external directories favorite (#3239)
  alembic/versions/80fdf2408ede_add_favorite_external_directory_table.py
  antarest/dependencies.py
  antarest/favorite/model.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  antarest/service_creator.py
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

feat(output, db)!: support downloading matrices (#3265)
  antarest/output/filestudy/utils.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  renovate.json
  tests/integration/raw_studies_blueprint/test_download_matrices.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

fix(import): issue when importing study in db mode with outputs in (#3271)
  antarest/output/storage/file/abstract_storage.py
Due: mypy, ruff-format, ruff-check

chore(study): remove todo related to old R scripts release (#3289)
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/storage/integration/study_converter/test_study_converter.py
Due: mypy, ruff-format, ruff-check

feat(output,db)!: support reading matrix indexes (#3253)
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/prepro/area/thermal/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  tests/integration/raw_studies_blueprint/test_download_matrices.py
  tests/integration/studies_blueprint/test_study_matrix_index.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/root/input/hydro/common/capacity/test_capacity.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.33.0 (2026-06-24)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  uv.lock
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

refactor(config): use pydantic when loading config (#3261)
  antarest/core/config.py
  antarest/core/logging/utils.py
  tests/core/remote/test_remote_executor.py
  tests/core/test_config.py
  tests/integration/launcher_blueprint/test_launcher_local.py
  tests/integration/maintenance_blueprint/test_disk_usage_log.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
  tests/storage/business/test_watcher.py
  tests/storage/test_config.py
  tests/study/storage/test_database_storage.py
Due: mypy, ruff-format, ruff-check

fix(studies): hide descendants toggle at external tree root (#3255)
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/FilterControls.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
Due: none

test(output, db): add aggregation tests for new storage mode (#3264)
  tests/integration/output/conftest.py
Due: ruff-format, ruff-check

feat(ui-outputs): add user column and refactor the view (#3221)
  antarest/output/filestudy/file_output_utils.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  tests/integration/output/test_output_blueprint.py
  tests/integration/output/test_v2_output_storage.py
  tests/output/storage/file/test_file_output_storage.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/outputs/keys.ts
  webapp/src/queries/outputs/mutations.ts
  webapp/src/queries/outputs/queries.ts
  webapp/src/routes/-shared/components/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/routes/-shared/components/studies/dialogs/ExportModal/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/JobStepper.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useDeleteStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDeleteBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-hooks/useStudyOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useArchiveOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useDeleteOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useUnarchiveOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
  webapp/src/routes/_authenticated/tasks/-components/LaunchJobLogView.tsx
  webapp/src/services/api/studies/outputs/index.ts
  webapp/src/services/api/studies/outputs/schemas.ts
  webapp/src/services/api/studies/outputs/types.ts
  webapp/src/services/api/study.ts
  webapp/src/services/api/tasks/types.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/services/webSocket/ws.ts
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

chore(doc): change old changelog msg
  docs/CHANGELOG.md
Due: none

feat(ui-reserves): add Needs tab with reserve matrix viewer (#3263)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

feat(ui-debug): hide the view for study without filesystem storage (#3278)
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
  webapp/src/services/utils/index.ts
  webapp/src/types/types.ts
Due: none
