Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix alembic migration merge
  alembic/versions/665f7b1d7575_add_thermal_reserve_.py
  alembic/versions/c88bcff025ef_create_thermal_symmetries_table.py
Due: ruff-format, ruff-check

remove R code not used anymore
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: mypy, ruff-format, ruff-check

remove legacy tests
  tests/storage/integration/study_converter/test_study_converter.py
Due: ruff-format, ruff-check

Revert "fix(config): fix file parsing issue (#3285)"
  antarest/core/config.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

rewrite test
  antarest/study/service.py
  tests/storage/integration/study_converter/test_study_converter.py
Due: mypy, ruff-format, ruff-check

chore(study): remove todo related to old R scripts release (#3289)
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/storage/integration/study_converter/test_study_converter.py
Due: mypy, ruff-format, ruff-check

move fixtures
  tests/conftest.py
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

c
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
Due: ruff-format, ruff-check

continue
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
Due: ruff-format, ruff-check

reproduce the bug
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
Due: ruff-format, ruff-check

finalize test that fails
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
Due: ruff-format, ruff-check

f
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
Due: ruff-format, ruff-check

tout est sous controle
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
Due: ruff-format, ruff-check

move TU
  tests/storage/integration/study_converter/test_study_converter_hydro_correlation.py
  tests/study/dao/test_database_hydro_dao.py
Due: ruff-format, ruff-check

test ok for fs
  tests/study/dao/test_database_hydro_dao.py
Due: ruff-format, ruff-check

fix the src code
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

simplify test
  tests/study/dao/test_database_hydro_dao.py
Due: ruff-format, ruff-check

review
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

refactor(ui-reserves): load includeReserves flag via TanStack Query, apply read-only to all tabs
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

fix(api): harmonize usage of response_model_exclude_none
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

fix tests
  tests/integration/study_data_blueprint/test_advanced_parameters.py
  tests/integration/study_data_blueprint/test_config_general.py
Due: ruff-format, ruff-check

fix(api): harmonize usage of `response_model_exclude_none` (#3291)
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_advanced_parameters.py
  tests/integration/study_data_blueprint/test_config_general.py
Due: mypy, ruff-format, ruff-check

fix(hydro): correlation issue for DB studies (#3290)
  antarest/study/dao/database/database_hydro_dao.py
  tests/conftest.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

remove useless function
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

simplify code
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

cleaning
  antarest/study/web/variant_blueprint.py
Due: mypy, ruff-format, ruff-check

review
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
Due: none

adapt test to new behavior
  antarest/study/service.py
  antarest/study/web/variant_blueprint.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: mypy, ruff-format, ruff-check

remove the checkbow from the front-end
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/index.tsx
  webapp/src/services/api/variant.ts
Due: none

add doc
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

add event bus notification
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

fix replace isuse
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

use shared method
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

move cod to utils
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

put eventbus code in common
  antarest/study/service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

feat(favorite_aggregate): added the aggregate method, checking for another tests to be done
  antarest/dependencies.py
  antarest/favorite/model.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  antarest/service_creator.py
  tests/favorite_study/test_favorite_aggregate.py
  tests/integration/favorite_blueprint/test_favorite_aggregate.py
Due: mypy, ruff-format, ruff-check

typo
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

separate data edtion from edtion
  antarest/study/service.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check
