Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

2 tests failing
  tests/storage/web/test_studies_bp.py
Due: ruff-format, ruff-check

fix test
  antarest/study/web/raw_studies_blueprint.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: mypy, ruff-format, ruff-check

refactor(advanced parameters): introduce dao and new classes design (#2628)
  antarest/study/business/advanced_parameters_management.py
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/business/optimization_management.py
  antarest/study/dao/api/advanced_parameters_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_advanced_parameters.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_optimization_preferences.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_advanced_parameters.py
  antarest/study/storage/variantstudy/model/command/update_general_config.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/integration/study_data_blueprint/test_advanced_parameters.py
  tests/variantstudy/model/command/test_update_advanced_parameters.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
  tests/variantstudy/test_command_factory.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
Due: mypy, ruff-format, ruff-check

resolve comments
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_candidate.py
Due: mypy, ruff-format, ruff-check

refactor(xpansion): implement dao and new class design for candidates (#2614)
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
  tests/storage/business/test_xpansion_manager.py
  tests/variantstudy/model/command/test_xpansion_candidates.py
Due: mypy, ruff-format, ruff-check

add src code and see if some test fail
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/series/area/st_storage/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
Due: mypy, ruff-format, ruff-check

add test
  tests/storage/business/test_optional_matrices.py
Due: ruff-format, ruff-check

remove useless fixture
  tests/storage/business/test_optional_matrices.py
Due: ruff-format, ruff-check

fix(matrix): don't raise when optional matrices don't exist (#2630)
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/series/area/st_storage/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  tests/storage/business/test_optional_matrices.py
Due: mypy, ruff-format, ruff-check

fix(matrix): don't raise when optional matrices don't exist
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/series/area/st_storage/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  tests/storage/business/test_optional_matrices.py
Due: mypy, ruff-format, ruff-check

add the field inside the front-end
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: none

typo
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

fix(matrix): don't raise when optional matrices don't exist (#2631)
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/series/area/st_storage/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  tests/storage/business/test_optional_matrices.py
Due: mypy, ruff-format, ruff-check

start writing src code
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
Due: mypy, ruff-format, ruff-check

resolve easy comments
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

try to resolve the 4th comment
  antarest/study/service.py
  antarest/study/web/raw_studies_blueprint.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

fix lint
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
Due: mypy, ruff-format, ruff-check

fixing 2 tests
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

also use default_empty when asking for original_content
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

1 test failing
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: ruff-format, ruff-check

rewrite method
  antarest/study/service.py
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

adapt test
  tests/storage/web/test_studies_bp.py
Due: ruff-format, ruff-check

feat(matrix): when denormalizing, only write content if it isn't the default one (#2632)
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

feat(matrix): add arrow format for input matrices inside GET `/raw` endpoint (#2624)
  antarest/core/exceptions.py
  antarest/study/service.py
  antarest/study/web/raw_studies_blueprint.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

chore(node): clean normalization / denormalization methods
  antarest/study/storage/rawstudy/model/filesystem/ini_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/raw_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/areas/list.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/output.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/grid.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/synthesis.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers_data.py
  tests/storage/repository/filesystem/test_lazy_node.py
  tests/storage/repository/filesystem/utils.py
Due: mypy, ruff-format, ruff-check

fix(outputs): allow study copy with archived outputs
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

chore(node): clean normalization / denormalization methods (#2633)
  antarest/study/storage/rawstudy/model/filesystem/ini_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/raw_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/areas/list.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/output.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/grid.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/synthesis.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers_data.py
  tests/storage/repository/filesystem/test_lazy_node.py
  tests/storage/repository/filesystem/utils.py
Due: mypy, ruff-format, ruff-check

add test
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fix(outputs): allow study copy with archived outputs (#2634)
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

feat(ui-api): add storage additional constraints functions
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
  webapp/src/utils/tsUtils.ts
Due: none

feat(ui-api): add storage additional constraints functions (#2610)
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
  webapp/src/utils/tsUtils.ts
Due: none

add skeleton
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/thematic_trimming_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_thematic_trimming_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

add GET method
  antarest/study/business/thematic_trimming_management.py
  antarest/study/dao/file/file_study_thematic_trimming_dao.py
Due: mypy, ruff-format, ruff-check

rename methods
  antarest/study/business/thematic_trimming_management.py
  antarest/study/web/study_data_blueprint.py
  tests/storage/business/test_config_manager.py
Due: mypy, ruff-format, ruff-check

create command
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/business/thematic_trimming_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_thematic_trimming.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

finalize first draft
  antarest/study/dao/file/file_study_thematic_trimming_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
Due: mypy, ruff-format, ruff-check

add sts rule for scenario builder
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/scenariobuilder.py
  tests/storage/repository/filesystem/config/test_ruleset_matrices.py
  webapp/public/locales/en/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
Due: mypy, ruff-format, ruff-check

create an update class to do like other daos
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/business/thematic_trimming_management.py
  antarest/study/dao/file/file_study_thematic_trimming_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  antarest/study/storage/variantstudy/model/command/update_thematic_trimming.py
  antarest/study/web/study_data_blueprint.py
  tests/storage/business/test_config_manager.py
Due: mypy, ruff-format, ruff-check

add test command factory
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

add error case test
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  antarest/study/storage/variantstudy/model/command/update_thematic_trimming.py
  tests/variantstudy/model/command/test_update_thematic_trimming.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
