Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix wrong import
  tests/integration/output/test_v2_output_storage.py
  tests/integration/studies_blueprint/test_study_export.py
Due: ruff-format, ruff-check

fix local date in CI again
  tests/integration/output/test_v2_output_storage.py
Due: ruff-format, ruff-check

fix new route
  antarest/output/routes.py
Due: mypy, ruff-format, ruff-check

feat(ui): persist tree section collapse and update styles
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/styles.ts
Due: none

fix(ui): use flex layout to constrain study tree sections within pane height
  webapp/src/components/CustomScrollbar/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/routes/_authenticated/studies/index.tsx
Due: none

fix(ui): cap managed section height to keep external tree visible
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
Due: none

fix(ui-studies): cap explorer sections height to keep external tree visible (#3097)
  webapp/src/components/CustomScrollbar/index.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/styles.ts
  webapp/src/routes/_authenticated/studies/index.tsx
Due: none

feat(watcher): optimize folder scanning
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

feat(watcher): optimize folder scanning
  antarest/study/storage/rawstudy/watcher.py
Due: mypy, ruff-format, ruff-check

feat(watcher): optimize folder scanning
  antarest/core/config.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

fix import in test
  tests/storage/integration/test_exporter.py
Due: ruff-format, ruff-check

feat(watcher): optimize folder scanning
  antarest/study/storage/utils.py
  tests/study/storage/test_utils.py
Due: mypy, ruff-format, ruff-check

feat(output): fix feedback
  antarest/output/output_service.py
  antarest/output/utils.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/web/raw_studies_blueprint.py
  tests/output/test_utils.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

feat(output): lint
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

denylist set in a fastapi dependency
  antarest/core/dependencies.py
  antarest/eventbus/web.py
  antarest/login/auth.py
  antarest/login/main.py
  antarest/login/web.py
  antarest/service_creator.py
Due: mypy, ruff-format, ruff-check

remove dependency from routes to config, config and auth injected as dependencies
  antarest/core/core_blueprint.py
  antarest/core/dependencies.py
  antarest/core/filesystem_blueprint.py
  antarest/core/filetransfer/web.py
  antarest/core/maintenance/web.py
  antarest/core/tasks/web.py
  antarest/eventbus/web.py
  antarest/favorite/web.py
  antarest/launcher/web.py
  antarest/login/web.py
  antarest/main.py
  antarest/matrixstore/web.py
  antarest/output/output_blueprint.py
  antarest/study/web/directory_blueprint.py
  antarest/study/web/explorer_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/watcher_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/core/test_utils_bp.py
  tests/integration/conftest.py
  tests/launcher/test_web.py
  tests/login/test_web.py
  tests/matrixstore/test_web.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/integration/test_exporter.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

feat(output): fix issues
  antarest/output/output_service.py
  antarest/study/adapters.py
  antarest/study/service.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

feat(output): fix issues
  antarest/output/output_service.py
  antarest/study/adapters.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/eventbus/web.py
  antarest/login/auth.py
  antarest/main.py
  tests/core/test_auth.py
Due: mypy, ruff-format, ruff-check

replace unit tests with intergation test
  tests/core/test_auth.py
  tests/integration/login/__init__.py
  tests/integration/login/test_auth.py
Due: ruff-format, ruff-check

fix some unit tests
  tests/matrixstore/test_web.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/integration/test_exporter.py
  tests/storage/web/test_studies_bp.py
Due: ruff-format, ruff-check

wip
  alembic/versions/3a7f9c2d1e8b_add_xpansion_tables.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/database/database_xpansion_dao.py
  antarest/study/dao/database/models/xpansion.py
  tests/study/dao/test_database_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

better tests
  tests/study/dao/test_database_xpansion_dao.py
Due: ruff-format, ruff-check

improve init time again
  antarest/core/dependencies.py
  antarest/core/utils/fastapi_sqlalchemy/middleware.py
  antarest/main.py
  antarest/maintenance/context.py
  antarest/singleton_services.py
  tests/conftest_db.py
  tests/core/test_maintenance.py
  tests/integration/conftest.py
  tests/launcher/test_service.py
  tests/login/test_ldap.py
  tests/login/test_web.py
  tests/matrixstore/test_web.py
  tests/storage/business/test_watcher.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/web/test_output_bp.py
Due: mypy, ruff-format, ruff-check

fix unit test leaking
  antarest/main.py
  pyproject.toml
  tests/integration/login/test_auth.py
Due: mypy, ruff-format, ruff-check

fix related to signature change for fastapi_app
  antarest/desktop/systray_app.py
  antarest/wsgi.py
  tests/integration/conftest.py
Due: mypy, ruff-format, ruff-check

fix(study): fix archiving and unarchiving timeout
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix(study): avoid detached instance during unarchive
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

use annotated types for dependencies
  antarest/core/core_blueprint.py
  antarest/core/dependencies.py
  antarest/core/filesystem_blueprint.py
  antarest/core/filetransfer/web.py
  antarest/core/maintenance/web.py
  antarest/core/tasks/web.py
  antarest/eventbus/web.py
  antarest/favorite/web.py
  antarest/launcher/web.py
  antarest/login/web.py
  antarest/matrixstore/web.py
  antarest/output/output_blueprint.py
  antarest/study/web/directory_blueprint.py
  antarest/study/web/explorer_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/watcher_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

make auth dependency work for websockets
  antarest/core/dependencies.py
Due: mypy, ruff-format, ruff-check

remove dead code
  tests/integration/conftest.py
Due: ruff-format, ruff-check

add some docstring
  antarest/core/dependencies.py
  antarest/main.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
