Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix(output): remove useless test
  antarest/output/service.py
  antarest/output/storage/v2/converter.py
Due: mypy, ruff-format, ruff-check

fix(db): allow db studies to be renamed
  antarest/study/business/study_interface.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: mypy, ruff-format, ruff-check

fix(output): add method to mutualise mapping
  antarest/output/filestudy/file_output_utils.py
  antarest/output/filestudy/utils.py
  antarest/output/storage/v2/converter.py
Due: mypy, ruff-format, ruff-check

fix(output): renameconverter file to variable_storages
  antarest/output/storage/v2/storage.py
  antarest/output/storage/v2/variables_storage.py
  tests/output/storage/v2/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

fix alos the owner change
  antarest/study/service.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: mypy, ruff-format, ruff-check

fix(output): introduce utils file with common method
  antarest/output/filestudy/aggregator_management.py
  antarest/output/storage/v2/variables_storage.py
  antarest/output/utils.py
Due: mypy, ruff-format, ruff-check

fix(parquet): write parquet files by larger batches
  antarest/core/serde/parquet_writer.py
Due: mypy, ruff-format, ruff-check

fix(output): misc
  antarest/output/storage/v2/variables_storage.py
Due: mypy, ruff-format, ruff-check

add some unit tests
  tests/core/serde/test_parquet_writer.py
Due: ruff-format, ruff-check

fix other unit test
  tests/core/serde/test_parquet_writer.py
Due: ruff-format, ruff-check

feat(output): add unit tests for aggregation with v2 storage
  tests/integration/output/conftest.py
  tests/integration/output/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

review
  webapp/src/components/Fieldset.tsx
Due: none

add test for close
  tests/core/serde/test_parquet_writer.py
Due: ruff-format, ruff-check

fix failing tets
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

feat(output): fix aggregation tests
  tests/integration/output/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

feat(output): fix aggregation tests
  tests/integration/output/conftest.py
  tests/integration/output/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

feat(output): fix aggregation tests
  tests/integration/output/conftest.py
Due: ruff-format, ruff-check

feat(study): synthesis db mode
  antarest/study/business/study_interface.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/dao/test_database_synthesis_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-thermal): allow to collapse 'Other emission rates' fields (#3134)
  webapp/src/components/Fieldset.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/parameters.tsx
Due: none

continue work
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: mypy, ruff-format, ruff-check

Update antarest/core/serde/parquet_writer.py
  antarest/core/serde/parquet_writer.py
Due: mypy, ruff-format, ruff-check

fix tag test
  antarest/study/service.py
  tests/integration/studies_blueprint/test_update_tags.py
Due: mypy, ruff-format, ruff-check

fix snapshot generator test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

fix UT
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(output): fix dataframe memory issues
  antarest/output/storage/v2/storage.py
  antarest/output/storage/v2/variables_storage.py
  tests/integration/output/test_output_variables.py
  tests/output/storage/v2/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

move dataclass
  antarest/study/business/study_interface.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/model.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix(parquet): ensure reasonably large row group size (#3137)
  antarest/core/serde/parquet_writer.py
  tests/core/serde/test_parquet_writer.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/matrixstore/in_memory.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_binding_constraint_dao.py
  tests/study/dao/test_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

refactor(variants): use the dao instead of FileStudy
  antarest/study/dao/file/file_study_dao.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): hide delete button for external studies
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/BatchActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
Due: none

feat(disk_space_analyzer): added cron to disk_usage_log/_space_analyzer tasks and corrected error on analysis list
  alembic/versions/81typ5zz6v1y_add_study_disk_space_analysis_table.py
  antarest/core/config.py
  antarest/maintenance/app.py
  antarest/maintenance/tasks/disk_space_analyzer.py
  antarest/maintenance/tasks/disk_space_analyzer_task.py
  antarest/maintenance/tasks/disk_usage_log_task.py
  antarest/study/model.py
  antarest/study/repository.py
  tests/integration/maintenance_blueprint/test_disk_space_analyzer.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

Potential fix for pull request finding 'Unreachable code'
  antarest/maintenance/tasks/disk_usage_log_task.py
Due: mypy, ruff-format, ruff-check

feat(disk_space_analyzer): added cron to disk_usage_log/_space_analyzer tasks and corrected error on analysis list
  antarest/maintenance/tasks/disk_space_analyzer_task.py
Due: mypy, ruff-format, ruff-check

feat(disk_space_analyzer): reformatted code
  antarest/maintenance/tasks/disk_usage_log_task.py
Due: mypy, ruff-format, ruff-check

fix bug
  antarest/study/dao/file/file_study_factory_dao.py
Due: mypy, ruff-format, ruff-check

change comment
  antarest/study/dao/file/file_study_factory_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): hide delete button for external studies (#3139)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/BatchActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
Due: none

remove useless tests
  antarest/study/storage/utils.py
  tests/study/storage/test_utils.py
Due: mypy, ruff-format, ruff-check

remove dead code
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check
