Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

review
  webapp/src/components/FormDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditGlobalParametersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditReserveDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

sync GroupedDataTable rows when data prop changes externally
  webapp/src/components/GroupedDataTable/GroupedDataTable.test.tsx
  webapp/src/components/GroupedDataTable/index.tsx
Due: none

feat(ui-reserves): add FormDrawer component for editing reserves
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/FormDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditReserveDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

remove from the deps
  pyproject.toml
  uv.lock
Due: none

start removing py7zr package
  antarest/core/exceptions.py
  antarest/core/utils/archives.py
  antarest/matrixstore/service.py
  antarest/study/storage/rawstudy/model/filesystem/ini_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/areas/list.py
  tests/storage/repository/filesystem/test_ini_file_node.py
  tests/storage/repository/filesystem/test_yaml_file_node.py
Due: mypy, ruff-format, ruff-check

modif
  antarest/core/utils/archives.py
Due: mypy, ruff-format, ruff-check

continue removing py7zr code
  antarest/core/utils/archives.py
  tests/storage/repository/filesystem/test_ini_file_node.py
  tests/storage/repository/filesystem/test_yaml_file_node.py
Due: mypy, ruff-format, ruff-check

remove usecase
  antarest/core/exceptions.py
  antarest/core/utils/archives.py
  antarest/matrixstore/service.py
  tests/storage/repository/filesystem/test_ini_file_node.py
  tests/storage/repository/filesystem/test_yaml_file_node.py
Due: mypy, ruff-format, ruff-check

remove 7z in a test
  tests/integration/raw_studies_blueprint/assets/output_downloads_list/res1.7z
  tests/integration/raw_studies_blueprint/assets/output_downloads_list/res1.zip
  tests/integration/raw_studies_blueprint/test_download_outputs.py
Due: ruff-format, ruff-check

a
  tests/storage/business/test_import.py
Due: ruff-format, ruff-check

remove another usage of 7z
  tests/core/utils/test_extract_zip.py
Due: ruff-format, ruff-check

feat(ui-reserves): add FormDrawer component for editing reserves (#3294)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/FormDrawer.tsx
  webapp/src/components/GroupedDataTable/GroupedDataTable.test.tsx
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditGlobalParametersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditReserveDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/services/api/studies/areas/reserves/schemas.ts
Due: none

continue
  tests/storage/integration/conftest.py
  tests/storage/integration/test_exporter.py
Due: ruff-format, ruff-check

modify test accroding to breaking change
  tests/integration/assets/matrices.7z
  tests/integration/studies_blueprint/test_import.py
Due: ruff-format, ruff-check

should be almost done
  tests/core/utils/test_archive_dir.py
Due: ruff-format, ruff-check

fix(ui): prevent infinite update loop in GroupedDataTable prop sync
  webapp/src/components/GroupedDataTable/GroupedDataTable.test.tsx
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/index.tsx
Due: none

refactor test archive dir
  tests/core/utils/test_archive_dir.py
Due: ruff-format, ruff-check

fix(ui): prevent infinite update loop in GroupedDataTable prop sync (#3297)
  webapp/src/components/GroupedDataTable/GroupedDataTable.test.tsx
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/index.tsx
Due: none

resolve comment
  antarest/core/utils/archives.py
Due: mypy, ruff-format, ruff-check

refactor(archive)!: drop `py7zr` library (#3296)
  antarest/core/exceptions.py
  antarest/core/utils/archives.py
  antarest/matrixstore/service.py
  antarest/study/storage/rawstudy/model/filesystem/ini_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/areas/list.py
  pyproject.toml
  tests/core/utils/test_archive_dir.py
  tests/core/utils/test_extract_zip.py
  tests/integration/assets/matrices.7z
  tests/integration/raw_studies_blueprint/assets/output_downloads_list/res1.7z
  tests/integration/raw_studies_blueprint/assets/output_downloads_list/res1.zip
  tests/integration/raw_studies_blueprint/test_download_outputs.py
  tests/integration/studies_blueprint/test_import.py
  tests/storage/business/test_import.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_exporter.py
  tests/storage/repository/filesystem/test_ini_file_node.py
  tests/storage/repository/filesystem/test_yaml_file_node.py
  uv.lock
Due: mypy, ruff-format, ruff-check

remove dead code
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
Due: mypy, ruff-format, ruff-check

cleaning
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

remove other endpoint
  antarest/study/web/variant_blueprint.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: mypy, ruff-format, ruff-check

cleaning now unused code
  antarest/study/service.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

finish cleaning
  antarest/study/storage/variantstudy/variant_command_generator.py
Due: mypy, ruff-format, ruff-check

simplify
  antarest/study/storage/variantstudy/variant_command_generator.py
Due: mypy, ruff-format, ruff-check

f
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

extract generation code
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

remove safe_generation code
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/matrixstore/test_matrix_usage_providers.py
Due: mypy, ruff-format, ruff-check

fix the db session issue
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

continue simplification
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

adapt test
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: ruff-format, ruff-check

adapt test
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

test failing but parametrized
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

c
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

separate tests
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

use feather format to speed up
  resources/application.yaml
Due: none

also use feather inside tests
  tests/conftest_services.py
Due: ruff-format, ruff-check

remove implem
  antarest/matrixstore/service.py
  tests/conftest_services.py
  tests/storage/integration/conftest.py
  tests/study/storage/variantstudy/business/test_matrix_constants_generator.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
