Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix(ui-xpansion): some fields not saving (#3382)
  webapp/src/routes/_authenticated/studies/$studyId/explore/xpansion/-shared/types.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/xpansion/candidates/-components/CandidateForm.tsx
Due: none

refactor(config): type export_mps as ExportMPS enum instead of str
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  tests/study/dao/test_database_settings_dao.py
Due: mypy, ruff-format, ruff-check

remove useless parsing
  antarest/study/dao/database/database_study_settings_dao.py
Due: mypy, ruff-format, ruff-check

create alembic migration
  alembic/versions/0974bca4078d_create_gems_library_tables.py
Due: ruff-format, ruff-check

new file
  antarest/study/dao/database/models/gems/__init__.py
  antarest/study/dao/database/models/gems/library.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/business/model/gems/library.py
Due: mypy, ruff-format, ruff-check

rename tables
  alembic/versions/0974bca4078d_create_gems_library_tables.py
  antarest/study/business/model/gems/library.py
  antarest/study/dao/database/models/gems/library.py
Due: mypy, ruff-format, ruff-check

c
  alembic/versions/0974bca4078d_create_gems_library_tables.py
  antarest/study/business/model/gems/library.py
  antarest/study/dao/database/models/gems/library.py
Due: mypy, ruff-format, ruff-check

add txonoomy
  alembic/versions/0974bca4078d_create_gems_library_tables.py
  antarest/study/dao/database/models/gems/library.py
Due: mypy, ruff-format, ruff-check

finalize models v1
  antarest/study/business/model/gems/library.py
Due: mypy, ruff-format, ruff-check

adapt DB shcema
  alembic/versions/0974bca4078d_create_gems_library_tables.py
  antarest/study/dao/database/models/gems/library.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/api/gems_library_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/api/study_dao.py
Due: mypy, ruff-format, ruff-check

ia code
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

remove the delete code
  antarest/core/exceptions.py
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

remove usage of upsert
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

stop using aliases where they are not needed
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

move docstring
  antarest/study/dao/api/gems_library_dao.py
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

add the conversion code
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_gems_library_dao.py
Due: mypy, ruff-format, ruff-check

finalize file_study implem
  antarest/study/dao/file/file_study_gems_library_dao.py
Due: mypy, ruff-format, ruff-check

enrich the library
  antarest/study/business/model/gems/library.py
Due: mypy, ruff-format, ruff-check

add the new fields, relative to hybrid mode
  alembic/versions/0974bca4078d_create_gems_library_tables.py
  antarest/study/dao/database/models/gems/library.py
Due: mypy, ruff-format, ruff-check

try to fix DB code
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

add real test case library
  tests/study/dao/assets/gems/libraries/8_1_simulator_nr_tests.yml
Due: none

make field optional
  antarest/study/business/model/gems/library.py
Due: mypy, ruff-format, ruff-check

move fixture to use it
  tests/study/dao/file/conftest.py
  tests/study/dao/file/test_filestudy_hydro_reserves_dao.py
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check

fix conftest issue
  tests/study/dao/file/conftest.py
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check

f
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check

test fails when it should succeed
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_gems_library_dao.py
Due: mypy, ruff-format, ruff-check

start fixing
  antarest/study/business/model/gems/library.py
Due: mypy, ruff-format, ruff-check

test is now ok
  antarest/study/business/model/gems/library.py
Due: mypy, ruff-format, ruff-check

put verfiication code in a function$
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check
