Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

Update tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: ruff-format, ruff-check

save
  webapp/src/components/common/Form/types.ts
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

feat(dao): add several missing methods (#2825)
  antarest/core/exceptions.py
  antarest/study/dao/api/area_dao.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/link_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/user_resources_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/file/file_study_user_resources_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  tests/bucket/12dfbbbd4b11847de5b30f99f44f99b20fc40ed296d95e43c328e58210050416
  tests/integration/raw_studies_blueprint/test_download_matrices.py
  tests/study/business/dao/__init__.py
  tests/study/business/dao/test_file_study_dao.py
  tests/variantstudy/model/command/test_create_area.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_update_hydro_management.py
Due: mypy, ruff-format, ruff-check

add code for user resources and links
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

add load solar
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

finalize src code
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

test passes
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

a
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

create method
  antarest/core/filetransfer/service.py
  antarest/core/tasks/service.py
  antarest/core/utils/utils.py
  antarest/study/repository.py
  antarest/study/storage/auto_archive_service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  tests/conftest_services.py
  tests/core/tasks/test_tasks_db_model.py
  tests/core/tasks/test_tasks_service.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
  tests/storage/business/test_autoarchive_service.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/conftest.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_abstract_storage_service.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/launcher/service.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/matrixstore/service.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/tools/admin_lib.py
  tests/core/tasks/test_fix_tasks_status.py
  tests/launcher/test_service.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/storage/business/test_watcher.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/test_utils.py
Due: mypy, ruff-format, ruff-check

fix recursion issue
  antarest/core/utils/utils.py
Due: mypy, ruff-format, ruff-check

fixing one test
  tests/storage/business/test_watcher.py
Due: ruff-format, ruff-check

fix(matrix): use open with truncate instead of touch (#2853)
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fixing one test
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

should fix last test
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

chore(datetime): introduce an utils method to get current datetime (#2855)
  antarest/core/filetransfer/service.py
  antarest/core/tasks/service.py
  antarest/core/utils/utils.py
  antarest/launcher/service.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/matrixstore/service.py
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/auto_archive_service.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/tools/admin_lib.py
  tests/conftest_services.py
  tests/core/tasks/test_fix_tasks_status.py
  tests/core/tasks/test_tasks_db_model.py
  tests/core/tasks/test_tasks_service.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/launcher/test_service.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
  tests/storage/business/test_autoarchive_service.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_watcher.py
  tests/storage/conftest.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_abstract_storage_service.py
  tests/study/storage/test_utils.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

fix(variants): use debounce to refresh study
  webapp/src/services/webSocket/ws.ts
Due: none

creating new endpoint
  antarest/core/tasks/model.py
  antarest/study/business/output/variables_management.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

adapt integration test
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: ruff-format, ruff-check

fix test succeeding
  tests/study/business/test_variables_manager.py
Due: ruff-format, ruff-check

fix UTs
  antarest/study/business/output/variables_management.py
  antarest/study/storage/output_service.py
  tests/study/business/test_variables_manager.py
Due: mypy, ruff-format, ruff-check

fix import issue
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: ruff-format, ruff-check

put args not optional
  antarest/study/business/study_interface.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_user_resources_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

remove the weird instantiation
  antarest/study/business/study_interface.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix code for xpansion
  antarest/study/dao/study_conversion/study_converter.py
  tests/storage/integration/test_study_converter.py
Due: mypy, ruff-format, ruff-check

add hydro test
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

remove unused exception
  antarest/core/exceptions.py
  tests/storage/integration/test_study_converter.py
Due: mypy, ruff-format, ruff-check

add version check
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

add thermal test
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

add test for link series
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

add totos
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

simplify test
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

still simplifiy
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

add load test
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

add themal series tes
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

start settings
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

almost done
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

finalize UT
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

change msg
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
