Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix(ui): refetch districts after area changes to prevent invalid state
  webapp/src/redux/ducks/studyMaps.ts
Due: none

harmonize windows check
  antarest/study/storage/explorer_service.py
Due: mypy, ruff-format, ruff-check

fix(ui): refetch districts after area changes to prevent invalid state (#2909)
  webapp/src/redux/ducks/studyMaps.ts
Due: none

refactor(output)!: use aggregation code inside `/download` imagrid endpoint (#2868)
  antarest/study/business/output/aggregator_management.py
  antarest/study/business/output/utils.py
  antarest/study/model.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
  antarest/study/output/study_download_utils.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/assets/output_downloads_list/res1.7z
  tests/integration/raw_studies_blueprint/test_download_outputs.py
  tests/output/test_output_service.py
  tests/storage/business/test_study_service_utils.py
  tests/storage/web/test_output_bp.py
Due: mypy, ruff-format, ruff-check

harmonize platform check
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/study/storage/explorer_service.py
  tests/integration/conftest.py
  tests/integration/test_studies_upgrade.py
  tests/integration/utils.py
  tests/launcher/test_local_launcher.py
  tests/storage/business/test_explorer_service.py
Due: mypy, ruff-format, ruff-check

remove useless type ignore
  antarest/study/storage/explorer_service.py
Due: mypy, ruff-format, ruff-check

remove useless class
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

remove unused method
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

little refacto
  antarest/study/main.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/main.py
Due: mypy, ruff-format, ruff-check

little refacto
  antarest/study/main.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

add matrix_service inside instantiation
  antarest/study/main.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/conftest_services.py
  tests/storage/business/test_import.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_variant_study_service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

create utils function and remove type ignore
  antarest/study/business/study_interface.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/helpers.py
  tests/storage/business/conftest.py
  tests/storage/business/test_arealink_manager.py
  tests/storage/business/test_config_manager.py
  tests/storage/business/test_timeseries_config_manager.py
  tests/storage/business/test_xpansion_manager.py
  tests/study/business/areas/test_hydro_management.py
  tests/study/business/areas/test_st_storage_management.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/test_adequacy_patch_manager.py
  tests/study/business/test_allocation_manager.py
  tests/study/business/test_correlation_manager.py
  tests/study/business/test_district_manager.py
  tests/study/business/test_optimization_parameters_manager.py
  tests/study/business/test_playlist_manager.py
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
  tests/variantstudy/model/command/test_update_thematic_trimming.py
Due: mypy, ruff-format, ruff-check

use not in memory matrix service
  tests/conftest_services.py
Due: ruff-format, ruff-check

make test work
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

add link on cluster table
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modelization/areas/$areaId/thermals/index.tsx
Due: none

feat(ui): move study details inline with breadcrumb and simplify display
  webapp/src/components/App/Singlestudy/NavHeader/Actions.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Details.tsx
  webapp/src/components/App/Singlestudy/NavHeader/index.tsx
Due: none

feat(ui): move study details inline with breadcrumb and simplify display (#2908)
  webapp/src/components/App/Singlestudy/NavHeader/Actions.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Details.tsx
  webapp/src/components/App/Singlestudy/NavHeader/index.tsx
Due: none

remove study download level DTO enum, duplicate of matrix frequency
  antarest/core/serde/matrix_export.py
  antarest/study/business/output/aggregator_management.py
  antarest/study/business/output/utils.py
  antarest/study/business/output/variables_management.py
  antarest/study/model.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_model.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/prepro/area/thermal/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/binding_const.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/link.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/set.py
  antarest/study/storage/utils.py
  antarest/study/web/output_blueprint.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/storage/business/test_study_service_utils.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/matrix/test_output_series_matrix.py
  tests/storage/repository/filesystem/root/input/hydro/common/capacity/test_capacity.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_area.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_binding_const.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_link.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_set.py
Due: mypy, ruff-format, ruff-check

feat(variables): implement export format in GET endpoint
  antarest/study/output/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/output_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

minor fixes
  antarest/study/output/output_service.py
Due: mypy, ruff-format, ruff-check

fix study creation/deletion bugs
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/dialogs/DeleteStudyDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/CreateVariantDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/CreateStudyDialog.tsx
  webapp/src/services/webSocket/ws.ts
Due: none

add eslint plugin for router
  webapp/eslint.config.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/services/webSocket/ws.ts
Due: none

remove react-router lib
  webapp/package-lock.json
  webapp/package.json
Due: none

change env values
  webapp/.env.development
Due: none

make output storages a list
  antarest/matrixstore/model.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/explorer_blueprint/test_explorer.py
  tests/integration/test_integration.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
  tests/storage/business/test_watcher.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

rename Results to Ouputs
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/TableMode.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Text.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/ClusterSelector.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/MonteCarloModeSelector.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/VariableSelector.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultMatrixViewer/ResultMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultMatrixViewer/VariableMatrix/ProcessButton.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultMatrixViewer/VariableMatrix/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/SynthesisViewer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-hooks/useVariablePerVariable.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
Due: none

move
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Areas/common/clustersUtils.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/Renewables/RenewableConfig/RenewableForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/Renewables/RenewableConfig/RenewableMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/Renewables/RenewableConfig/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/Renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/Renewables/utils.ts
Due: none

move
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/index.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/route.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/RenewableForm.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/parameters.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/RenewableMatrix.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/time-series.tsx
Due: none

* new routes area renewables view
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Areas/common/clustersUtils.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/time-series.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/time-series/availability.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/time-series/co2-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/time-series/common.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/time-series/fuel-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/time-series/ts-generator.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/route.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/index.tsx
Due: none

blob storage: wip
  antarest/study/output/blob_storage.py
  antarest/study/output/parquet_output_storage.py
Due: mypy, ruff-format, ruff-check

add condition for area renewable
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/$renewableId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
  webapp/src/types/types.ts
Due: none
