Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

4 tests failing
  tests/storage/test_service.py
Due: ruff-format, ruff-check

remove useless permission check
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix(matrixstore): ensure we can read legacy null matrix (#2465)
  antarest/matrixstore/parsing.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  tests/matrixstore/test_repository.py
Due: mypy, ruff-format, ruff-check

all tests OK, todo: remove middleware
  antarest/core/filetransfer/web.py
  antarest/core/maintenance/web.py
  antarest/core/tasks/web.py
  antarest/launcher/web.py
  antarest/login/main.py
  antarest/login/web.py
  antarest/matrixstore/web.py
  antarest/study/main.py
  antarest/study/web/explorer_blueprint.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/watcher_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

all tests KO but no middleware
  antarest/core/filesystem_blueprint.py
  antarest/core/filetransfer/web.py
  antarest/core/maintenance/web.py
  antarest/core/tasks/web.py
  antarest/launcher/web.py
  antarest/login/auth.py
  antarest/login/utils.py
  antarest/login/web.py
  antarest/main.py
  antarest/matrixstore/web.py
  antarest/study/web/explorer_blueprint.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/watcher_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(ui-settings): style issues in form dialogs
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Settings/Groups/Header.tsx
  webapp/src/components/App/Settings/Groups/dialog/CreateGroupDialog.tsx
  webapp/src/components/App/Settings/Groups/dialog/GroupFormDialog/GroupForm.tsx
  webapp/src/components/App/Settings/Groups/dialog/GroupFormDialog/index.tsx
  webapp/src/components/App/Settings/Groups/dialog/UpdateGroupDialog.tsx
  webapp/src/components/App/Settings/Groups/dialog/utils.ts
  webapp/src/components/App/Settings/Groups/index.tsx
  webapp/src/components/App/Settings/Tokens/Header.tsx
  webapp/src/components/App/Settings/Tokens/dialog/CreateTokenDialog.tsx
  webapp/src/components/App/Settings/Tokens/dialog/ReadTokenDialog.tsx
  webapp/src/components/App/Settings/Tokens/dialog/TokenFormDialog/TokenForm.tsx
  webapp/src/components/App/Settings/Tokens/dialog/TokenFormDialog/index.tsx
  webapp/src/components/App/Settings/Tokens/dialog/TokenInfoDialog.tsx
  webapp/src/components/App/Settings/Tokens/dialog/utils.ts
  webapp/src/components/App/Settings/Tokens/index.tsx
  webapp/src/components/App/Settings/Users/Header.tsx
  webapp/src/components/App/Settings/Users/dialog/CreateUserDialog.tsx
  webapp/src/components/App/Settings/Users/dialog/UpdateUserDialog.tsx
  webapp/src/components/App/Settings/Users/dialog/UserFormDialog/UserForm.tsx
  webapp/src/components/App/Settings/Users/dialog/UserFormDialog/index.tsx
  webapp/src/components/App/Settings/Users/dialog/utils.ts
  webapp/src/components/App/Settings/Users/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/Fields/TypeConfigFields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/Fields/index.tsx
  webapp/src/components/common/DataGridForm.tsx
  webapp/src/components/common/Form/index.tsx
Due: none

fix(ui-settings): style issues in form dialogs (#2468)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Settings/Groups/Header.tsx
  webapp/src/components/App/Settings/Groups/dialog/CreateGroupDialog.tsx
  webapp/src/components/App/Settings/Groups/dialog/GroupFormDialog/GroupForm.tsx
  webapp/src/components/App/Settings/Groups/dialog/GroupFormDialog/index.tsx
  webapp/src/components/App/Settings/Groups/dialog/UpdateGroupDialog.tsx
  webapp/src/components/App/Settings/Groups/dialog/utils.ts
  webapp/src/components/App/Settings/Groups/index.tsx
  webapp/src/components/App/Settings/Tokens/Header.tsx
  webapp/src/components/App/Settings/Tokens/dialog/CreateTokenDialog.tsx
  webapp/src/components/App/Settings/Tokens/dialog/ReadTokenDialog.tsx
  webapp/src/components/App/Settings/Tokens/dialog/TokenFormDialog/TokenForm.tsx
  webapp/src/components/App/Settings/Tokens/dialog/TokenFormDialog/index.tsx
  webapp/src/components/App/Settings/Tokens/dialog/TokenInfoDialog.tsx
  webapp/src/components/App/Settings/Tokens/dialog/utils.ts
  webapp/src/components/App/Settings/Tokens/index.tsx
  webapp/src/components/App/Settings/Users/Header.tsx
  webapp/src/components/App/Settings/Users/dialog/CreateUserDialog.tsx
  webapp/src/components/App/Settings/Users/dialog/UpdateUserDialog.tsx
  webapp/src/components/App/Settings/Users/dialog/UserFormDialog/UserForm.tsx
  webapp/src/components/App/Settings/Users/dialog/UserFormDialog/index.tsx
  webapp/src/components/App/Settings/Users/dialog/utils.ts
  webapp/src/components/App/Settings/Users/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/Fields/TypeConfigFields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/Fields/index.tsx
  webapp/src/components/common/DataGridForm.tsx
  webapp/src/components/common/Form/index.tsx
Due: none

in memory matrix providers for known matrices
  antarest/matrixstore/service.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
Due: mypy, ruff-format, ruff-check

adapt in-memory implementation
  antarest/matrixstore/in_memory.py
Due: mypy, ruff-format, ruff-check

fix(auth): make dependency async
  antarest/core/filesystem_blueprint.py
  antarest/core/filetransfer/web.py
  antarest/core/maintenance/web.py
  antarest/core/tasks/web.py
  antarest/launcher/web.py
  antarest/login/auth.py
  antarest/login/web.py
  antarest/matrixstore/web.py
  antarest/study/web/explorer_blueprint.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/watcher_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/core/test_auth.py
Due: mypy, ruff-format, ruff-check

fix(auth): remove some redundant authentication checks
  antarest/core/filetransfer/service.py
  antarest/core/tasks/service.py
  antarest/login/utils.py
  antarest/matrixstore/service.py
  antarest/matrixstore/web.py
Due: mypy, ruff-format, ruff-check

fix(auth): add some unit test for authentication dependency
  antarest/login/auth.py
  tests/core/test_auth.py
Due: mypy, ruff-format, ruff-check

fix(auth): fix unit test
  tests/launcher/test_service.py
Due: ruff-format, ruff-check

fix(hydro): add allocation coefficients positive sum check and tests
  antarest/study/business/allocation_management.py
  tests/study/business/test_allocation_manager.py
Due: mypy, ruff-format, ruff-check

fix(hydro): allow negative values for hydro allocation coefficients (#2464)
  antarest/study/business/allocation_management.py
  tests/study/business/test_allocation_manager.py
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/Allocation/AllocationField.tsx
Due: mypy, ruff-format, ruff-check

fix(auth): more simplifications
  antarest/core/tasks/service.py
  antarest/launcher/service.py
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

fix(auth): more simplifications
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(auth): run archive service as admin user
  antarest/study/storage/auto_archive_service.py
Due: mypy, ruff-format, ruff-check

renable dynamic workspaces, sort subfodler before inserting them, save subfolders in local storage
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/App/Studies/StudyTree/utils.ts
  webapp/src/services/utils/localStorage.ts
Due: none

fix(auth): use admin user for slurm launcher loop
  antarest/launcher/adapters/abstractlauncher.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
Due: mypy, ruff-format, ruff-check

fix(auth): add explanation
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
Due: mypy, ruff-format, ruff-check

fix(auth): fix tests
  tests/core/test_tasks.py
  tests/launcher/test_local_launcher.py
Due: ruff-format, ruff-check

prioritize default workspace in study tree
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
Due: none

chore(release): update version numbers
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

General + playlist styles
  webapp/src/components/App/Singlestudy/explore/Configuration/General/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/styles.ts
  webapp/src/theme/components.ts
  webapp/src/types/mui.d.ts
Due: none

playlist
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/index.tsx
  webapp/src/components/common/DataGridForm.tsx
  webapp/src/components/common/Fieldset.tsx
  webapp/src/components/common/GroupedDataTable/CreateDialog.tsx
  webapp/src/components/common/GroupedDataTable/DuplicateDialog.tsx
  webapp/src/components/common/dialogs/FormDialog.tsx
  webapp/src/components/common/fieldEditors/NumberFE.tsx
  webapp/src/components/common/fieldEditors/RadioFE.tsx
  webapp/src/components/common/fieldEditors/RadioGroupFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/utils/reactHookFormUtils.ts
  webapp/src/utils/validation/number.ts
Due: none

split
  webapp/src/components/App/Singlestudy/explore/Debug/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Studies/SideNav.tsx
  webapp/src/components/App/Studies/index.tsx
  webapp/src/components/common/SplitView/index.tsx
Due: none

yearsselectionfe
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/theme/components.ts
Due: none

custom scrollbar
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/ResultFilters.tsx
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/common/Matrix/index.tsx
  webapp/src/components/common/page/RootPage.tsx
Due: none

docs(release): update changelog format
  docs/CHANGELOG.md
Due: none

chore(release): v2.20.0 (2025-04-30)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

chore(release): cleanup changelog of previous releases merge commits
  docs/CHANGELOG.md
Due: none

use workspace and study path as key of missing studies
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix test
  antarest/study/model.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

refactor(matrix): more simplification
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/matrixstore/uri_resolver_service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  tests/storage/business/test_url_resolver_service.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix that made me question all my python knowledge
  tests/storage/test_service.py
Due: ruff-format, ruff-check

refactor(matrix): rename context and resolver in factory
  antarest/study/main.py
  antarest/study/storage/rawstudy/model/filesystem/factory.py
  tests/conftest_services.py
  tests/storage/rawstudies/test_factory.py
Due: mypy, ruff-format, ruff-check

add docs
  tests/storage/test_service.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
