Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

wip 3
  antarest/service_creator.py
  antarest/study/service.py
  antarest/study/storage/explorer_service.py
  antarest/study/web/explorer_blueprint.py
  webapp/src/services/api/root/types.ts
  webapp/src/services/config.ts
Due: mypy, ruff-format, ruff-check

chore: more adaptations
  antarest/core/utils/fastapi_sqlalchemy/middleware.py
Due: mypy, ruff-format, ruff-check

chore(typing): add TypeAlias where missing (#2401)
  antarest/core/filesystem_blueprint.py
  antarest/core/interfaces/eventbus.py
  antarest/core/model.py
  antarest/core/serde/ini_common.py
  antarest/core/serde/ini_reader.py
  antarest/core/serde/ini_writer.py
  antarest/core/tasks/service.py
  antarest/launcher/adapters/log_parser.py
  antarest/matrixstore/model.py
  antarest/study/business/adequacy_patch_management.py
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/binding_constraint_management.py
  antarest/study/business/general_management.py
  antarest/study/business/model/link_model.py
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/table_mode_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/config/validation.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/create_cluster.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  antarest/study/storage/variantstudy/model/model.py
  antarest/worker/archive_worker_service.py
Due: mypy, ruff-format, ruff-check

chore(config): remove unused cache dict (#2404)
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  tests/storage/test_model.py
Due: mypy, ruff-format, ruff-check

feat(variant_study): refactor study handling and remove unused freeze logic
  antarest/study/web/studies_blueprint.py
  antarest/study/web/variant_blueprint.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: mypy, ruff-format, ruff-check

feat(variant_study): refactor study handling and remove unused freeze logic
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

start work
  antarest/core/exceptions.py
  antarest/core/model.py
  antarest/study/business/binding_constraint_management.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: mypy, ruff-format, ruff-check

fix some code
  antarest/study/business/binding_constraint_management.py
Due: mypy, ruff-format, ruff-check

try to fix
  antarest/study/business/binding_constraint_management.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: ruff-format, ruff-check

little code simplifcation
  antarest/study/business/binding_constraint_management.py
Due: mypy, ruff-format, ruff-check

perf(results): prevent infinite rendering in results matrices
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

perf(ui-results): prevent infinite rendering in results matrices (#2388)
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

add test
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: ruff-format, ruff-check

fix(areas): allow negative spread costs
  antarest/study/storage/rawstudy/model/filesystem/config/area.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

add test
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fix(areas): allow negative spread costs (#2407)
  antarest/study/storage/rawstudy/model/filesystem/config/area.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

feat(adequacy_patch): update default values in adequacy patch form, in english and french view
  antarest/study/business/adequacy_patch_management.py
  requirements.txt
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: mypy, ruff-format, ruff-check

fix(adequacy_patch): fix back tests and front linting
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_study_version_upgrader.py
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: ruff-format, ruff-check

chore: more fixing
  antarest/core/tasks/model.py
  antarest/login/model.py
  antarest/login/service.py
  antarest/matrixstore/model.py
  antarest/study/common/studystorage.py
  antarest/study/repository.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/storage_service.py
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/tools/admin_lib.py
  tests/conftest_db.py
Due: mypy, ruff-format, ruff-check

fix(sts): fix create_st_storage v1 parsing
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(study): wip
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

feat(study): wip
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

feat(study): wip
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

fix(sts): fix create_st_storage v1 parsing (#2408)
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.19.2 (2025-03-17)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

v2.19.2 (#2409)
  antarest/__init__.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  tests/variantstudy/test_command_factory.py
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

feat(study): wip
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/integration/test_integration.py
  tests/storage/business/test_variant_study_service.py
Due: mypy, ruff-format, ruff-check

chore(adequacy_patch): remove empty strings and add default values in adequacy patch view
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: none

feat(adequacy_patch): update default values in adequacy patch form, in english and french view (#2402)
  antarest/study/business/adequacy_patch_management.py
  requirements.txt
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_study_version_upgrader.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: mypy, ruff-format, ruff-check

resolve comments
  antarest/study/business/binding_constraint_management.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: mypy, ruff-format, ruff-check

chore(logs): add task_id and user to logs info
  antarest/core/logging/utils.py
  antarest/core/tasks/service.py
  antarest/core/tasks/web.py
  antarest/launcher/web.py
  antarest/login/utils.py
  antarest/login/web.py
  antarest/matrixstore/web.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/watcher_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(logs): explicit format for json logger
  antarest/core/logging/utils.py
Due: mypy, ruff-format, ruff-check

fix(bc)!: allow terms writing in any case and allow area/cluster names in endpoint (#2406)
  antarest/core/exceptions.py
  antarest/core/model.py
  antarest/study/business/binding_constraint_management.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: mypy, ruff-format, ruff-check

fix(adequacy_patch): fix missing tooltip and bad tooltip displayed in french version
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
