Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

continue
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/study_storage_interface.py
Due: mypy, ruff-format, ruff-check

simple
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
Due: mypy, ruff-format, ruff-check

feat(slurm,metrics): stable id for workers, used in metrics and slurm workspace (#3177)
  antarest/core/logging/utils.py
  antarest/core/metrics.py
  antarest/globals.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/log_manager.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/main.py
  antarest/tools/admin.py
  antarest/tools/admin_lib.py
  conf/gunicorn.py
  scripts/pre-start.sh
  scripts/start.sh
  tests/launcher/test_log_manager.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/study_storage_interface.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

continue stuff
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

little fix
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

still working
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/study_storage_interface.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

fix issue
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

add generation
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): parse pasted numbers by locale
  webapp/src/components/Matrix/shared/__tests__/utils.test.ts
  webapp/src/components/Matrix/shared/utils.ts
Due: none

introduce a method to avoid doing ifs
  antarest/study/model.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/model/dbmodel.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

use it elsewhere
  antarest/study/dao/file/file_study_factory_dao.py
Due: mypy, ruff-format, ruff-check

fix ruff
  antarest/study/dao/file/file_study_factory_dao.py
Due: mypy, ruff-format, ruff-check

feat(reserve): first commit
  alembic/versions/8b2fca3d91e0_add_reserve_need_matrix_table.py
  antarest/study/dao/api/reserve_definition_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/models/reserve_need.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/area_reserves.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/model/command/create_reserve_definition.py
  antarest/study/storage/variantstudy/model/command/remove_reserve_definitions.py
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/variantstudy/model/command/test_reserve_definition_commands.py
Due: mypy, ruff-format, ruff-check

fix(output): fix output archive
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

some instantiation fixes
  tests/conftest_services.py
  tests/storage/business/test_export.py
  tests/storage/business/test_import.py
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

fix(output): fix output archive
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fixing lots of tests
  tests/storage/integration/conftest.py
Due: ruff-format, ruff-check

fix imports isuse
  tests/study/test_service.py
Due: ruff-format, ruff-check

fix condition inside deletion
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

minor fixes
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

fix
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

fix(output): fix output archive (#3186)
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

f
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

a
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

f
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

c
  tests/helpers.py
Due: ruff-format, ruff-check

test things
  antarest/study/dao/file/file_study_factory_dao.py
Due: mypy, ruff-format, ruff-check

fix one test
  tests/storage/business/test_optional_matrices.py
Due: ruff-format, ruff-check

default storage mode
  antarest/study/service.py
  tests/storage/integration/test_STA_mini.py
Due: mypy, ruff-format, ruff-check

f
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

a
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

fix
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

impleemnt unarchive
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

fix(ui-api): pass target_version as query parameter instead of json to upgrade studies (#3142)
  webapp/src/services/api/study.ts
Due: none

try to implement archive method
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
Due: mypy, ruff-format, ruff-check
