Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

chore(output_service): minor fixes on exceptions
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

test(output_service): add and update tests, rename variables for clarity, and update comments
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

chore(output_service): minor fixes of tests, exceptions, and logs
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

chore(filetransfer): change return code, improve test and other minor fixes
  antarest/core/filetransfer/web.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

chore(output): minor fix
  antarest/study/storage/df_download.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(output_service): add endpoint and update the task process
  alembic/versions/d19bdf81aa45_add_output_aggregation_table.py
  antarest/core/exceptions.py
  antarest/study/model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

test(outputs): update tests
  tests/core/test_file_transfer.py
  tests/storage/conftest.py
Due: ruff-format, ruff-check

chore(output_service): use tasks to compute aggregation results
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

feat(file_transfer): add endpoint, remove database models and version, remove exceptions
  alembic/versions/d19bdf81aa45_add_output_aggregation_table.py
  antarest/core/exceptions.py
  antarest/core/filetransfer/main.py
  antarest/core/filetransfer/web.py
  antarest/service_creator.py
  antarest/study/model.py
  antarest/study/storage/df_download.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

test(aggregation): fix aggregation_raw_data tests
  antarest/core/filetransfer/web.py
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

refactor(outputs): refactor download and output endpoints
  antarest/core/filetransfer/main.py
  antarest/core/filetransfer/service.py
  antarest/core/filetransfer/web.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(output_service): add AggregateOutputTask and its type, update output endpoints
  antarest/core/tasks/model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(filetransfer): remove timeout argument and improve the fetch_download call
  antarest/core/filetransfer/web.py
Due: mypy, ruff-format, ruff-check

chore(output): update comments
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(output): change return value of output aggregation endpoints
  antarest/core/filetransfer/model.py
  antarest/core/filetransfer/service.py
  antarest/core/filetransfer/web.py
  antarest/study/business/aggregator_management.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

chore(output): minor fixes
  antarest/core/filetransfer/model.py
  antarest/core/filetransfer/service.py
  antarest/core/filetransfer/web.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

fix(output): fix tests
  antarest/core/filetransfer/service.py
Due: mypy, ruff-format, ruff-check

fix(output): minor fixes remove task attribute to file transfer service, remove a typing condition and unused function
  antarest/core/filetransfer/main.py
  antarest/core/filetransfer/service.py
  antarest/service_creator.py
  antarest/study/business/aggregator_management.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

fix(output): minor fixes add typing hints
  antarest/core/filetransfer/service.py
Due: mypy, ruff-format, ruff-check

feat(matrix): add 2 handling of matrix for managed and unmanaged study
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
  tests/storage/repository/filesystem/test_lazy_node.py
Due: mypy, ruff-format, ruff-check

fix(tests): minor fixes
  tests/core/test_file_transfer.py
  tests/storage/conftest.py
Due: ruff-format, ruff-check

feat(matrix): add 2 handling of matrix for managed and unmanaged study
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

chore(file_transfer): add typing check test
  antarest/core/filetransfer/service.py
Due: mypy, ruff-format, ruff-check

code review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/StudyPathFE.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

fix(study): fix a bug when renamming study then archive and unarchive
  antarest/study/service.py
  tests/integration/studies_blueprint/test_update_tags.py
Due: mypy, ruff-format, ruff-check

feat(ui-study): add destination folder in copy dialog (#2516)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/StudyPathFE.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

feat(output)!: result aggregation as a task (#2485)
  antarest/core/filetransfer/service.py
  antarest/core/filetransfer/web.py
  antarest/core/tasks/model.py
  antarest/service_creator.py
  antarest/study/storage/df_download.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

code review
  webapp/src/services/utils/index.ts
Due: none

refactor(ui-tokens): optimize the view
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Settings/Tokens/Header.tsx
  webapp/src/components/App/Settings/Tokens/TokenList.tsx
  webapp/src/components/App/Settings/Tokens/dialog/CreateTokenDialog.tsx
  webapp/src/components/App/Settings/Tokens/index.tsx
  webapp/src/components/App/Settings/Tokens/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/services/api/user.ts
  webapp/src/services/utils/index.ts
Due: none

resolve several comments
  antarest/study/business/areas/thermal_management.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
Due: mypy, ruff-format, ruff-check

refactor(ui-tokens): optimize tokens view (#2508)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Settings/Tokens/Header.tsx
  webapp/src/components/App/Settings/Tokens/TokenList.tsx
  webapp/src/components/App/Settings/Tokens/dialog/CreateTokenDialog.tsx
  webapp/src/components/App/Settings/Tokens/index.tsx
  webapp/src/components/App/Settings/Tokens/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/services/api/user.ts
  webapp/src/services/utils/index.ts
Due: none

add docstring
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
Due: mypy, ruff-format, ruff-check

add test for renewable parsing v2
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

resolve last comment
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

fix(study): fix a bug when renaming study then archive and unarchive (#2517)
  antarest/study/service.py
  tests/integration/studies_blueprint/test_update_tags.py
Due: mypy, ruff-format, ruff-check

feat(ui-study): add outputs list in copy dialog
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/common/Fieldset.tsx
  webapp/src/components/common/fieldEditors/FieldSkeleton.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

replace study name placeholder by default value
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
Due: none

code review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Debug/Data/Folder/CreateFolderDialog.tsx
  webapp/src/components/App/shared/studies/StudyActionsMenu.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/common/dialogs/BasicDialog.tsx
  webapp/src/components/common/dialogs/FormDialog.tsx
  webapp/src/services/api/studies/index.ts
Due: none

feat(matrix): add 2 handling of matrix for managed and unmanaged study
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
Due: mypy, ruff-format, ruff-check

feat(matrix): add docstring
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
