Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

add api functions
  webapp/src/services/api/favorites/index.ts
  webapp/src/services/api/favorites/types.ts
Due: none

support favorite study from db
  webapp/src/components/router/RouterMenuItem.tsx
  webapp/src/main.tsx
  webapp/src/queries/bindingConstraints/queries.ts
  webapp/src/queries/directories/keys.ts
  webapp/src/queries/directories/queries.ts
  webapp/src/queries/queryClient.ts
  webapp/src/queries/storages/queries.ts
  webapp/src/queries/studies/mutations.ts
  webapp/src/queries/studies/queries.ts
  webapp/src/queries/utils.ts
  webapp/src/routes/-shared/components/studies/FavoriteToggle.tsx/FavoriteButton.tsx
  webapp/src/routes/-shared/components/studies/FavoriteToggle.tsx/FavoriteDirectoryToggle.tsx
  webapp/src/routes/-shared/components/studies/FavoriteToggle.tsx/FavoriteStudyToggle.tsx
  webapp/src/routes/-shared/components/studies/FavoriteToggle.tsx/index.tsx
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/index.tsx
  webapp/src/routes/-shared/hooks/useCreateFavoriteStudy.ts
  webapp/src/routes/-shared/hooks/useDeleteFavoriteStudy.ts
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu.tsx
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/index.tsx
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/useFavorites.ts
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/utils.ts
  webapp/src/routes/_authenticated/-components/Container/SidebarItem.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Actions.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-hooks/useStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useCreateStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-utils.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/-hooks/useBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useCreateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDuplicateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-utils.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
Due: none

favorite directory
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/directories/keys.ts
  webapp/src/queries/directories/mutations.ts
  webapp/src/queries/studies/keys.ts
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/FavoriteToggle/FavoriteButton.tsx
  webapp/src/routes/-shared/components/studies/FavoriteToggle/FavoriteDirectoryToggle.tsx
  webapp/src/routes/-shared/components/studies/FavoriteToggle/FavoriteStudyToggle.tsx
  webapp/src/routes/-shared/components/studies/FavoriteToggle/index.tsx
  webapp/src/routes/-shared/hooks/favorites/useCreateFavoriteDirectory.ts
  webapp/src/routes/-shared/hooks/favorites/useCreateFavoriteStudy.ts
  webapp/src/routes/-shared/hooks/favorites/useDeleteFavoriteDirectory.ts
  webapp/src/routes/-shared/hooks/favorites/useDeleteFavoriteStudy.ts
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/index.tsx
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/types.ts
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/useFavorites.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Actions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useDeleteDirectory.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/hooks/useUpdateDirectory.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
Due: none

review
  webapp/src/queries/utils.ts
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/FavoriteToggle/FavoriteStudyToggle.tsx
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/index.tsx
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/types.ts
  webapp/src/routes/_authenticated/-components/Container/FavoritesMenu/useFavorites.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/services/api/favorites/index.ts
Due: none

wip
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
  tests/study/dao/file/conftest.py
  tests/study/dao/file/test_filestudy_binding_constraint_dao.py
  tests/study/dao/test_manage_binding_constraints.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_binding_constraint_dao.py
  tests/study/dao/file/test_filestudy_binding_constraint_dao.py
  tests/study/dao/test_database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fix(tests): fix unit tests
  tests/integration/favorite_blueprint/test_favorite_study.py
Due: ruff-format, ruff-check

fix area bugs
  antarest/study/dao/database/database_area_dao.py
Due: mypy, ruff-format, ruff-check

fix(tests): fix unit tests
  tests/integration/favorite_blueprint/test_favorite_directory.py
Due: ruff-format, ruff-check

fix area bugs
  tests/study/dao/test_manage_binding_constraints.py
Due: ruff-format, ruff-check

fix(tests): fix unit tests (#3131)
  tests/integration/favorite_blueprint/test_favorite_directory.py
  tests/integration/favorite_blueprint/test_favorite_study.py
Due: ruff-format, ruff-check

fix & refactor
  tests/study/dao/test_database_area_dao.py
  tests/variantstudy/model/command/test_manage_binding_constraints_db.py
Due: ruff-format, ruff-check

fix & refactor
  antarest/study/dao/database/database_binding_constraint_dao.py
  tests/study/dao/test_database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fix alembic
  alembic/versions/88478b7f5301_add_binding_constraint_tables.py
Due: ruff-format, ruff-check

fix alembic
  antarest/study/dao/database/database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

wip
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: ruff-format, ruff-check

fix(ui-tasks): handle null API fields in task schema validation
  webapp/src/services/api/tasks/schemas.ts
  webapp/src/utils/zodUtils.ts
Due: none

fix(study): fix typing issues
  antarest/output/service.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/database/database_study_dao.py
Due: mypy, ruff-format, ruff-check

update docs
  webapp/src/services/api/directories/index.ts
  webapp/src/services/api/tasks/index.ts
Due: none

fix(ui-tasks): handle null API fields in task schema validation (#3132)
  webapp/src/services/api/directories/index.ts
  webapp/src/services/api/tasks/index.ts
  webapp/src/services/api/tasks/schemas.ts
  webapp/src/utils/zodUtils.ts
Due: none

feat(output): support `transform_column_headers` to false
  antarest/output/storage/v2/storage.py
Due: mypy, ruff-format, ruff-check

add more tests
  tests/integration/raw_studies_blueprint/test_get_raw_output_matrix.py
Due: ruff-format, ruff-check

add integration test for raw output matrix
  tests/integration/raw_studies_blueprint/test_get_raw_output_matrix.py
Due: ruff-format, ruff-check

feat(disk_space_analysis): corrected merge errors
  alembic/versions/81typ5zz6v1y_add_study_disk_space_analysis_table.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/disk_space_analyzer.py
  antarest/study/repository.py
  tests/integration/maintenance_blueprint/test_disk_space_analyzer.py
  tests/integration/maintenance_blueprint/test_gc_tasks.py
Due: mypy, ruff-format, ruff-check

better perf for FS
  antarest/study/dao/file/file_study_thermal_dao.py
Due: mypy, ruff-format, ruff-check

add property objects
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/file/file_study_user_resources_dao.py
Due: mypy, ruff-format, ruff-check

wip
  alembic/versions/88478b7f5301_add_binding_constraint_tables.py
Due: ruff-format, ruff-check

perf(db): introduce bulk fs dao method for future works
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/service.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
Due: mypy, ruff-format, ruff-check

fix(study): allow db study deletion
  antarest/output/storage/file/storage.py
  antarest/study/service.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/service.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: mypy, ruff-format, ruff-check

fix(output): remove parquet core import
  antarest/output/storage/v2/converter.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix final test
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

fix(study): allow db study deletion (#3135)
  antarest/output/storage/file/storage.py
  antarest/study/service.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

first little fix
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

feat(ui-thermal): allow to collapse 'Other emission rates' fields
  webapp/src/components/Fieldset.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/parameters.tsx
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
