Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

add doc
  antarest/core/serde/parquet_writer.py
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/business/district_manager.py
  antarest/study/business/model/district_model.py
  antarest/study/dao/api/district_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/test_district_manager.py
  tests/variantstudy/model/command/test_manage_district.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

change the reindex order
  antarest/core/serde/parquet_writer.py
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

cleaning
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

simplify code
  antarest/core/serde/parquet_writer.py
  tests/core/serde/test_parquet_writer.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/core/serde/parquet_writer.py
Due: mypy, ruff-format, ruff-check

use list instead of set for test
  antarest/core/serde/parquet_writer.py
  antarest/study/storage/df_download.py
  tests/core/serde/test_parquet_writer.py
Due: mypy, ruff-format, ruff-check

add UT
  tests/core/serde/test_parquet_writer.py
Due: ruff-format, ruff-check

fix(upgrade): allow version to be given as 9.2 instead of 920 (#2725)
  antarest/study/service.py
  antarest/study/storage/study_upgrader/__init__.py
  tests/integration/test_studies_upgrade.py
  tests/storage/business/test_study_version_upgrader.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/business/area_management.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  tests/storage/business/test_arealink_manager.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/storage/test_model.py
  tests/storage/test_service.py
  tests/study/business/test_district_manager.py
Due: mypy, ruff-format, ruff-check

keep index order no matter the columns
  antarest/core/serde/parquet_writer.py
  tests/core/serde/test_parquet_writer.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/business/area_management.py
  antarest/study/business/model/district_model.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  tests/integration/test_integration.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/study/business/test_district_manager.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/storage/business/test_arealink_manager.py
Due: ruff-format, ruff-check

change tests and add exception
  antarest/core/exceptions.py
  antarest/core/serde/parquet_writer.py
  antarest/study/business/aggregator_management.py
  tests/core/serde/test_parquet_writer.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(ui-matrix): recalculate stats based on filtered data when filters active
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
Due: none

feat(ui-matrix): recalculate stats based on filtered data when filters active (#2723)
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
Due: none

wip
  .github/workflows/deploy.yml
  resources/antares-desktop-fs/config.yaml
Due: none

add test for bug fixed
  antarest/core/serde/parquet_writer.py
  antarest/study/business/aggregator_management.py
  tests/core/serde/test_parquet_writer.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/storage/test_model.py
  tests/storage/test_service.py
Due: ruff-format, ruff-check

wip
  antarest/study/business/model/district_model.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
Due: none

feat(area): pr fixes
  antarest/study/business/area_management.py
  antarest/study/business/areas/properties_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/area_properties_model.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/area.py
  antarest/study/storage/variantstudy/model/command/update_areas_properties.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

refactor(area): remove deprecated AreaType references and update area management logic
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_hydro_allocation.py
  tests/integration/study_data_blueprint/test_hydro_correlation.py
  tests/integration/study_data_blueprint/test_scenario_builder.py
  tests/storage/business/test_arealink_manager.py
  tests/storage/business/test_xpansion_manager.py
  tests/study/business/test_allocation_manager.py
  tests/study/business/test_correlation_manager.py
Due: mypy, ruff-format, ruff-check

start implementing comments
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_security_criterion.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/storage/business/test_xpansion_manager.py
  tests/variantstudy/model/command/test_update_xpansion_security_criterion.py
Due: mypy, ruff-format, ruff-check

no mypy issue
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_adequacy_criterion.py
  tests/variantstudy/model/command/test_update_xpansion_security_criterion.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
  tests/variantstudy/model/command/test_replace_xpansion_adequacy_criterion.py
Due: mypy, ruff-format, ruff-check

fix(desktop): re-enable watcher config (#2731)
  resources/antares-desktop-fs/config.yaml
Due: none

fix test
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

add optional test
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

add integration test
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
Due: ruff-format, ruff-check

add UT for yaml reader and writer
  antarest/study/storage/rawstudy/model/filesystem/yaml_file_node.py
  tests/core/serde/test_yaml_reader_writer.py
Due: mypy, ruff-format, ruff-check

add get test
  tests/storage/repository/filesystem/test_yaml_file_node.py
Due: ruff-format, ruff-check

refactor(area): remove deprecated "type" field and update area-related tests and APIs
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

add small UT for node
  tests/core/serde/test_yaml_reader_writer.py
  tests/storage/repository/filesystem/test_yaml_file_node.py
Due: ruff-format, ruff-check

wip
  antarest/study/business/area_management.py
  antarest/study/business/district_manager.py
  antarest/study/business/model/district_model.py
  antarest/study/dao/api/district_dao.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  antarest/study/web/study_data_blueprint.py
  tests/storage/business/test_arealink_manager.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/storage/test_model.py
  tests/storage/test_service.py
  tests/study/business/test_district_manager.py
Due: mypy, ruff-format, ruff-check

rename methods
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
Due: mypy, ruff-format, ruff-check

feat(xpansion): support reading and editing adequacy criterion inside back-end (#2726)
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/adequacy_criterion.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/expansion.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/settings.py
  antarest/study/storage/rawstudy/model/filesystem/yaml_file_node.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_adequacy_criterion.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/core/serde/test_yaml_reader_writer.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
  tests/storage/business/test_xpansion_manager.py
  tests/storage/repository/filesystem/test_yaml_file_node.py
  tests/variantstudy/model/command/test_replace_xpansion_adequacy_criterion.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix(launcher): change cmd line for local launcher with v9.3
  antarest/launcher/adapters/local_launcher/local_launcher.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

fix(backend): resolve bug in updating generaldata.ini
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
