Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

continue skeleton
  antarest/study/dao/file/file_study_renewable_dao.py
Due: mypy, ruff-format, ruff-check

finalize skeleton
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

implement a little
  antarest/study/dao/api/study_dao.py
Due: mypy, ruff-format, ruff-check

specefic python version
  .github/workflows/main.yml
Due: none

continue implementing
  antarest/study/business/areas/renewable_management.py
  antarest/study/dao/file/file_study_renewable_dao.py
Due: mypy, ruff-format, ruff-check

finalize manager
  antarest/study/business/areas/renewable_management.py
  antarest/study/business/areas/thermal_management.py
Due: mypy, ruff-format, ruff-check

continue implem
  antarest/study/dao/file/file_study_renewable_dao.py
Due: mypy, ruff-format, ruff-check

finalize in memory implem
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

add show pandas-stubs version
  .github/workflows/main.yml
Due: none

fix mypy issues
  antarest/study/storage/variantstudy/model/command/create_cluster.py
  antarest/study/storage/variantstudy/model/command/create_renewables_cluster.py
  antarest/study/storage/variantstudy/model/command/remove_renewables_cluster.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_renewable_dao.py
Due: mypy, ruff-format, ruff-check

iplem
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
Due: mypy, ruff-format, ruff-check

fix mypy issue
  antarest/study/dao/file/file_study_renewable_dao.py
Due: mypy, ruff-format, ruff-check

chore(mypy): bump pandas-stubs
  requirements-dev.txt
Due: none

a
  antarest/study/storage/rawstudy/model/filesystem/matrix/date_serializer.py
  requirements-dev.txt
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/storage/rawstudy/model/filesystem/matrix/date_serializer.py
Due: mypy, ruff-format, ruff-check

fix(lint): remove obsolete `type: ignore` (#2510)
  antarest/study/storage/rawstudy/model/filesystem/matrix/date_serializer.py
  requirements-dev.txt
Due: mypy, ruff-format, ruff-check

bump launcher to support 9.2
  requirements.txt
Due: none

build(launcher): bump antares-launcher version to support 9.2 studies
  requirements.txt
Due: none

build(launcher): bump `antares-launcher` to support 9.2 studies (#2511)
  requirements.txt
Due: none

revert debug code
  .github/workflows/main.yml
Due: none

feat(file_transfer): add endpoint, remove database models and version, remove exceptions
  alembic/versions/d19bdf81aa45_add_output_aggregation_table.py
  antarest/core/exceptions.py
  antarest/core/filetransfer/main.py
  antarest/core/filetransfer/web.py
  antarest/service_creator.py
  antarest/study/model.py
  antarest/study/storage/df_download.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(filetransfer): remove timeout argument and improve the fetch_download call
  antarest/core/filetransfer/web.py
Due: mypy, ruff-format, ruff-check

chore(filetransfer): change return code, improve test and other minor fixes
  antarest/core/filetransfer/web.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

chore(output_service): use tasks to compute aggregation results
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

refactor(outputs): refactor download and output endpoints
  antarest/core/filetransfer/main.py
  antarest/core/filetransfer/service.py
  antarest/core/filetransfer/web.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

chore(output_service): minor fixes on exceptions
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

test(output_service): add and update tests, rename variables for clarity, and update comments
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(output_service): add endpoint and update the task process
  alembic/versions/d19bdf81aa45_add_output_aggregation_table.py
  antarest/core/exceptions.py
  antarest/study/model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(output): minor fix
  antarest/study/storage/df_download.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

test(aggregation): fix aggregation_raw_data tests
  antarest/core/filetransfer/web.py
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(output_service): add AggregateOutputTask and its type, update output endpoints
  antarest/core/tasks/model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(output_service): minor fixes of tests, exceptions, and logs
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

fixing some tests
  antarest/study/storage/variantstudy/model/command/create_cluster.py
Due: mypy, ruff-format, ruff-check

fix command factory tests
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

14 failing tests
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/variantstudy/model/command/test_create_renewables_cluster.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_remove_renewables_cluster.py
Due: mypy, ruff-format, ruff-check

fixing tests
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/storage/variantstudy/model/command/create_renewables_cluster.py
  tests/variantstudy/model/command/test_create_renewables_cluster.py
Due: mypy, ruff-format, ruff-check
