Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

continue
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
Due: mypy, ruff-format, ruff-check

no mypy issue
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
Due: mypy, ruff-format, ruff-check

fix command factory test
  antarest/study/business/model/sts_model.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  tests/variantstudy/model/command/test_create_st_storage.py
  tests/variantstudy/model/command/test_update_short_term_storage.py
Due: mypy, ruff-format, ruff-check

fix import issues
  tests/variantstudy/model/command/test_create_st_storage.py
Due: ruff-format, ruff-check

implement the save
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

all implemented
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

cleaning
  antarest/study/storage/variantstudy/model/command/icommand.py
  tests/variantstudy/model/command/test_create_st_storage.py
Due: mypy, ruff-format, ruff-check

put back validation
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
Due: mypy, ruff-format, ruff-check

still fixing tests
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  tests/variantstudy/model/command/test_create_st_storage.py
Due: mypy, ruff-format, ruff-check

fix imports issues
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/study/business/areas/test_st_storage_management.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

put check on storage group before v9.2
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

fix table mode issue
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

fix one test
  tests/variantstudy/model/command/test_update_short_term_storage.py
Due: ruff-format, ruff-check

start fixing some tests
  antarest/study/storage/variantstudy/model/command/remove_st_storage.py
  tests/integration/study_data_blueprint/test_st_storage.py
Due: mypy, ruff-format, ruff-check

fix
  tests/integration/study_data_blueprint/test_st_storage.py
Due: ruff-format, ruff-check

fix test
  tests/integration/study_data_blueprint/test_st_storage.py
Due: ruff-format, ruff-check

typo
  tests/integration/study_data_blueprint/test_st_storage.py
Due: ruff-format, ruff-check

feat(ui-study): add copy dialog and rename action in context menu
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/HomeView/InformationView/index.tsx
  webapp/src/components/App/shared/studies/StudyActionsMenu.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/common/dialogs/BasicDialog.tsx
  webapp/src/components/common/dialogs/ConfirmationDialog.tsx
  webapp/src/services/api/studies/index.ts
  webapp/src/services/api/studies/types.ts
  webapp/src/services/api/study.ts
  webapp/src/utils/validation/__tests__/number.test.ts
  webapp/src/utils/validation/__tests__/string.test.ts
  webapp/src/utils/validation/number.ts
  webapp/src/utils/validation/string.ts
Due: none

fixing issues with id
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/model.py
  antarest/study/storage/explorer_service.py
  antarest/study/web/explorer_blueprint.py
  tests/integration/explorer_blueprint/test_explorer.py
  tests/storage/business/test_explorer_service.py
  webapp/src/components/App/Studies/StudiesList/index.tsx
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
  webapp/src/components/App/Studies/StudyTree/__test__/utils.test.ts
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/App/Studies/StudyTree/types.ts
  webapp/src/components/App/Studies/StudyTree/utils.ts
  webapp/src/components/common/TreeItemEnhanced.tsx
  webapp/src/services/api/study.ts
  webapp/src/services/utils/localStorage.ts
Due: mypy, ruff-format, ruff-check

rollback thermal evol
  antarest/study/dao/file/file_study_thermal_dao.py
Due: mypy, ruff-format, ruff-check

feat(matrix): add 2 handling of matrix for managed and unmanaged study
  antarest/launcher/extensions/adequacy_patch/extension.py
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/main.py
  antarest/study/storage/rawstudy/model/filesystem/factory.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/conftest.py
  tests/conftest_services.py
  tests/storage/business/conftest.py
  tests/storage/business/test_url_resolver_service.py
  tests/storage/rawstudies/test_factory.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/test_folder_node.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  tests/integration/variant_blueprint/test_st_storage.py
Due: mypy, ruff-format, ruff-check

fixing some tests
  tests/variantstudy/model/command/test_update_short_term_storage.py
Due: ruff-format, ruff-check

remove useless tests
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: ruff-format, ruff-check

fix one test
  tests/variantstudy/model/command/test_create_st_storage.py
Due: ruff-format, ruff-check

still fixing
  tests/variantstudy/model/command/test_create_st_storage.py
Due: ruff-format, ruff-check

code review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/StudyActionsMenu.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
Due: none

start rewriting manager tests
  tests/study/business/areas/test_st_storage_management.py
  tests/study/business/areas/test_thermal_management.py
Due: ruff-format, ruff-check

feat(matrix): add 2 handling of matrix for managed and unmanaged study
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

continue rewriting tests
  tests/study/business/areas/test_st_storage_management.py
Due: ruff-format, ruff-check

fix manager tests
  tests/study/business/areas/test_st_storage_management.py
Due: ruff-format, ruff-check

code review
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
Due: none

feat(ui-study): add copy dialog and rename action in context menu (#2514)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/HomeView/InformationView/index.tsx
  webapp/src/components/App/shared/studies/StudyActionsMenu.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/common/dialogs/BasicDialog.tsx
  webapp/src/components/common/dialogs/ConfirmationDialog.tsx
  webapp/src/services/api/studies/index.ts
  webapp/src/services/api/studies/types.ts
  webapp/src/services/api/study.ts
  webapp/src/utils/validation/__tests__/number.test.ts
  webapp/src/utils/validation/__tests__/string.test.ts
  webapp/src/utils/validation/number.ts
  webapp/src/utils/validation/string.ts
Due: none

feat(ui-study): add destination folder in copy dialog
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/MoveStudyDialog.tsx
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
