Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  .github/workflows/main.yml
Due: none

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  tests/favorite_study/test_favorite_external_directory.py
Due: ruff-format, ruff-check

feat(task): add pydantic model validation in config.py
  antarest/core/config.py
  antarest/core/logging/utils.py
  tests/core/remote/test_remote_executor.py
  tests/integration/launcher_blueprint/test_launcher_local.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

fix(import): used to fail due to different fs partition
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

feat(task): add pydantic model validation in StorageConfig
  antarest/core/config.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

fix(import): used to fail due to different fs partition (#3254)
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

feat(task): add pydantic model validation on new class after rebase
  antarest/core/config.py
Due: mypy, ruff-format, ruff-check

feat(task): add pydantic model validation for OutputStorageConfig
  antarest/core/config.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

test 1
  antarest/study/service.py
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

feat(task): add pydantic model validation for TaskConfig
  antarest/core/config.py
Due: mypy, ruff-format, ruff-check

fix(import): use the studies fs partition for the tmp dir
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix(import): use the studies fs partition for the tmp dir (#3257)
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix(ui-reserves): refresh table data on area change
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

fix test
  tests/integration/studies_blueprint/test_study_matrix_index.py
Due: ruff-format, ruff-check

f
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: ruff-format, ruff-check

feat(task): add pydantic model validation for CeleryConfig
  antarest/core/config.py
Due: mypy, ruff-format, ruff-check

fix(ui-reserves): refresh table data on area change (#3256)
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

fix(studies): hide descendants toggle at external tree root
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/FilterControls.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
Due: none

remove now useless freq attribute
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/prepro/area/thermal/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/root/input/hydro/common/capacity/test_capacity.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
Due: mypy, ruff-format, ruff-check

add utc to local for the CI
  tests/integration/studies_blueprint/test_study_matrix_index.py
Due: ruff-format, ruff-check

fix(studies): hide descendants toggle at external tree root (#3255)
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/FilterControls.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
Due: none

feat(output,db)!: support reading matrix indexes (#3253)
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/prepro/area/thermal/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  tests/integration/raw_studies_blueprint/test_download_matrices.py
  tests/integration/studies_blueprint/test_study_matrix_index.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/root/input/hydro/common/capacity/test_capacity.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

move methods out of the class
  antarest/output/filestudy/utils.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
Due: mypy, ruff-format, ruff-check

write skeleton
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

put back code
  antarest/output/filestudy/utils.py
  antarest/output/storage/file/abstract_storage.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix mypy
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
Due: mypy, ruff-format, ruff-check

rb unwanted change
  antarest/output/filestudy/utils.py
Due: mypy, ruff-format, ruff-check

rb
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
Due: mypy, ruff-format, ruff-check

change doc
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): taking reviews in account
  antarest/favorite/repository.py
  antarest/favorite/service.py
  antarest/study/storage/file_study_storage.py
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): taking reviews in account
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

change method typing
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
