Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(districts): handle filtering fields introduced in v10.2 (#3425)
  alembic/versions/ae201048f056_add_filters_to_districts.py
  antarest/study/business/district_manager.py
  antarest/study/business/model/binding_constraint_model.py
  antarest/study/business/model/config/adequacy_patch_model.py
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/business/model/config/general_model.py
  antarest/study/business/model/district_model.py
  antarest/study/business/model/sts_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/business/model/utils.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/models/district.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/integration/test_integration.py
  tests/study/dao/test_database_district_dao.py
  tests/variantstudy/model/command/test_manage_district.py
Due: mypy, ruff-format, ruff-check

fix(ui-thermals): update cache after saving a cluster
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/parameters.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useUpdateThermalCluster.ts
Due: none

refactor(ui-thermals): normalize response IDs in schema
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/mutations.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useCreateThermalCluster.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useDuplicateThermalCluster.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useUpdateThermalCluster.ts
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/thermals/index.ts
  webapp/src/services/api/studies/areas/thermals/schemas.ts
Due: none

fix(ui-thermals): remove deleted clusters from cache
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/mutations.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useDeleteThermalClusters.ts
Due: none

fix(ui-thermals): cache duplicated clusters without refetching
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/mutations.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useDuplicateThermalCluster.ts
Due: none

fix(ui-thermals): cache created clusters without refetching
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/mutations.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useCreateThermalCluster.ts
Due: none

refactor(ui-thermals): simplify mutation cache updates
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/parameters.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useCreateThermalCluster.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useDeleteThermalClusters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useDuplicateThermalCluster.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useUpdateThermalCluster.ts
Due: none

fix(ui-thermals): update query cache without redundant refetches (#3420)
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/mutations.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/__tests__/parameters.test.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useCreateThermalCluster.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useDeleteThermalClusters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useDuplicateThermalCluster.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-hooks/useUpdateThermalCluster.ts
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/thermals/index.ts
  webapp/src/services/api/studies/areas/thermals/schemas.ts
Due: none

fix ubuntu import issue
  antarest/desktop/systray_app.py
Due: mypy, ruff-format, ruff-check

fix(desktop): internalize win10toast package to fix issue (#3428)
  antarest/desktop/systray_app.py
  antarest/desktop/win10toast/LICENSE
  antarest/desktop/win10toast/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, ruff-format, ruff-check

perf(study): defer renewable area validation for empty results
  antarest/study/dao/database/database_renewable_dao.py
  tests/study/dao/test_database_query_counts.py
Due: mypy, ruff-format, ruff-check

fix(ramp): move required version from 10.2 to 10.3 (#3427)
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  antarest/tablemode/model.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/test_thermal_model.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_thermal_dao.py
  tests/variantstudy/model/command/conftest.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
Due: mypy, ruff-format, ruff-check

refactor
  antarest/study/business/model/gems/system.py
  antarest/study/dao/api/gems_system_dao.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

wip
  alembic/versions/4b74045877f5_create_gems_area_and_thermal_capacity_connections_tables.py
  antarest/core/exceptions.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  scripts/rollback.sh
  tests/study/business/model/test_gems_system_model.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

chore(gems): chain connections migration after districts filters migration
  alembic/versions/4b74045877f5_create_gems_area_and_thermal_capacity_connections_tables.py
  scripts/rollback.sh
Due: ruff-format, ruff-check

perf(study): optimise version requests (#3426)
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  tests/study/dao/test_database_query_counts.py
Due: mypy, ruff-format, ruff-check

refactor
  antarest/core/exceptions.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

remove useless columns
  alembic/versions/4b74045877f5_create_gems_area_and_thermal_capacity_connections_tables.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
Due: mypy, ruff-format, ruff-check

chore(all): fix reliability sonar issues
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

chore(all): fix reliability sonar issues
  antarest/desktop/win10toast/__init__.py
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/file/file_study_gems_scenario_builder_dao.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

fix(tests): correct shared fixture and helper typing
  tests/conftest_db.py
  tests/conftest_services.py
  tests/maintenance/conftest.py
  tests/study/business/conftest.py
  tests/study/dao/conftest.py
  tests/test_helpers/download.py
Due: ruff-format, ruff-check

fix(tests): correct study DAO typing
  tests/study/dao/api/test_reserve_symmetries_cascade.py
  tests/study/dao/file/test_filestudy_hydro_reserves_dao.py
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
  tests/study/dao/test_binding_constraint_dao.py
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_area_matrices_dao.py
  tests/study/dao/test_database_area_properties_dao.py
  tests/study/dao/test_database_district_dao.py
  tests/study/dao/test_database_link_dao.py
  tests/study/dao/test_database_link_matrices_dao.py
  tests/study/dao/test_database_query_counts.py
  tests/study/dao/test_database_scenario_builder_dao.py
  tests/study/dao/test_database_st_storage_dao.py
  tests/study/dao/test_database_thermal_dao.py
  tests/study/dao/test_database_user_resources_dao.py
  tests/study/dao/test_empty_matrices.py
  tests/study/dao/test_garbage_collector.py
  tests/study/dao/test_gems_catalog_dao.py
  tests/study/dao/test_hydro_reserves_dao.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/study/dao/test_st_storage_reserves_dao.py
  tests/study/dao/test_study_data_cleaning.py
  tests/study/dao/test_thermal_reserves_dao.py
Due: ruff-format, ruff-check

chore(desktop): enable db storage mode
  resources/deploy/config.yaml
Due: none

fix(tests): correct service and mock typing
  tests/blobstore/test_service.py
  tests/core/tasks/test_fix_tasks_status.py
  tests/core/tasks/test_tasks_service.py
  tests/eventbus/test_service.py
  tests/launcher/test_load_service.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_model.py
  tests/launcher/test_repository.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
  tests/login/test_ldap.py
  tests/login/test_login_service.py
  tests/login/test_repository.py
  tests/login/test_web.py
  tests/output/test_output_service.py
  tests/study/business/areas/test_st_storage_management.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/test_allocation_manager.py
  tests/study/business/test_district_manager.py
  tests/study/business/test_scenario_builder_model.py
  tests/study/service/test_service.py
  tests/study/test_repository.py
Due: ruff-format, ruff-check

chore(desktop): enable db storage mode (#3431)
  resources/deploy/config.yaml
Due: none

feat(gems): do not save system if an error occurs in save_components or _save_connections
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): rename GEMS component connections class
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/assets/gems/system/system.yml
Due: mypy, ruff-format, ruff-check

feat(gems): manage gems component connections
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

feat(gems): fix mypy issues
  antarest/study/dao/database/gems/database_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): prevent duplicated connections
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): update alembic migration file
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
Due: ruff-format, ruff-check

feat(gems): make connections optional, add checks and fix alembic migration error
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/core/exceptions.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): check ports are defined in components used in connections
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): makes connection linking a component to itself possible if ports are different
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): silently deduplicate duplicated connections
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): changes due to PR comments
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/assets/gems/libraries/8_1_simulator_nr_tests.yml
Due: mypy, ruff-format, ruff-check

feat(gems): refactor and update connection validation
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
Due: mypy, ruff-format, ruff-check

feat(gems): make connections immutable
  antarest/study/business/model/gems/system.py
Due: mypy, ruff-format, ruff-check

feat(gems): remove FK to check port component existence
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check
