Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix
  tests/study/business/test_allocation_manager.py
  tests/study/business/test_correlation_manager.py
Due: ruff-format, ruff-check

fix
  tests/matrixstore/test_matrix_usage_providers.py
  tests/study/business/areas/test_st_storage_management.py
Due: ruff-format, ruff-check

bot fix
  tests/variantstudy/model/command/test_replace_hydro_allocation.py
Due: ruff-format, ruff-check

other fix
  tests/storage/integration/study_converter/test_study_converter.py
  tests/study/dao/file/conftest.py
  tests/variantstudy/model/command/test_update_rawfile.py
  tests/variantstudy/model/command/test_update_scenario_builder.py
Due: ruff-format, ruff-check

other fix
  tests/variantstudy/model/command/test_create_link.py
Due: ruff-format, ruff-check

other fix
  tests/variantstudy/model/command/test_create_cluster.py
Due: ruff-format, ruff-check

other fix
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

other fix
  tests/study/business/dao/test_file_study_dao.py
Due: ruff-format, ruff-check

comments & doc
  antarest/study/dao/database/database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

try to fix the last failing test
  tests/helpers.py
  tests/study/business/areas/test_thermal_management.py
  tests/variantstudy/model/command/test_create_renewables_cluster.py
Due: ruff-format, ruff-check

feat(thermal-ui): move co2 field
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-utils.ts
Due: none

feat(study): fix broken test
  tests/study/dao/test_database_synthesis_dao.py
Due: ruff-format, ruff-check

feat(thermal-ui): move co2 field (#3144)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/$thermalId/parameters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-utils.ts
Due: none

start implementing things
  antarest/study/business/study_interface.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_factory_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/core/tasks/test_tasks_service.py
  tests/helpers.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/storage/business/test_raw_study_service.py
  tests/study/dao/conftest.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

modify the front end
  webapp/src/services/api/variant.ts
Due: none

fixing some
  antarest/study/service.py
  tests/helpers.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/study/dao/file/conftest.py
Due: mypy, ruff-format, ruff-check

give it at runtime to be clearer
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

fixing some tests
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

fixing some tests
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

another test fixed
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

feat(study): compute study synthesis from database via DAO (#3141)
  antarest/study/business/study_interface.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/dao/test_database_synthesis_dao.py
Due: mypy, ruff-format, ruff-check

change amount of db queries
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

wip
  antarest/study/dao/database/database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

feat(reserves): fix version validation
  antarest/study/business/model/config/compatibility_parameters_model.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/dao/file/file_study_compatibility_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/compatibility_parameters.py
  tests/integration/studies_blueprint/test_study_settings.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/variantstudy/model/command/test_manage_binding_constraints_db.py
Due: ruff-format, ruff-check

perf(dao): less db requests for renewables
  antarest/core/exceptions.py
  antarest/study/dao/api/renewable_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/file/common.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/variantstudy/model/command/create_renewables_cluster.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
Due: mypy, ruff-format, ruff-check

fixing some tests
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_renewable_dao.py
Due: mypy, ruff-format, ruff-check

put back denormalization inside method
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

refactor(variants)!: use the dao inside the snapshot generator (#3138)
  antarest/study/business/study_interface.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_factory_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/factory.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/command_matrix_usage_provider.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/core/tasks/test_tasks_service.py
  tests/helpers.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/storage/business/test_export.py
  tests/storage/business/test_optional_matrices.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/study/dao/conftest.py
  tests/study/dao/file/conftest.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_utils.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/variantstudy/model/test_variant_model.py
  webapp/src/services/api/variant.ts
Due: mypy, ruff-format, ruff-check

refactor : introduce ConstraintID
  antarest/core/exceptions.py
  antarest/study/business/binding_constraint_management.py
  antarest/study/business/model/binding_constraint_model.py
  antarest/study/business/table_mode_management.py
  antarest/study/dao/api/binding_constraint_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/remove_multiple_binding_constraints.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/test_binding_constraint_management.py
  tests/study/dao/test_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fix circular import (exceptions.py imported ConstraintID
  antarest/core/exceptions.py
Due: mypy, ruff-format, ruff-check

perf(dao): less db requests for area matrices
  antarest/study/dao/api/area_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_area_matrices_dao.py
Due: mypy, ruff-format, ruff-check

fix ut
  tests/variantstudy/model/command/test_create_area.py
Due: ruff-format, ruff-check

feat(reserves): implement reserves activation variable (#3140)
  alembic/versions/444b392eeaa6_add_reserves_enabled_to_compatibility_.py
  antarest/study/business/compatibility_parameters_management.py
  antarest/study/business/model/config/compatibility_parameters_model.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/dao/database/models/settings.py
  antarest/study/dao/file/file_study_compatibility_parameters.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/compatibility_parameters.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_reserves_enabled.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/study/business/model/__init__.py
  tests/study/business/model/config/__init__.py
  tests/study/business/model/config/test_compatibility_parameters_model.py
  tests/study/dao/test_database_settings_dao.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix ut
  tests/storage/business/conftest.py
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

perf(dao): less db requests for renewables (#3145)
  antarest/core/exceptions.py
  antarest/study/dao/api/renewable_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/file/common.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/model/command/create_renewables_cluster.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_renewable_dao.py
Due: mypy, ruff-format, ruff-check

fix copilot review
  antarest/study/business/model/binding_constraint_model.py
  antarest/study/dao/database/database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fix failing test
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

rewrite test
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
