Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

wip
  alembic/versions/e0523c4f43ae_add_hydro_tables.py
  antarest/core/exceptions.py
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/hydro.py
  tests/study/dao/test_database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-config): simplify TS generation form
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/hooks/usePromiseHandler.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/FreezeStudy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/TypeConfigFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/index.tsx
  webapp/src/services/api/studies/timeseries/index.ts
  webapp/src/theme/components.ts
Due: none

move things
  antarest/study/dao/api/study_factory_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/file/file_study_factory_dao.py
  antarest/study/service.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

use Study instead of RawStudy
  antarest/study/dao/api/study_factory_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/file/file_study_factory_dao.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

fixing tests
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

feat(ui-config): simplify TS generation form (#2971)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/hooks/usePromiseHandler.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/FreezeStudy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/TypeConfigFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/index.tsx
  webapp/src/services/api/studies/timeseries/index.ts
  webapp/src/theme/components.ts
Due: none

minor
  tests/storage/test_service.py
Due: ruff-format, ruff-check

refactor(dao): add a utility upsert method
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/sql_utils.py
  tests/study/dao/test_sql_utils.py
Due: mypy, ruff-format, ruff-check

check in test that mutiple upsert is indeed less query intensive
  tests/study/dao/test_sql_utils.py
Due: ruff-format, ruff-check

renaming, docstring
  antarest/study/dao/database/sql_utils.py
Due: mypy, ruff-format, ruff-check

resolve minor comments
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/file/file_study_factory_dao.py
  antarest/study/service.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

polish unit tests
  tests/study/dao/test_sql_utils.py
Due: ruff-format, ruff-check

remove obsolete comment
  antarest/study/dao/database/database_layer_dao.py
Due: mypy, ruff-format, ruff-check

fix test import
  tests/study/dao/test_sql_utils.py
Due: ruff-format, ruff-check

start cleaning method
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

continue
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

continue
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

c
  tests/core/tasks/test_tasks_service.py
Due: ruff-format, ruff-check

a
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

c
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: ruff-format, ruff-check

c
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

remove method
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

fix final test
  tests/study/storage/rawstudy/test_raw_study_service.py
Due: ruff-format, ruff-check

feat(favorite directory): added the favorite directory methods and done the unit / integration testing
  alembic/versions/u9t13x9i6kt_add_favorite_directory_table.py
  alembic/versions/y7x41d4a8yc_add_foreign_key_users_favorite_table.py
  antarest/favorite/model.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  antarest/service_creator.py
  tests/conftest.py
  tests/favorite_study/test_favorite_directory.py
  tests/favorite_study/test_favorite_study.py
  tests/integration/favorite_blueprint/test_favorite_directory.py
  tests/integration/favorite_blueprint/test_favorite_study.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/core/exceptions.py
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

improve alembic migration readability
  alembic/versions/0e628a645214_add_thermal_cluster_tables.py
Due: ruff-format, ruff-check

remove lower casing, change delete signature, add deletion tests
  antarest/core/utils/utils.py
  antarest/study/dao/api/thermal_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/remove_cluster.py
  tests/study/dao/test_database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

fix alembic head
  alembic/versions/0e628a645214_add_thermal_cluster_tables.py
Due: ruff-format, ruff-check

update garbage collection test and fixes it
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

add missing error cases
  antarest/study/dao/database/database_thermal_dao.py
  tests/study/dao/test_database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

Add missing exceptions and corresponding tests
  antarest/study/dao/database/database_thermal_dao.py
  tests/study/dao/test_database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

add todos for later work
  antarest/study/dao/database/database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

feat(launcher): add named mps export option in local launcher (#2980)
  antarest/launcher/adapters/local_launcher/local_launcher.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

feat(favorite directory): merged conflicting alembic versions
  alembic/versions/9v8a86r0g4xy_merge_link_and_favorite.py
Due: ruff-format, ruff-check

refactor(archive): optim
  Dockerfile
  alembic/versions/y7x41d4a8yc_add_foreign_key_users_favorite_table.py
  antarest/core/utils/archives.py
Due: mypy, ruff-format, ruff-check

refactor(archive): optim
  Dockerfile
Due: none

feat(favorite directory): wip fixing alembic versions to match dev version
  alembic/versions/y7x41d4a8yc_add_foreign_key_users_favorite_table.py
  antarest/favorite/model.py
  antarest/favorite/web.py
Due: mypy, ruff-format, ruff-check

feat(favorite directory): wip fixing alembic versions to match dev version
  alembic/versions/9v8a86r0g4xy_merge_link_and_favorite.py
Due: ruff-format, ruff-check

feat(favorite directory): fixing alembic versions to match dev version
  alembic/versions/u9t13x9i6kt_add_favorite_directory_table.py
  alembic/versions/y7x41d4a8yc_add_foreign_key_users_favorite_table.py
Due: ruff-format, ruff-check
