Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

add alembic migration
  alembic/versions/9ba7fc46d4a0_add_version_to_matrices.py
Due: ruff-format, ruff-check

fix(commands): refactor command implementations to simplify output handling
  antarest/study/storage/variantstudy/model/command/create_cluster.py
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  antarest/study/storage/variantstudy/model/command/remove_link.py
  antarest/study/storage/variantstudy/model/command/remove_renewables_cluster.py
  antarest/study/storage/variantstudy/model/command/remove_st_storage.py
  antarest/study/storage/variantstudy/model/command/update_config.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
Due: mypy, ruff-format, ruff-check

fix(commands): refactor command implementations to simplify output handling
  antarest/study/storage/variantstudy/model/command/create_link.py
  antarest/study/storage/variantstudy/model/command/create_renewables_cluster.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  antarest/study/storage/variantstudy/model/command/update_district.py
Due: mypy, ruff-format, ruff-check

fix(commands): refactor command implementations to simplify output handling
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
Due: mypy, ruff-format, ruff-check

feat(study): allow to copy only selected outputs (#2447)
  antarest/core/exceptions.py
  antarest/study/common/studystorage.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

feat(launcher): first commit
  antarest/core/config.py
  antarest/launcher/adapters/abstractlauncher.py
  antarest/launcher/adapters/factory_launcher.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/tools/admin_lib.py
Due: mypy, ruff-format, ruff-check

fix(commands): refactor tests to adjust handling of `remove_from_config`
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: ruff-format, ruff-check

resolve comments
  antarest/service_creator.py
  antarest/study/business/aggregator_management.py
  antarest/study/common/__init__.py
  antarest/study/main.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/output_service.py
  antarest/study/storage/output_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/storage_dispatchers.py
  antarest/study/storage/storage_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/launcher/test_service.py
  tests/storage/integration/conftest.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

fix(launcher): wip
  antarest/core/config.py
  antarest/launcher/adapters/factory_launcher.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/web.py
  antarest/tools/admin_lib.py
Due: mypy, ruff-format, ruff-check

add version inside db model
  antarest/matrixstore/model.py
Due: mypy, ruff-format, ruff-check

chore(outputs): create a dedicated output service to separate concerns (#2448)
  antarest/launcher/main.py
  antarest/launcher/service.py
  antarest/main.py
  antarest/service_creator.py
  antarest/singleton_services.py
  antarest/study/business/aggregator_management.py
  antarest/study/common/__init__.py
  antarest/study/main.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/auto_archive_service.py
  antarest/study/storage/output_service.py
  antarest/study/storage/output_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/storage_dispatchers.py
  antarest/study/storage/storage_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  tests/integration/conftest.py
  tests/launcher/test_service.py
  tests/launcher/test_web.py
  tests/storage/business/test_autoarchive_service.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/test_service.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

small refactorings
  antarest/core/config.py
  antarest/matrixstore/exceptions.py
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/migration_script.py
  antarest/matrixstore/parsing.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/matrixstore/web.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

modify test
  tests/matrixstore/test_repository.py
Due: ruff-format, ruff-check

start adapting code
  antarest/matrixstore/migration_script.py
  antarest/matrixstore/parsing.py
  antarest/matrixstore/repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

continue work
  antarest/core/config.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): disable keybinds on read-only matrices
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
Due: none

continue code
  antarest/matrixstore/repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

simplify check
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

simplify code
  antarest/matrixstore/repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

change hash calculus
  antarest/matrixstore/repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

change hash calculus
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

change hash calculus
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

allez
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

add TNR
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

hash
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

remove matrixdto
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/model.py
  antarest/matrixstore/service.py
  antarest/matrixstore/web.py
  tests/matrixstore/conftest.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

fix some tests
  tests/matrixstore/test_in_memory_matrix_service.py
  tests/matrixstore/test_web.py
  tests/storage/business/test_url_resolver_service.py
Due: ruff-format, ruff-check

fix uri resolver
  antarest/matrixstore/uri_resolver_service.py
Due: mypy, ruff-format, ruff-check

rollback
  antarest/matrixstore/uri_resolver_service.py
Due: mypy, ruff-format, ruff-check

micro fix
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

simplify hash calculus
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

hack one workspace per drive
  antarest/core/config.py
  antarest/study/storage/explorer_service.py
  webapp/src/services/api/study.ts
Due: mypy, ruff-format, ruff-check

build artifact on this branch
  .github/workflows/deploy.yml
Due: none

little fixes
  tests/matrixstore/test_service.py
  tests/storage/business/test_xpansion_manager.py
  tests/variantstudy/model/command/test_create_xpansion_resource.py
Due: ruff-format, ruff-check

fixing tests
  tests/matrixstore/test_repository.py
Due: ruff-format, ruff-check

continue fixing test
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

fix imports
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

use new version by default
  antarest/matrixstore/service.py
Due: mypy, ruff-format, ruff-check
