Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(ui-output): change default value to 'annual' for temporality field (#3397)
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/index.tsx
Due: none

fix(ui-study): keep variant tree titles visible while scrolling
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/TreeLabels.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/TreeNode.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
Due: none

fix alembic
  alembic/versions/e12d85a77641_add_thermal_cluster_ramping_to_.py
Due: ruff-format, ruff-check

fix(ui-study): add fallback width for variant tree labels
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
Due: none

feat(gems): update database schema
  alembic/versions/95838f16cb00_create_gems_scenario_builder_table.py
  antarest/core/exceptions.py
  antarest/study/dao/api/gems_scenario_builder_dao.py
  antarest/study/dao/database/gems/database_scenario_builder_dao.py
  antarest/study/dao/database/models/gems/scenario_builder.py
  antarest/study/dao/file/file_study_gems_scenario_builder_dao.py
  tests/study/dao/file/test_filestudy_gems_scenario_builder_dao.py
  tests/study/dao/test_database_gems_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

fix(ui-study): keep variant tree titles visible while scrolling (#3400)
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/TreeLabels.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/TreeNode.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
Due: none

copilot review
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/index.tsx
Due: none

year by year field
  webapp/src/components/fieldEditors/NumberFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/index.tsx
Due: none

review
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/ColumnsFilters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/index.tsx
Due: none

remove drawer
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ColumnsFilters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/ColumnsFilters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/index.tsx
Due: none

feat(ui-output): update the view (#3396)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/fieldEditors/NumberFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ColumnsFilters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/ColumnsFilters.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/index.tsx
Due: none

feat(gems): multiple changes
  antarest/study/business/model/gems/scenario_builder.py
  antarest/study/dao/database/gems/database_scenario_builder_dao.py
  antarest/study/dao/file/file_study_gems_scenario_builder_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_scenario_builder_dao.py
  tests/study/dao/test_database_gems_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.35.0 (2026-09-21)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  uv.lock
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

feat(gems): add id strict validation
  antarest/core/model.py
  antarest/study/business/model/gems/scenario_builder.py
  tests/study/business/test_scenario_builder_model.py
  tests/study/dao/file/test_filestudy_gems_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-reserves): add short-term storages and hydro production types support
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/mutations.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/queries/storages/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/CertificationsTable.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/ProductionTypeSelect.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/SymmetriesTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateCertificationDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateReserveAssetsDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateReserveClustersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/certificationFields/StorageCertificationFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/certificationFields/ThermalCertificationFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-productionTypes.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/certifications.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/symmetries.tsx
  webapp/src/services/api/studies/areas/reserves/__tests__/schemas.test.ts
  webapp/src/services/api/studies/areas/reserves/index.ts
  webapp/src/services/api/studies/areas/reserves/schemas.ts
  webapp/src/services/api/studies/areas/reserves/types.ts
Due: none

refactor(ui): review
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/CertificationsTable.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateCertificationDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateReserveAssetsDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/certificationFields/StorageCertificationFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/certificationFields/ThermalCertificationFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-productionTypes.ts
  webapp/src/services/api/studies/areas/reserves/__tests__/schemas.test.ts
  webapp/src/services/api/studies/areas/reserves/constants.ts
  webapp/src/services/api/studies/areas/reserves/schemas.ts
  webapp/src/services/api/studies/areas/reserves/types.ts
Due: none

feat(ui-reserves): add reserves production types support (#3394)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/mutations.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/queries/storages/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/CertificationsTable.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/ProductionTypeSelect.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/SymmetriesTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateCertificationDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateReserveAssetsDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateReserveClustersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/certificationFields/StorageCertificationFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/certificationFields/ThermalCertificationFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-productionTypes.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/certifications.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/symmetries.tsx
  webapp/src/services/api/studies/areas/reserves/__tests__/schemas.test.ts
  webapp/src/services/api/studies/areas/reserves/constants.ts
  webapp/src/services/api/studies/areas/reserves/index.ts
  webapp/src/services/api/studies/areas/reserves/schemas.ts
  webapp/src/services/api/studies/areas/reserves/types.ts
Due: none

refactor(ui-thermals): prepare query data layer
  webapp/src/queries/thermals/__tests__/queries.test.ts
  webapp/src/queries/thermals/keys.ts
  webapp/src/queries/thermals/mutations.ts
  webapp/src/queries/thermals/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-utils.ts
  webapp/src/services/api/studies/areas/thermals/README.md
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/thermals/constants.ts
  webapp/src/services/api/studies/areas/thermals/index.ts
  webapp/src/services/api/studies/areas/thermals/types.ts
Due: none

feat(gems): implement scenario builder (#3399)
  alembic/versions/95838f16cb00_create_gems_scenario_builder_table.py
  antarest/core/model.py
  antarest/study/business/model/gems/scenario_builder.py
  antarest/study/dao/api/gems_scenario_builder_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/gems/database_scenario_builder_dao.py
  antarest/study/dao/database/models/gems/scenario_builder.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_gems_scenario_builder_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/study/business/test_scenario_builder_model.py
  tests/study/dao/assets/gems/scenario_builder/modeler-scenariobuilder.dat
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_scenario_builder_dao.py
  tests/study/dao/test_database_gems_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

fix(alembix): rewire
  alembic/versions/e12d85a77641_add_thermal_cluster_ramping_to_.py
Due: ruff-format, ruff-check

feat(ramp): add ramp boolean in optimization_preferences (#3393)
  alembic/versions/e12d85a77641_add_thermal_cluster_ramping_to_.py
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/database/models/settings.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/study/dao/test_database_settings_dao.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
Due: mypy, ruff-format, ruff-check

feat(ramp): add params to cluster
  alembic/versions/24984ccc44c6_add_ramp_fields_to_thermal_cluster.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/dao/database/models/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  antarest/tablemode/model.py
  tests/core/test_study_data_key_migration.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/test_integration.py
  tests/storage/business/test_arealink_manager.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/test_thermal_model.py
  tests/study/dao/test_database_thermal_dao.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

refactor(ui-thermals): normalize optional API fields
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/thermals/schemas.ts
Due: none

refactor(ui-thermals): address API review feedback
  webapp/src/services/api/studies/areas/thermals/index.ts
  webapp/src/services/api/studies/areas/thermals/schemas.ts
  webapp/src/services/api/studies/areas/thermals/types.ts
Due: none

refactor(ui-thermals): prepare query data layer
  webapp/src/queries/thermals/keys.ts
  webapp/src/queries/thermals/mutations.ts
  webapp/src/queries/thermals/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-utils.ts
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/thermals/constants.ts
  webapp/src/services/api/studies/areas/thermals/index.ts
  webapp/src/services/api/studies/areas/thermals/schemas.ts
  webapp/src/services/api/studies/areas/thermals/types.ts
Due: none

test(ui-thermals): focus on critical API cases
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
Due: none

refactor(ui-thermals): add API and TanStack Query foundation (#3403)
  webapp/src/queries/thermals/keys.ts
  webapp/src/queries/thermals/mutations.ts
  webapp/src/queries/thermals/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-utils.ts
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/thermals/constants.ts
  webapp/src/services/api/studies/areas/thermals/index.ts
  webapp/src/services/api/studies/areas/thermals/schemas.ts
  webapp/src/services/api/studies/areas/thermals/types.ts
Due: none

fix test
  tests/core/test_study_data_key_migration.py
Due: ruff-format, ruff-check

remove test
  tests/core/test_study_data_key_migration.py
Due: ruff-format, ruff-check

remove redundant test
  tests/study/business/test_thermal_model.py
  tests/study/dao/test_database_thermal_dao.py
Due: ruff-format, ruff-check

fix(ui-clusters): normalize renewable and thermal response IDs
  webapp/src/services/api/studies/areas/renewables/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/renewables/index.ts
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/thermals/index.ts
Due: none

refactor(ui-renewables): prepare query data layer
  webapp/src/queries/renewables/keys.ts
  webapp/src/queries/renewables/mutations.ts
  webapp/src/queries/renewables/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/-utils.ts
  webapp/src/services/api/studies/areas/renewables/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/renewables/constants.ts
  webapp/src/services/api/studies/areas/renewables/index.ts
  webapp/src/services/api/studies/areas/renewables/schemas.ts
  webapp/src/services/api/studies/areas/renewables/types.ts
Due: none

use math.inf as default
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  tests/study/business/conftest.py
  tests/study/business/test_thermal_model.py
  tests/study/dao/test_database_thermal_dao.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

refactor(ui-renewables): add API and TanStack Query foundation (#3406)
  webapp/src/queries/renewables/keys.ts
  webapp/src/queries/renewables/mutations.ts
  webapp/src/queries/renewables/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/-utils.ts
  webapp/src/services/api/studies/areas/renewables/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/renewables/constants.ts
  webapp/src/services/api/studies/areas/renewables/index.ts
  webapp/src/services/api/studies/areas/renewables/schemas.ts
  webapp/src/services/api/studies/areas/renewables/types.ts
  webapp/src/services/api/studies/areas/thermals/__tests__/index.test.ts
Due: none

fix table mode
  antarest/study/business/table_mode_management.py
Due: mypy, ruff-format, ruff-check

fix(ui-study): fit variant tree titles and reduce tree scale
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
Due: none

fix(ui-study): widen variant tree titles to one third
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
Due: none

fix(ui-study): use custom scrollbar in variants tree
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
Due: none

switch back to None + fix naming
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/business/table_mode_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  tests/study/business/test_thermal_model.py
  tests/study/dao/test_database_thermal_dao.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
