Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

hydro daily power
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/HydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/daily-power-and-energy-credits.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/utils.ts
Due: none

fix(logs): fixing some usage of stopwatch, adding logs to download api (#2930)
  antarest/core/filetransfer/web.py
  antarest/study/output/output_service.py
Due: mypy, ruff-format, ruff-check

hydro reservoir levels
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/HydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/HydroMatrixDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/SplitHydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/allocation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/correlation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/inflow-structure/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/reservoir-levels.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/utils.ts
Due: none

feat(celery): watcher task (#2929)
  antarest/core/config.py
  antarest/maintenance/app.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_blob_task.py
  antarest/maintenance/tasks/watcher_scan.py
  antarest/maintenance/tasks/watcher_scan_task.py
  antarest/study/storage/rawstudy/watcher.py
  antarest/study/storage/utils.py
  tests/maintenance/tasks/test_watcher_scan.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

hydro routes
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/hydro-storage.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/min-gen.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/run-of-river.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/water-values.tsx
Due: none

update
  webapp/src/components/Matrix/hooks/useMatrixData.ts
  webapp/src/components/Matrix/index.tsx
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Areas/AreaPropsView.tsx
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Areas/style.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/-components/HydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/-components/HydroMatrixDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/-components/SplitHydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/-components/ViewMatrixButton.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/-components/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/-hooks/useAreasOptions.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/allocation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/allocation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/correlation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/correlation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/daily-power-and-energy-credits.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/hydro-storage.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/inflow-structure/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/min-gen.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/reservoir-levels.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/run-of-river.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/Hydro/water-values.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/clustersUtils.ts
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/-clustersUtils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/index.tsx
Due: none

style
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/TermsFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/index.tsx
Due: none

issue
  webapp/src/services/api/studies/areas/storages/index.ts
Due: none

wip
  tests/integration/maintenance_blueprint/test_gc_variable_view.py
Due: ruff-format, ruff-check

optim
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/ClusterTermDataFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/LinkTermDataFE.tsx
Due: none

style
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/index.tsx
Due: none

fix(links): change default matrix values
  antarest/study/storage/rawstudy/model/filesystem/root/input/link/area/capacities/capacities.py
  antarest/study/storage/variantstudy/business/matrix_constants/link/v8.py
Due: mypy, ruff-format, ruff-check

rename
  webapp/src/components/Matrix/hooks/useMatrixData.ts
  webapp/src/components/Matrix/index.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/-components/HydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/-components/HydroMatrixDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/-components/SplitHydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/-components/ViewMatrixButton.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/-components/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/-hooks/useAreasOptions.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/allocation/-components/AllocationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/allocation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/allocation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/allocation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/correlation/-components/CorrelationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/correlation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/correlation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/correlation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/daily-power-and-energy-credits.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/hydro-storage.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/inflow-structure/-components/InflowStructureForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/inflow-structure/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/inflow-structure/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/management-options/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/management-options/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/management-options/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/min-gen.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/reservoir-levels.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/run-of-river.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/dHydro/water-values.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-components/HydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-components/HydroMatrixDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-components/SplitHydroMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-components/ViewMatrixButton.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-components/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-hooks/useAreasOptions.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-components/AllocationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-components/CorrelationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/daily-power-and-energy-credits.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/hydro-storage.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/inflow-structure/-components/InflowStructureForm.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/inflow-structure/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/inflow-structure/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/management-options/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/management-options/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/management-options/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/min-gen.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/reservoir-levels.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/run-of-river.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/water-values.tsx
Due: none

wrong route
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/daily-power-and-energy-credits.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/hydro-storage.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/inflow-structure/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/management-options/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/min-gen.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/reservoir-levels.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/run-of-river.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/water-values.tsx
Due: none

fix import
  webapp/src/components/Matrix/hooks/useMatrixData.ts
  webapp/src/components/Matrix/index.tsx
Due: none

wip
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_variable_view.py
Due: mypy, ruff-format, ruff-check

test df pd => pl
  tests/integration/maintenance_blueprint/test_gc_variable_view.py
Due: ruff-format, ruff-check

fix typo
  antarest/maintenance/tasks/gc_variable_view.py
Due: mypy, ruff-format, ruff-check

refactor
  antarest/maintenance/tasks/auto_archive_task.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_blob_task.py
  antarest/maintenance/tasks/gc_matrix_task.py
  antarest/maintenance/tasks/gc_variable_view_task.py
  antarest/maintenance/tasks/watcher_scan_task.py
Due: mypy, ruff-format, ruff-check

fix(matrix): fix unit test and revert lock around polars
  antarest/core/utils/polars.py
  antarest/matrixstore/parsing.py
  antarest/matrixstore/repository.py
  antarest/study/business/matrix_management.py
  antarest/study/output/output_service.py
  antarest/study/output/utils.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/digest.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/matrixstore/test_repository.py
Due: mypy, ruff-format, ruff-check

fix(links): change default matrix values (#2933)
  antarest/study/storage/rawstudy/model/filesystem/root/input/link/area/capacities/capacities.py
  antarest/study/storage/variantstudy/business/matrix_constants/link/v8.py
Due: mypy, ruff-format, ruff-check

ensure new instances with factory methods instead of constants
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/storage/rawstudy/model/filesystem/common/prepro.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/constants.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/prepro/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/link/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/prepro/area/thermal/thermal.py
  antarest/study/storage/variantstudy/business/matrix_constants/binding_constraint/series_after_v87.py
  antarest/study/storage/variantstudy/business/matrix_constants/binding_constraint/series_before_v87.py
  antarest/study/storage/variantstudy/business/matrix_constants/st_storage/series.py
  tests/matrixstore/test_repository.py
Due: mypy, ruff-format, ruff-check

forgot this file
  antarest/maintenance/app.py
Due: mypy, ruff-format, ruff-check

convert other constants to factories
  antarest/study/storage/variantstudy/business/matrix_constants/common.py
  antarest/study/storage/variantstudy/business/matrix_constants/hydro/v6.py
  antarest/study/storage/variantstudy/business/matrix_constants/hydro/v7.py
  antarest/study/storage/variantstudy/business/matrix_constants/link/v7.py
  antarest/study/storage/variantstudy/business/matrix_constants/link/v8.py
  antarest/study/storage/variantstudy/business/matrix_constants/prepro.py
  antarest/study/storage/variantstudy/business/matrix_constants/thermals/prepro.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
Due: mypy, ruff-format, ruff-check

forgot test file
  tests/maintenance/test_app.py
Due: ruff-format, ruff-check

update doc
  docs/developer-guide/install/1-CONFIG.md
Due: none

feat(area): replace pandas with polars
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_study_dao.py
Due: mypy, ruff-format, ruff-check

fix unit tests
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
  tests/study/storage/variantstudy/business/test_matrix_constants_generator.py
  tests/variantstudy/model/command/test_manage_binding_constraints.py
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: mypy, ruff-format, ruff-check

feat(area): adress some fixes
  antarest/core/config.py
  antarest/study/dao/database/database_area_dao.py
  tests/integration/assets/config.template.yml
Due: mypy, ruff-format, ruff-check

fix integration tests
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: mypy, ruff-format, ruff-check

fix assertions
  tests/study/storage/variantstudy/business/test_matrix_constants_generator.py
Due: ruff-format, ruff-check

feat(area): address some fixes
  antarest/study/dao/database/database_area_dao.py
Due: mypy, ruff-format, ruff-check

feat(area): address some fixes
  antarest/study/business/model/area_model.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models.py
Due: mypy, ruff-format, ruff-check

feat(area): address fixes
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(area): address fixes
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(area): address fixes
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check
