Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

remove obsolete class
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

feat(disk_space_analyzer): added disk usage log files and tests
  antarest/maintenance/tasks/disk_space_analyzer.py
  antarest/maintenance/tasks/disk_space_analyzer_task.py
Due: mypy, ruff-format, ruff-check

remove new config from tests
  tests/integration/assets/config.template.yml
Due: none

some docstring
  antarest/output/storage/output_storage.py
Due: mypy, ruff-format, ruff-check

feat(disk_usage_log): removed dry run param from disk usage log
  antarest/core/config.py
  antarest/core/persistence.py
  antarest/maintenance/tasks/disk_usage_log.py
  antarest/maintenance/tasks/disk_usage_log_task.py
  tests/integration/maintenance_blueprint/test_disk_usage_log.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): implement database support (#3020)
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/models/ruleset.py
  tests/study/dao/test_database_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

feat(comments): implements database support
  alembic/versions/8a9a91f6a2bc_add_comments_column_to_study.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/model.py
  tests/study/dao/test_database_settings_dao.py
Due: mypy, ruff-format, ruff-check

x-tree fix
  webapp/eslint.config.js
  webapp/src/components/TreeItemEnhanced.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Tree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
Due: none

fix mrt
  webapp/src/components/GroupedDataTable/CreateDialog.tsx
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/components/GroupedDataTable/types.ts
  webapp/src/components/GroupedDataTable/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/index.tsx
Due: none

update MUI
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/DynamicList.tsx
  webapp/src/components/SnackErrorMessage.tsx
  webapp/src/routes/_authenticated/-components/MaintenanceMode/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/FreezeStudy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/-components/AllocationField.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/-components/CorrelationField.tsx
Due: none

change
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/Notes/utils.ts
Due: none

use vars
  webapp/src/components/DynamicDataTable/TableToolbar.tsx
  webapp/src/components/FileTable.tsx
  webapp/src/components/Logo.tsx
  webapp/src/components/dialogs/BasicDialog.tsx
  webapp/src/components/dialogs/DataViewerDialog/styles.ts
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/routes/-shared/components/studies/dialogs/ExportModal/ExportFilter/TagSelect/style.ts
  webapp/src/routes/_authenticated/data/-components/DataListing.tsx
  webapp/src/routes/_authenticated/data/-components/styles.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/Notes/NodeEditorModal/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/Notes/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Details.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/styles.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/map/-components/Areas/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/map/-components/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/xpansion/-shared/components/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/routes/_authenticated/tasks/index.tsx
  webapp/src/theme/components.ts
  webapp/src/utils/muiUtils.ts
Due: none

add missing task wait in unit tests
  tests/integration/studies_blueprint/test_study_copy.py
  tests/integration/utils.py
Due: ruff-format, ruff-check

fix lint
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/allocation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/correlation/index.tsx
Due: none

copilot review
  webapp/src/components/Logo.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/utils/muiUtils.ts
Due: none

fix import in unit tests again
  tests/integration/studies_blueprint/test_study_copy.py
Due: ruff-format, ruff-check

feat(comments): fix alembic head
  alembic/versions/8a9a91f6a2bc_add_comments_column_to_study.py
Due: ruff-format, ruff-check

double wait time on windows also for downloads
  tests/integration/utils.py
Due: ruff-format, ruff-check

merge with dev
  tests/study/dao/test_database_scenario_builder_dao.py
Due: ruff-format, ruff-check

update docstring and actually import logs
  antarest/launcher/service.py
  antarest/output/output_service.py
Due: mypy, ruff-format, ruff-check

fix unit test
  tests/launcher/test_service.py
Due: ruff-format, ruff-check

resolve comment
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

test(dao): add matrix mapper tests for filesystem dao (#3072)
  tests/storage/integration/study_converter/test_study_converter_hydro.py
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_area_matrices_dao.py
  tests/study/dao/test_database_area_properties_dao.py
  tests/study/dao/test_database_blob_usage_provider.py
  tests/study/dao/test_database_district_dao.py
  tests/study/dao/test_database_hydro_dao.py
  tests/study/dao/test_database_initialize_study.py
  tests/study/dao/test_database_layer_dao.py
  tests/study/dao/test_database_link_dao.py
  tests/study/dao/test_database_link_matrices_dao.py
  tests/study/dao/test_database_renewable_dao.py
  tests/study/dao/test_database_scenario_builder_dao.py
  tests/study/dao/test_database_settings_dao.py
  tests/study/dao/test_database_st_storage_dao.py
  tests/study/dao/test_database_thematic_trimming_dao.py
  tests/study/dao/test_database_thermal_dao.py
  tests/study/dao/test_database_user_resources_dao.py
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

feat(disk_usage_log): corrected imports problem
  antarest/core/persistence.py
Due: mypy, ruff-format, ruff-check

review
  webapp/src/components/TreeItemEnhanced.tsx
Due: none

remove obsolete method unarchive
  antarest/core/utils/archives.py
  antarest/output/storage/file_output_storage.py
Due: mypy, ruff-format, ruff-check

remove obsolete method extract archive
  antarest/core/utils/archives.py
  antarest/output/storage/file_output_storage.py
Due: mypy, ruff-format, ruff-check

eslint
  webapp/eslint.config.js
  webapp/src/components/Logo.tsx
Due: none

remove unused test file
  tests/study/service/test_export.py
Due: ruff-format, ruff-check

add missing params docstring
  antarest/output/output_service.py
Due: mypy, ruff-format, ruff-check

accept only a sequence of storages as input
  antarest/output/output_service.py
  antarest/service_creator.py
  tests/output/test_output_service.py
Due: mypy, ruff-format, ruff-check

fix export logic
  antarest/output/storage/file_output_storage.py
Due: mypy, ruff-format, ruff-check

fix exception docstring
  antarest/core/exceptions.py
Due: mypy, ruff-format, ruff-check

eslint
  webapp/eslint.config.js
Due: none

wait for archiving to finish in test
  tests/integration/studies_blueprint/test_study_export.py
Due: ruff-format, ruff-check

rename fn
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
  webapp/src/utils/muiUtils.ts
Due: none

feat(comments): fix table schema
  alembic/versions/8a9a91f6a2bc_add_comments_column_to_study.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/comments.py
  antarest/study/model.py
  tests/study/dao/test_database_settings_dao.py
Due: mypy, ruff-format, ruff-check

fix(ui-output): issue with variable selector
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/OutputFilters/VariableSelector.tsx
Due: none
