Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

load studies data at the `Container` level
  webapp/src/components/App/Container/index.tsx
  webapp/src/components/App/Tasks/index.tsx
Due: none

feat(ui-studies): move favorites studies from Studies sidenav to main app sidebar (#2730)
  webapp/src/components/App/Container/FavoritesMenu.tsx
  webapp/src/components/App/Container/MenuItem.tsx
  webapp/src/components/App/Container/SidebarItem.tsx
  webapp/src/components/App/Container/TaskIcon.tsx
  webapp/src/components/App/Container/index.tsx
  webapp/src/components/App/Container/styles.ts
  webapp/src/components/App/Studies/SideNav.tsx
  webapp/src/components/App/Tasks/index.tsx
Due: none

fix(ui-study): variant not visible after creation
  webapp/src/components/App/Singlestudy/HomeView/InformationView/CreateVariantDialog.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/hooks/useFormCloseConfirm.tsx
  webapp/src/hooks/useFormCloseProtection.ts
  webapp/src/services/utils/index.ts
Due: none

add comment
  webapp/src/components/common/Form/index.tsx
Due: none

missing
  webapp/src/components/common/Form/index.tsx
  webapp/src/hooks/useFormCloseConfirm.tsx
Due: none

review
  webapp/src/components/App/Singlestudy/HomeView/InformationView/CreateVariantDialog.tsx
  webapp/src/hooks/useFormCloseProtection.ts
Due: none

fix(ui-study): variant not visible after creation (#2729)
  webapp/src/components/App/Singlestudy/HomeView/InformationView/CreateVariantDialog.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/hooks/useFormCloseConfirm.tsx
  webapp/src/hooks/useFormCloseProtection.ts
  webapp/src/services/utils/index.ts
Due: none

fix update
  antarest/study/dao/api/district_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Districts/UpdateDistrictDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Districts/index.tsx
  webapp/src/redux/ducks/studyMaps.ts
  webapp/src/services/api/study.ts
Due: mypy, ruff-format, ruff-check

chore(launcher): fix query param synatx
  webapp/src/services/api/study.ts
Due: none

fix(launcher): remove duplicate launcher id argument and fix API call (#2738)
  antarest/launcher/model.py
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/services/api/study.ts
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

chore(outputs): ensure temp files deletion and a few simplifications
  antarest/core/serde/parquet_writer.py
  antarest/study/storage/df_download.py
  tests/core/serde/test_parquet_writer.py
Due: mypy, ruff-format, ruff-check

fix(output)!: allow aggregation with columns mismatch (#2718)
  antarest/core/exceptions.py
  antarest/core/serde/matrix_export.py
  antarest/core/serde/parquet_writer.py
  antarest/study/business/aggregator_management.py
  antarest/study/storage/df_download.py
  antarest/study/storage/output_service.py
  requirements-dev.txt
  tests/core/serde/test_matrix_export.py
  tests/core/serde/test_parquet_writer.py
  tests/integration/raw_studies_blueprint/assets/columns_mismatch.txt
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): make search field manual
  webapp/src/components/App/Studies/HeaderActions/SearchStudies.tsx
  webapp/src/components/App/Studies/HeaderActions/index.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/fieldEditors/StringFE.tsx
  webapp/src/hooks/useFormCloseProtection.ts
Due: none

review
  webapp/src/hooks/useFormCloseProtection.ts
Due: none

downgrade python for worker build
  .github/workflows/worker.yml
Due: none

feat(ui-studies): make search field manual (#2739)
  webapp/src/components/App/Studies/HeaderActions/SearchStudies.tsx
  webapp/src/components/App/Studies/HeaderActions/index.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/fieldEditors/StringFE.tsx
  webapp/src/hooks/useFormCloseProtection.ts
Due: none

wip
  antarest/study/business/district_manager.py
  antarest/study/dao/api/district_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/test_district_manager.py
  tests/variantstudy/model/command/test_manage_district.py
Due: mypy, ruff-format, ruff-check

rename substract
  antarest/study/business/model/district_model.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
  tests/integration/test_integration.py
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  tests/integration/test_integration.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/variantstudy/model/command/test_manage_district.py
Due: mypy, ruff-format, ruff-check

refactor update function
  antarest/study/business/model/district_model.py
  antarest/study/storage/variantstudy/model/command/update_district.py
Due: mypy, ruff-format, ruff-check

remove unused function
  antarest/study/dao/api/district_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

fix niptick
  tests/variantstudy/model/command/test_manage_district.py
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Districts/index.tsx
Due: ruff-format, ruff-check

remove useless method
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
Due: mypy, ruff-format, ruff-check

feat(area-properties): add dao interface and get implementation for area properties management
  antarest/study/business/areas/properties_management.py
  antarest/study/dao/api/area_properties_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_area_properties_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

feat(area-properties): implement save functionality in dao and update area properties logic
  antarest/study/business/model/area_properties_model.py
  antarest/study/dao/api/area_properties_dao.py
  antarest/study/dao/file/file_study_area_properties_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_areas_properties.py
Due: mypy, ruff-format, ruff-check

fix(launcher): fix arguments handling in local launcher
  antarest/launcher/adapters/local_launcher/local_launcher.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

to revert: build desktop
  .github/workflows/deploy.yml
Due: none

wip
  antarest/study/business/scenario_builder_management.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
Due: mypy, ruff-format, ruff-check

fix typo and doc
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

refactor(area-management): extract area properties logic to a dedicated manager
  antarest/study/business/area_management.py
  antarest/study/business/areas/properties_management.py
  antarest/study/business/model/area_properties_model.py
  antarest/study/business/table_mode_management.py
  antarest/study/dao/api/area_properties_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_area_properties_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/area.py
  tests/variantstudy/model/command/test_update_areas_properties.py
Due: mypy, ruff-format, ruff-check

add code
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/assets/STA-mini.zip
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

refactor(area-management): replace single area property update with batch update
  antarest/study/business/areas/properties_management.py
  antarest/study/web/study_data_blueprint.py
  tests/variantstudy/model/command/test_update_areas_properties.py
Due: mypy, ruff-format, ruff-check

disable explicit encoding: we don't know the system configuration
  antarest/launcher/adapters/local_launcher/local_launcher.py
Due: mypy, ruff-format, ruff-check

front renaming
  webapp/src/components/App/shared/studies/dialogs/ExportModal/ExportFilter/Filter/index.tsx
  webapp/src/components/App/shared/studies/dialogs/ExportModal/ExportFilter/index.tsx
  webapp/src/types/types.ts
Due: none

refactor
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

refactor(scenario_builder): introduce dao (#2719)
  antarest/study/business/scenario_builder_management.py
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

remove redundant formatting
  tests/launcher/test_local_launcher.py
Due: ruff-format, ruff-check
