Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix(ui-matrix): use UTC for date/time display to avoid DST issues
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/common/Matrix/hooks/useGridCellContent/index.ts
  webapp/src/components/common/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.test.ts
  webapp/src/components/common/Matrix/shared/constants.ts
  webapp/src/components/common/Matrix/shared/utils.ts
Due: none

fix(test): standardize timezone between local development and CI environments
  .github/workflows/main.yml
  webapp/src/components/common/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.test.ts
  webapp/src/components/common/Matrix/shared/constants.ts
  webapp/src/tests/setup.ts
Due: none

feat(study): forbid illegal characters in name
  antarest/core/utils/utils.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_create_study.py
  tests/integration/studies_blueprint/test_get_studies.py
  tests/integration/studies_blueprint/test_move.py
  tests/integration/studies_blueprint/test_update_tags.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): use UTC for date/time display to avoid DST issues (#2584)
  .github/workflows/main.yml
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/common/Matrix/hooks/useGridCellContent/index.ts
  webapp/src/components/common/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.test.ts
  webapp/src/components/common/Matrix/shared/constants.ts
  webapp/src/components/common/Matrix/shared/utils.ts
Due: none

chore(sqlalchemy): 3 failing tests left
  antarest/core/configdata/repository.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
  tests/core/tasks/test_model.py
  tests/core/test_tasks.py
  tests/helpers.py
  tests/launcher/test_repository.py
  tests/matrixstore/test_matrix_garbage_collector.py
  tests/storage/business/test_autoarchive_service.py
  tests/storage/business/test_export.py
  tests/storage/business/test_import.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_repository.py
  tests/storage/business/test_variant_study_service.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_exporter.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_abstract_storage_service.py
  tests/study/storage/test_utils.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_model.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

chore(sqlalchemy): 1 failing tests left
  tests/storage/test_service.py
Due: ruff-format, ruff-check

chore(sqlalchemy): unit tests ok
  tests/storage/business/test_watcher.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/test_abstract_storage_service.py
  tests/study/storage/test_utils.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/test_repository.py
Due: ruff-format, ruff-check

feat(ui-sts): allow in study >= 9.2 to see the legacy group list in group text field
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Studies/HeaderActions/index.tsx
  webapp/src/components/App/shared/studies/StudyPathFE.tsx
  webapp/src/components/common/GroupedDataTable/CreateDialog.tsx
  webapp/src/components/common/fieldEditors/SearchFE.tsx
  webapp/src/components/common/fieldEditors/StringFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

feat(ui-sts): allow in study >= 9.2 to see the legacy group list in group text field (#2595)
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Studies/HeaderActions/index.tsx
  webapp/src/components/App/shared/studies/StudyPathFE.tsx
  webapp/src/components/common/GroupedDataTable/CreateDialog.tsx
  webapp/src/components/common/fieldEditors/SearchFE.tsx
  webapp/src/components/common/fieldEditors/StringFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

chore(sqlalchemy): unit tests ok
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/dbmodel.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(sqlalchemy): unit tests ok
  tests/storage/business/test_autoarchive_service.py
Due: ruff-format, ruff-check

build desktop version
  .github/workflows/deploy.yml
Due: none

feat(generalconfig): fix unit test for command
  antarest/study/business/model/config/general_model.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): fix unit test for command
  antarest/study/business/model/config/general_model.py
  antarest/study/dao/file/file_study_general_config_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
Due: mypy, ruff-format, ruff-check

fix src
  antarest/study/storage/variantstudy/model/command/remove_xpansion_resource.py
Due: mypy, ruff-format, ruff-check

fix src code
  antarest/study/storage/variantstudy/model/command/remove_xpansion_resource.py
Due: mypy, ruff-format, ruff-check

add UT
  tests/variantstudy/model/command/test_remove_xpansion_resource.py
Due: ruff-format, ruff-check

fix(xpansion): forbid capacity deletion if referenced inside a candidate (#2596)
  antarest/study/storage/variantstudy/model/command/remove_xpansion_resource.py
  tests/variantstudy/model/command/test_remove_xpansion_resource.py
Due: mypy, ruff-format, ruff-check

chore(launcher): bump launcher to v1.4.5 to benefit from improved retries
  requirements.txt
Due: none

chore(launcher): bump launcher to v1.4.5 to benefit from improved retries (#2597)
  requirements.txt
Due: none

feat(general-data): remove properties for 9.3
  antarest/study/model.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/generaldata.py
  requirements.txt
  tests/study/storage/rawstudy/test_general_data.py
  tests/test_resources.py
Due: mypy, ruff-format, ruff-check

feat(study): fix issues
  antarest/study/storage/abstract_storage_service.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

feat(optimization): implements DAO for optimization preferences
  antarest/study/business/model/config/optimization_config.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): replaces types
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): get ok
  antarest/study/business/model/config/optimization_config.py
  antarest/study/business/optimization_management.py
  antarest/study/dao/api/optimization_preferences_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/FileStudyOptimizationPreferencesDao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_optimization_preferences.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): update ok
  antarest/study/business/model/config/optimization_config.py
  antarest/study/business/optimization_management.py
  antarest/study/dao/api/optimization_preferences_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/FileStudyOptimizationPreferencesDao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  antarest/study/storage/variantstudy/model/command/update_optimization_preferences.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): few fixes
  antarest/study/business/model/config/optimization_config.py
  antarest/study/business/optimization_management.py
  antarest/study/dao/file/FileStudyOptimizationPreferencesDao.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): few fixes
  antarest/study/dao/file/FileStudyOptimizationPreferencesDao.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): few fixes
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

update folder column
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

fix query
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

fix(matrix): fix concurrent matrix write
  antarest/matrixstore/repository.py
  tests/matrixstore/test_repository.py
Due: mypy, ruff-format, ruff-check

fix(matrix): fix concurrent matrix write (#2599)
  antarest/matrixstore/repository.py
  tests/matrixstore/test_repository.py
Due: mypy, ruff-format, ruff-check

feat(study): add editor field during copy
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
Due: mypy, ruff-format, ruff-check

feat(study): add editor field during copy
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

chore(build): update ubuntu version to 22 for desktop
  scripts/package_antares_web.sh
Due: none

feat(study): add editor field during copy
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check
