Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

resolve comments
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
  tests/variantstudy/model/command/test_xpansion_candidates.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(xpansion): add candidate commands (#2367)
  antarest/core/exceptions.py
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
  tests/storage/business/test_xpansion_manager.py
  tests/variantstudy/model/command/test_xpansion_candidates.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

remove useless comment
  antarest/study/business/binding_constraint_management.py
Due: mypy, ruff-format, ruff-check

feat(hydro): add three models for differents purposes
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/model/hydro_model.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/areas/test_hydro_management.py
Due: mypy, ruff-format, ruff-check

feat(hydro): change logic in updating hydro models
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/model/inflow_model.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_properties.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(properties): refacto
  antarest/study/business/area_management.py
  antarest/study/business/areas/properties_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/area_properties_model.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(properties): refacto
  antarest/study/business/area_management.py
  antarest/study/business/areas/properties_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/area_properties_model.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
Due: mypy, ruff-format, ruff-check

feat(properties): refacto
  antarest/study/business/areas/properties_management.py
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
Due: mypy, ruff-format, ruff-check

feat(hydro): rename inflow properties to inflow structure
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/model/inflow_model.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(hydro): rename inflow properties to inflow structure
  tests/integration/study_data_blueprint/test_hydro_inflow_properties.py
Due: ruff-format, ruff-check

feat(binding-constraints): create UpdateConstraints command (#2274)
  antarest/study/business/binding_constraint_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/binding_constraint.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/variantstudy/model/command/test_update_binding_constraints.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix(mypy): change writing
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
Due: mypy, ruff-format, ruff-check

fix(mypy): change writing inside pandas `replace` method (#2391)
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
Due: mypy, ruff-format, ruff-check

Build artifacts
  .github/workflows/deploy.yml
Due: none

fix(matrix): prevent fill handle updates for read-only matrices
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
Due: none

fix(ui-matrix): prevent fill handle updates for read-only matrices (#2383)
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
Due: none

feat(areas): add command dto unit tests
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(areas): add command dto unit tests
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(areas): add command dto unit tests
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

test(sts and renewable): add command dto unit tests
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

feat(workspaces): forbid external workspaces when desktop mode is on
  antarest/core/config.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

write code
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_settings.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
Due: mypy, ruff-format, ruff-check

fix tests
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_settings.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
  tests/storage/business/test_xpansion_manager.py
Due: mypy, ruff-format, ruff-check

add desktom mode to version_info and desktop endpoint
  antarest/core/core_blueprint.py
  antarest/core/version_info.py
  tests/integration/test_core_blueprint.py
Due: mypy, ruff-format, ruff-check

resolve comments and add UTs
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_settings.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  tests/variantstudy/model/command/test_update_xpansion_settings.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

Fix area properties handling and correct naming inconsistencies
  antarest/study/business/areas/properties_management.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
Due: mypy, ruff-format, ruff-check

fix import issue
  tests/variantstudy/model/command/test_update_xpansion_settings.py
Due: ruff-format, ruff-check

chore(release): v2.19.1 (2025-03-11)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

fix mypy issue
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.19.1 (2025-03-11) (#2395)
  antarest/__init__.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

make private method public
  antarest/core/config.py
Due: mypy, ruff-format, ruff-check

finalize rebasing
  antarest/study/business/area_management.py
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/areas/renewable_management.py
  antarest/study/business/areas/st_storage_management.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/test_integration.py
  tests/study/business/areas/test_hydro_management.py
  tests/study/business/areas/test_st_storage_management.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_field_validators.py
  tests/variantstudy/model/command/test_create_st_storage.py
  tests/variantstudy/model/command/test_remove_cluster.py
  tests/variantstudy/test_command_factory.py
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Renewables/Fields.tsx
Due: mypy, ruff-format, ruff-check

put back old test
  tests/integration/study_data_blueprint/test_st_storage.py
Due: ruff-format, ruff-check

feat(hydro): rename hydro management methods and commands for consistency
  antarest/study/business/areas/hydro_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/areas/test_hydro_management.py
Due: mypy, ruff-format, ruff-check

feat(hydro): add update hydro management option command (#2374)
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/model/hydro_model.py
  antarest/study/business/model/inflow_model.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_hydro_inflow_properties.py
  tests/study/business/areas/test_hydro_management.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(areas): merge dev
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(study): allow creating old studies with new version format
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_study_version.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.19.1 (#2397)
  alembic/versions/423fe2c8ee40_add_commandblock_index.py
  alembic/versions/dae93f1d9110_populate_tag_and_study_tag_tables_with_.py
  antarest/__init__.py
  antarest/launcher/model.py
  antarest/launcher/service.py
  antarest/launcher/web.py
  antarest/study/business/all_optional_meta.py
  antarest/study/business/binding_constraint_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/identifier.py
  docs/CHANGELOG.md
  mkdocs.yml
  pyproject.toml
  sonar-project.properties
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/launcher/test_service.py
  tests/study/test_field_validators.py
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/App/Singlestudy/explore/Debug/utils.ts
Due: mypy, ruff-format, ruff-check

fix(study): fix study update
  antarest/study/model.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
