Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix other UTs
  tests/storage/integration/study_converter/test_study_converter_hydro.py
Due: ruff-format, ruff-check

fix other tests
  tests/variantstudy/model/command/test_create_area.py
Due: ruff-format, ruff-check

3 test failures
  tests/variantstudy/model/command/test_remove_area.py
Due: ruff-format, ruff-check

2 tests failures
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
Due: ruff-format, ruff-check

1 test failure
  tests/variantstudy/model/command/test_replace_matrix.py
Due: ruff-format, ruff-check

fix hydro management code issue
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

perf(dao): less db requests for hydro (#3152)
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/file/common.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/storage/variantstudy/model/command/replace_hydro_allocation.py
  antarest/study/storage/variantstudy/model/command/replace_hydro_correlation.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  tests/storage/integration/study_converter/test_study_converter_hydro.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_hydro_dao.py
  tests/variantstudy/model/command/test_create_area.py
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_replace_matrix.py
Due: mypy, ruff-format, ruff-check

start the work
  antarest/core/exceptions.py
  antarest/study/dao/api/binding_constraint_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
Due: mypy, ruff-format, ruff-check

feat(reserves): fix
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/area_reserves.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): preserve decimal precision in avg and total aggregates
  webapp/src/components/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/Matrix/shared/utils.ts
Due: none

fix(ui-matrix): fix floating-point precision in filter operations and cell display
  webapp/src/components/Matrix/components/MatrixFilter/hooks/useMatrixFilter.ts
  webapp/src/components/Matrix/components/MatrixStats.tsx
  webapp/src/components/Matrix/shared/utils.ts
Due: none

fix(ui-matrix): fix floating-point precision in filter operations and cell display (#3150)
  webapp/src/components/Matrix/components/MatrixFilter/hooks/useMatrixFilter.ts
  webapp/src/components/Matrix/components/MatrixStats.tsx
  webapp/src/components/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/Matrix/shared/utils.ts
Due: none

feat(reserves): fix alembic revision
  alembic/versions/c61baf008ebd_add_reserves_global_parameters_table.py
Due: ruff-format, ruff-check

review
  webapp/src/components/Matrix/components/MatrixFilter/Operations.tsx
Due: none

fix(ui-matrix): allow decimal and clearable value in operation field
  webapp/src/components/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/Matrix/components/MatrixFilter/hooks/useOperationControls.ts
Due: none

fix(ui-matrix): allow decimal and clearable value in operation field (#3149)
  webapp/src/components/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/Matrix/components/MatrixFilter/hooks/useOperationControls.ts
Due: none

stop using NewType
  antarest/study/dao/common.py
Due: mypy, ruff-format, ruff-check

try fixing some mypy issues
  antarest/study/dao/api/binding_constraint_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

adapt the converter
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

fix an issue
  antarest/study/dao/database/database_binding_constraint_dao.py
Due: mypy, ruff-format, ruff-check

copilot review
  webapp/src/components/TreeItemEnhanced.tsx
Due: none

feat(ui-debug): clicking on a file item does not open the file
  webapp/src/components/TreeItemEnhanced.tsx
  webapp/src/components/router/RouterTreeItem.tsx
  webapp/src/routes/-shared/components/studies/StudyPathFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/CreateFolderDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Tree/FileTreeItem.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
Due: none

continue
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-debug): clicking on a file item does not open the file (#3151)
  webapp/src/components/TreeItemEnhanced.tsx
  webapp/src/components/router/RouterTreeItem.tsx
  webapp/src/routes/-shared/components/studies/StudyPathFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/CreateFolderDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Tree/FileTreeItem.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
Due: none

adapt the matrix mapper
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

fix mypy issue
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fixing 57 tests
  tests/study/dao/test_binding_constraint_dao.py
Due: ruff-format, ruff-check

fixing tests
  tests/variantstudy/model/command/test_manage_binding_constraints.py
Due: ruff-format, ruff-check

feat(reserve): rework needs
  antarest/study/business/reserves_global_parameters_management.py
  antarest/study/dao/api/reserves_global_parameters_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
  antarest/study/dao/file/file_study_reserves_global_parameters_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/area_reserves.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/reserves.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/web/study_data_blueprint.py
  tests/study/dao/test_database_reserves_global_parameters_dao.py
Due: mypy, ruff-format, ruff-check

feat(reserve): rework tests
  tests/study/business/model/test_reserves_global_parameters_model.py
Due: ruff-format, ruff-check

feat(reserve): lint
  tests/study/business/model/test_reserves_global_parameters_model.py
Due: ruff-format, ruff-check

continue work
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/user_resources_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_user_resources.py
  antarest/study/dao/database/database_xpansion_dao.py
  antarest/study/dao/file/file_study_user_resources_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_constraint.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_matrix.py
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  antarest/study/storage/variantstudy/model/command/replace_user_resource.py
Due: mypy, ruff-format, ruff-check

fix claude review
  antarest/study/dao/common.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

perf(dao): less db requests for binding constraints (#3153)
  antarest/core/exceptions.py
  antarest/study/dao/api/binding_constraint_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
  tests/study/dao/conftest.py
  tests/study/dao/test_binding_constraint_dao.py
  tests/variantstudy/model/command/test_manage_binding_constraints.py
Due: mypy, ruff-format, ruff-check

fixing some issues
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

fixing last mypy erros
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

fix the matrix mapper issue
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

remove the todo comment
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

fix db tests
  tests/study/dao/test_database_blob_usage_provider.py
  tests/study/dao/test_database_user_resources_dao.py
  tests/study/dao/test_database_xpansion_dao.py
Due: ruff-format, ruff-check

fix issue in xpansion candidates
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
