Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

make the test better
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

resolve comments
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
  antarest/study/business/table_mode_management.py
  tests/integration/study_data_blueprint/test_table_mode.py
Due: mypy, ruff-format, ruff-check

feat(aggregate): remove renaming aggregation (#2607)
  antarest/study/business/aggregator_management.py
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/expected_result_sts.csv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02-all.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-02.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-07.result.tsv
  tests/integration/raw_studies_blueprint/assets/aggregate_areas_raw_data/test-08-all.result.tsv
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

resolve comments + little code optim
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
  antarest/study/dao/api/st_storage_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_st_storage_additional_constraints.py
Due: mypy, ruff-format, ruff-check

chore(ui-matrix-filters): remove redundant property names
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilteredData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

chore(ui-matrix-filters): remove dead code
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useTemporalData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
  webapp/src/utils/date/dateUtils.ts
Due: none

chore(ui-matrix-filter): remove more dead code
  webapp/src/components/common/Matrix/components/MatrixFilter/MultiRowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
Due: none

perf(ui-matrix-filter): improve matrix filters performances (#2606)
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/common/Matrix/components/FilterableMatrixGrid.tsx
  webapp/src/components/common/Matrix/components/MatrixActions/MatrixActions.test.tsx
  webapp/src/components/common/Matrix/components/MatrixActions/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/MultiRowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/__tests__/hourIndexing.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/__tests__/useFilteredData.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useFilteredData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/useTemporalData.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/dateInfo.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/dateUtils.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/common/Matrix/hooks/useGridCellContent/__tests__/fixtures.ts
  webapp/src/components/common/Matrix/hooks/useGridCellContent/index.ts
  webapp/src/components/common/Matrix/hooks/useGridCellContent/types.ts
  webapp/src/components/common/Matrix/hooks/useMatrixData.ts
  webapp/src/components/common/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.test.ts
  webapp/src/components/common/Matrix/shared/types.ts
  webapp/src/components/common/Matrix/shared/utils.ts
  webapp/src/utils/date/dateUtils.ts
  webapp/src/utils/date/matrixDateUtils.ts
Due: none

feat(generalconfig): set horizon as str
  antarest/study/business/model/config/general_model.py
  tests/integration/study_data_blueprint/test_config_general.py
  tests/variantstudy/model/command/test_update_general_config.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): fix some issues
  antarest/study/business/model/config/general_model.py
  antarest/study/dao/file/file_study_general_config_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/test_integration_token_end_to_end.py
Due: mypy, ruff-format, ruff-check

refactor(ui-commons): update NewSelectFE and replace deprecated SelectFE with it
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Settings/General.tsx
  webapp/src/components/App/Singlestudy/HomeView/InformationView/CreateVariantDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/Optimization/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Properties/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Renewables/RenewableConfig/RenewableForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/ThermalConfig/ThermalForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/AddDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/AddConstraintTermDialog/AddConstraintTermForm/OptionsList.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/ConstraintFields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Links/LinkConfig/LinkForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Districts/UpdateDistrictDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Layers/UpdateLayerDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/TableModeList/dialogs/TableTemplateFormDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Xpansion/Candidates/CreateCandidateDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Xpansion/Settings/SettingsForm.tsx
  webapp/src/components/App/Studies/CreateStudyDialog.tsx
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpdateStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpgradeStudyDialog.tsx
  webapp/src/components/common/fieldEditors/BooleanFE.tsx
  webapp/src/components/common/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/common/fieldEditors/ListFE/index.tsx
  webapp/src/components/common/fieldEditors/NewSelectFE.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/components/common/fieldEditors/StringFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/theme/components.ts
Due: none

refactor(ui-commons): update NewSelectFE and replace deprecated SelectFE with it (#2602)
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Settings/General.tsx
  webapp/src/components/App/Singlestudy/HomeView/InformationView/CreateVariantDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/Optimization/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/ManagementOptions/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Properties/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Renewables/RenewableConfig/RenewableForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/ThermalConfig/ThermalForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/AddDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/AddConstraintTermDialog/AddConstraintTermForm/OptionsList.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/ConstraintFields.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Links/LinkConfig/LinkForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Districts/UpdateDistrictDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Map/MapConfig/Layers/UpdateLayerDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/TableModeList/dialogs/TableTemplateFormDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Xpansion/Candidates/CreateCandidateDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Xpansion/Settings/SettingsForm.tsx
  webapp/src/components/App/Studies/CreateStudyDialog.tsx
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpdateStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/UpgradeStudyDialog.tsx
  webapp/src/components/common/fieldEditors/BooleanFE.tsx
  webapp/src/components/common/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/common/fieldEditors/ListFE/index.tsx
  webapp/src/components/common/fieldEditors/NewSelectFE.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/components/common/fieldEditors/StringFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/theme/components.ts
Due: none

feat(optimization-config): fix some issues
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  antarest/study/storage/variantstudy/model/command/update_optimization_preferences.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

always use list list for the front end
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
Due: mypy, ruff-format, ruff-check

resolving some comments
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/variantstudy/model/command/create_st_storage_constraints.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/variantstudy/model/command/test_create_st_storage_additional_constraints.py
  tests/variantstudy/model/command/test_update_st_storage_additional_constraints.py
Due: mypy, ruff-format, ruff-check

adding endpoint for the front-end
  antarest/study/business/areas/st_storage_management.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

perf(cluster): optimize a bit the update methods (#2608)
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

refactor : use sql alchemy instead of raw sql query
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

feat(ui-api): add storage additional constraints functions
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
  webapp/src/utils/tsUtils.ts
Due: none

refactoring
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

typo
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

add a little docstring
  antarest/study/storage/variantstudy/model/command/common.py
Due: mypy, ruff-format, ruff-check

perf(commands): re-use the cache more often (#2609)
  antarest/core/interfaces/cache.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/create_user_resource.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_configuration.py
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  antarest/study/storage/variantstudy/model/command/remove_district.py
  antarest/study/storage/variantstudy/model/command/remove_user_resource.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_configuration.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_resource.py
  antarest/study/storage/variantstudy/model/command/replace_matrix.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/update_area_ui.py
  antarest/study/storage/variantstudy/model/command/update_areas_properties.py
  antarest/study/storage/variantstudy/model/command/update_comments.py
  antarest/study/storage/variantstudy/model/command/update_config.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/storage/variantstudy/model/command/update_playlist.py
  antarest/study/storage/variantstudy/model/command/update_raw_file.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_settings.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  antarest/study/storage/variantstudy/model/model.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

fix(studies): make all managed studies folder end with id (#2600)
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

refactor(hydro): add hydro dao and file_study_hydro_dao, update hydro relative files, update in-memory study dao class
  antarest/study/business/areas/hydro_management.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(hydro): add default methods for models
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/hydro.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  tests/study/business/areas/test_hydro_management.py
  tests/variantstudy/model/command/test_update_hydro_management.py
Due: mypy, ruff-format, ruff-check

test(hydro): fix tests, path used in get_all_hydro_properties
  antarest/study/dao/file/file_study_hydro_dao.py
  tests/study/business/areas/test_hydro_management.py
Due: mypy, ruff-format, ruff-check

chore(hydro): tidy up code
  antarest/study/storage/rawstudy/model/filesystem/config/hydro.py
Due: mypy, ruff-format, ruff-check

fix(hydro): update `in_memory_study_dao.py`
  antarest/study/business/areas/hydro_management.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/areas/test_hydro_management.py
Due: mypy, ruff-format, ruff-check

fix(hydro): minor fixes
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/areas/test_hydro_management.py
  tests/variantstudy/model/command/test_update_hydro_management.py
  tests/variantstudy/model/command/test_update_inflow_structure.py
Due: mypy, ruff-format, ruff-check

chore(hydro): minor fixes
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
Due: mypy, ruff-format, ruff-check

chore(hydro): fix classes and methods responsibilities
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/hydro.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  tests/variantstudy/model/command/test_update_hydro_management.py
Due: mypy, ruff-format, ruff-check

chore(hydro): remove TODOs
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

fix(hydro): fix in_memory save methods
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

chore(hydro): fix HydroManagementFileData methods and update commands
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/hydro.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  tests/variantstudy/model/command/test_update_inflow_structure.py
Due: mypy, ruff-format, ruff-check

fix(hydro): add implementation of methods in `in_memory_study_dao.py`
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-storages): add storages additional constraints view
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintDetails.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
Due: none

fix mypy and ruff issues
  antarest/study/business/areas/renewable_management.py
  antarest/study/business/model/renewable_cluster_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/renewable.py
  antarest/study/storage/variantstudy/model/command/create_renewables_cluster.py
Due: mypy, ruff-format, ruff-check

alembic merge heads
  alembic/versions/6c3d9dbf678c_.py
Due: ruff-format, ruff-check

see if all tests are okay
  antarest/study/business/model/renewable_cluster_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/storage/variantstudy/model/command/create_renewables_cluster.py
  tests/variantstudy/model/command/test_create_cluster.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
