Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix(log): revert nested log structure for now
  antarest/core/logging/utils.py
Due: mypy, ruff-format, ruff-check

fix(adequacy_patch): fix bad tooltip (#2415)
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
Due: none

fix(logging): fix context manager release
  antarest/core/logging/utils.py
  antarest/login/utils.py
Due: mypy, ruff-format, ruff-check

chore(logging): add unit test to check context manager
  tests/core/test_logging.py
Due: ruff-format, ruff-check

feat(study): works but need some tests
  tests/integration/test_integration.py
  tests/storage/business/test_variant_study_service.py
Due: ruff-format, ruff-check

fix(header): restore toggle button
  webapp/src/components/App/Studies/StudiesList/Header.tsx
Due: none

feat(study): add unit test
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

feat(link): add an endpoint to get one link
  antarest/study/business/link_management.py
  antarest/study/service.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_link.py
Due: mypy, ruff-format, ruff-check

fix(study-tree-ui): fix several bugs and major refactoring (#2348)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
  webapp/src/components/App/Studies/StudyTree/__test__/fixtures.ts
  webapp/src/components/App/Studies/StudyTree/__test__/utils.test.ts
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/App/Studies/StudyTree/types.ts
  webapp/src/components/App/Studies/StudyTree/utils.ts
  webapp/src/components/common/utils/constants.ts
  webapp/src/services/api/study.ts
Due: none

start work
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/model/hydro_model.py
  antarest/study/business/model/inflow_model.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

ok
  antarest/study/business/areas/hydro_management.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(adequacy-patch): fix a bug that would occurs when serializing adequacy patch. We must have dash instead of underscore
  antarest/study/storage/variantstudy/model/command/update_areas_properties.py
Due: mypy, ruff-format, ruff-check

continue work
  antarest/study/business/areas/hydro_management.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

add integration test
  tests/integration/study_data_blueprint/test_hydro_inflow_properties.py
Due: ruff-format, ruff-check

resolve comments
  antarest/study/storage/variantstudy/model/command/common.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

fix some tests
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

speed up the code
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

poc
  antarest/study/business/areas/thermal_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_thermal_cluster.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

fix last failing test
  antarest/study/business/areas/thermal_management.py
  tests/integration/study_data_blueprint/test_thermal.py
Due: mypy, ruff-format, ruff-check

fix mypy
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

add integration test for perfs
  tests/integration/study_data_blueprint/test_thermal.py
Due: ruff-format, ruff-check

remove unitary command
  antarest/study/business/areas/thermal_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/update_thermal_cluster.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

fix(adequacy-patch): add unit test
  tests/variantstudy/model/command/test_update_areas_properties.py
Due: ruff-format, ruff-check

resolve anis comments
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

fix(adequacy-patch): fix serialization issue inside the ini file (#2418)
  antarest/study/storage/variantstudy/model/command/update_areas_properties.py
  tests/variantstudy/model/command/test_update_areas_properties.py
Due: mypy, ruff-format, ruff-check

fix(terms): revert breaking change
  antarest/study/business/binding_constraint_management.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: mypy, ruff-format, ruff-check

reorganize code
  antarest/study/business/binding_constraint_management.py
Due: mypy, ruff-format, ruff-check

fix(terms): revert breaking change (#2421)
  antarest/study/business/binding_constraint_management.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: mypy, ruff-format, ruff-check

perf(table-mode): speed-up mass update for thermal clusters (#2416)
  antarest/study/business/areas/thermal_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_thermal_cluster.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

start work
  antarest/study/business/areas/renewable_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_renewable_cluster.py
  antarest/study/storage/variantstudy/model/command/update_renewable_clusters.py
Due: mypy, ruff-format, ruff-check

fix some tests
  tests/integration/study_data_blueprint/test_renewable.py
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

add test
  tests/integration/study_data_blueprint/test_renewable.py
Due: ruff-format, ruff-check

resolve comments
  antarest/study/business/areas/renewable_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  tests/integration/study_data_blueprint/test_renewable.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

perf(table-mode): speed-up mass update for renewable clusters (#2423)
  antarest/study/business/areas/renewable_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_renewable_cluster.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  tests/integration/study_data_blueprint/test_renewable.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

first round of code
  antarest/study/business/areas/renewable_management.py
  antarest/study/business/areas/st_storage_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_st_storage.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
Due: mypy, ruff-format, ruff-check

fix src code
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
Due: mypy, ruff-format, ruff-check

change src code and all tests are ok
  antarest/core/model.py
  antarest/study/business/areas/renewable_management.py
  antarest/study/business/areas/thermal_management.py
  antarest/study/business/model/renewable_cluster_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/business/table_mode_management.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
Due: mypy, ruff-format, ruff-check

change thermal code and add tests
  antarest/study/business/model/renewable_cluster_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

add stricter test
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: ruff-format, ruff-check

remove useless thing
  antarest/core/model.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
