Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

perf(dao): less db requests for short-term storages (#3158)
  antarest/core/exceptions.py
  antarest/study/dao/api/st_storage_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  antarest/study/storage/variantstudy/model/command/create_st_storage_constraints.py
  antarest/study/storage/variantstudy/model/command/update_st_storage_additional_constraints.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/study/business/areas/test_st_storage_management.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_scenario_builder_dao.py
  tests/study/dao/test_database_st_storage_dao.py
  tests/study/dao/test_database_synthesis_dao.py
  tests/variantstudy/model/command/test_create_st_storage.py
Due: mypy, ruff-format, ruff-check

fix(db): use batches inside insert to avoid sql issues
  antarest/study/dao/database/sql_utils.py
  tests/study/dao/test_sql_utils.py
Due: mypy, ruff-format, ruff-check

fix lint
  antarest/study/dao/database/sql_utils.py
Due: mypy, ruff-format, ruff-check

refactor(dao): align file DAO exceptions with DB DAO and share test
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  tests/study/dao/test_database_district_dao.py
  tests/study/dao/test_database_hydro_dao.py
  tests/study/dao/test_database_link_dao.py
  tests/study/dao/test_database_renewable_dao.py
  tests/study/dao/test_database_scenario_builder_dao.py
  tests/study/dao/test_database_thermal_dao.py
  tests/study/dao/test_database_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

minor code optimization
  antarest/study/dao/database/sql_utils.py
Due: mypy, ruff-format, ruff-check

fix calculation
  antarest/study/dao/database/sql_utils.py
Due: mypy, ruff-format, ruff-check

fix(db): use batch insertions to avoid sql issues (#3159)
  antarest/study/dao/database/sql_utils.py
  tests/study/dao/test_sql_utils.py
Due: mypy, ruff-format, ruff-check

fix tests
  tests/integration/study_data_blueprint/test_renewable.py
  tests/study/dao/test_database_district_dao.py
  tests/variantstudy/model/command/test_create_renewables_cluster.py
  tests/variantstudy/model/command/test_update_renewable_cluster.py
Due: ruff-format, ruff-check

perf(dao): less fs requests for bc matrices inside study converter
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

perf(dao): less fs requests for bc matrices inside study converter (#3160)
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fix test
  antarest/study/dao/file/file_study_renewable_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/storage/variantstudy/model/command/update_renewables_clusters.py
  antarest/study/storage/variantstudy/model/command/update_thermal_clusters.py
  tests/study/dao/test_database_hydro_dao.py
  tests/study/dao/test_database_link_dao.py
Due: mypy, ruff-format, ruff-check

feat(reserve): implement parameters
  alembic/versions/7a1e9c4d82f5_add_reserve_definition_table.py
  antarest/core/exceptions.py
  antarest/study/business/areas/reserve_definitions_management.py
  antarest/study/business/model/reserve_definition_model.py
  antarest/study/dao/api/reserve_definition_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/reserve_definition.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/file/file_study_reserves_global_parameters_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_definition.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserves_global_parameters.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_reserve_definition.py
  antarest/study/storage/variantstudy/model/command/remove_reserve_definition.py
  antarest/study/storage/variantstudy/model/command/update_reserve_definitions.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/model/test_reserve_definition_model.py
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
  tests/study/dao/test_database_reserve_definition_dao.py
  tests/variantstudy/model/command/test_reserve_definition_commands.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

feat(reserve): fix tests
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/models/reserve_definition.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_definition.py
Due: mypy, ruff-format, ruff-check

refactor test links dao
  tests/study/dao/test_database_link_dao.py
Due: ruff-format, ruff-check

refactor test renewable dao
  tests/study/dao/test_database_renewable_dao.py
Due: ruff-format, ruff-check

chore(deps): upgrade some dependencies
  pyproject.toml
  uv.lock
Due: none

chore(deps): fix blocs2
  pyproject.toml
  uv.lock
Due: none

wip
  antarest/core/serde/matrix_export.py
  antarest/output/filestudy/aggregation.py
  antarest/output/filestudy/utils.py
  antarest/output/model.py
  antarest/output/service.py
  antarest/output/storage/file/storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/variables_storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/web/raw_studies_blueprint.py
  tests/output/filestudy/test_aggregation.py
Due: mypy, ruff-format, ruff-check

chore(deps): rollback tables
  pyproject.toml
  uv.lock
Due: none

chore(deps): rollback tables upgrade (#3166)
  pyproject.toml
  uv.lock
Due: none

feat(ui-studies): add list visualization mode for listing studies
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/FilterControls.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/NavigationBreadcrumbs.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/ScanDirectoryDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useBreadcrumbs.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/DirectoryLink.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/GridStudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/ListStudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCardActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyMetadataRow.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyOwnerTag.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyTypeIcon.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/useStudyCard.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/utils/studiesUtils.ts
Due: none

review
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/GridStudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
Due: none

feat(ui-studies): add list visualization mode for listing studies (#3148)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/FilterControls.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/NavigationBreadcrumbs.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/ScanDirectoryDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useBreadcrumbs.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/DirectoryLink.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/GridStudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/ListStudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCardActions.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyMetadataRow.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyOwnerTag.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyTypeIcon.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/useStudyCard.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/types.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/utils/studiesUtils.ts
Due: none

modify the zip to add tests
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers.py
  examples/studies/STA-mini.zip
Due: mypy, ruff-format, ruff-check

fix(ts-numbers): support reading ntc folder
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/various_ts_numbers.py
  tests/storage/integration/test_STA_mini.py
Due: mypy, ruff-format, ruff-check

fix(ts-numbers): support reading ntc folder (#3167)
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/various_ts_numbers.py
  examples/studies/STA-mini.zip
  tests/storage/integration/test_STA_mini.py
Due: mypy, ruff-format, ruff-check

perf(dao): less fs requests for some hydro matrices
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

fix naming issue
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

perf(dao): less fs requests for some hydro matrices (#3168)
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

add failing test
  tests/integration/studies_blueprint/test_study_matrix_index.py
Due: ruff-format, ruff-check

feat(reserve): fix tests
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
Due: ruff-format, ruff-check

add code except for binding constraints
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

simple test is OK, now we should add more
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

finalize parametrized UT
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/integration/studies_blueprint/test_study_matrix_index.py
Due: mypy, ruff-format, ruff-check

finalize test
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/integration/studies_blueprint/test_study_matrix_index.py
Due: mypy, ruff-format, ruff-check

typo
  tests/integration/studies_blueprint/test_study_matrix_index.py
Due: ruff-format, ruff-check

wip
  antarest/core/serde/matrix_export.py
  antarest/output/filestudy/aggregation.py
  antarest/output/filestudy/file_output_utils.py
  antarest/output/filestudy/utils.py
  antarest/output/model.py
  antarest/output/service.py
  antarest/output/storage/file/storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/output/storage/v2/variables_storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/web/raw_studies_blueprint.py
  tests/output/filestudy/test_aggregation.py
  tests/output/storage/v2/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

perf(dao): write fs matrices quicker
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check
