Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(compression_seven_zip): added compression parameter to the get request and the export_study method
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix tests
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: mypy, ruff-format, ruff-check

isolate output storage
  antarest/service_creator.py
  antarest/study/main.py
  antarest/study/output/output_storage_impl.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/output_service.py
  antarest/study/storage/output_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/storage_dispatchers.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_STA_mini.py
Due: mypy, ruff-format, ruff-check

start rewriting code
  antarest/study/business/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

fix integration tests
  antarest/study/output/output_storage_impl.py
  tests/storage/business/test_export.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

still a lot of fails
  antarest/study/business/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

clean
  antarest/study/business/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

9 tests failing
  antarest/study/business/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

fix tests
  tests/storage/business/test_raw_study_service.py
  tests/storage/test_service.py
  tests/storage/web/test_studies_bp.py
Due: ruff-format, ruff-check

2 tests failing
  antarest/study/business/output/aggregator_management.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/date_serializer.py
  tests/storage/repository/filesystem/matrix/test_date_serializer.py
Due: mypy, ruff-format, ruff-check

micro code optimization
  antarest/study/business/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

make method private
  antarest/study/business/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

1 test failing
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

refactor(ui-xpansion): update save button color for consistency (#2875)
  webapp/src/components/App/Singlestudy/explore/Xpansion/Settings/SettingsForm.tsx
Due: none

review
  webapp/src/utils/versionUtils.ts
Due: none

review
  webapp/src/redux/ducks/studies.ts
  webapp/src/services/api/launcher/solverPresets/types.ts
  webapp/src/services/api/launcher/types.ts
Due: none

review
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/AreasTab.tsx
  webapp/src/components/App/Studies/HeaderActions/FilterTags.tsx
Due: none

test
  webapp/eslint.config.js
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/common/Matrix/components/MatrixFilter/hooks/__tests__/useFilteredData.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/dateInfo.test.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/__tests__/filterCombination.test.ts
  webapp/src/components/common/Matrix/hooks/useGridCellContent/__tests__/useGridCellContent.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.test.ts
  webapp/src/utils/__tests__/versionUtils.test.ts
Due: none

review
  webapp/src/components/App/Studies/HeaderActions/FilterTags.tsx
  webapp/src/components/App/Studies/HeaderActions/index.tsx
  webapp/src/components/App/Tasks/ClustersMetrics.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
  webapp/src/redux/ducks/studies.ts
  webapp/src/services/api/launcher/adapters.ts
  webapp/src/services/api/launcher/index.ts
  webapp/src/services/api/launcher/types.ts
  webapp/src/services/api/study.ts
  webapp/src/utils/__tests__/versionUtils.test.ts
  webapp/src/utils/versionUtils.ts
Due: none

add log on versionUtils
  webapp/src/utils/versionUtils.ts
Due: none

fix python test
  tests/storage/web/test_studies_bp.py
Due: ruff-format, ruff-check

fix tests
  antarest/service_creator.py
  antarest/study/web/output_blueprint.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

feat(celery): few fixes
  antarest/celery/app.py
  antarest/celery/context.py
  antarest/maintenance/tasks/gc_matrix.py
  tests/celery/test_app.py
  tests/celery/test_context.py
Due: mypy, ruff-format, ruff-check

fix imports
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

root route page
  webapp/src/routes/-components/Container/FavoritesMenu.tsx
  webapp/src/routes/-components/Container/SidebarItem.tsx
  webapp/src/routes/-components/Container/TaskIcon.tsx
  webapp/src/routes/-components/Container/index.tsx
  webapp/src/routes/-components/Container/styles.ts
  webapp/src/routes/-components/ThemeProvider.tsx
  webapp/src/routes/App/index.tsx
  webapp/src/routes/__root.tsx
Due: none

base routes
  webapp/index.html
  webapp/src/main.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/__root.tsx
  webapp/src/routes/index.tsx
  webapp/src/types/tanstack-router.d.ts
Due: none

config files
  webapp/.prettierignore
  webapp/eslint.config.js
  webapp/package-lock.json
  webapp/package.json
  webapp/vite.config.ts
Due: none

rename index.tsx to main.tsx
  webapp/src/main.tsx
Due: none

feat(task-status-str): added unit test for the TaskStatus parsing
  antarest/core/tasks/model.py
  tests/core/tasks/test_tasks_service.py
  tests/integration/test_tasks.py
Due: mypy, ruff-format, ruff-check

move login
  webapp/src/routes/login/-components/Login.tsx
  webapp/src/routes/login/-components/Wrapper.tsx
Due: none

fix unit test
  antarest/service_creator.py
  antarest/study/business/output/file_output.py
  antarest/study/output/output_interface.py
  antarest/study/output/output_storage_impl.py
  antarest/study/repository.py
  antarest/study/storage/output_storage.py
  tests/storage/business/test_export.py
  tests/storage/business/test_raw_study_service.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

make output service dependencies explicit
  antarest/service_creator.py
  antarest/study/storage/output_service.py
  tests/launcher/test_service.py
  tests/storage/integration/conftest.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

fix unit tests
  tests/storage/test_service.py
Due: ruff-format, ruff-check

move implementation of get digest to storage interface
  antarest/study/output/output_storage_impl.py
  antarest/study/storage/output_service.py
  antarest/study/storage/output_storage.py
Due: mypy, ruff-format, ruff-check
