Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

simplify code
  antarest/study/business/output/variables_management.py
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

fix error msg
  antarest/study/business/output/variables_management.py
  tests/study/business/test_variables_manager.py
Due: mypy, ruff-format, ruff-check

refactor(solver-presets): use camel case alias generator
  antarest/launcher/model.py
  tests/integration/test_integration_launcher.py
  webapp/src/services/api/launcher/solverPresets/adapters.ts
  webapp/src/services/api/launcher/solverPresets/index.ts
  webapp/src/services/api/launcher/solverPresets/types.ts
Due: mypy, ruff-format, ruff-check

update endpoint call
  webapp/src/services/api/launcher/index.ts
Due: none

feat(ui-launcher): add solver configuration choice
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/index.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
  webapp/src/components/common/Fieldset.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/components/common/fieldEditors/SwitchFE.tsx
  webapp/src/services/api/launcher/index.ts
  webapp/src/services/api/launcher/solverPresets/adapters.ts
  webapp/src/services/api/launcher/solverPresets/index.ts
  webapp/src/services/api/launcher/solverPresets/types.ts
  webapp/src/services/api/launcher/types.ts
  webapp/src/services/api/study.ts
Due: none

feat(task_list_get_to_post): replacing post api method task_list by get
  antarest/study/model.py
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/integration/filesystem_blueprint/test_filesystem_endpoints.py
  tests/storage/business/test_import.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_variant_study_service.py
  tests/storage/integration/conftest.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

refactor(solver-presets): use camel case for example values
  antarest/launcher/model.py
Due: mypy, ruff-format, ruff-check

save
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

fix(ui-studies): prevent study name truncation to avoid user errors (#2836)
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb/BreadcrumbLink.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb/index.tsx
Due: none

resolve comments
  antarest/study/dao/file/file_study_user_resources_dao.py
  tests/study/business/dao/test_file_study_dao.py
Due: mypy, ruff-format, ruff-check

review
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
  webapp/src/components/common/fieldEditors/NumberFE.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/services/api/study.ts
Due: none

select empty display
  webapp/src/components/common/fieldEditors/SelectFE.tsx
Due: none

update utils
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
Due: none

feat(ui-launcher): add solver configuration choice (#2826)
  antarest/launcher/model.py
  tests/integration/test_integration_launcher.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/index.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
  webapp/src/components/common/Fieldset.tsx
  webapp/src/components/common/fieldEditors/NumberFE.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/components/common/fieldEditors/SwitchFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/services/api/launcher/index.ts
  webapp/src/services/api/launcher/solverPresets/index.ts
  webapp/src/services/api/launcher/solverPresets/types.ts
  webapp/src/services/api/launcher/types.ts
  webapp/src/services/api/study.ts
Due: mypy, ruff-format, ruff-check

fix(ui): SelectFe prevalidation
  webapp/src/components/common/fieldEditors/SelectFE.tsx
Due: none

fix(ui): fix SelectFE component prevalidation (#2839)
  webapp/src/components/common/fieldEditors/SelectFE.tsx
Due: none

fix(ui-breadcrumb): prevent study name truncation to avoid user errors
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb/BreadcrumbLink.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb/index.tsx
Due: none

fix(ui-studies): prevent study name truncation to avoid user errors (#2840)
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb/BreadcrumbLink.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb/index.tsx
Due: none

docs(readme): re-write readme and add contributing instructions
  CONTRIBUTING.md
  README.md
Due: none

chore(release): v2.26.0 (2025-11-07)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

chore(release): v2.26.0 (2025-11-07) (#2842)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

fix(ui-launcher): xpress option validation
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
Due: none

fix(ui-launcher): xpress option validation (#2843)
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
Due: none

basic
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

resolve one comment
  antarest/study/business/output/variables_management.py
Due: mypy, ruff-format, ruff-check

feat(output): add first variables view endpoint (#2833)
  antarest/core/exceptions.py
  antarest/study/business/output/variables_management.py
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
  tests/study/business/test_variables_manager.py
Due: mypy, ruff-format, ruff-check

don't use download mechanism inside variables method
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

create and instantiate usage provider
  antarest/study/business/output/variables_matrix_usage_provider.py
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

create alembic migration
  alembic/versions/fb5ad6c72ad4_output_variables_views.py
Due: ruff-format, ruff-check

add base class
  alembic/versions/fb5ad6c72ad4_output_variables_views.py
  antarest/study/storage/output_model.py
Due: mypy, ruff-format, ruff-check

remove foreign key
  alembic/versions/fb5ad6c72ad4_output_variables_views.py
  antarest/study/business/output/variables_matrix_usage_provider.py
  antarest/study/storage/output_model.py
Due: mypy, ruff-format, ruff-check

a
  antarest/matrixstore/service.py
Due: mypy, ruff-format, ruff-check

put back the foreign key
  alembic/versions/fb5ad6c72ad4_output_variables_views.py
  antarest/study/storage/output_model.py
Due: mypy, ruff-format, ruff-check

continue writing code
  antarest/study/business/output/aggregator_management.py
  antarest/study/business/output/utils.py
  antarest/study/business/output/variables_management.py
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

continue code
  antarest/study/business/output/variables_management.py
  antarest/study/business/output/variables_matrix_usage_provider.py
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

change migration
  alembic/versions/fb5ad6c72ad4_output_variables_views.py
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

fix todo
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

remove useless line
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

rename variable
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
