Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix some tests
  tests/study/storage/variantstudy/business/test_matrix_constants_generator.py
Due: ruff-format, ruff-check

fix test
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: ruff-format, ruff-check

fix one test
  antarest/matrixstore/service.py
Due: mypy, ruff-format, ruff-check

fix workspaces validation
  antarest/core/config.py
  antarest/study/storage/explorer_service.py
Due: mypy, ruff-format, ruff-check

fix npm lint
  webapp/src/components/common/dialogs/OpenExternalDialog.tsx
Due: none

fix build
  antarest/study/storage/explorer_service.py
  webapp/src/components/App/Studies/HeaderActions/index.tsx
Due: mypy, ruff-format, ruff-check

fix build
  webapp/src/components/common/dialogs/OpenExternalDialog.tsx
Due: none

fix(ui-matrix): disable keybinds on read-only matrices (#2453)
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
Due: none

kilian
  antarest/matrixstore/in_memory.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

forbid recursive scan when desktop mode is on
  antarest/core/exceptions.py
  antarest/study/storage/rawstudy/watcher.py
  antarest/study/web/watcher_blueprint.py
Due: mypy, ruff-format, ruff-check

fix last failing test
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/repository.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

fix import issue
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

use same solver for both linux and windows
  scripts/package_antares_web.sh
Due: none

fix deploy
  scripts/package_antares_web.sh
Due: none

fix deploy yet again
  scripts/package_antares_web.sh
Due: none

fix wildcard misused
  scripts/package_antares_web.sh
Due: none

remove unwanted changes
  antarest/study/business/link_management.py
  antarest/study/business/model/link_model.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/create_link.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  tests/variantstudy/model/command/test_create_link_in_memory.py
Due: mypy, ruff-format, ruff-check

fix typo in existing test
  tests/storage/business/test_arealink_manager.py
  tests/storage/test_service.py
Due: ruff-format, ruff-check

can't believe I lost so much time because of a typo
  scripts/package_antares_web.sh
Due: none

use float64 instead of floats
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

this is my life now
  scripts/package_antares_web.sh
Due: none

claculates windows hashes
  .github/workflows/main.yml
  tests/integration/raw_studies_blueprint/test_download_matrices.py
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

try
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

put back original test
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

test other windows test
  .github/workflows/main.yml
Due: none

revert gh action
  .github/workflows/main.yml
Due: none

fix(launcher): api seems ok
  antarest/core/config.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/service.py
  antarest/launcher/web.py
Due: mypy, ruff-format, ruff-check

fix(launcher): refactor a few tests
  antarest/core/config.py
  antarest/launcher/adapters/factory_launcher.py
  antarest/launcher/service.py
  antarest/launcher/web.py
  resources/deploy/config.yaml
  tests/integration/assets/config.template.yml
  tests/integration/launcher_blueprint/test_launcher_local.py
  tests/integration/launcher_blueprint/test_solver_versions.py
  tests/test_resources.py
Due: mypy, ruff-format, ruff-check

remove little part of the code unused
  antarest/study/dao/file/file_study_link_dao.py
Due: mypy, ruff-format, ruff-check

fix little typo inside doc
  antarest/study/dao/api/study_dao.py
Due: mypy, ruff-format, ruff-check

clean code
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

simplify a bit
  antarest/study/storage/variantstudy/model/command/create_link.py
Due: mypy, ruff-format, ruff-check

continue work for update_link cmd
  antarest/study/dao/api/link_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/create_link.py
  antarest/study/storage/variantstudy/model/command/update_link.py
Due: mypy, ruff-format, ruff-check

remove useless methods
  antarest/study/storage/variantstudy/model/command/create_link.py
Due: mypy, ruff-format, ruff-check

remove duplicated code
  antarest/study/storage/variantstudy/model/command/create_link.py
Due: mypy, ruff-format, ruff-check

fix(launcher): 11 failing tests left
  antarest/core/config.py
  antarest/launcher/adapters/factory_launcher.py
  antarest/launcher/service.py
  antarest/tools/admin_lib.py
  tests/integration/launcher_blueprint/test_solver_versions.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
  tests/launcher/test_web.py
  tests/test_resources.py
Due: mypy, ruff-format, ruff-check

continue work for remove_link
  antarest/study/dao/api/link_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/remove_link.py
Due: mypy, ruff-format, ruff-check

fix(launcher): 6 failing tests left
  antarest/launcher/adapters/local_launcher/local_launcher.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

rename impl property
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/icommand.py
Due: mypy, ruff-format, ruff-check

remove useless class
  antarest/study/business/link_management.py
  antarest/study/business/model/link_model.py
  antarest/study/dao/api/link_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/create_link.py
  antarest/study/storage/variantstudy/model/command/update_link.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
