Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

does it work ?
  antarest/core/serde/parquet_writer.py
  antarest/study/output/aggregator_management.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_storage.py
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

fix(study): fix default values for inflow patterns
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
Due: mypy, ruff-format, ruff-check

a little fix
  antarest/study/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

changes
  antarest/core/serde/parquet_writer.py
  antarest/study/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

faster tests
  tests/integration/output_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

still faster
  tests/integration/output_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

chore(release): v2.27.1
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

fix(ui-storages): allow efficiency > 100% for storages in study v9.2+
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
Due: none

fix(ui-storages): allow efficiency > 100% for storages in study v9.2+ (#2942)
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
Due: none

feat(cr23): completed cr23 without refactored tests
  antarest/study/business/compatibility_parameters_management.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/variantstudy/business/matrix_constants/common.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/storage/variantstudy/model/command/hydro_pmax_converter.py
  antarest/study/web/study_data_blueprint.py
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/index.tsx
Due: mypy, ruff-format, ruff-check

fixing some
  antarest/study/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

one test is OK
  antarest/study/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

still fixing things
  antarest/core/serde/parquet_writer.py
  antarest/study/storage/variantstudy/business/matrix_constants/hydro/v6.py
Due: mypy, ruff-format, ruff-check

fixing one test
  tests/core/serde/test_parquet_writer.py
Due: ruff-format, ruff-check

fix test
  tests/core/serde/test_parquet_writer.py
Due: ruff-format, ruff-check

fix mypy
  antarest/study/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

fix one test
  antarest/study/output/aggregator_management.py
Due: mypy, ruff-format, ruff-check

add DownloadVariableView component
  webapp/src/components/buttons/DownloadVariableViewButton.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultFilters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultMatrixViewer/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/index.tsx
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

refactor duplication matrix button and variable view button
  webapp/src/components/buttons/DownloadMatrixButton.tsx
  webapp/src/components/buttons/DownloadVariableViewButton.tsx
  webapp/src/components/buttons/exportFormatOptions.ts
Due: none

minor change*
  tests/integration/output_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

refactor types flow
  webapp/src/components/buttons/exportFormatOptions.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

refactor
  webapp/src/services/api/studies/outputs/variableViews/index.ts
Due: none

fix one part of the issue
  antarest/study/output/utils.py
Due: mypy, ruff-format, ruff-check

fix the problem i think
  antarest/core/serde/parquet_writer.py
Due: mypy, ruff-format, ruff-check

feat(cr23): cr23 final commit
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  tests/integration/study_data_blueprint/test_advanced_parameters.py
  tests/storage/business/test_optional_matrices.py
  tests/storage/business/test_raw_study_service.py
  tests/variantstudy/model/command/test_create_area.py
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/index.tsx
Due: mypy, ruff-format, ruff-check

feat(cr23): fix ruff and lint erros
  antarest/study/dao/file/file_study_compatibility_parameters.py
  antarest/study/storage/variantstudy/model/command/hydro_pmax_converter.py
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/index.tsx
Due: mypy, ruff-format, ruff-check

fix(lint): fix lint error
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
Due: mypy, ruff-format, ruff-check

fix(duratio treshold): add 0.3 seconds
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: ruff-format, ruff-check

fix(duration threshold): update to 1 second in orded to pass test
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: ruff-format, ruff-check

make test fail
  tests/integration/raw_studies_blueprint/assets/columns_mismatch.txt
Due: none

continue
  antarest/study/output/utils.py
Due: mypy, ruff-format, ruff-check

code is working ?
  antarest/core/serde/parquet_writer.py
Due: mypy, ruff-format, ruff-check

minor changes
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/simulator_default.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/series/area/st_storage/st_storage.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
Due: mypy, ruff-format, ruff-check

fix headers typing
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_create_study.py
  tests/integration/studies_blueprint/test_digest.py
  tests/integration/studies_blueprint/test_directory.py
  tests/integration/studies_blueprint/test_move.py
  tests/integration/studies_blueprint/test_normalization.py
  tests/integration/studies_blueprint/test_study_matrix_index.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/integration/studies_blueprint/test_study_version.py
  tests/integration/studies_blueprint/test_update_tags.py
  tests/integration/study_data_blueprint/test_area.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/study_data_blueprint/test_generate_thermal_cluster_timeseries.py
  tests/integration/study_data_blueprint/test_hydro_allocation.py
  tests/integration/study_data_blueprint/test_hydro_correlation.py
  tests/integration/study_data_blueprint/test_hydro_inflow_properties.py
  tests/integration/study_data_blueprint/test_layer.py
  tests/integration/study_data_blueprint/test_link.py
  tests/integration/study_data_blueprint/test_playlist.py
  tests/integration/study_data_blueprint/test_renewable.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_study_data.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/test_integration.py
  tests/integration/test_matrix_blueprint.py
  tests/integration/test_studies_upgrade.py
  tests/integration/test_tasks.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

fix the issue and be tiny faster
  antarest/core/serde/parquet_writer.py
  antarest/study/output/aggregator_management.py
  antarest/study/output/utils.py
Due: mypy, ruff-format, ruff-check

fix(matrices): change Simulator default values (#2938)
  antarest/study/storage/rawstudy/model/filesystem/common/prepro.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/simulator_default.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/commons/prepro_series.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/prepro/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/link/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/link/area/capacities/capacities.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/miscgen/miscgen.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/renewables/series.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/reserves.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/st_storage/__init__.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/series/area/st_storage/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/business/matrix_constants/__init__.py
  antarest/study/storage/variantstudy/business/matrix_constants/common.py
  antarest/study/storage/variantstudy/business/matrix_constants/st_storage/__init__.py
  antarest/study/storage/variantstudy/business/matrix_constants/st_storage/series.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  tests/storage/business/test_optional_matrices.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
  tests/study/storage/variantstudy/business/test_matrix_constants_generator.py
Due: mypy, ruff-format, ruff-check

fix(typing): fix non-strng IDs in tests
  tests/storage/test_service.py
  tests/study/test_repository.py
Due: ruff-format, ruff-check

enable mypy on tests folder
  pyproject.toml
Due: none

fix missing type annotations
  tests/blobstore/test_service.py
  tests/core/tasks/test_tasks_service.py
  tests/core/test_metrics.py
  tests/core/utils/test_db_session_middleware.py
  tests/integration/output_blueprint/test_output_variables.py
  tests/integration/test_tasks.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_service.py
  tests/launcher/test_solver_presets.py
  tests/variantstudy/model/command/test_replace_user_resource.py
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

fix headers typing
  tests/integration/output_blueprint/test_aggregate_raw_data.py
  tests/integration/output_blueprint/test_digest.py
  tests/integration/output_blueprint/test_output_variables.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_create_study.py
  tests/integration/studies_blueprint/test_directory.py
  tests/integration/studies_blueprint/test_move.py
  tests/integration/studies_blueprint/test_normalization.py
  tests/integration/studies_blueprint/test_study_matrix_index.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/integration/studies_blueprint/test_study_version.py
  tests/integration/studies_blueprint/test_update_tags.py
  tests/integration/study_data_blueprint/test_area.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/study_data_blueprint/test_generate_thermal_cluster_timeseries.py
  tests/integration/study_data_blueprint/test_hydro_allocation.py
  tests/integration/study_data_blueprint/test_hydro_correlation.py
  tests/integration/study_data_blueprint/test_hydro_inflow_properties.py
  tests/integration/study_data_blueprint/test_layer.py
  tests/integration/study_data_blueprint/test_link.py
  tests/integration/study_data_blueprint/test_playlist.py
  tests/integration/study_data_blueprint/test_renewable.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/study_data_blueprint/test_study_data.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/test_integration.py
  tests/integration/test_matrix_blueprint.py
  tests/integration/test_studies_upgrade.py
  tests/integration/test_tasks.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
