Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(gems): changes due to PR comments
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/assets/gems/libraries/8_1_simulator_nr_tests.yml
Due: mypy, ruff-format, ruff-check

feat(gems): check ports are defined in components used in connections
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): fix mypy issues
  antarest/study/dao/database/gems/database_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): silently deduplicate duplicated connections
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): do not save system if an error occurs in save_components or _save_connections
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): makes connection linking a component to itself possible if ports are different
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): manage gems component connections
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

feat(gems): update alembic migration file
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
Due: ruff-format, ruff-check

feat(gems): rename GEMS component connections class
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/assets/gems/system/system.yml
Due: mypy, ruff-format, ruff-check

feat(output): change output download name
  antarest/output/service.py
  tests/integration/output/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/study/business/district_manager.py
  antarest/study/business/model/binding_constraint_model.py
  antarest/study/business/model/config/adequacy_patch_model.py
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/business/model/district_model.py
  antarest/study/business/model/sts_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/business/model/utils.py
  antarest/study/storage/variantstudy/model/command/create_district.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/study/business/model/binding_constraint_model.py
  antarest/study/business/model/config/adequacy_patch_model.py
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/business/model/config/general_model.py
  antarest/study/business/model/district_model.py
  antarest/study/business/model/sts_model.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/business/model/utils.py
Due: mypy, ruff-format, ruff-check

add alembic migration
  alembic/versions/ae201048f056_add_filters_to_districts.py
Due: ruff-format, ruff-check

add fields inside the db model
  antarest/study/dao/database/models/district.py
Due: mypy, ruff-format, ruff-check

add version arg inside parsing serializing methodds
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
Due: mypy, ruff-format, ruff-check

really add the verif
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
Due: mypy, ruff-format, ruff-check

simplify
  antarest/study/business/model/district_model.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/database/database_district_dao.py
Due: mypy, ruff-format, ruff-check

add new fields inside the save
  antarest/study/business/model/district_model.py
  antarest/study/dao/database/database_district_dao.py
Due: mypy, ruff-format, ruff-check

fix synthesis tests
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
Due: none

fix last failing test
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fix(ramp): move required version from 10.2 to 10.3
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  antarest/tablemode/model.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/test_thermal_model.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

fix fs code
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
  tests/study/dao/test_database_district_dao.py
Due: mypy, ruff-format, ruff-check

enrich v10.2 tests
  tests/study/dao/test_database_district_dao.py
Due: ruff-format, ruff-check

add test pre v10.2
  tests/study/dao/test_database_district_dao.py
Due: ruff-format, ruff-check

fix typo
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
Due: mypy, ruff-format, ruff-check

perf(study): optimise version requests
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  tests/study/dao/test_database_query_counts.py
Due: mypy, ruff-format, ruff-check

resolve theo comments
  antarest/study/business/model/district_model.py
Due: mypy, ruff-format, ruff-check

feat(output): change output download name (#3424)
  antarest/output/service.py
  tests/integration/output/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

refactor test
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/study/business/test_thermal_model.py
Due: ruff-format, ruff-check

internalize the win10toast package
  antarest/desktop/win10toast/LICENSE
  antarest/desktop/win10toast/__init__.py
  pyproject.toml
  uv.lock
Due: mypy, ruff-format, ruff-check

use pypiwin32 as License
  pyproject.toml
  uv.lock
Due: none

perf(study): optimise requests
  tests/study/dao/test_database_query_counts.py
Due: ruff-format, ruff-check

fix mypy issues
  antarest/desktop/systray_app.py
  antarest/desktop/win10toast/__init__.py
Due: mypy, ruff-format, ruff-check

remove usage of pkg_resource
  antarest/desktop/win10toast/__init__.py
Due: mypy, ruff-format, ruff-check

same thning for global ramp flag
  antarest/study/business/model/config/optimization_config_model.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/variantstudy/model/command/conftest.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
Due: mypy, ruff-format, ruff-check

add todo
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

resolve theo comment
  antarest/study/business/model/district_model.py
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  tests/variantstudy/model/command/test_manage_district.py
Due: mypy, ruff-format, ruff-check
