Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix eventbus fails
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

move utils functions
  antarest/study/events.py
  antarest/study/service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fix(config): revert allowing integers as group IDs (#3288)
  antarest/core/config.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

review
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
Due: none

refactor(ui-reserves): load includeReserves flag via TanStack Query, apply read-only to all tabs
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

review
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

cleaning
  webapp/src/services/api/variant.ts
Due: none

cleaning again
  webapp/src/services/api/variant.ts
Due: none

remove import and export buttons
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/index.tsx
Due: none

hide header when nothing to save
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/index.tsx
Due: none

remove dead code
  webapp/src/services/api/variant.ts
Due: none

refactor(ui-reserves): load includeReserves flag via TanStack Query, apply read-only to all tabs (#3287)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

remove merge_symmetries method
  antarest/study/business/areas/reserve_symmetries_management.py
  antarest/study/business/model/reserve_symmetries_model.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/thermal_reserve_symmetries_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_symmetries.py
  antarest/study/storage/variantstudy/model/command/replace_thermal_reserve_symmetries.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/test_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

add sorting as a validator
  antarest/study/business/model/reserve_symmetries_model.py
Due: mypy, ruff-format, ruff-check

rename files
  antarest/study/dao/api/reserve_certification_dao.py
  antarest/study/dao/api/reserve_symmetries_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_reserve_certification_dao.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

write UT that currently fails
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_reserve_certification_dao.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

now test is passing
  antarest/study/dao/file/file_study_reserve_certification_dao.py
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

make test storage mode parametrized
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: ruff-format, ruff-check

fix tets
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: ruff-format, ruff-check

move test
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
  tests/study/dao/test_database_reserve_definition_dao.py
  tests/study/dao/test_reserve_definition_dao.py
Due: ruff-format, ruff-check

TDD
  tests/study/dao/test_reserve_definition_dao.py
Due: ruff-format, ruff-check

simplify exception raised
  antarest/study/dao/database/database_reserve_definition_dao.py
Due: mypy, ruff-format, ruff-check

introduce common code
  antarest/study/dao/api/common.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/database/database_reserve_definition_dao.py
Due: mypy, ruff-format, ruff-check

test is ok for both storage modes
  antarest/study/dao/database/database_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

add deletion tests
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: ruff-format, ruff-check

add the same test for symmetries
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

fix code to make test work
  antarest/study/dao/database/database_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

fix failing test
  tests/study/dao/test_reserve_definition_dao.py
Due: ruff-format, ruff-check

feat(favorite_aggregate): taking reviews in account (and adding missing HTTPStatus)
  antarest/favorite/model.py
  antarest/favorite/web.py
  tests/integration/favorite_blueprint/test_favorite_aggregate.py
  tests/integration/favorite_blueprint/test_favorite_directory.py
  tests/integration/favorite_blueprint/test_favorite_study.py
Due: mypy, ruff-format, ruff-check

feat(favorite_aggregate): taking reviews in account (and adding missing HTTPStatus)
  antarest/favorite/web.py
Due: mypy, ruff-format, ruff-check

json readonly command
  webapp/package-lock.json
  webapp/package.json
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/JSONEditor/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/index.tsx
  webapp/src/types/jsoneditor.d.ts
Due: none

remove now dead code
  webapp/src/services/api/variant.ts
Due: none

refactor(variant)!: remove legacy endpoints (#3292)
  antarest/study/events.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/variantstudy/model/test_variant_model.py
  webapp/package-lock.json
  webapp/package.json
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/JSONEditor/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/index.tsx
  webapp/src/services/api/variant.ts
  webapp/src/types/jsoneditor.d.ts
Due: mypy, ruff-format, ruff-check

use 204 status code for deletes
  antarest/favorite/web.py
  tests/integration/favorite_blueprint/test_favorite_directory.py
Due: mypy, ruff-format, ruff-check

feat(favorite): endpoint returning all 3 types of favorites (#3293)
  antarest/dependencies.py
  antarest/favorite/model.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  antarest/service_creator.py
  tests/favorite_study/test_favorite_aggregate.py
  tests/integration/favorite_blueprint/test_favorite_aggregate.py
  tests/integration/favorite_blueprint/test_favorite_directory.py
  tests/integration/favorite_blueprint/test_favorite_study.py
Due: mypy, ruff-format, ruff-check

use the real `name` field instead of aliasing `id`
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditReserveDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/services/api/studies/areas/reserves/schemas.ts
Due: none

feat(ui-reserves): add drawer to edit reserve global parameters
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/FormDrawer.tsx
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditGlobalParametersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/EditReserveDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
