Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

remove useless tests
  tests/storage/business/test_variant_study_service.py
Due: ruff-format, ruff-check

c
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

move test
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_variant_study_service.py
Due: ruff-format, ruff-check

use scoped cache
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

intialize study
  antarest/study/dao/database/database_study_factory_dao.py
  tests/helpers.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_initialize_study.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/study/dao/test_database_settings_dao.py
Due: ruff-format, ruff-check

all tests OK ?
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

minor cleaning
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

update script for update versions
  scripts/update_version.py
Due: ruff-format, ruff-check

rollback uv lock frozen
  uv.lock
Due: none

ci(release): include uv.lock file in update_version script
  scripts/update_version.py
  uv.lock
Due: ruff-format, ruff-check

fix test
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

fix(reserves): remove name field (#3188)
  alembic/versions/b2f7e9a1c4d3_drop_reserve_definition_name.py
  antarest/core/exceptions.py
  antarest/study/business/model/reserve_definition_model.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/models/reserve_definition.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_definition.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/model/test_reserve_definition_model.py
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
  tests/study/dao/test_database_reserve_definition_dao.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/variantstudy/model/command/test_reserve_definition_commands.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

ci(release): include uv.lock file in update_version script (#3190)
  scripts/update_version.py
  uv.lock
Due: ruff-format, ruff-check

try to fix windows issue
  tests/storage/business/test_optional_matrices.py
Due: ruff-format, ruff-check

st storage
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  tests/study/dao/test_database_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

feat(reserves): fix tests
  alembic/versions/8b2fca3d91e0_add_reserve_need_matrix_table.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/variantstudy/model/command/test_reserve_definition_commands.py
Due: mypy, ruff-format, ruff-check

fix(global): match backend password validation with frontend
  antarest/login/model.py
  tests/login/test_model.py
Due: mypy, ruff-format, ruff-check

style(login): simplify quoting in password error message
  antarest/login/model.py
Due: mypy, ruff-format, ruff-check

test(login): use valid passwords in fixtures after validation tightening
  tests/integration/conftest.py
  tests/integration/studies_blueprint/test_get_studies.py
  tests/integration/studies_blueprint/test_study_copy.py
  tests/integration/test_integration.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/login/test_login_service.py
  tests/login/test_web.py
Due: ruff-format, ruff-check

feat(reserves): fix mypy
  antarest/study/storage/variantstudy/model/command/create_reserve_definition.py
Due: mypy, ruff-format, ruff-check

feat(reserves): fix mypy
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
Due: mypy, ruff-format, ruff-check

feat(reserves): fix mypy
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/variantstudy/model/command/test_reserve_definition_commands.py
Due: mypy, ruff-format, ruff-check

fix(xpansion): allow tree build for in-memory jobs
  antarest/study/storage/rawstudy/model/filesystem/config/exceptions.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
Due: mypy, ruff-format, ruff-check

remove useless attribute
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
Due: mypy, ruff-format, ruff-check

build test case
  tests/storage/repository/filesystem/config/test_config_files.py
Due: ruff-format, ruff-check

fix(reserves): fix tests
  antarest/study/dao/database/database_reserve_definition_dao.py
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
Due: mypy, ruff-format, ruff-check

user resources
  antarest/study/dao/file/file_study_user_resources_dao.py
  tests/study/dao/test_database_user_resources_dao.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/output/model.py
  tests/output/test_output_model.py
Due: mypy, ruff-format, ruff-check

wip
  tests/output/test_output_model.py
Due: ruff-format, ruff-check

denormalize study in a temp folder
  antarest/study/repository.py
  antarest/study/storage/abstract/abstract_study_service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

gargage collector
  tests/study/dao/conftest.py
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

copy outputs inside archive methods
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

create snapshot manager class
  antarest/study/storage/database_storage.py
  antarest/study/storage/database_study_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/study_storage_interface.py
  antarest/study/storage/variantstudy/database_snapshot_manager.py
  antarest/study/storage/variantstudy/file_snapshot_manager.py
  antarest/study/storage/variantstudy/snapshot_manager_interface.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

create snapshot package
  antarest/study/storage/variantstudy/snapshot/__init__.py
  antarest/study/storage/variantstudy/snapshot/database_snapshot_manager.py
  antarest/study/storage/variantstudy/snapshot/file_snapshot_manager.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  antarest/study/storage/variantstudy/snapshot/snapshot_manager_interface.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

feat(backend_tablemode): finished implementing tablemode and testing
  antarest/core/utils/web.py
  antarest/dependencies.py
  antarest/favorite/repository.py
  antarest/main.py
  antarest/service_creator.py
  antarest/tablemode/__init__.py
  antarest/tablemode/model.py
  antarest/tablemode/service.py
  antarest/tablemode/web.py
  tests/integration/tablemode_blueprint/__init__.py
  tests/integration/tablemode_blueprint/test_tablemode_blueprint.py
  tests/tablemode/__init__.py
  tests/tablemode/test_tablemode.py
Due: mypy, ruff-format, ruff-check

feat(backend_tablemode): adding license
  antarest/tablemode/model.py
  antarest/tablemode/repository.py
  antarest/tablemode/service.py
  antarest/tablemode/web.py
Due: mypy, ruff-format, ruff-check

feat(backend_tablemode): adding license
  tests/integration/tablemode_blueprint/__init__.py
  tests/integration/tablemode_blueprint/test_tablemode_blueprint.py
  tests/tablemode/__init__.py
  tests/tablemode/test_tablemode.py
Due: ruff-format, ruff-check

feat(backend_tablemode): correcting unused dependances
  antarest/main.py
Due: mypy, ruff-format, ruff-check

try to hide a bit more the snapshot dir
  antarest/study/storage/variantstudy/model/dbmodel.py
  antarest/study/storage/variantstudy/snapshot/database_snapshot_manager.py
  antarest/study/storage/variantstudy/snapshot/file_snapshot_manager.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  antarest/study/storage/variantstudy/snapshot/snapshot_manager_interface.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
