Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

remove useless comment
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
Due: mypy, ruff-format, ruff-check

fix(ui-study): fit variant tree titles and reduce tree scale (#3408)
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
Due: none

feat(gems): enable the replacement of existing components and read kebab-case fields in yaml file
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/file/test_filestudy_gems_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): prevent component accessors for FS studies and check model exists in library on DB save
  antarest/study/business/model/gems/system.py
  antarest/study/dao/api/gems_system_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): add gems system tables and dao implementations
  alembic/versions/421f6d91d1f6_create_gems_components_tables.py
  antarest/core/exceptions.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/api/gems_system_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): rename db tables and add foreign keys
  alembic/versions/421f6d91d1f6_create_gems_components_tables.py
  antarest/core/exceptions.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
Due: mypy, ruff-format, ruff-check

feat(gems): refactor and add tests
  antarest/core/exceptions.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): update alembic migration file due to other merged PR
  alembic/versions/421f6d91d1f6_create_gems_components_tables.py
Due: ruff-format, ruff-check

feat(gems): add conversion to GEMS in study_converter.py
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

refactor(ui-storages): prepare query data layer
  webapp/src/queries/storages/keys.ts
  webapp/src/queries/storages/mutations.ts
  webapp/src/queries/storages/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/-utils.ts
  webapp/src/services/api/studies/areas/storages/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/schemas.ts
  webapp/src/services/api/studies/areas/storages/types.ts
Due: none

default max ram is zero
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/business/table_mode_management.py
  tests/study/business/test_thermal_model.py
  tests/study/dao/test_database_thermal_dao.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

refactor
  antarest/study/business/model/thermal_cluster_model.py
  tests/integration/study_data_blueprint/test_thermal.py
Due: mypy, ruff-format, ruff-check

refactor
  antarest/study/business/table_mode_management.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/test_integration.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/test_thermal_model.py
Due: mypy, ruff-format, ruff-check

refactor(ui-storages): add API and TanStack Query foundation (#3409)
  webapp/src/queries/storages/keys.ts
  webapp/src/queries/storages/mutations.ts
  webapp/src/queries/storages/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/-adapters.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/-utils.ts
  webapp/src/services/api/studies/areas/storages/__tests__/index.test.ts
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/schemas.ts
  webapp/src/services/api/studies/areas/storages/types.ts
Due: none

feat(gems): implement catalog
  alembic/versions/3302075bbdfd_create_gems_catalogs_table.py
  antarest/core/exceptions.py
  antarest/study/business/model/gems/catalog.py
  antarest/study/dao/api/gems_catalog_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/gems/database_catalog_dao.py
  antarest/study/dao/database/models/gems/catalog.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_gems_catalog_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  scripts/rollback.sh
  tests/core/test_gems_catalog_migration.py
  tests/study/dao/assets/gems/catalogs/antares_legacy_area_catalog.yml
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_catalog_dao.py
  tests/study/dao/test_database_gems_catalog_dao.py
  tests/study/dao/test_gems_catalog_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): changes due to PR comments
  alembic/versions/421f6d91d1f6_create_gems_components_tables.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/file/test_filestudy_gems_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): manage gems components (#3405)
  alembic/versions/421f6d91d1f6_create_gems_components_tables.py
  antarest/core/exceptions.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/api/gems_system_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_gems_system_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

start work
  alembic/versions/64b48aae074e_handle_libraries_better.py
  antarest/study/dao/database/gems/database_library_dao.py
  antarest/study/dao/database/models/gems/library.py
  antarest/study/dao/database/models/gems/system.py
Due: mypy, ruff-format, ruff-check

feat(gems): add id strict validation
  alembic/versions/3302075bbdfd_create_gems_catalogs_table.py
  antarest/study/dao/api/gems_catalog_dao.py
  antarest/study/dao/database/gems/database_catalog_dao.py
  antarest/study/dao/database/models/gems/catalog.py
  antarest/study/dao/file/file_study_gems_catalog_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/core/test_gems_catalog_migration.py
  tests/study/dao/file/test_filestudy_gems_catalog_dao.py
  tests/study/dao/test_database_gems_catalog_dao.py
  tests/study/dao/test_gems_catalog_dao.py
Due: mypy, ruff-format, ruff-check

align fields names with simulator
  alembic/versions/24984ccc44c6_add_ramp_fields_to_thermal_cluster.py
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/dao/database/models/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  antarest/tablemode/model.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/test_integration.py
  tests/storage/business/test_arealink_manager.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/test_thermal_model.py
  tests/study/dao/test_database_thermal_dao.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

forgot these files
  tests/integration/studies_blueprint/assets/test_synthesis/raw_study.synthesis.json
  tests/integration/studies_blueprint/assets/test_synthesis/variant_study.synthesis.json
Due: none

fix alembic
  alembic/versions/24984ccc44c6_add_ramp_fields_to_thermal_cluster.py
Due: ruff-format, ruff-check

clean slop
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  tests/study/dao/test_database_thermal_dao.py
  tests/variantstudy/model/command/test_update_thermal_cluster.py
Due: mypy, ruff-format, ruff-check

write v1 of the upgrade
  alembic/versions/4150667a83ac_rename_constraints_for_gems_table.py
Due: ruff-format, ruff-check

add a comment saying why we're doing nothing in downgrade
  alembic/versions/4150667a83ac_rename_constraints_for_gems_table.py
Due: ruff-format, ruff-check

typo
  alembic/versions/4150667a83ac_rename_constraints_for_gems_table.py
Due: ruff-format, ruff-check

add names and test_alembic_migration_works
  alembic/versions/4150667a83ac_rename_constraints_for_gems_table.py
Due: ruff-format, ruff-check

refactor(gems): add names to db constraints (#3412)
  alembic/versions/4150667a83ac_rename_constraints_for_gems_table.py
Due: ruff-format, ruff-check

refactor(gems): support multiple libraries in the table schema
  alembic/versions/20549c817795_handle_multiple_gems_libraries.py
Due: ruff-format, ruff-check

upgrade pass the alembic test
  alembic/versions/20549c817795_handle_multiple_gems_libraries.py
Due: ruff-format, ruff-check

todo
  alembic/versions/20549c817795_handle_multiple_gems_libraries.py
Due: ruff-format, ruff-check

IA wrote the downgrade
  alembic/versions/20549c817795_handle_multiple_gems_libraries.py
Due: ruff-format, ruff-check

adapt the models to the new code
  antarest/study/dao/database/models/gems/library.py
  antarest/study/dao/database/models/gems/system.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
