Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fixing a test
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

resolve 2 comments
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

resolve third comment
  antarest/core/serde/matrix_export.py
  antarest/matrixstore/parsing.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

keep headers inside the matrixstore
  antarest/core/serde/matrix_export.py
  antarest/matrixstore/parsing.py
Due: mypy, ruff-format, ruff-check

support non-numeric values inside write method
  antarest/core/serde/matrix_export.py
Due: mypy, ruff-format, ruff-check

fix issue in src code + change test
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: mypy, ruff-format, ruff-check

perf(matrix): write matrices as integers when possible (#2641)
  antarest/core/serde/matrix_export.py
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/matrixstore/parsing.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: mypy, ruff-format, ruff-check

perf(matrix): return matrices as integers when possible inside raw endpoint
  antarest/core/serde/matrix_export.py
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(ui-bc): exclude `filterSynthesis` and `filterYearByYear` for study versions < 8.3
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/utils.ts
Due: none

fix(ui-bc): exclude `filterSynthesis` and `filterYearByYear` for study versions < 8.3 (#2654)
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstView/utils.ts
Due: none

fix(thematic-trimming): regression introduced by the DAO
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  tests/variantstudy/model/command/test_update_thematic_trimming.py
Due: mypy, ruff-format, ruff-check

fix(migration): fixes migration for sqlite
  alembic/versions/d2942741ae68_drop_patch_data.py
Due: ruff-format, ruff-check

feat(matrix_usage_provider): finished dataset usage providers testing
  antarest/matrixstore/service.py
  antarest/study/storage/rawstudy/raw_study_matrix_usage_provider.py
  antarest/study/storage/variantstudy/business/matrix_constants/matrix_constants_usage_provider.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): more query fix
  antarest/core/tasks/repository.py
  antarest/core/tasks/service.py
  antarest/matrixstore/migration_script.py
Due: mypy, ruff-format, ruff-check

fix(migration): fixes migration for sqlite (#2657)
  alembic/versions/d2942741ae68_drop_patch_data.py
Due: ruff-format, ruff-check

try to rewrite src code
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  tests/storage/business/test_config_manager.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): more and more query fix
  antarest/core/filetransfer/repository.py
  antarest/study/storage/variantstudy/repository.py
Due: mypy, ruff-format, ruff-check

use set
  antarest/study/business/model/thematic_trimming_model.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): more more and more query fix
  antarest/core/tasks/model.py
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

fixing some tests
  tests/storage/business/test_config_manager.py
Due: ruff-format, ruff-check

fixing a test
  tests/storage/business/test_config_manager.py
Due: ruff-format, ruff-check

fix(thematic-trimming): regression introduced by the DAO (#2656)
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  tests/storage/business/test_config_manager.py
  tests/variantstudy/model/command/test_update_thematic_trimming.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): finished dataset usage providers testing
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

feat(matrix_usage_provider): finished dataset usage providers testing
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): more and more and more and more query fix
  antarest/launcher/repository.py
Due: mypy, ruff-format, ruff-check

resolve comment
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

perf(matrix): return matrices as integers when possible inside endpoint (#2655)
  antarest/core/serde/matrix_export.py
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): more and more and more and more and more query fix
  antarest/launcher/repository.py
  antarest/matrixstore/repository.py
  antarest/study/repository.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): comment ça mon ruff
  antarest/matrixstore/repository.py
  antarest/study/repository.py
Due: mypy, ruff-format, ruff-check

feat(parameters): return model inside edition endpoint
  antarest/study/business/general_management.py
  antarest/study/business/optimization_management.py
  antarest/study/web/study_data_blueprint.py
  requirements.txt
Due: mypy, ruff-format, ruff-check

fix test
  tests/integration/study_data_blueprint/test_config_general.py
Due: ruff-format, ruff-check

feat(parameters): return model inside edition endpoints responses (#2659)
  antarest/study/business/general_management.py
  antarest/study/business/optimization_management.py
  antarest/study/web/study_data_blueprint.py
  requirements.txt
  tests/integration/study_data_blueprint/test_config_general.py
Due: mypy, ruff-format, ruff-check

fix(dataset): remove duplicate dataset usage provider
  antarest/matrixstore/model.py
  antarest/matrixstore/service.py
  tests/matrixstore/test_matrix_usage_providers.py
Due: mypy, ruff-format, ruff-check

feat(matrix): introduce usage providers to get matrix usage info (#2583)
  antarest/launcher/extensions/adequacy_patch/extension.py
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/matrixstore/matrix_usage_provider.py
  antarest/matrixstore/model.py
  antarest/matrixstore/service.py
  antarest/service_creator.py
  antarest/singleton_services.py
  antarest/study/business/link_management.py
  antarest/study/storage/rawstudy/raw_study_matrix_usage_provider.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/business/matrix_constants/matrix_constants_usage_provider.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/command_matrix_usage_provider.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/matrixstore/test_in_memory_matrix_service.py
  tests/matrixstore/test_matrix_garbage_collector.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix(raw): fix getting link output data
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): fix feedback
  antarest/launcher/model.py
  antarest/login/service.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): fix security warning
  antarest/login/repository.py
  antarest/login/service.py
Due: mypy, ruff-format, ruff-check

fix src code
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
Due: mypy, ruff-format, ruff-check

fix(matrix): fix missing import in matrix service
  antarest/matrixstore/service.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
