Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

rollback unecessary change on upgrade
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

trying to solve several issues
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
Due: mypy, ruff-format, ruff-check

remove dead code
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

fix typo
  antarest/matrixstore/service.py
Due: mypy, ruff-format, ruff-check

bit more cleaning
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

remove outdated doc
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

fix some variants issues
  antarest/study/storage/variantstudy/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

fix another test
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

fix another test
  tests/storage/integration/test_exporter.py
Due: ruff-format, ruff-check

fixing an important issue
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/matrixstore/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

cleaning a bit
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

fix thermal generation issue
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/raw_study_service.py
Due: mypy, ruff-format, ruff-check

add test for new behavior
  tests/storage/business/test_url_resolver_service.py
Due: ruff-format, ruff-check

remove irrelevant test
  tests/storage/test_service.py
Due: ruff-format, ruff-check

tablemode page
  webapp/src/components/TabsView.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/__root.tsx
  webapp/src/routes/_authenticated/settings/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Breadcrumb/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-hooks/useStudy.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/tablemode/-components/dialogs/CreateTemplateTableDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/tablemode/-components/dialogs/TableTemplateFormDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/tablemode/-components/dialogs/UpdateTemplateTableDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/tablemode/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/tablemode/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
  webapp/src/routes/_authenticated/studies/-components/CreateStudyDialog.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
  webapp/src/services/utils/localStorage.ts
Due: none

debug page
  webapp/src/components/Matrix/index.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/CreateFolderDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Json.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Matrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Text.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Unsupported.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/styles.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/DebugContext.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Tree/FileTreeItem.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Tree/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
Due: none

rename
  webapp/src/routes/-App/Singlestudy/explore/Configuration/route.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
Due: none

add extra-small prop for Autocomplete and make selectors smaller
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ClusterSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
  webapp/src/theme/components.ts
  webapp/src/types/mui.d.ts
Due: none

refactor variable selector utils
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
Due: none

add variable per variable cluster selection
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ClusterSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/hooks/useTaskMonitor.ts
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

add variable per variable states and viewer component
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ProcessButton.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/components/common/page/EmptyView.tsx
Due: none

fix unnecessary api calls when on variable per variable MC mode
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

add ref to track current materialized view changes
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

add variable view matrix
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/hooks/useTaskMonitor.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
Due: none

base types and api methods
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/constants.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

add variable selector and fix wrong DTO structure
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/MonteCarloModeSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

add MC mode selector
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/MonteCarloModeSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

fix wrong payload for links materialization
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

add materialized views detection
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

refactor api methods types
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

add state management foundation
  webapp/.gitignore
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
Due: none

refactor useVariablePerVariable
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/hooks/useTaskMonitor.ts
  webapp/src/services/api/studies/outputs/variableViews/constants.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

fix runtime error
  webapp/src/components/common/Matrix/shared/types.ts
  webapp/src/components/common/Matrix/shared/utils.ts
Due: none

minor refactor
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/MonteCarloModeSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ProcessButton.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/SynthesisViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/constants.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

fix materialized view display after WS notification
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
Due: none

optimize VariableViewParams types and eliminate duplicated logic
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

fix invalid variable selector value on item type change
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
Due: none

fix JSON response containing invalid NaN literals
  webapp/src/components/common/Matrix/shared/types.ts
  webapp/src/components/common/Matrix/shared/utils.ts
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
Due: none
