Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

add test
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: ruff-format, ruff-check

feat(task): add pydantic model validation for Config
  antarest/core/config.py
  tests/integration/maintenance_blueprint/test_disk_usage_log.py
  tests/storage/business/test_watcher.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

put a todo in the code for R
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: mypy, ruff-format, ruff-check

fix import issue
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: ruff-format, ruff-check

feat(output, db)!: support reading matrices (#3259)
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

pr stuff
  antarest/study/storage/variantstudy/repository.py
  tests/storage/business/test_repository.py
  tests/storage/business/test_variant_study_service.py
  webapp/src/services/api/studies/variants/index.ts
  webapp/src/services/api/studies/variants/types.ts
Due: mypy, ruff-format, ruff-check

feat(task): refactor
  antarest/core/config.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/storage/business/test_repository.py
Due: ruff-format, ruff-check

support reading adequacy outputs
  antarest/output/filestudy/file_output_utils.py
  tests/integration/output/test_output_variables.py
Due: mypy, ruff-format, ruff-check

add a mcInd inside the Zip for the tests
  tests/integration/assets/output_adq.7z
  tests/integration/assets/output_adq.zip
Due: none

test is now ok
  tests/integration/output/test_output_variables.py
Due: ruff-format, ruff-check

fix(output): support reading variables for `adequacy` simulations (#3262)
  antarest/output/filestudy/file_output_utils.py
  tests/integration/assets/output_adq.7z
  tests/integration/assets/output_adq.zip
  tests/integration/output/test_output_variables.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): taking reviews in account
  .github/workflows/main.yml
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): taking reviews in account
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): finally corrected the path problem (test variable not adapting)
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): finally corrected the path problem (test variable not adapting)
  antarest/favorite/service.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): finally corrected the path problem (test variable not adapting)
  .github/workflows/main.yml
Due: none

feat(task): add dedicated test
  antarest/core/config.py
  tests/core/test_config.py
  tests/storage/business/test_watcher.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): add destination directory picker to import dialog
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/dialogs/UploadDialog.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/DirectoryList.tsx
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/index.tsx
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/styles.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/useRedirectToDestination.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/utils.ts
  webapp/src/routes/-shared/components/studies/dialogs/ImportStudyDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/utils.ts
  webapp/src/routes/_authenticated/studies/-components/HeaderActions/index.tsx
  webapp/src/services/api/study.ts
Due: none

review
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/useRedirectToDestination.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/utils.ts
  webapp/src/routes/-shared/components/studies/dialogs/ImportStudyDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/index.tsx
Due: none

feat(ui-studies): add destination directory picker to import dialog (#3215)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/dialogs/UploadDialog.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/DirectoryList.tsx
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/index.tsx
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/styles.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/useRedirectToDestination.ts
  webapp/src/routes/-shared/components/studies/StudyDestinationFE/utils.ts
  webapp/src/routes/-shared/components/studies/dialogs/ImportStudyDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog/utils.ts
  webapp/src/routes/_authenticated/studies/-components/HeaderActions/index.tsx
  webapp/src/services/api/study.ts
Due: none

review
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
Due: none

feat(ui-reserves): add Needs tab with reserve matrix viewer
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

feat(task): load redis config in celery config
  antarest/core/config.py
  tests/core/test_config.py
Due: mypy, ruff-format, ruff-check

feat(ui-reserves): add Needs tab with reserve matrix viewer (#3263)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none

test(output, db): add aggregation tests for new storage mode
  tests/integration/output/conftest.py
Due: ruff-format, ruff-check

test(output, db): add aggregation tests for new storage mode (#3264)
  tests/integration/output/conftest.py
Due: ruff-format, ruff-check

feat(output, db): support downloading matrices
  antarest/study/service.py
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: mypy, ruff-format, ruff-check

tell renovate to stfu
  renovate.json
Due: none

try to make code works
  antarest/output/filestudy/utils.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

fix
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

review
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useArchiveOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useUnarchiveOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/index.tsx
  webapp/src/services/webSocket/ws.ts
Due: none

add the todo for links
  antarest/output/storage/file/abstract_storage.py
Due: mypy, ruff-format, ruff-check

feat(ui-outputs): add user column and refactor the view (#3221)
  antarest/output/filestudy/file_output_utils.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  tests/integration/output/test_output_blueprint.py
  tests/integration/output/test_v2_output_storage.py
  tests/output/storage/file/test_file_output_storage.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/outputs/keys.ts
  webapp/src/queries/outputs/mutations.ts
  webapp/src/queries/outputs/queries.ts
  webapp/src/routes/-shared/components/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/routes/-shared/components/studies/dialogs/ExportModal/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/JobStepper.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useDeleteStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDeleteBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-hooks/useStudyOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useArchiveOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useDeleteOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-hooks/useUnarchiveOutput.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
  webapp/src/routes/_authenticated/tasks/-components/LaunchJobLogView.tsx
  webapp/src/services/api/studies/outputs/index.ts
  webapp/src/services/api/studies/outputs/schemas.ts
  webapp/src/services/api/studies/outputs/types.ts
  webapp/src/services/api/study.ts
  webapp/src/services/api/tasks/types.ts
  webapp/src/services/webSocket/types.ts
  webapp/src/services/webSocket/ws.ts
  webapp/src/types/types.ts
Due: mypy, ruff-format, ruff-check

adapt code for links
  antarest/output/storage/file/abstract_storage.py
Due: mypy, ruff-format, ruff-check

one issue left
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): taking final reviews in account
  antarest/favorite/model.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check
