Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

remove todo
  antarest/study/dao/file/file_study_timseries_config_dao.py
Due: mypy, ruff-format, ruff-check

add UT
  antarest/study/dao/file/file_study_timseries_config_dao.py
  tests/storage/business/test_timeseries_config_manager.py
Due: mypy, ruff-format, ruff-check

fix mypy issue
  antarest/study/dao/file/file_study_timseries_config_dao.py
Due: mypy, ruff-format, ruff-check

perf(matrix): write matrices as int32 when possible
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

feat(ui-storages): add storages additional constraints view
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintDetails.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/constants.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
Due: none

chore(matrix): use directly the write_df method
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

refactor(ui): code review changes
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintDetails.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/constants.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
  webapp/src/services/api/studies/areas/storages/types.ts
Due: none

feat(ui-sts): use returned api value instead of reload call
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintDetails.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/constants.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/AddDialog.tsx
Due: none

feat(ui-storages): add storages additional constraints view (#2639)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintDetails.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/constants.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/BindingConstraints/AddDialog.tsx
  webapp/src/services/api/studies/areas/storages/constants.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
Due: none

sts specefic implec
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/scenariobuilder.py
  tests/storage/repository/filesystem/config/test_ruleset_matrices.py
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
Due: mypy, ruff-format, ruff-check

revert useless code and artchitecture
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
Due: mypy, ruff-format, ruff-check

renaming
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/scenariobuilder.py
Due: mypy, ruff-format, ruff-check

refactoring
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  tests/storage/repository/filesystem/config/test_ruleset_matrices.py
  webapp/public/locales/en/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
Due: mypy, ruff-format, ruff-check

forgot one file
  webapp/public/locales/fr/main.json
Due: none

remove useless code
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.23.0 (2025-08-07)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

docs(changelog): add backticks inside PR numbers
  docs/CHANGELOG.md
Due: none

feat(matrix_usage_provider): only the raw studies matrix testing missing
  antarest/matrixstore/service.py
  antarest/study/storage/rawstudy/raw_study_matrix_usage_provider.py
  antarest/study/storage/variantstudy/command_matrix_usage_provider.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/matrixstore/test_matrix_garbage_collector.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): only the raw studies matrix testing missing
  tests/conftest.py
Due: ruff-format, ruff-check

remove unused method
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  tests/storage/repository/filesystem/config/test_ruleset_matrices.py
  webapp/public/locales/en/main.json
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): support sts inflows (#2636)
  antarest/study/business/scenario_builder_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/scenariobuilder.py
  tests/storage/repository/filesystem/config/test_ruleset_matrices.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
Due: mypy, ruff-format, ruff-check

change workflow
  .github/workflows/deploy.yml
  .github/workflows/license-header.yml
  .github/workflows/main.yml
Due: none

fix(general): write building mode in lower case
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
Due: mypy, ruff-format, ruff-check

fix test
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  tests/variantstudy/model/command/test_update_general_config.py
Due: mypy, ruff-format, ruff-check

fix(general): write building mode in lower case (#2644)
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  tests/variantstudy/model/command/test_update_general_config.py
Due: mypy, ruff-format, ruff-check

only build on ubuntu
  .github/workflows/deploy.yml
Due: none

fix(general): remove building mode from the generaldata.ini
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  tests/variantstudy/model/command/test_update_general_config.py
Due: mypy, ruff-format, ruff-check

remove building mode from filedata class
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
Due: mypy, ruff-format, ruff-check

fix(general): remove `building_mode` from the generaldata.ini (#2645)
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  tests/variantstudy/model/command/test_update_general_config.py
Due: mypy, ruff-format, ruff-check

feat(ui-storage): update additional constraints
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/HomeView/Split.css
  webapp/src/components/App/Singlestudy/HomeView/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintDetails.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/constants.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/utils.ts
  webapp/src/components/App/Singlestudy/explore/TabWrapper.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/Form/utils.ts
  webapp/src/components/common/SplitView/index.tsx
  webapp/src/components/common/SplitView/style.css
  webapp/src/components/common/TabsView.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/components/common/page/ViewWrapper.tsx
  webapp/src/hooks/usePromise.ts
  webapp/src/hooks/usePromiseWithSnackbarError.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
  webapp/src/services/utils/index.ts
  webapp/src/utils/stringUtils.ts
Due: none

sonar review...
  webapp/src/components/common/SplitView/index.tsx
Due: none

feat(ui-storages): update additional constraints (#2643)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/HomeView/Split.css
  webapp/src/components/App/Singlestudy/HomeView/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/AddConstraintDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintDetails.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/constants.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/utils.ts
  webapp/src/components/App/Singlestudy/explore/TabWrapper.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/Form/utils.ts
  webapp/src/components/common/SplitView/index.tsx
  webapp/src/components/common/SplitView/style.css
  webapp/src/components/common/TabsView.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/components/common/page/ViewWrapper.tsx
  webapp/src/hooks/usePromise.ts
  webapp/src/hooks/usePromiseWithSnackbarError.ts
  webapp/src/services/api/studies/areas/storages/index.ts
  webapp/src/services/api/studies/areas/storages/types.ts
  webapp/src/services/utils/index.ts
  webapp/src/utils/stringUtils.ts
Due: none

fix(sts): make constraints matrices optional
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/st_storage/__init__.py
Due: mypy, ruff-format, ruff-check

fix(st-storages): make constraints matrices optional (#2646)
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/st_storage/__init__.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): remove unused ignore comment
  antarest/core/configdata/model.py
  antarest/core/filetransfer/model.py
  antarest/core/persistence.py
  antarest/core/tasks/model.py
  antarest/launcher/model.py
  antarest/login/model.py
  antarest/matrixstore/model.py
  antarest/study/model.py
  antarest/study/storage/variantstudy/model/dbmodel.py
Due: mypy, ruff-format, ruff-check

chore(metadata): remove unused author field
  antarest/study/model.py
  tests/core/test_tasks.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_abstract_storage_service.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: mypy, ruff-format, ruff-check

chore(db): migration to remove unused author column
  alembic/versions/5f34f4afafe8_remove_study_author.py
Due: ruff-format, ruff-check

fix(table-mode): remove cluster column for additional constraints
  webapp/src/services/api/studies/tableMode/constants.ts
Due: none

fix(table-mode): remove `cluster` column for additional constraints (#2648)
  webapp/src/services/api/studies/tableMode/constants.ts
Due: none

build(sqlalchemy): change study type for rawstudy and variantstudy
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check
