Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix test for CI
  tests/output/storage/file/test_file_output_storage.py
Due: ruff-format, ruff-check

renaming
  antarest/core/config.py
  antarest/output/adapters.py
  antarest/output/service.py
  antarest/output/storage/file/out_of_study.py
  antarest/output/storage/output_storage.py
  antarest/service_creator.py
  docs/configuration.md
  tests/integration/assets/config.template.yml
  tests/integration/conftest.py
  tests/output/storage/file/test_file_output_storage.py
Due: mypy, ruff-format, ruff-check

feat(output): add new output storage mode (#3245)
  antarest/core/config.py
  antarest/output/adapters.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/file/in_study.py
  antarest/output/storage/file/out_of_study.py
  antarest/output/storage/output_storage.py
  antarest/service_creator.py
  docs/configuration.md
  tests/integration/assets/config.template.yml
  tests/integration/conftest.py
  tests/output/storage/file/test_file_output_storage.py
  tests/output/test_output_service.py
  tests/storage/business/test_export.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

add a test that fails for now
  tests/integration/studies_blueprint/test_import.py
Due: ruff-format, ruff-check

remove dead front end code
  webapp/src/services/api/studies/variants/index.ts
Due: none

feat(favorite_external_directory): taking reviews in account
  alembic/versions/80fdf2408ede_add_favorite_external_directory_table.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): taking reviews in account
  alembic/versions/80fdf2408ede_add_favorite_external_directory_table.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  antarest/favorite/model.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  tests/favorite_study/test_favorite_external_directory.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  antarest/favorite/model.py
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

chore(launcher): update launcher to 1.4.9 (#3246)
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  pyproject.toml
  tests/launcher/test_slurm_launcher.py
  uv.lock
Due: mypy, ruff-format, ruff-check

v1 of the code not optimized as we do copytree
  antarest/output/service.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

remove mocks
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/route.tsx
  webapp/src/services/api/studies/areas/reserves/index.ts
  webapp/src/services/api/studies/areas/reserves/mocks.ts
Due: none

add mocks
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/route.tsx
  webapp/src/services/api/studies/areas/reserves/index.ts
  webapp/src/services/api/studies/areas/reserves/mocks.ts
Due: none

add create duplicate and delete to reserves list
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/CreateReserveDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

feat(ui-reserves): add create delete and duplicate operations to reserves list (#3249)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/CreateReserveDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
Due: none

v2 that should be fast
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/service.py
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/output/service.py
  antarest/study/adapters.py
  antarest/study/service.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

typo
  antarest/output/service.py
Due: mypy, ruff-format, ruff-check

fix one test
  tests/integration/studies_blueprint/test_import_directory.py
Due: ruff-format, ruff-check

fix caching issue
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

rewrite test
  tests/storage/business/test_import.py
Due: ruff-format, ruff-check

clean tmp after unarchive db
  antarest/study/storage/database_storage.py
Due: mypy, ruff-format, ruff-check

try to fix windows test
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

fix(output, db): do not remove outputs inside study at import (#3251)
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  tests/integration/studies_blueprint/test_import.py
  tests/integration/studies_blueprint/test_import_directory.py
  tests/storage/business/test_import.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  antarest/favorite/model.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

fix(output): clean output folder when deleting DB studies
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/repository.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/service.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directory): switched PosixPath to PurePosixPath
  .github/workflows/main.yml
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

clean other table
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/file/repository.py
  antarest/output/storage/v2/storage.py
  tests/output/storage/file/test_file_output_storage.py
Due: mypy, ruff-format, ruff-check

add a failing test
  tests/integration/studies_blueprint/test_study_matrix_index.py
Due: ruff-format, ruff-check

write code
  antarest/study/adapters.py
  antarest/study/service.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check
