Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix issue of ref study
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

avoid creating intermediate list
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

adapt test function
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

remove case that never happens
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

adapt test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

adapt other test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

adapt another test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

remove not relevant anymore test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

adapt yet another test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

new test adapted
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

continue
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

typo
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

adapt one test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

test is wrong
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

f
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

do not forget to put back the command
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

fix a test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

fix cache test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

move code
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot/snapshot_manager_interface.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

remove boiler plate method
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
Due: mypy, ruff-format, ruff-check

remove one db query
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

enrich doc
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

add msg in test with all db queries performed
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

simplification
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): add studies storage mode selection on create and import
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/dialogs/ImportStudyDialog/index.tsx
  webapp/src/routes/_authenticated/studies/-components/CreateStudyDialog.tsx
  webapp/src/services/api/study.ts
Due: none

feat(study): add invalidate cache endpoint
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

copilot
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_cache_invalidation.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): add studies storage mode selection on create and import (#3306)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/redux/ducks/studies.ts
  webapp/src/routes/-shared/components/studies/dialogs/ImportStudyDialog/index.tsx
  webapp/src/routes/_authenticated/studies/-components/CreateStudyDialog.tsx
  webapp/src/services/api/study.ts
Due: none

add nrt for remove command method
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/integration/variant_blueprint/test_variant_manager.py
Due: mypy, ruff-format, ruff-check

add nrt for generation details
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

add the from scrath in the if
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

adapt the rest of the failing test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

add sql check for from_sratch=True
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

add comment
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

move db connections test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

enrich doc
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot/snapshot_generator.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: mypy, ruff-format, ruff-check

add a todo in the test
  tests/study/storage/variantstudy/test_snapshot_generator.py
Due: ruff-format, ruff-check

resolve comment
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(study): add invalidate cache endpoint (#3307)
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_cache_invalidation.py
Due: mypy, ruff-format, ruff-check
