Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

fix test
  tests/integration/launcher_blueprint/test_launcher_local.py
Due: ruff-format, ruff-check

fix(launcher): solve possibly conflicting URLs for launchers config (#3333)
  antarest/launcher/web.py
  tests/integration/launcher_blueprint/test_launcher_local.py
  tests/launcher/test_web.py
Due: mypy, ruff-format, ruff-check

fix(dependencies): update uv.lock, fix conflicting paramiko version
  pyproject.toml
  uv.lock
Due: none

fix unit tests
  tests/output/test_output_service.py
  tests/study/dao/test_empty_matrices.py
Due: ruff-format, ruff-check

fix(output): search digest in correct folder in adequacy
  antarest/output/storage/file/abstract_storage.py
  tests/integration/output/test_digest.py
Due: mypy, ruff-format, ruff-check

fix(dependencies): update uv.lock, fix conflicting paramiko version (#3335)
  pyproject.toml
  tests/output/test_output_service.py
  tests/study/dao/test_empty_matrices.py
  uv.lock
Due: ruff-format, ruff-check

more specific error
  antarest/output/storage/file/abstract_storage.py
Due: mypy, ruff-format, ruff-check

move exception to interface
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
Due: mypy, ruff-format, ruff-check

move exception to more visible place
  antarest/output/storage/output_storage.py
Due: mypy, ruff-format, ruff-check

wip: test
  antarest/output/storage/output_storage.py
  tests/integration/output/test_digest.py
Due: mypy, ruff-format, ruff-check

unit test
  tests/integration/output/test_digest.py
Due: ruff-format, ruff-check

try fix unit test
  tests/integration/output/test_digest.py
Due: ruff-format, ruff-check

move function
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/OutputMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/SynthesisViewer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-utils.ts
Due: none

fix(ui-outputs): some issues in the view
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/SynthesisViewer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/index.tsx
Due: none

move variables models to dedicated module
  antarest/output/model/__init__.py
  antarest/output/model/variables.py
Due: mypy, ruff-format, ruff-check

move download classes to output model module
  antarest/output/filestudy/utils.py
  antarest/output/model/__init__.py
  antarest/output/model/download.py
  antarest/output/routes.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/study/adapters.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/utils.py
  antarest/study/web/studies_blueprint.py
  tests/output/storage/v2/test_v2_output_storage.py
  tests/storage/business/test_study_service_utils.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

add simulation schedule
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/Fields.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/__tests__/utils.test.ts
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/utils.ts
  webapp/src/services/api/launcher/index.ts
  webapp/src/services/api/launcher/types.ts
Due: none

fix(ui-outputs): some issues in the view (#3336)
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/ResultFilters/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/Header/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/OutputMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/SynthesisViewer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/index.tsx
Due: none

improve output modules structure
  antarest/output/filestudy/__init__.py
  antarest/output/filestudy/aggregation.py
  antarest/output/filestudy/file_output_utils.py
  antarest/output/filestudy/logs.py
  antarest/output/filestudy/matrixfiles.py
  antarest/output/filestudy/utils.py
  antarest/output/filestudy/variables.py
  antarest/output/model/data.py
  antarest/output/model/download.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/v2/storage.py
  antarest/output/storage/v2/variables_storage.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
Due: mypy, ruff-format, ruff-check

more renaming
  AGENTS.md
  antarest/core/serde/parquet_writer.py
  antarest/output/filestudy/aggregation.py
  antarest/output/filestudy/matrixfiles.py
  antarest/output/filestudy/metadata.py
  antarest/output/filestudy/model.py
  antarest/output/filestudy/variables.py
  antarest/output/model/data.py
  antarest/output/routes.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/output/storage/v2/variables_storage.py
  antarest/output/variable_view/model.py
  antarest/study/storage/utils.py
  tests/output/filestudy/test_extract_metadata.py
  tests/output/storage/v2/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

revert unwanted change into AGENTS.md
  AGENTS.md
Due: none

add scheduled job indicator
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/tasks/index.tsx
  webapp/src/services/api/launcher/jobs/adapters.ts
  webapp/src/services/api/launcher/jobs/types.ts
Due: none

fix(reserves): save_symmetry should require existing certification + parametrier tests
  antarest/study/dao/api/common.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
  tests/study/dao/file/test_filestudy_reserves_global_parameters_dao.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/study/dao/test_reserves_global_parameters_dao.py
  tests/study/dao/test_thermal_reserves_dao.py
Due: mypy, ruff-format, ruff-check

add test
  tests/study/dao/test_reserves_global_parameters_dao.py
Due: ruff-format, ruff-check

fix test
  tests/study/dao/test_reserve_definition_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

fix(output): search digest in correct folder in adequacy (#3337)
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  tests/integration/output/test_digest.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
Due: mypy, ruff-format, ruff-check

refactor(output): move models and functions to more relevant places (#3339)
  antarest/core/serde/parquet_writer.py
  antarest/output/filestudy/__init__.py
  antarest/output/filestudy/aggregation.py
  antarest/output/filestudy/logs.py
  antarest/output/filestudy/matrixfiles.py
  antarest/output/filestudy/metadata.py
  antarest/output/filestudy/model.py
  antarest/output/filestudy/variables.py
  antarest/output/model/__init__.py
  antarest/output/model/download.py
  antarest/output/model/variables.py
  antarest/output/routes.py
  antarest/output/service.py
  antarest/output/storage/file/abstract_storage.py
  antarest/output/storage/output_storage.py
  antarest/output/storage/v2/storage.py
  antarest/output/storage/v2/variables_storage.py
  antarest/output/variable_view/model.py
  antarest/study/adapters.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/utils.py
  antarest/study/web/studies_blueprint.py
  tests/output/filestudy/test_extract_metadata.py
  tests/output/storage/v2/test_v2_output_storage.py
  tests/storage/business/test_study_service_utils.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

fix(ui): stabilize debounced output export in ExportModal
  webapp/src/routes/-shared/components/studies/dialogs/ExportModal/index.tsx
Due: none

fix(reserves): save_symmetry should require existing certification (#3343)
  antarest/study/dao/api/common.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
  antarest/study/dao/file/file_study_reserve_symmetries_dao.py
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
  tests/study/dao/file/test_filestudy_reserves_global_parameters_dao.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/study/dao/test_reserves_global_parameters_dao.py
  tests/study/dao/test_thermal_reserves_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

fix(ui): stabilize debounced output export in ExportModal (#3348)
  webapp/src/routes/-shared/components/studies/dialogs/ExportModal/index.tsx
Due: none

feat(ui-jobs): add scheduled study launch (#3340)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/Fields.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/__tests__/utils.test.ts
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/index.tsx
  webapp/src/routes/-shared/components/studies/dialogs/LaunchStudiesDialog/utils.ts
  webapp/src/routes/_authenticated/tasks/index.tsx
  webapp/src/services/api/launcher/index.ts
  webapp/src/services/api/launcher/jobs/adapters.ts
  webapp/src/services/api/launcher/jobs/types.ts
  webapp/src/services/api/launcher/types.ts
Due: none

refactor(dao): introduce shared context
  antarest/study/dao/database/dao_context.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/database/database_blob_usage_provider.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_reserve_certification_dao.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/dao/database/database_thematic_trimming_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/database_user_resources.py
  antarest/study/dao/database/database_xpansion_dao.py
  antarest/study/dao/database/study_data_queries.py
  antarest/study/storage/database_storage.py
Due: mypy, ruff-format, ruff-check

remove duplicate get_session() method
  antarest/study/dao/database/common.py
  antarest/study/dao/database/dao_context.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  tests/study/dao/test_database_user_resources_dao.py
Due: mypy, ruff-format, ruff-check

use sutyd_id property instead of method inside implementation
  antarest/study/dao/database/dao_context.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
Due: mypy, ruff-format, ruff-check

remove unneeded if TYPE_CHECKING
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_reserve_certification_dao.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/dao/database/database_thematic_trimming_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/database_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

rename _blob_service for consistency sake
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_user_resources.py
Due: mypy, ruff-format, ruff-check

unused import
  antarest/study/dao/database/database_reserves_global_parameters_dao.py
Due: mypy, ruff-format, ruff-check

fix(dao): add session rollback
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_binding_constraint_dao.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_reserve_certification_dao.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/database_reserve_symmetries_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

move thermal query
  webapp/src/queries/thermals/keys.ts
  webapp/src/queries/thermals/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/-components/UpdateReserveClustersDrawer.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/certifications.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/index.tsx
Due: none
