Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

rename root constant and update move dialog label
  webapp/src/components/utils/constants.ts
  webapp/src/routes/-shared/components/studies/StudyPathFE.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Breadcrumb/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useBreadcrumbs.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/utils.ts
Due: none

add `disableTooltip` prop and update `TreeItemEnhanced`
  webapp/src/components/TreeItemEnhanced.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
Due: none

resolve infinite render loops in ManagedTree
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/EditableTreeItem.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
Due: none

show "Managed" chip label for managed studies
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
Due: none

chore(deps): upgrade fastapi from 0.124.2 to 0.130.0 (#3019)
  requirements.txt
Due: none

merge dev
  pyproject.toml
Due: none

review
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/EditableTreeItem.tsx
Due: none

feat(ui): improve study tree UX with collapsible sections, consistent icons, and stability fixes (#3014)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/TreeItemEnhanced.tsx
  webapp/src/components/utils/constants.ts
  webapp/src/routes/-shared/components/studies/StudyPathFE.tsx
  webapp/src/routes/-shared/components/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Breadcrumb/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/Header/hooks/useBreadcrumbs.ts
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/StudyCard.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/ExternalTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ExternalTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/EditableTreeItem.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/ManagedTreeNode.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/index.tsx
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/styles.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/ManagedTree/utils.ts
  webapp/src/routes/_authenticated/studies/-components/StudyTree/TreeSection.tsx
Due: none

move test deps
  .github/workflows/main.yml
  .github/workflows/worker.yml
  pyproject.toml
  uv.lock
Due: none

simplify log management
  antarest/launcher/adapters/abstractlauncher.py
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/service.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  antarest/study/output/storage/v2_output_storage.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): design db tables
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/dao/database/models/ruleset.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): lint
  antarest/study/dao/database/models/ruleset.py
Due: mypy, ruff-format, ruff-check

wip
  alembic/versions/c20d6b990db0_add_hydro_matrix_tables.py
  antarest/study/dao/database/database_hydro_dao.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/storage/integration/study_converter/test_study_converter_hydro.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-storages,ui-bc): move temporary id creation for optimitic update on mutation callback
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useCreateStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useCreateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDuplicateBindingConstraint.ts
Due: none

remove save logs, seems not used
  antarest/launcher/service.py
  antarest/study/output/output_service.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  antarest/study/output/storage/v2_output_storage.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

add todo comments for next steps
  antarest/study/output/storage/v2_output_storage.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): add alembic migration for ruleset tables
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
Due: ruff-format, ruff-check

wip
  antarest/study/dao/database/database_matrices_provider.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): add active ruleset table
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
  antarest/study/dao/database/models/ruleset.py
Due: mypy, ruff-format, ruff-check

feat(ui-storages,ui-bc): move temporary id creation for optimitic update on mutation callback (#3007)
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useCreateStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useCreateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDuplicateBindingConstraint.ts
Due: none

wip
  tests/storage/integration/study_converter/test_study_converter_hydro.py
  tests/study/dao/test_database_hydro_dao.py
Due: ruff-format, ruff-check

chore(release): v2.29.0 (2026-02-24)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

wip
  antarest/launcher/adapters/slurm_launcher/slurm_launcher.py
  antarest/launcher/model.py
  antarest/launcher/service.py
  antarest/study/output/storage/file_output_storage.py
  antarest/study/output/storage/output_storage.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
  tests/study/output/file/test_file_output_storage.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

wip
  tests/integration/study_data_blueprint/test_edit_matrix.py
  tests/integration/variant_blueprint/test_st_storage.py
  tests/study/dao/test_database_hydro_dao.py
Due: ruff-format, ruff-check

wip
  antarest/study/dao/database/database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): implements dao methods
  antarest/core/exceptions.py
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  tests/study/dao/test_database_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

feat(hydro): dao db hydro matrix (#3009)
  alembic/versions/c20d6b990db0_add_hydro_matrix_tables.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/models/hydro.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/service.py
  tests/integration/study_data_blueprint/test_edit_matrix.py
  tests/integration/variant_blueprint/test_st_storage.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/storage/integration/study_converter/test_study_converter_hydro.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_hydro_dao.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): few fixes
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/models/ruleset.py
  tests/study/dao/test_database_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

feat(scenario-builder): fix down revision
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
Due: ruff-format, ruff-check

try fixing sonar security warning
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(config): sync in-memory enr_modelling on advanced params save
  antarest/study/dao/file/file_study_advanced_parameters.py
Due: mypy, ruff-format, ruff-check

fix(config): sync in-memory enr_modelling on advanced params save
  antarest/study/dao/file/file_study_advanced_parameters.py
  tests/variantstudy/model/command/test_update_advanced_parameters.py
Due: mypy, ruff-format, ruff-check

Revert "try fixing sonar security warning"
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

adding fake endpoint
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

disable windows
  .github/workflows/main.yml
Due: none

disable python tests overall
  .github/workflows/main.yml
Due: none

only leave sonarcloud active
  .github/workflows/main.yml
Due: none

add src code
  alembic/versions/562d4e1bd95d_add_thematic_trimming_table.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/database_thematic_trimming_dao.py
  antarest/study/dao/database/models/thematic_trimming.py
Due: mypy, ruff-format, ruff-check

create initialization method
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/dao/database/database_study_factory_dao.py
  tests/study/dao/test_database_initialize_study.py
Due: mypy, ruff-format, ruff-check
