Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

save
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/time-series/costs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/time-series/inflows.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/time-series/level-cost.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/time-series/modulation.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/time-series/rule-curves.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/time-series/variation-costs.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/ColumnsResize.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/OccurrencesFE/OccurrencesTableDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/OccurrencesFE/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/OccurrencesFE/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/ConstraintForm/utils.ts
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/OccurrencesFE/OccurrencesTableDialog/ColumnsResize.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/OccurrencesFE/OccurrencesTableDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/OccurrencesFE/OccurrencesTableDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/OccurrencesFE/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/OccurrencesFE/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/index.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-components/AddConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-constants.ts
Due: none

feat(celery): implement tasks for blob gc and auto archiver
  antarest/blobstore/blob_garbage_collector.py
  antarest/maintenance/app.py
  antarest/maintenance/context.py
  antarest/maintenance/tasks/auto_archive.py
  antarest/maintenance/tasks/auto_archive_task.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_blob.py
  antarest/maintenance/tasks/gc_blob_task.py
  antarest/maintenance/tasks/gc_matrix.py
  antarest/study/storage/auto_archive_service.py
  tests/blobstore/test_blob_garbage_collector.py
  tests/integration/maintenance_blueprint/conftest.py
  tests/integration/maintenance_blueprint/test_auto_archive.py
  tests/integration/maintenance_blueprint/test_gc_blob.py
  tests/integration/maintenance_blueprint/test_gc_matrix.py
  tests/maintenance/conftest.py
  tests/maintenance/tasks/test_auto_archive.py
  tests/maintenance/tasks/test_gc_blob.py
  tests/maintenance/test_app.py
  tests/storage/business/test_autoarchive_service.py
Due: mypy, ruff-format, ruff-check

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/route.tsx
Due: none

feat(celery): implement tasks for blob gc and auto archiver
  tests/integration/maintenance_blueprint/test_gc_blob.py
Due: ruff-format, ruff-check

feat(celery): implement tasks for blob gc and auto archiver
  tests/integration/maintenance_blueprint/test_auto_archive.py
  tests/integration/maintenance_blueprint/test_gc_blob.py
  tests/storage/business/test_autoarchive_service.py
Due: ruff-format, ruff-check

refactor(variable-views): stronger typing up front
  antarest/study/business/output/variables_management.py
  antarest/study/output/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

fix unit tests
  antarest/core/utils/dict_utils.py
  antarest/study/business/output/variables_management.py
  antarest/study/web/output_blueprint.py
  tests/study/business/test_variables_manager.py
  tests/study/web/__init__.py
  tests/study/web/test_output_blueprint.py
Due: mypy, ruff-format, ruff-check

add missing header
  tests/study/web/__init__.py
Due: ruff-format, ruff-check

fix(mypy): fix typing after pandas-stub update
  antarest/study/business/output/aggregator_management.py
  antarest/study/output/output_service.py
Due: mypy, ruff-format, ruff-check

fix(mypy): fix typing after pandas-stub update (#2916)
  antarest/study/business/output/aggregator_management.py
  antarest/study/output/output_service.py
Due: mypy, ruff-format, ruff-check

feat(ci): use uv to install dependencies
  .github/workflows/main.yml
Due: none

disable cache for the moment
  .github/workflows/main.yml
Due: none

activate uv env
  .github/workflows/main.yml
Due: none

update version
  .github/workflows/main.yml
Due: none

update license header workflow too
  .github/workflows/license-header.yml
Due: none

use type adapter instead of root model
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

refactor(matrix): remove study download level dto (#2913)
  antarest/core/serde/matrix_export.py
  antarest/study/business/output/aggregator_management.py
  antarest/study/business/output/utils.py
  antarest/study/business/output/variables_management.py
  antarest/study/model.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_model.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/bindingconstraints/bindingcontraints.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/prepro/area/thermal/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/series/area/thermal/thermal.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/binding_const.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/link.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/set.py
  antarest/study/storage/utils.py
  antarest/study/web/output_blueprint.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/storage/business/test_study_service_utils.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/matrix/test_output_series_matrix.py
  tests/storage/repository/filesystem/root/input/hydro/common/capacity/test_capacity.py
  tests/storage/repository/filesystem/root/input/hydro/series/area/test_area.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_area.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_binding_const.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_link.py
  tests/storage/repository/filesystem/root/output/simulation/mode/common/test_set.py
Due: mypy, ruff-format, ruff-check

feat(ci): use uv pip interface to install dependencies (#2917)
  .github/workflows/license-header.yml
  .github/workflows/main.yml
Due: none

fix(desktop): prevent console window to pop on study run (#2911)
  antarest/launcher/adapters/local_launcher/local_launcher.py
  antarest/study/storage/explorer_service.py
  tests/integration/conftest.py
  tests/integration/test_studies_upgrade.py
  tests/integration/utils.py
  tests/launcher/test_local_launcher.py
  tests/storage/business/test_explorer_service.py
Due: mypy, ruff-format, ruff-check

refactor(variable-views): stronger typing upfront (#2915)
  antarest/core/utils/dict_utils.py
  antarest/study/business/output/variables_management.py
  antarest/study/output/output_service.py
  antarest/study/web/output_blueprint.py
  tests/study/business/test_variables_manager.py
  tests/study/web/__init__.py
  tests/study/web/test_output_blueprint.py
Due: mypy, ruff-format, ruff-check

refactor(output): move all output related features in output module
  antarest/study/output/aggregator_management.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
  antarest/study/output/utils.py
  antarest/study/output/variables_management.py
  antarest/study/output/variables_matrix_usage_provider.py
  antarest/study/web/output_blueprint.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/study/output/__init__.py
  tests/study/output/test_output_service.py
  tests/study/output/test_variables_manager.py
  tests/study/web/test_output_blueprint.py
Due: mypy, ruff-format, ruff-check

refactor(matrix): perform less DB calls when normalizing/denormalizing (#2896)
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/matrixstore/model.py
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/study/main.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/model/filesystem/folder_node.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/output.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/grid.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/conftest_services.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_service.py
  tests/storage/business/test_export.py
  tests/storage/business/test_import.py
  tests/storage/business/test_optional_matrices.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_url_resolver_service.py
  tests/storage/business/test_variant_study_service.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/integration/test_exporter.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

remove obsolete package
  antarest/study/business/output/__init__.py
Due: mypy, ruff-format, ruff-check

refactor(db): migrate some remaining queries to SQLAlchemy 2.0 API
  alembic/versions/0146b79f723c_update_study.py
  antarest/study/business/output/variables_management.py
  antarest/study/business/output/variables_matrix_usage_provider.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/login/test_model.py
  tests/storage/test_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_model.py
Due: mypy, ruff-format, ruff-check

refactor(db): migrate some remaining queries to SQLAlchemy 2.0 API (#2910)
  alembic/versions/0146b79f723c_update_study.py
  antarest/study/business/output/variables_management.py
  antarest/study/business/output/variables_matrix_usage_provider.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/login/test_model.py
  tests/storage/test_service.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_model.py
Due: mypy, ruff-format, ruff-check

liting
  antarest/study/output/variables_management.py
Due: mypy, ruff-format, ruff-check

license header
  tests/study/output/__init__.py
Due: ruff-format, ruff-check

remove pyinstaller hooks, not used anymore
  extra-hooks/hook-pandas.py
  extra-hooks/hook-uvicorn.py
Due: ruff-format, ruff-check

fix(installer): remove installer, not used anymore
  .gitmodules
Due: none

remove installer references from documentation
  docs/developer-guide/install/2-DEPLOY.md
Due: none

chore(installer,desktop): remove dead code (#2920)
  .gitmodules
  docs/developer-guide/install/2-DEPLOY.md
  extra-hooks/hook-pandas.py
  extra-hooks/hook-uvicorn.py
Due: ruff-format, ruff-check

chore(tests): stop watcher before actually running tests
  tests/integration/conftest.py
Due: ruff-format, ruff-check

refactor(output): move all output related features to output module (#2919)
  antarest/study/output/aggregator_management.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_service.py
  antarest/study/output/output_storage.py
  antarest/study/output/utils.py
  antarest/study/output/variables_management.py
  antarest/study/output/variables_matrix_usage_provider.py
  antarest/study/web/output_blueprint.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/study/output/__init__.py
  tests/study/output/test_output_service.py
  tests/study/output/test_variables_manager.py
  tests/study/web/test_output_blueprint.py
Due: mypy, ruff-format, ruff-check

mypy
  antarest/study/output/parquet_output_storage.py
Due: mypy, ruff-format, ruff-check

fix area links issue
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/route.tsx
Due: none

wip
  antarest/study/output/file/__init__.py
  antarest/study/output/file/extract_metadata.py
  antarest/study/output/lfs/__init__.py
  antarest/study/output/lfs/flat_dir_large_file_storage.py
  antarest/study/output/lfs/large_file_storage.py
  antarest/study/output/parquet_output_storage.py
  antarest/study/output/storage/__init__.py
  antarest/study/output/storage/parquet_output_storage.py
  antarest/study/output/storage/repository.py
Due: mypy, ruff-format, ruff-check

first basic implementation
  antarest/core/utils/archives.py
  antarest/study/model.py
  antarest/study/output/file/extract_metadata.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_storage.py
  antarest/study/output/storage/parquet_output_storage.py
  antarest/study/output/storage/repository.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
Due: mypy, ruff-format, ruff-check
