Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(district): fix lint
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

feat(district): fix lint
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

create models
  antarest/study/dao/database/models.py
Due: mypy, ruff-format, ruff-check

continue code
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

update license check script
  scripts/license_checker_and_adder.py
Due: ruff-format, ruff-check

fix(comments): code clean
  antarest/study/business/compatibility_parameters_management.py
  antarest/study/business/model/config/compatibility_parameters_model.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/compatibility_parameters.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/model/command/convert_hydro_pmax.py
Due: mypy, ruff-format, ruff-check

fix(lint): fix lint error
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

continue code
  antarest/study/dao/database/database_area_dao.py
  antarest/study/storage/variantstudy/model/command/create_area.py
Due: mypy, ruff-format, ruff-check

fix mypy
  antarest/study/dao/database/models.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

test failing
  tests/study/dao/test_database_area_dao.py
Due: ruff-format, ruff-check

test is ok
  tests/study/dao/test_database_area_dao.py
Due: ruff-format, ruff-check

add test
  tests/study/dao/test_database_area_dao.py
Due: ruff-format, ruff-check

rename alembic migration
  alembic/versions/f3a153a9a048_add_area_properties_inside_area_table.py
Due: ruff-format, ruff-check

remove useless check
  antarest/study/dao/database/database_area_properties_dao.py
Due: mypy, ruff-format, ruff-check

fix(constraint): fix bug when deleting additionnal constraints
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

feat(favorite): corrected alembic version file and changed favorite to favorite_study
  alembic/versions/7b406752d80_add_favorite_table.py
  antarest/favorite/model.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  antarest/launcher/main.py
  antarest/launcher/service.py
  antarest/service_creator.py
  tests/conftest.py
  tests/favorite/test_favorite.py
  tests/favorite_study/__init__.py
  tests/favorite_study/test_favorite_study.py
  tests/integration/favorite_blueprint/test_favorite.py
  tests/launcher/test_service.py
Due: mypy, ruff-format, ruff-check

feat(favorite): adapted headers from favorite repository
  antarest/favorite/__init__.py
  antarest/favorite/model.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
  antarest/favorite/web.py
Due: mypy, ruff-format, ruff-check

fix binding constraints
  webapp/src/services/api/studies/bindingConstraints/adapters.ts
  webapp/src/services/api/studies/bindingConstraints/type.ts
Due: none

feat(favorite): adapted headers from favorite repository
  antarest/favorite/web.py
  tests/favorite_study/__init__.py
  tests/integration/favorite_blueprint/test_favorite.py
Due: mypy, ruff-format, ruff-check

feat(favorite): adapted headers from favorite repository
  tests/integration/favorite_blueprint/__init__.py
  tests/integration/favorite_blueprint/test_favorite.py
Due: ruff-format, ruff-check

fix(constraint): fix bug when deleting additionnal constraints
  antarest/study/dao/file/file_study_st_storage_dao.py
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: mypy, ruff-format, ruff-check

fix(constraint): fix bug when deleting additionnal constraints
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: ruff-format, ruff-check

fix(constraint): fix bug when deleting additionnal constraints (#2958)
  antarest/study/dao/file/file_study_st_storage_dao.py
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: mypy, ruff-format, ruff-check

feat(district): remove default values from table model and migration
  alembic/versions/8f3d2a1b5c7e_add_district_tables.py
  antarest/study/dao/database/model/district.py
Due: mypy, ruff-format, ruff-check

feat(district): remove default values from table model and migration
  antarest/study/dao/database/model/district.py
Due: mypy, ruff-format, ruff-check

fix(remove frontend): remove frontend for cr23
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/utils.ts
Due: none

fix(default daily): move dafault max daily to separate file
  antarest/study/storage/rawstudy/model/filesystem/matrix/simulator_default.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
Due: mypy, ruff-format, ruff-check

fix(database study dao): add methods to the study dao
  antarest/study/dao/database/database_study_dao.py
Due: mypy, ruff-format, ruff-check

fix(refactor): code refactoring based on commnets from PR
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  tests/variantstudy/model/command/test_create_area.py
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

refactor(in memory study): refactor in memory study object
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.28.0 (2026-01-27)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

chore(changelog): remove section
  docs/CHANGELOG.md
Due: none

code review
  webapp/src/app/PageNotFound.tsx
  webapp/src/components/ButtonBack.tsx
  webapp/src/components/dialogs/DatabaseUploadDialog/components/MatrixContent.tsx
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/queries/areas/keys.ts
  webapp/src/queries/bindingConstraints.ts
  webapp/src/queries/bindingConstraints/keys.ts
  webapp/src/queries/bindingConstraints/mutations.ts
  webapp/src/queries/bindingConstraints/queries.ts
  webapp/src/queries/storages.ts
  webapp/src/queries/storages/keys.ts
  webapp/src/queries/storages/mutations.ts
  webapp/src/queries/storages/queries.ts
  webapp/src/queries/studies/keys.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-hooks/useStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-components/AddConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useCreateStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useDeleteStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/-hooks/useBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/time-series.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-components/AddConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-components/DuplicateConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useCreateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDeleteBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDuplicateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/ResultItemSelector.tsx
Due: none

perf(aggregation): use polars instead of pandas (#2943)
  antarest/core/serde/parquet_writer.py
  antarest/study/output/aggregator_management.py
  antarest/study/output/file_output_storage.py
  antarest/study/output/output_storage.py
  antarest/study/output/utils.py
  antarest/study/storage/df_download.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/variantstudy/business/matrix_constants/hydro/v6.py
  tests/core/serde/test_parquet_writer.py
  tests/integration/output_blueprint/test_aggregate_raw_data.py
  tests/integration/raw_studies_blueprint/assets/columns_mismatch.txt
Due: mypy, ruff-format, ruff-check

switch from sa.Text to sa.String
  antarest/study/dao/database/models.py
Due: mypy, ruff-format, ruff-check

add commits
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

test properties work
  tests/study/dao/test_database_area_properties_dao.py
Due: ruff-format, ruff-check

simplify tests
  tests/study/dao/test_database_area_dao.py
Due: ruff-format, ruff-check

test that used to fail now succeeds
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
