Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

finalize the UT
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check

other test is ok
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check

remove unused header
  tests/study/dao/assets/gems/libraries/8_1_simulator_nr_tests.yml
Due: none

simplify the code writing
  antarest/study/storage/rawstudy/model/filesystem/yaml_file_node.py
Due: mypy, ruff-format, ruff-check

feat(add_cpu_and_memory_metrics): WIP cpu and memory metrics
  antarest/core/metrics.py
  pyproject.toml
  resources/application.yaml
  uv.lock
Due: mypy, ruff-format, ruff-check

add multiple libraries test
  tests/study/dao/file/test_gems_library_dao.py
Due: ruff-format, ruff-check

a
  tests/study/dao/file/test_filestudy_gems_library_dao.py
Due: ruff-format, ruff-check

put code in common
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_gems_library_dao.py
  tests/study/dao/test_database_gems_library_dao.py
Due: ruff-format, ruff-check

start test
  tests/study/dao/test_database_gems_library_dao.py
Due: ruff-format, ruff-check

test fails
  antarest/study/dao/database/gems/database_library_dao.py
  tests/study/dao/test_database_gems_library_dao.py
Due: mypy, ruff-format, ruff-check

test is better
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

continue
  tests/study/dao/test_database_gems_library_dao.py
Due: ruff-format, ruff-check

f
  tests/study/dao/assets/gems/libraries/8_1_simulator_nr_tests.yml
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

put everything in alphabtecial order
  tests/study/dao/assets/gems/libraries/8_1_simulator_nr_tests.yml
Due: none

chore(study): remove v10 occurence
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  tests/core/test_config.py
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_slurm_launcher.py
  tests/storage/business/test_export.py
  tests/storage/business/test_study_version_upgrader.py
  tests/storage/test_config.py
  tests/study/dao/conftest.py
  tests/study/dao/test_reserves_global_parameters_dao.py
  tests/variantstudy/model/command/conftest.py
  tests/variantstudy/model/command/test_update_reserves_global_parameters.py
  webapp/src/services/api/studies/config/optimization/types.ts
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

final touch
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

chore(deps): consolidate Python dependency updates
  .github/workflows/main.yml
  .github/workflows/worker.yml
  pyproject.toml
  renovate.json
  uv.lock
Due: none

add test
  antarest/study/dao/database/database_study_settings_dao.py
  tests/integration/studies_blueprint/test_study_settings.py
Due: mypy, ruff-format, ruff-check

fix(ui-bc): sort select field options alphabetically
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/ClusterTermDataFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/LinkTermDataFE.tsx
Due: none

refactor(config): type export_mps as ExportMPS enum instead of str (#3383)
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/database/database_study_settings_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/study/dao/test_database_settings_dao.py
Due: mypy, ruff-format, ruff-check

fix(ui): enable horizontal fill handle in scenario builder table
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/Table.tsx
Due: none

fix(ui): enable horizontal fill handle in scenario builder table (#3385)
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/Table.tsx
Due: none

fix(renovate): disable automatic rebasing
  renovate.json
Due: none

remove duplicate copyright
  antarest/study/dao/database/gems/database_library_dao.py
Due: mypy, ruff-format, ruff-check

chore(study): remove v10.0 occurences (#3390)
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  tests/core/test_config.py
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_slurm_launcher.py
  tests/storage/business/test_export.py
  tests/storage/business/test_study_version_upgrader.py
  tests/storage/test_config.py
  tests/study/dao/conftest.py
  tests/study/dao/test_reserves_global_parameters_dao.py
  tests/variantstudy/model/command/conftest.py
  tests/variantstudy/model/command/test_update_reserves_global_parameters.py
  webapp/src/services/api/studies/config/optimization/types.ts
Due: mypy, ruff-format, ruff-check

change downgrade oreer
  alembic/versions/0974bca4078d_create_gems_library_tables.py
Due: ruff-format, ruff-check

use the same error
  antarest/study/dao/file/file_study_gems_library_dao.py
Due: mypy, ruff-format, ruff-check

always create the folder just in case
  antarest/study/dao/file/file_study_gems_library_dao.py
Due: mypy, ruff-format, ruff-check

remove duplicated header
  antarest/study/dao/api/gems_library_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): handle library inside the back-end (#3384)
  alembic/versions/0974bca4078d_create_gems_library_tables.py
  antarest/core/exceptions.py
  antarest/study/business/model/gems/library.py
  antarest/study/dao/api/gems_library_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/gems/database_library_dao.py
  antarest/study/dao/database/models/gems/library.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_gems_library_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/model/filesystem/yaml_file_node.py
  tests/study/dao/assets/gems/libraries/8_1_simulator_nr_tests.yml
  tests/study/dao/conftest.py
  tests/study/dao/file/conftest.py
  tests/study/dao/file/test_filestudy_gems_library_dao.py
  tests/study/dao/file/test_filestudy_hydro_reserves_dao.py
  tests/study/dao/test_database_gems_library_dao.py
Due: mypy, ruff-format, ruff-check

chore(deps): consolidate Python dependency updates (#3388)
  .github/workflows/main.yml
  .github/workflows/worker.yml
  pyproject.toml
  renovate.json
  uv.lock
Due: none

feat(ramp): add boolean in optimization_preferences
  alembic/versions/e12d85a77641_add_thermal_cluster_ramping_to_.py
  antarest/study/business/model/config/optimization_config_model.py
  antarest/study/dao/database/models/settings.py
  antarest/study/storage/rawstudy/model/filesystem/config/optimization_preferences.py
  tests/integration/studies_blueprint/test_study_settings.py
  tests/integration/study_data_blueprint/assets/study_data.json
  tests/study/dao/test_database_settings_dao.py
  tests/variantstudy/model/command/test_update_optimization_preferences.py
Due: mypy, ruff-format, ruff-check

feat(add_cpu_and_memory_metrics): task put in standby, replaced variable by cpu and memory percent
  antarest/core/metrics.py
Due: mypy, ruff-format, ruff-check

fix(ui-bc): sort select field options alphabetically (#3389)
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/ClusterTermDataFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/LinkTermDataFE.tsx
Due: none

review
  webapp/src/components/router/RouterIconButton.tsx
  webapp/src/services/api/studies/userResources/index.ts
Due: none

copilot review
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/Folder/index.tsx
  webapp/src/services/api/studies/userResources/index.ts
  webapp/src/utils/fileUtils.ts
Due: none

feat(user-resources): create user resources view for database study
  .gitignore
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/buttons/UploadFileButton.tsx
  webapp/src/components/router/RouterIconButton.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Text.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/Folder/CreateFolderDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/Folder/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/Image.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/Json.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/Text.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/Unsupported.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Data/styles.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Tree/TreeItem.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/Tree/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-components/UserResourcesContext.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/index.tsx
  webapp/src/services/api/studies/schemas.ts
  webapp/src/services/api/studies/userResources/index.ts
  webapp/src/services/api/studies/userResources/types.ts
  webapp/src/utils/fileUtils.ts
Due: none

create user resource route
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/user-resources/index.tsx
Due: none

add api functions
  webapp/src/services/api/studies/userResources/index.ts
  webapp/src/services/api/studies/userResources/schemas.ts
  webapp/src/services/api/studies/userResources/types.ts
Due: none
