Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

remove coverage
  .github/workflows/main.yml
Due: none

other try
  antarest/study/business/xpansion_management.py
Due: mypy, ruff-format, ruff-check

yet another try
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

yet another approach
  antarest/core/utils/string.py
  antarest/study/business/xpansion_management.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

add default error message
  antarest/core/utils/string.py
Due: mypy, ruff-format, ruff-check

restore CI
  .github/workflows/main.yml
Due: none

chore(security): fix last logging of uncontrolled data (#3031)
  antarest/core/utils/string.py
  antarest/study/business/xpansion_management.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(matrix): support `raw` operations on db studies (#3027)
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

start building the mapping
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

use the mapper inside the command for variants
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/business/utils.py
  antarest/study/storage/variantstudy/model/command/replace_matrix.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

refactor(ruleset): set to only one ruleset per study
  antarest/study/business/model/scenario_builder_model.py
  antarest/study/business/scenario_builder_management.py
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/model/filesystem/config/scenario_builder.py
  antarest/study/storage/variantstudy/model/command/update_scenario_builder.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/views/scenario_builder_views.py
  tests/integration/test_integration.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/variantstudy/model/command/test_manage_binding_constraints.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_remove_cluster.py
  tests/variantstudy/model/command/test_remove_link.py
  tests/variantstudy/model/command/test_remove_renewables_cluster.py
  tests/variantstudy/model/command/test_update_scenario_builder.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

chore(fastapi): fix issues
  antarest/core/filesystem_blueprint.py
  antarest/study/business/model/config/playlist_model.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(fastapi): align API endpoints with modern FastAPI conventions (#3028)
  antarest/core/filesystem_blueprint.py
  antarest/core/maintenance/web.py
  antarest/eventbus/web.py
  antarest/login/web.py
  antarest/matrixstore/web.py
  antarest/study/business/model/config/playlist_model.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/integration/filesystem_blueprint/test_model.py
Due: mypy, ruff-format, ruff-check

refactor(ruleset): lint
  antarest/study/dao/file/file_study_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

copilot review
  webapp/src/components/DownloadLink.tsx
  webapp/src/components/Matrix/components/MatrixFilter/components/ChipSelector.tsx
  webapp/src/components/dialogs/DialogProvider/types.ts
  webapp/src/components/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/components/page/SplitView/utils.ts
Due: none

first
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/components/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/fieldEditors/ListFE/index.tsx
  webapp/src/redux/ducks/studyMaps.ts
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/redux/selectors.ts
  webapp/src/redux/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/index.tsx
Due: none

final
  webapp/package-lock.json
  webapp/package.json
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/properties/-utils.ts
  webapp/src/routes/_authenticated/tasks/index.tsx
Due: none

codemods react
  webapp/src/components/DownloadLink.tsx
  webapp/src/components/Form/index.tsx
  webapp/src/components/JSONEditor/index.tsx
  webapp/src/components/Matrix/components/MatrixFilter/components/ChipSelector.tsx
  webapp/src/components/dialogs/DialogProvider/types.ts
  webapp/src/components/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/fieldEditors/ColorPickerFE/index.tsx
  webapp/src/components/fieldEditors/ListFE/index.tsx
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/components/page/SplitView/utils.ts
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/TermsFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/map/-components/MapGraph.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/map/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/OutputMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/VariableMatrix/index.tsx
Due: none

change regex pattern
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

feat(ui): update to react 19 (#3032)
  webapp/package-lock.json
  webapp/package.json
  webapp/src/components/Form/index.tsx
  webapp/src/components/GroupedDataTable/index.tsx
  webapp/src/components/JSONEditor/index.tsx
  webapp/src/components/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/fieldEditors/ColorPickerFE/index.tsx
  webapp/src/components/fieldEditors/ListFE/index.tsx
  webapp/src/components/fieldEditors/SelectFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/redux/ducks/studyMaps.ts
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/redux/selectors.ts
  webapp/src/redux/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListItem/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/DraggableCommands/CommandListView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/CommandsDrawer/EditionView/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/properties/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/renewables/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/thermals/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/TermsFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/map/-components/MapGraph.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/map/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/OutputMatrix.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/outputs/$outputId/-components/OutputMatrixViewer/VariableMatrix/index.tsx
  webapp/src/routes/_authenticated/tasks/index.tsx
Due: none

fix alias decoder tests
  tests/variantstudy/model/command/test_alias_decoder.py
Due: ruff-format, ruff-check

fix typo
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

refactor(ruleset): fix issues
  antarest/study/dao/file/file_study_scenario_builder_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
Due: mypy, ruff-format, ruff-check

add type ignore
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

rollback minor change
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

remove test that do not pass anymore
  tests/storage/integration/test_write_STA_mini.py
Due: ruff-format, ruff-check

add error cases for mapper
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: ruff-format, ruff-check

add test for the mapper
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: ruff-format, ruff-check

feat(uv): add doc build
  readthedocs.yml
  uv.lock
Due: none

feat(uv): use astral uv to manage project environment (#2796)
  .github/workflows/license-header.yml
  .github/workflows/main.yml
  .github/workflows/worker.yml
  .gitignore
  CONTRIBUTING.md
  Dockerfile
  README.md
  docs/developer-guide/0-developer-tools.md
  docs/developer-guide/install/0-INSTALL.md
  pyproject.toml
  readthedocs.yml
  requirements-desktop.txt
  requirements-dev.txt
  requirements-doc.txt
  requirements-test.txt
  requirements-windows.txt
  requirements.txt
  scripts/linter.sh
  scripts/pre-start.sh
  scripts/start-dev.sh
  scripts/start.sh
  uv.lock
Due: none

resolve first comments
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

put code in common to be able to test it
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

add version specific tests
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: ruff-format, ruff-check

fix import issue
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: ruff-format, ruff-check

drop support for logs in output/logs, was and will never be used
  antarest/study/output/storage/file_output_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/output.py
Due: mypy, ruff-format, ruff-check

drop support for logs in output/logs, was and will never be used
  antarest/launcher/adapters/abstractlauncher.py
  tests/launcher/test_service.py
  tests/study/output/file/test_file_output_storage.py
Due: mypy, ruff-format, ruff-check

remove obsolete comment
  antarest/study/output/storage/file_output_storage.py
Due: mypy, ruff-format, ruff-check

use eventbus in every case
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(matrix)!: support `raw` modifications on db studies (#3033)
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  antarest/study/storage/variantstudy/business/utils.py
  antarest/study/storage/variantstudy/model/command/replace_matrix.py
  tests/storage/integration/test_write_STA_mini.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/variantstudy/model/command/test_alias_decoder.py
Due: mypy, ruff-format, ruff-check

remove support for zipped output in launcher service, which never worked
  antarest/launcher/service.py
  antarest/study/output/storage/output_storage.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
