Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(ui-studies): add select/deselect all in outputs fields in copy dialog (#2561)
  webapp/package-lock.json
  webapp/package.json
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/common/Form/useFormApiPlus.ts
  webapp/src/components/common/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/common/fieldEditors/ListFE/index.tsx
  webapp/src/components/common/fieldEditors/NewSelectFE.tsx
  webapp/src/components/common/fieldEditors/NumberFE.tsx
  webapp/src/components/common/fieldEditors/PasswordFE.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

fix(hydro): update method for conformity, fix in_memory_study_dao.py hydro methods
  antarest/study/business/areas/hydro_management.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/areas/test_hydro_management.py
Due: mypy, ruff-format, ruff-check

test(hydro): fix tests, path used in get_all_hydro_properties
  antarest/study/dao/file/file_study_hydro_dao.py
  tests/study/business/areas/test_hydro_management.py
Due: mypy, ruff-format, ruff-check

refactor(hydro): add hydro dao and file_study_hydro_dao, update hydro relative files, update in-memory study dao class
  antarest/study/business/areas/hydro_management.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(hydro): update method for conformity, fix in_memory_study_dao.py hydro methods
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
Due: mypy, ruff-format, ruff-check

chore(hydro): remove TODOs
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

fix(hydro): add implementation of methods in `in_memory_study_dao.py`
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

fix formatting
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

simplify get volume label
  antarest/study/storage/explorer_service.py
Due: mypy, ruff-format, ruff-check

add assert so mypy ignore windows code
  antarest/study/storage/explorer_service.py
Due: mypy, ruff-format, ruff-check

feat(desktop): ui improvement (#2575)
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/explorer_service.py
  antarest/study/web/explorer_blueprint.py
  tests/integration/explorer_blueprint/test_explorer.py
  tests/storage/business/test_explorer_service.py
  tests/storage/test_service.py
  webapp/src/components/App/Container/index.tsx
  webapp/src/components/App/Settings/index.tsx
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
  webapp/src/components/App/Studies/StudyTree/__test__/utils.test.ts
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/App/Studies/StudyTree/types.ts
  webapp/src/components/App/Studies/StudyTree/utils.ts
  webapp/src/hooks/useAppMode.ts
  webapp/src/redux/ducks/studies.ts
  webapp/src/redux/middlewares/localStorageMiddleware.ts
  webapp/src/services/api/study.ts
  webapp/src/services/utils/localStorage.ts
  webapp/src/services/webSocket/types.ts
Due: mypy, ruff-format, ruff-check

build artifact for 3469
  .github/workflows/deploy.yml
Due: none

chore(version): bump antares-solver 8.8.17
  docker-compose.yml
  docs/developer-guide/install/2-DEPLOY.md
  scripts/package_antares_web.sh
Due: none

feat(matrix): add endpoint to normalize studies (#2586)
  antarest/core/exceptions.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_normalization.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): finished working on unit testing
  antarest/study/storage/variantstudy/command_matrix_usage_provider.py
  tests/matrixstore/test_matrix_usage_providers.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): fix unit tests
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/auto_archive_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/model/dbmodel.py
  antarest/study/web/variant_blueprint.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): finished working on unit testing n°2
  antarest/service_creator.py
  antarest/singleton_services.py
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): finished working on unit testing n°3
  tests/conftest.py
Due: ruff-format, ruff-check

better test
  antarest/study/storage/explorer_service.py
  tests/storage/business/test_explorer_service.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): imports sorted
  antarest/matrixstore/in_memory.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): correcting tests problem n°1
  tests/matrixstore/test_matrix_garbage_collector.py
Due: ruff-format, ruff-check

feat(matrix_usage_provider): correcting tests problem n°2
  tests/matrixstore/test_matrix_garbage_collector.py
Due: ruff-format, ruff-check

feat(matrix_usage_provider): correcting tests problem n°3
  tests/matrixstore/test_in_memory_matrix_service.py
  tests/variantstudy/model/command/test_create_link_in_memory.py
Due: ruff-format, ruff-check

fix test
  tests/integration/explorer_blueprint/test_explorer.py
Due: ruff-format, ruff-check

feat(generalconfig): fix unit test for command
  antarest/study/business/model/config/general_model.py
  antarest/study/dao/file/file_study_general_config_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  tests/integration/study_data_blueprint/test_config_general.py
Due: mypy, ruff-format, ruff-check

fix(desktop): fix broken explorer tests (#2593)
  antarest/study/storage/explorer_service.py
  tests/integration/explorer_blueprint/test_explorer.py
  tests/storage/business/test_explorer_service.py
Due: mypy, ruff-format, ruff-check

feat(generalconfig): fix unit test for command
  antarest/study/dao/file/file_study_general_config_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/general.py
  tests/variantstudy/model/command/test_update_general_config.py
Due: mypy, ruff-format, ruff-check

feat(allocation): replace list matrix type by numpy array (#2581)
  antarest/core/serde/np_array.py
  antarest/study/business/allocation_management.py
  antarest/study/business/correlation_management.py
  antarest/study/model.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  tests/study/business/test_allocation_manager.py
Due: mypy, ruff-format, ruff-check

chore(sqlalchemy): update alembic scripts
  alembic/versions/dcbe7dbf500b_update_datetime.py
  alembic/versions/f3b1b3fb31f5_ldap_users.py
Due: ruff-format, ruff-check

chore(sqlalchemy): lint
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

refactor(results): review changes
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/SynthesisViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/redux/hooks/useStudySynthesis.ts
  webapp/src/services/api/study.ts
Due: none

fix(ui-results): resolve variant data display, infinite loops, and state inconsistencies
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/redux/hooks/useStudySynthesis.ts
  webapp/src/services/api/study.ts
Due: none

fix(results): create minimal output object when data is not found in synthesis
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
Due: none

refactor(results): decompose ResultDetails into smaller components
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/SynthesisViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
Due: none

fix(results): minor refactor results components
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/services/api/study.ts
Due: none

fix(ui-results): resolve variant data display, infinite loops, and state inconsistencies (#2564)
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/SynthesisViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/services/api/study.ts
Due: none

refactor(results): review changes
  .github/workflows/main.yml
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/SynthesisViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/index.tsx
  webapp/src/redux/hooks/useStudySynthesis.ts
  webapp/src/services/api/study.ts
Due: none

fix(ui-matrix): resolve timezone detection bug in datetime generation
  .github/workflows/main.yml
  webapp/package.json
  webapp/src/components/common/Matrix/shared/utils.ts
Due: none

fix(test): resolve sonar error
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/tests/setup.ts
Due: none
