Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix test
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

fix col names
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
Due: ruff-format, ruff-check

other fixes
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

fixes
  tests/variantstudy/model/command/test_create_st_storage.py
  tests/variantstudy/model/command/test_create_xpansion_resource.py
Due: ruff-format, ruff-check

fixes
  tests/matrixstore/test_repository.py
Due: ruff-format, ruff-check

some fixes
  tests/matrixstore/test_repository.py
Due: ruff-format, ruff-check

f
  tests/matrixstore/test_in_memory_matrix_service.py
Due: ruff-format, ruff-check

fixing some tests
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: ruff-format, ruff-check

a
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: ruff-format, ruff-check

little code simplification
  antarest/matrixstore/parsing.py
Due: mypy, ruff-format, ruff-check

feat(storage): change alembic down revision
  alembic/versions/2572145aff71_add_storage_mode_and_area_tables.py
Due: ruff-format, ruff-check

remove nan processing
  antarest/matrixstore/parsing.py
Due: mypy, ruff-format, ruff-check

remove
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

r
  tests/variantstudy/model/command/test_create_cluster.py
Due: ruff-format, ruff-check

a
  tests/variantstudy/model/command/test_replace_matrix.py
Due: ruff-format, ruff-check

a
  tests/study/business/dao/test_file_study_dao.py
Due: ruff-format, ruff-check

a
  tests/matrixstore/test_web.py
Due: ruff-format, ruff-check

f
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

fix one
  antarest/matrixstore/repository.py
Due: mypy, ruff-format, ruff-check

fixing some
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

wip
  antarest/core/config.py
  antarest/maintenance/app.py
  antarest/maintenance/tasks/gc_variable_view.py
  antarest/maintenance/tasks/gc_variable_view_task.py
Due: mypy, ruff-format, ruff-check

fix integration tests
  antarest/study/output/file_output_storage.py
  tests/storage/business/test_export.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

fix tests
  tests/storage/business/test_raw_study_service.py
  tests/storage/test_service.py
  tests/storage/web/test_studies_bp.py
Due: ruff-format, ruff-check

feat(celery): task for watcher scan
  antarest/maintenance/app.py
Due: mypy, ruff-format, ruff-check

feat(celery): task for watcher scan
  tests/maintenance/tasks/test_watcher_scan.py
Due: ruff-format, ruff-check

feat(cr23-frontend): add select field inside advanced parameters ui - add support for hydro-pmax: hourly and daily inside generaldata.ini file
  antarest/study/storage/rawstudy/raw_study_service.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
Due: mypy, ruff-format, ruff-check

fix(lint): fix lint frontend error
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
Due: none

fix(tests): update tests
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
Due: ruff-format, ruff-check

some fixes
  tests/integration/maintenance_blueprint/test_gc_matrix.py
Due: ruff-format, ruff-check

f
  tests/storage/integration/test_write_STA_mini.py
Due: ruff-format, ruff-check

wip
  antarest/core/config.py
  antarest/maintenance/tasks/gc_variable_view.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/study/output/file_output_storage.py
Due: mypy, ruff-format, ruff-check

f
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

test is OK
  tests/storage/integration/test_study_converter.py
Due: ruff-format, ruff-check

remove test reading inside archive
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

remove test reading inside archive
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: ruff-format, ruff-check

feat(automatic fetch frontend): fetch value of hydro-pmax to the frontend
  antarest/study/business/model/config/advanced_parameters_model.py
  antarest/study/dao/file/file_study_advanced_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/config/advanced_parameters.py
  tests/integration/study_data_blueprint/test_advanced_parameters.py
Due: mypy, ruff-format, ruff-check

fix instruction issue
  antarest/study/business/matrix_management.py
Due: mypy, ruff-format, ruff-check

fix another isues
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

easier
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

use pandas only if needed
  antarest/matrixstore/repository.py
  tests/matrixstore/test_repository.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
