Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

add a part of the front-end
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Renewables/RenewableConfig/RenewableForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/ThermalConfig/ThermalForm.tsx
Due: none

refactor
  alembic/versions/6c3d9dbf678c_merge_divergent_heads.py
Due: ruff-format, ruff-check

finalize the front end
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Renewables/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Renewables/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/utils.ts
Due: none

add test for thermal + src code upgrader
  antarest/study/storage/study_upgrader/__init__.py
  tests/integration/study_data_blueprint/test_thermal.py
Due: mypy, ruff-format, ruff-check

fix upgrader tests
  tests/storage/business/test_study_version_upgrader.py
Due: ruff-format, ruff-check

add test for renewable
  tests/integration/study_data_blueprint/test_renewable.py
Due: ruff-format, ruff-check

fix(alembic): alembic merge heads (#2612)
  alembic/versions/6c3d9dbf678c_merge_divergent_heads.py
Due: ruff-format, ruff-check

chore/build-desktop-artifact
  .github/workflows/deploy.yml
Due: none

start refacto
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/storage/business/test_xpansion_manager.py
Due: mypy, ruff-format, ruff-check

fixing mypy issues
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
Due: mypy, ruff-format, ruff-check

fixing some code
  antarest/study/business/model/xpansion_model.py
Due: mypy, ruff-format, ruff-check

add empty skeleton
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

add in memory implem
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

start building the DAO
  antarest/study/business/xpansion_management.py
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

add local class
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
Due: mypy, ruff-format, ruff-check

resolve comments
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/hydro.py
  tests/variantstudy/model/command/test_update_inflow_structure.py
Due: mypy, ruff-format, ruff-check

refactor(hydro): introduce the dao layer and improve class design (#2590)
  antarest/study/business/areas/hydro_management.py
  antarest/study/business/model/hydro_model.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/hydro.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  tests/study/business/areas/test_hydro_management.py
  tests/variantstudy/model/command/test_update_hydro_management.py
  tests/variantstudy/model/command/test_update_inflow_structure.py
Due: mypy, ruff-format, ruff-check

use populate by name
  antarest/study/business/model/xpansion_model.py
  tests/storage/business/test_xpansion_manager.py
Due: mypy, ruff-format, ruff-check

fix imports issues
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
Due: ruff-format, ruff-check

wip
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  tests/storage/business/test_config_manager.py
Due: mypy, ruff-format, ruff-check

add candidate validation
  antarest/study/business/model/xpansion_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
  tests/variantstudy/model/command/test_xpansion_candidates.py
Due: mypy, ruff-format, ruff-check

typo
  antarest/study/business/model/xpansion_model.py
Due: mypy, ruff-format, ruff-check

fix(sts-matrix): restore deprecated enpoint
  antarest/study/business/areas/st_storage_management.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_st_storage.py
Due: mypy, ruff-format, ruff-check

fix(sts-matrix): update comment
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

start rewriting coe
  antarest/core/exceptions.py
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/__init__.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/st_storage/constraints/area/st_storage/__init__.py
  antarest/study/storage/variantstudy/model/command/remove_st_storage.py
  tests/storage/repository/filesystem/config/test_config_files.py
Due: mypy, ruff-format, ruff-check

continue work
  antarest/study/business/areas/st_storage_management.py
  antarest/study/dao/api/st_storage_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_st_storage_additional_constraints.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

15 mypy issues
  antarest/study/dao/api/st_storage_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

14 mypy issues
  antarest/study/business/model/sts_model.py
  antarest/study/storage/variantstudy/model/command/update_st_storage_additional_constraints.py
Due: mypy, ruff-format, ruff-check

11 mypy issues
  antarest/study/business/areas/st_storage_management.py
  antarest/study/storage/variantstudy/model/command/remove_multiple_storage_constraints.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

8 issues
  antarest/study/storage/variantstudy/model/command/create_st_storage_constraints.py
Due: mypy, ruff-format, ruff-check

6 mypy issues
  antarest/study/business/table_mode_management.py
Due: mypy, ruff-format, ruff-check

5
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

1 mypy issue
  antarest/study/business/areas/st_storage_management.py
Due: mypy, ruff-format, ruff-check

mypy oj
  antarest/study/dao/file/file_study_st_storage_dao.py
Due: mypy, ruff-format, ruff-check

fix(alembic): fix migration syntax for postgresql
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

fix(alembic): fix migration syntax for postgresql (#2617)
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check

resolve comments
  antarest/study/storage/rawstudy/model/filesystem/config/renewable.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal.py
  tests/integration/study_data_blueprint/test_renewable.py
Due: mypy, ruff-format, ruff-check

fix syntax
  alembic/versions/fa59340767b0_make_all_managed_studies_folder_path_.py
Due: ruff-format, ruff-check
