Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

General + playlist styles
  webapp/src/components/App/Singlestudy/explore/Configuration/General/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/styles.ts
  webapp/src/theme/components.ts
  webapp/src/types/mui.d.ts
Due: none

playlist
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/index.tsx
  webapp/src/components/common/DataGridForm.tsx
  webapp/src/components/common/Fieldset.tsx
  webapp/src/components/common/GroupedDataTable/CreateDialog.tsx
  webapp/src/components/common/GroupedDataTable/DuplicateDialog.tsx
  webapp/src/components/common/dialogs/FormDialog.tsx
  webapp/src/components/common/fieldEditors/NumberFE.tsx
  webapp/src/components/common/fieldEditors/RadioFE.tsx
  webapp/src/components/common/fieldEditors/RadioGroupFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/utils/reactHookFormUtils.ts
  webapp/src/utils/validation/number.ts
Due: none

Alexander feedback
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
Due: none

own review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/components/common/GroupedDataTable/index.tsx
  webapp/src/utils/i18nUtils.ts
  webapp/src/utils/reactHookFormUtils.ts
Due: none

add error tooltip
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
Due: none

fix failing test after merge
  tests/storage/test_service.py
Due: ruff-format, ruff-check

code review
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/components/common/GroupedDataTable/index.tsx
  webapp/src/components/common/fieldEditors/RadioGroupFE.tsx
  webapp/src/utils/i18nUtils.ts
Due: none

fix(study): rename variable for study copy
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/raw_studies_blueprint/test_download_matrices.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_disk_usage.py
  tests/integration/studies_blueprint/test_synthesis.py
  tests/integration/study_data_blueprint/test_hydro_allocation.py
  tests/integration/study_data_blueprint/test_hydro_inflow_properties.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/test_integration.py
  tests/integration/variant_blueprint/test_thermal_cluster.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

feat(ui-playlist): update the dialog (#2473)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/General/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/styles.ts
  webapp/src/components/App/Singlestudy/explore/Debug/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Studies/SideNav.tsx
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/components/App/Studies/index.tsx
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/common/DataGridForm.tsx
  webapp/src/components/common/Fieldset.tsx
  webapp/src/components/common/GroupedDataTable/CreateDialog.tsx
  webapp/src/components/common/GroupedDataTable/DuplicateDialog.tsx
  webapp/src/components/common/GroupedDataTable/index.tsx
  webapp/src/components/common/Matrix/index.tsx
  webapp/src/components/common/SplitView/index.tsx
  webapp/src/components/common/dialogs/FormDialog.tsx
  webapp/src/components/common/fieldEditors/NumberFE.tsx
  webapp/src/components/common/fieldEditors/RadioFE.tsx
  webapp/src/components/common/fieldEditors/RadioGroupFE.tsx
  webapp/src/components/common/page/RootPage.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
  webapp/src/theme/components.ts
  webapp/src/types/mui.d.ts
  webapp/src/utils/i18nUtils.ts
  webapp/src/utils/reactHookFormUtils.ts
  webapp/src/utils/validation/number.ts
Due: none

fix(thermal): return hard coal in lower case
  antarest/study/business/model/thermal_cluster_model.py
  tests/integration/study_data_blueprint/test_thermal.py
Due: mypy, ruff-format, ruff-check

fix(thermal): return `hard coal` group in lower case (#2487)
  antarest/study/business/model/thermal_cluster_model.py
  tests/integration/study_data_blueprint/test_thermal.py
Due: mypy, ruff-format, ruff-check

first try
  .github/workflows/deploy.yml
  .github/workflows/license-header.yml
  .github/workflows/main.yml
  extra-hooks/hook-antares-study-version.py
Due: ruff-format, ruff-check

bump study-versin
  requirements.txt
Due: none

remove potential useless hook
  extra-hooks/hook-antares-study-version.py
Due: ruff-format, ruff-check

all OK
  .github/workflows/deploy.yml
  .github/workflows/license-header.yml
  .github/workflows/main.yml
Due: none

fix(desktop): allow users to create empty studies (#2488)
  requirements.txt
Due: none

chore(mypy): add install types for openpyxl
  requirements-dev.txt
Due: none

feat(agregation): make methods private, replace ifelse with match
  antarest/core/serde/matrix_export.py
Due: mypy, ruff-format, ruff-check

chore(agregation): more similarity between write methods
  antarest/core/serde/matrix_export.py
Due: mypy, ruff-format, ruff-check

split into multiple components
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/Matrix/components/MatrixFilter/ColumnFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/SelectionSummary.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixResize.tsx
  webapp/src/components/common/Matrix/index.tsx
Due: none

add time freq index info
  webapp/src/components/common/Matrix/components/MatrixActions/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils.ts
  webapp/src/components/common/Matrix/hooks/useMatrixData.ts
  webapp/src/components/common/Matrix/index.tsx
Due: none

fixed rows filters
  webapp/src/components/common/Matrix/components/MatrixActions/MatrixActions.test.tsx
  webapp/src/components/common/Matrix/components/MatrixActions/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/utils.ts
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
Due: none

V1 - apply active filters on UI data
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/common/Matrix/context/MatrixContext.tsx
  webapp/src/components/common/Matrix/index.tsx
Due: none

filters POC
  webapp/src/components/common/Matrix/components/MatrixActions/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/index.tsx
Due: none

V2 - date-fns + UX
  webapp/src/components/common/Matrix/components/MatrixFilter/Operations.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/SelectionSummary.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/constants.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
  webapp/src/components/common/Matrix/components/MatrixFilter/utils.ts
Due: none

chore(agregation): add fixture
  tests/core/serde/test_matrix_export.py
Due: ruff-format, ruff-check

desktop 2.20
  .github/workflows/deploy.yml
  .github/workflows/license-header.yml
  .github/workflows/main.yml
  requirements.txt
Due: none

feat(aggregation): remove obsolete max size parameter
  antarest/core/config.py
  antarest/study/business/aggregator_management.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  docs/developer-guide/install/1-CONFIG.md
  tests/storage/test_config.py
Due: mypy, ruff-format, ruff-check

chore(aggregation): fix match syntax
  antarest/core/serde/matrix_export.py
Due: mypy, ruff-format, ruff-check

all tests OK I have to write one that used to fail
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: mypy, ruff-format, ruff-check

test(output_service): add and update tests, rename variables for clarity, and update comments
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(output_service): add AggregateOutputTask and its type, update output endpoints
  antarest/core/tasks/model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(output_service): add endpoint and update the task process
  alembic/versions/d19bdf81aa45_add_output_aggregation_table.py
  antarest/core/exceptions.py
  antarest/study/model.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(output_service): minor fixes of tests, exceptions, and logs
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

git add test
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: ruff-format, ruff-check

fix test to make it fail on dev branch
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: ruff-format, ruff-check

feat(launcher): make id, name and type mandatory
  antarest/core/config.py
  tests/integration/assets/config.template.yml
  tests/integration/launcher_blueprint/test_launcher_local.py
  tests/launcher/test_local_launcher.py
  tests/launcher/test_service.py
  tests/launcher/test_slurm_launcher.py
Due: mypy, ruff-format, ruff-check

fix list field
  webapp/public/locales/en/main.json
  webapp/src/components/common/Matrix/components/MatrixFilter/ColumnFilter.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/RowFilter.tsx
Due: none

feat(launcher): make id, name and type mandatory
  resources/antares-desktop-fs/config.yaml
Due: none

chore(output_service): minor fixes on exceptions
  antarest/core/exceptions.py
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check
