Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix(swagger): fix bug
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(swagger): bug duplicated operation id (#3068)
  antarest/core/swagger.py
  antarest/main.py
  antarest/study/web/raw_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

add uv run
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
Due: mypy, ruff-format, ruff-check

fix(raw): issue replace_matrix command for xpansion resources
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  tests/variantstudy/model/command/test_replace_matrix.py
Due: mypy, ruff-format, ruff-check

remove stupid UT
  tests/variantstudy/model/command/test_create_xpansion_resource.py
Due: ruff-format, ruff-check

wip
  antarest/study/dao/database/database_xpansion_dao.py
  tests/study/dao/bench_database_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

fix(raw): `replace_matrix` command failed for xpansion resources (#3069)
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/raw_path_to_matrix_mapper.py
  tests/variantstudy/model/command/test_create_xpansion_resource.py
  tests/variantstudy/model/command/test_replace_matrix.py
Due: mypy, ruff-format, ruff-check

fix some tests
  tests/storage/integration/test_exporter.py
  tests/study/output/file/test_file_output_storage.py
  tests/study/storage/rawstudy/test_raw_study_service.py
Due: ruff-format, ruff-check

feat(disk_usage_log): added disk usage log files and tests
  antarest/core/maintenance/service.py
  antarest/maintenance/app.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/disk_usage_log.py
  antarest/maintenance/tasks/disk_usage_log_task.py
  tests/integration/maintenance_blueprint/test_disk_usage_log.py
Due: mypy, ruff-format, ruff-check

fix: add backend password validation to match frontend requirements
  antarest/login/model.py
Due: mypy, ruff-format, ruff-check

fix alembic head
  alembic/versions/f9ecc0607cc5_create_output_metadata.py
Due: ruff-format, ruff-check

remove obsolete test file
  tests/study/storage/test_abstract_storage_service.py
Due: ruff-format, ruff-check

remove already deleted test
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: ruff-format, ruff-check

fix launcher unit tests
  tests/launcher/test_service.py
Due: ruff-format, ruff-check

fix STA mini zip test
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

feat(scenario-builder): rename value
  alembic/versions/c11cfe5728b0_add_ruleset_table.py
  antarest/study/dao/database/database_scenario_builder_dao.py
  antarest/study/dao/database/models/ruleset.py
Due: mypy, ruff-format, ruff-check

feat(disk_usage_log): added disk usage log files and tests
  antarest/core/config.py
  antarest/maintenance/tasks/disk_usage_log.py
  antarest/maintenance/tasks/disk_usage_log_task.py
  tests/integration/maintenance_blueprint/test_disk_usage_log.py
  tests/maintenance/tasks/test_disk_usage_log.py
Due: mypy, ruff-format, ruff-check

start rewriting code
  tests/storage/integration/study_converter/test_study_converter_hydro.py
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_database_initialize_study.py
  tests/study/dao/test_database_settings_dao.py
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

rename fixtures
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_database_hydro_dao.py
Due: ruff-format, ruff-check

fixes
  antarest/study/output/storage/file_output_storage.py
  tests/study/output/file/test_file_output_storage.py
Due: mypy, ruff-format, ruff-check

renaming
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_database_hydro_dao.py
  tests/study/dao/test_database_st_storage_dao.py
Due: ruff-format, ruff-check

renaming
  tests/study/dao/conftest.py
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_area_matrices_dao.py
  tests/study/dao/test_database_area_properties_dao.py
  tests/study/dao/test_database_blob_usage_provider.py
  tests/study/dao/test_database_district_dao.py
  tests/study/dao/test_database_hydro_dao.py
  tests/study/dao/test_database_layer_dao.py
  tests/study/dao/test_database_link_dao.py
  tests/study/dao/test_database_link_matrices_dao.py
  tests/study/dao/test_database_renewable_dao.py
  tests/study/dao/test_database_settings_dao.py
  tests/study/dao/test_database_st_storage_dao.py
  tests/study/dao/test_database_thematic_trimming_dao.py
  tests/study/dao/test_database_thermal_dao.py
  tests/study/dao/test_database_user_resources_dao.py
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

fix typescript typing
  webapp/src/redux/ducks/studySyntheses.ts
  webapp/src/redux/selectors.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-utils.ts
Due: none

renaming
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: ruff-format, ruff-check

make test pass
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

add other test
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
Due: ruff-format, ruff-check

add some docstring to lfs
  antarest/study/output/lfs/lfs.py
Due: mypy, ruff-format, ruff-check

not modify conftest as its scope is session
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

move LFS to first level dirs
  antarest/lfs/__init__.py
  antarest/lfs/dir_lfs.py
  antarest/lfs/lfs.py
  antarest/service_creator.py
  antarest/study/output/storage/v2_output_storage.py
  tests/lfs/__init__.py
  tests/lfs/test_dir_lfs.py
  tests/study/output/storage/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

clean
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

move output blueprint to output dir
  antarest/output/output_blueprint.py
  antarest/service_creator.py
  tests/output/test_output_blueprint.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

fix import in test
  tests/study/service/test_export.py
Due: ruff-format, ruff-check

fix locale related issues in tests
  tests/output/file/test_file_output_storage.py
Due: ruff-format, ruff-check

fix import in tests
  tests/integration/output_blueprint/test_output_storage_v2.py
  tests/integration/studies_blueprint/test_study_copy.py
  tests/integration/studies_blueprint/test_study_export.py
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

remove v2 output implementation
  antarest/core/config.py
  antarest/lfs/__init__.py
  antarest/lfs/dir_lfs.py
  antarest/lfs/lfs.py
  antarest/output/filestudy/__init__.py
  antarest/output/filestudy/extract_metadata.py
  antarest/output/storage/repository.py
  antarest/output/storage/v2_output_storage.py
  antarest/service_creator.py
  tests/integration/output_blueprint/test_output_storage_v2.py
  tests/lfs/__init__.py
  tests/lfs/test_dir_lfs.py
  tests/output/file/__init__.py
  tests/output/file/test_extract_metadata.py
  tests/output/storage/test_file_output_storage.py
  tests/output/storage/test_repository.py
  tests/output/storage/test_v2_output_storage.py
Due: mypy, ruff-format, ruff-check

remove migration
  alembic/versions/f9ecc0607cc5_create_output_metadata.py
Due: ruff-format, ruff-check

fix import
  tests/core/tasks/test_tasks_service.py
Due: ruff-format, ruff-check

fix timezone issues in unit tests
  tests/output/storage/test_file_output_storage.py
Due: ruff-format, ruff-check

remove obsolete class
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
