Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

add some docstrings
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

more docstrings
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix(reserves): first commit
  alembic/versions/c8d4f2e6a917_add_thermal_cluster_reserve_participation_table.py
  antarest/core/exceptions.py
  antarest/study/business/areas/thermal_cluster_reserve_participations_management.py
  antarest/study/business/model/thermal_cluster_reserve_participation_model.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/thermal_cluster_reserve_participation_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_thermal_cluster_reserve_participation_dao.py
  antarest/study/dao/database/models/thermal_cluster_reserve_participation.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/file/file_study_thermal_cluster_reserve_participation_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_cluster_reserve_participation.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/cluster/area/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/thermal/cluster/area/reserves_ini.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_thermal_cluster_reserve_participation.py
  antarest/study/storage/variantstudy/model/command/remove_thermal_cluster_reserve_participations.py
  antarest/study/storage/variantstudy/model/command/update_thermal_cluster_reserve_participations.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/raw_studies_blueprint/test_thermal_cluster_reserve_participations.py
  tests/storage/integration/study_converter/test_study_converter.py
  tests/study/business/model/test_thermal_cluster_reserve_participation_model.py
  tests/study/dao/test_thermal_cluster_reserve_participation_dao.py
  tests/variantstudy/model/command/test_thermal_cluster_reserve_participation_commands.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

synthesis
  antarest/study/dao/file/file_study_area_properties_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  tests/study/dao/test_database_link_dao.py
  tests/study/dao/test_database_synthesis_dao.py
Due: mypy, ruff-format, ruff-check

resize cells when pasting content
  webapp/src/components/DataGrid.tsx
  webapp/src/components/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/Matrix/hooks/useMatrixColumns.ts
  webapp/src/components/Matrix/shared/utils.ts
Due: none

review
  webapp/src/components/DataGrid.tsx
  webapp/src/components/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/Matrix/shared/utils.ts
Due: none

fix header visibility
  webapp/src/components/Matrix/shared/utils.ts
Due: none

remove reference to old mapper word
  antarest/study/dao/file/file_study_dao.py
  tests/storage/repository/filesystem/test_lazy_node.py
Due: mypy, ruff-format, ruff-check

remove unused json mode
  antarest/study/dao/database/database_study_settings_dao.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): fix column header visibility on grouped matrix columns (#3200)
  webapp/src/components/DataGrid.tsx
  webapp/src/components/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/Matrix/hooks/useMatrixColumns.ts
  webapp/src/components/Matrix/shared/utils.ts
Due: none

fix possible bug when parsing matrix id with space or newline
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

missing space
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

renaming
  antarest/study/storage/rawstudy/model/filesystem/bucket_node.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/matrix_resources.py
Due: mypy, ruff-format, ruff-check

improve readability of condition
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix(db-dao): fix enum types definition (#3199)
  antarest/study/dao/database/models/area.py
  antarest/study/dao/database/models/binding_constraint.py
  antarest/study/dao/database/models/district.py
  antarest/study/dao/database/models/link.py
  antarest/study/dao/database/models/renewable.py
  antarest/study/dao/database/models/reserve_definition.py
  antarest/study/dao/database/models/settings.py
  antarest/study/dao/database/models/st_storage.py
  antarest/study/dao/database/models/thermal.py
  antarest/study/dao/database/models/user_resources.py
  antarest/study/dao/database/models/xpansion.py
  antarest/study/dao/database/sql_utils.py
Due: mypy, ruff-format, ruff-check

remove double call
  webapp/src/queries/studies/keys.ts
  webapp/src/queries/studies/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/GridStudyCard.tsx
  webapp/src/services/api/studies/variants/index.ts
  webapp/src/services/api/studies/variants/types.ts
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/DetailsList/index.tsx
Due: none

feat(model): add study type enum on StudyMetadataDTO
  antarest/study/model.py
  tests/launcher/test_service.py
  tests/storage/business/test_variant_study_service.py
  tests/storage/web/test_studies_bp.py
  tests/study/service/test_service.py
Due: mypy, ruff-format, ruff-check

move
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/DetailsList/DetailsList.tsx
Due: none

api
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Details.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/services/api/studies/index.ts
  webapp/src/services/api/studies/schemas.ts
  webapp/src/services/api/studies/variants/index.ts
  webapp/src/services/api/studies/variants/schemas.ts
  webapp/src/services/api/studies/variants/types.ts
  webapp/src/services/api/variant.ts
  webapp/src/services/utils/index.ts
  webapp/src/types/types.ts
  webapp/src/utils/zodUtils.ts
Due: none

block
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
Due: none

redirect
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
Due: none

jsx
  webapp/src/routes/-shared/components/studies/StudyActionsMenu.tsx
  webapp/src/routes/-shared/components/studies/dialogs/DeleteStudyDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/CreateVariantDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/DetailsList/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/DetailsList/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/JobStepper.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/style.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/Notes/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/Notes/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/Actions.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
Due: none

fix after merge of reserves
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/area_reserves.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
Due: mypy, ruff-format, ruff-check

fix sync issue with tanstack and redux
  webapp/src/queries/studies/keys.ts
  webapp/src/redux/ducks/studies.ts
  webapp/src/redux/middlewares/tanstackQueryMiddleware.ts
  webapp/src/redux/store.ts
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
Due: none

add study version factory validation
  antarest/study/dao/database/database_study_factory_dao.py
  tests/study/dao/conftest.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

review 1
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
  webapp/src/services/utils/index.ts
Due: none

review 2
  webapp/src/services/api/studies/variants/index.ts
Due: none

review 3
  webapp/src/queries/studies/keys.ts
  webapp/src/queries/variants/keys.ts
  webapp/src/queries/variants/queries.ts
  webapp/src/redux/middlewares/tanstackQueryMiddleware.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/DetailsList/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/NavHeader/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/route.tsx
  webapp/src/routes/_authenticated/studies/-components/StudiesList/StudyCardCell/GridStudyCard.tsx
Due: none

python lint
  tests/storage/web/test_studies_bp.py
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

reserves
  antarest/study/dao/file/file_study_reserves_global_parameters_dao.py
  tests/study/dao/test_database_reserve_definition_dao.py
  tests/study/dao/test_database_reserves_global_parameters_dao.py
Due: mypy, ruff-format, ruff-check

refactor(disk_space_analysis): added managed to study_filter
  antarest/maintenance/tasks/disk_space_analyzer.py
Due: mypy, ruff-format, ruff-check

remove useless lines
  tests/study/dao/test_database_area_dao.py
Due: ruff-format, ruff-check

disable version 10 reserve test
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
Due: ruff-format, ruff-check

revert something
  tests/integration/raw_studies_blueprint/test_reserves_need_matrix.py
Due: ruff-format, ruff-check

area properties again
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/area.py
  tests/study/dao/test_database_area_properties_dao.py
Due: mypy, ruff-format, ruff-check

refactor: LauncherHistory component
  webapp/eslint.config.js
  webapp/src/queries/jobs/keys.ts
  webapp/src/queries/jobs/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/InformationView/LauncherHistory/utils.ts
  webapp/src/routes/_authenticated/tasks/index.tsx
  webapp/src/types/types.ts
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
