Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

chore(tests): fix tests
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/service.py
Due: mypy, ruff-format, ruff-check

remove useless conf in test
  tests/storage/test_service.py
Due: ruff-format, ruff-check

fix(scan): use workspace and study path as key of missing studies (#2480)
  antarest/study/model.py
  antarest/study/service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

revert debug code
  .github/workflows/deploy.yml
  AntaresWebLinux.spec
  AntaresWebWin.spec
Due: none

remove external study code
  antarest/core/config.py
  antarest/core/exceptions.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/explorer_service.py
  antarest/study/storage/utils.py
  antarest/study/web/explorer_blueprint.py
  tests/integration/explorer_blueprint/test_explorer.py
  tests/storage/business/test_explorer_service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

remove commented command
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

remove useless dependency
  antarest/service_creator.py
  antarest/study/storage/explorer_service.py
  tests/storage/business/test_explorer_service.py
Due: mypy, ruff-format, ruff-check

remove useless conf test
  tests/integration/assets/config-desktop.template.yml
  tests/integration/conftest.py
Due: ruff-format, ruff-check

fix tuple
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

remove external front code
  webapp/src/components/App/Studies/HeaderActions/index.tsx
  webapp/src/components/App/Studies/StudyCard/ActionsMenu.tsx
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/common/dialogs/OpenExternalDialog.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/services/api/study.ts
Due: none

build desktop version
  .github/workflows/deploy.yml
Due: none

fix(ini): ignore case when performing update and delete of ini files (#2378)
  antarest/study/storage/rawstudy/model/filesystem/ini_file_node.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/storage/repository/filesystem/test_ini_file_node.py
Due: mypy, ruff-format, ruff-check

fix(commands): remove command notifications (#2379)
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

fix(docs): repar broken links
  mkdocs.yml
Due: none

perf(links): improve drastically perfs for links inside table-mode (#2384)
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

fix(hydro): case insensitive read and write in hydro.ini (#2387)
  antarest/study/business/areas/hydro_management.py
  tests/study/business/areas/test_hydro_management.py
Due: mypy, ruff-format, ruff-check

chore(release): v2.19.1 (2025-03-11) (#2395)
  antarest/__init__.py
  antarest/study/storage/rawstudy/model/filesystem/config/ruleset_matrices.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

v2.19.2 (#2409)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

feat(launcher): merge dev
  antarest/launcher/web.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

better sort
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
Due: none

pr fixes
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
  webapp/src/components/App/Studies/StudyTree/utils.ts
  webapp/src/components/common/utils/constants.ts
Due: none

fix mutation in reduce
  webapp/src/components/App/Studies/StudyTree/utils.ts
Due: none

filter on default first
  antarest/study/service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

remove front code
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Studies/HeaderActions/index.tsx
  webapp/src/services/api/study.ts
Due: none

get workspaces only in desktop mode
  webapp/src/components/App/Studies/StudyTree/index.tsx
Due: none

remove useless folder
  .github/workflows/deploy.yml
  scripts/package_antares_web.sh
Due: none

fix bug
  webapp/src/components/App/Studies/StudyTree/index.tsx
Due: none

build desktop
  .github/workflows/deploy.yml
Due: none

remove build code
  .github/workflows/deploy.yml
Due: none

build artifact
  .github/workflows/deploy.yml
Due: none

feat(aggregation): add dataframe stream writers
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

feat(aggregation): make integration tests pass
  antarest/study/business/aggregator_management.py
  antarest/study/storage/df_download.py
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(aggregation): add unit tests
  antarest/core/serde/matrix_export.py
  antarest/study/business/aggregator_management.py
  antarest/study/storage/df_download.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  tests/core/serde/test_matrix_export.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

feat(aggregation): remove obsolete test
  tests/study/business/test_aggregator_manager.py
Due: ruff-format, ruff-check

feat(aggregation): add openpyxl to run dependencies
  requirements-test.txt
  requirements.txt
Due: none

feat(aggregation): remove unused typeignore
  antarest/core/serde/matrix_export.py
Due: mypy, ruff-format, ruff-check

custom scrollbar
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/ResultFilters.tsx
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/common/Matrix/index.tsx
  webapp/src/components/common/page/RootPage.tsx
Due: none

split
  webapp/src/components/App/Singlestudy/explore/Debug/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Studies/SideNav.tsx
  webapp/src/components/App/Studies/index.tsx
  webapp/src/components/common/SplitView/index.tsx
Due: none

yearsselectionfe
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/YearsSelectionFE/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioPlaylistDialog/index.tsx
  webapp/src/theme/components.ts
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
