Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

use polars inside digest
  antarest/core/utils/polars.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/digest.py
Due: mypy, ruff-format, ruff-check

remove some explicit usages of pd.DataFrame
  antarest/study/storage/variantstudy/business/matrix_constants/common.py
  antarest/study/storage/variantstudy/business/matrix_constants/hydro/v7.py
  antarest/study/storage/variantstudy/business/matrix_constants/link/v7.py
  antarest/study/storage/variantstudy/business/matrix_constants/link/v8.py
  antarest/study/storage/variantstudy/business/matrix_constants/prepro.py
  antarest/study/storage/variantstudy/business/matrix_constants/thermals/prepro.py
Due: mypy, ruff-format, ruff-check

feat(celery): task for watcher scan
  antarest/maintenance/tasks/watcher_scan_task.py
Due: mypy, ruff-format, ruff-check

fix copyright
  antarest/core/utils/polars.py
Due: mypy, ruff-format, ruff-check

feat(storage): add storage mode and area tables
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  tests/integration/prepare_proxy.py
  tests/integration/study_data_blueprint/test_area_database_mode.py
Due: mypy, ruff-format, ruff-check

some simplification
  antarest/study/output/aggregator_management.py
  antarest/study/output/utils.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/inode.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/raw_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers_data.py
Due: mypy, ruff-format, ruff-check

feat(storage): add storage mode and area tables
  antarest/study/dao/database/__init__.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(storage): add storage mode and area tables
  tests/study/dao/test_database_area_dao.py
Due: ruff-format, ruff-check

cleaning
  antarest/study/storage/rawstudy/model/filesystem/common/area_matrix_list.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/raw_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/about/about.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/area.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/binding_const.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/link.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/common/set.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/digest.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/grid.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/mode/mcall/synthesis.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/simulation.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers_data.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/xpansion/sensitivity.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/resources/resources.py
  antarest/study/storage/rawstudy/model/filesystem/root/settings/settings.py
Due: mypy, ruff-format, ruff-check

shush polars warning
  antarest/matrixstore/parsing.py
Due: mypy, ruff-format, ruff-check

simplification
  antarest/study/storage/rawstudy/model/filesystem/bucket_node.py
Due: mypy, ruff-format, ruff-check

some solving
  antarest/study/storage/rawstudy/model/filesystem/bucket_node.py
Due: mypy, ruff-format, ruff-check

fix mypy issue$
  antarest/study/storage/rawstudy/model/filesystem/bucket_node.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/core/utils/polars.py
  antarest/matrixstore/parsing.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix issue
  antarest/study/storage/rawstudy/model/filesystem/bucket_node.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/matrix_resources.py
Due: mypy, ruff-format, ruff-check

simplify
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
Due: mypy, ruff-format, ruff-check

fixing an issue
  antarest/study/storage/rawstudy/model/filesystem/common/area_matrix_list.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers.py
  antarest/study/storage/rawstudy/model/filesystem/root/output/simulation/ts_numbers/ts_numbers_data.py
Due: mypy, ruff-format, ruff-check

fix headers issue
  antarest/core/utils/polars.py
  antarest/matrixstore/parsing.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: ruff-format, ruff-check

feat(storage): address comments
  alembic/versions/2572145aff71_add_storage_mode_and_area_tables.py
  antarest/core/config.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/models.py
  antarest/study/web/studies_blueprint.py
  tests/integration/assets/config.template.yml
  tests/study/dao/test_database_area_dao.py
Due: mypy, ruff-format, ruff-check

fix
  tests/storage/repository/filesystem/matrix/test_output_series_matrix.py
Due: ruff-format, ruff-check

f
  tests/storage/repository/filesystem/test_folder_node.py
Due: ruff-format, ruff-check

f
  tests/storage/repository/filesystem/test_lazy_node.py
Due: ruff-format, ruff-check

f
  tests/storage/repository/filesystem/test_raw_file_node.py
Due: ruff-format, ruff-check

fix ts gen issue
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
Due: mypy, ruff-format, ruff-check

fix(logs): fixing some usage of stopwatch, adding logs to download api
  antarest/core/filetransfer/web.py
  antarest/study/output/output_service.py
Due: mypy, ruff-format, ruff-check

* change documentation link
  webapp/src/routes/_authenticated/-components/Container/index.tsx
Due: none

simplification
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
Due: mypy, ruff-format, ruff-check

minor fix
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix stupid test
  tests/integration/test_matrix_blueprint.py
Due: ruff-format, ruff-check

fixing some tests
  antarest/matrixstore/service.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

feat(celery): task for watcher scan
  antarest/study/storage/rawstudy/watcher.py
Due: mypy, ruff-format, ruff-check

f
  antarest/matrixstore/repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

fix one issue
  antarest/core/utils/polars.py
Due: mypy, ruff-format, ruff-check

hashing is stille the same
  antarest/matrixstore/repository.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

another test is ok
  antarest/matrixstore/service.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

ok
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

f
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check

fix
  tests/matrixstore/test_service.py
Due: ruff-format, ruff-check
