Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

start writing a test on missing col
  tests/integration/raw_studies_blueprint/assets/columns_mismatch.txt
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

little code improvement
  antarest/core/serde/parquet_writer.py
Due: mypy, ruff-format, ruff-check

reindex
  antarest/core/serde/parquet_writer.py
  antarest/study/storage/df_download.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check

test is working
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

reindex better
  antarest/core/serde/parquet_writer.py
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

fix(ui-tasks): bug admin tasks invisible (#2721)
  webapp/src/components/App/Tasks/index.tsx
  webapp/src/services/api/study.ts
  webapp/src/types/types.ts
Due: none

try to fix windows issue
  antarest/study/storage/df_download.py
Due: mypy, ruff-format, ruff-check

fix(upgrade): allow version to be given as 9.2 instead of 920
  antarest/study/service.py
  antarest/study/storage/study_upgrader/__init__.py
Due: mypy, ruff-format, ruff-check

start src code
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/adequacy_criterion.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/expansion.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/settings.py
Due: mypy, ruff-format, ruff-check

ok
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/adequacy_criterion.py
Due: mypy, ruff-format, ruff-check

cleaning
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/adequacy_criterion.py
Due: mypy, ruff-format, ruff-check

fix(study): bug deleting raw study with variants
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

fixing some tests
  tests/integration/test_studies_upgrade.py
  tests/storage/test_service.py
Due: ruff-format, ruff-check

other test fixed
  tests/storage/test_service.py
Due: ruff-format, ruff-check

other fix
  tests/storage/business/test_study_version_upgrader.py
Due: ruff-format, ruff-check

fixing
  antarest/study/storage/study_upgrader/__init__.py
  tests/integration/test_studies_upgrade.py
Due: mypy, ruff-format, ruff-check

fix
  tests/integration/test_studies_upgrade.py
Due: ruff-format, ruff-check

add a test
  tests/integration/test_studies_upgrade.py
Due: ruff-format, ruff-check

fix
  antarest/study/storage/rawstudy/model/filesystem/yaml_file_node.py
Due: mypy, ruff-format, ruff-check

create new node, read and write works
  antarest/study/storage/rawstudy/model/filesystem/json_file_node.py
  antarest/study/storage/rawstudy/model/filesystem/root/user/expansion/adequacy_criterion.py
  antarest/study/storage/rawstudy/model/filesystem/yaml_file_node.py
Due: mypy, ruff-format, ruff-check

add dao skeleton
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

add endpoints
  antarest/study/business/xpansion_management.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

continue work
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
Due: mypy, ruff-format, ruff-check

feat(ui): add threshold-based color for cluster computing indicators
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/components/common/LinearProgressWithLabel.tsx
Due: none

feat(ui): add threshold-based color for cluster computing indicators (#2722)
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/components/common/LinearProgressWithLabel.tsx
Due: none

feat(ui-debug): include filename in delete confirmation dialogs
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Debug/Data/Folder/index.tsx
Due: none

feat(ui-debug): include filename in delete confirmation dialogs (#2724)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Debug/Data/Folder/index.tsx
Due: none

remove unused
  antarest/study/business/model/xpansion_model.py
Due: mypy, ruff-format, ruff-check

create skeleton
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_security_criterion.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

use cmd
  antarest/study/business/xpansion_management.py
Due: mypy, ruff-format, ruff-check

continue work
  antarest/study/business/model/xpansion_model.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_security_criterion.py
Due: mypy, ruff-format, ruff-check

finalize v1 src code
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

create the criterion when creating xpansion config
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

start writing an UT
  tests/variantstudy/model/command/test_update_xpansion_security_criterion.py
Due: ruff-format, ruff-check

finalize UT
  tests/variantstudy/model/command/test_update_xpansion_security_criterion.py
Due: ruff-format, ruff-check

fix(study): bug deleting raw study with variants (#2720)
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

add manager test
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

start resolving issue
  antarest/core/serde/matrix_export.py
  antarest/core/serde/parquet_writer.py
Due: mypy, ruff-format, ruff-check

fix an issue
  tests/storage/business/test_xpansion_manager.py
Due: ruff-format, ruff-check

remove useless file
  tests/integration/raw_studies_blueprint/assets/aggregate_links_raw_data/test-01-all.result.parquet
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check
