Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

some fixes, add wait for study
  tests/integration/conftest.py
Due: ruff-format, ruff-check

predefined matrices factory
  antarest/matrixstore/in_memory.py
  antarest/matrixstore/service.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
Due: mypy, ruff-format, ruff-check

fix unit test
  tests/integration/raw_studies_blueprint/test_download_matrices.py
Due: ruff-format, ruff-check

feat(ui-results): introduce results variable per variable views (#2887)
  webapp/.gitignore
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ClusterSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/MonteCarloModeSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ProcessButton.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/SynthesisViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useStudyOutput.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/utils.ts
  webapp/src/components/common/page/EmptyView.tsx
  webapp/src/hooks/useTaskMonitor.ts
  webapp/src/services/api/studies/outputs/variableViews/adapters.ts
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
  webapp/src/theme/components.ts
  webapp/src/types/mui.d.ts
Due: none

fix test
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/storage/business/test_optional_matrices.py
Due: mypy, ruff-format, ruff-check

config general page
  webapp/src/components/TabsView.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/withAreas.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioPlaylistDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ThematicTrimmingDialog/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/styles.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/route.tsx
Due: none

fixing several tests
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

cleaning
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

fix several unit tests
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

config ts generation page
  webapp/src/components/ListElement.tsx
  webapp/src/components/TabsView.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Areas/AreaPropsView.tsx
  webapp/src/routes/-App/Singlestudy/explore/Modelization/BindingConstraints/BindingConstPropsView.tsx
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Links/LinkPropsView.tsx
  webapp/src/routes/-App/Singlestudy/explore/Modelization/Map/Areas/index.tsx
  webapp/src/routes/-App/Singlestudy/explore/Results/ResultDetails/components/ResultItemSelector.tsx
  webapp/src/routes/-App/Singlestudy/explore/Xpansion/Candidates/XpansionPropsView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/-components/dialogs/ScenarioBuilderDialog/withAreas.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-components/TypeConfigFields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/tablemode/index.tsx
Due: none

add config optim page
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/-constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
Due: none

add adequacy patch page
  webapp/src/components/TabsView.tsx
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
Due: none

all tests are good
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
Due: ruff-format, ruff-check

add test as i removed one
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

remove useless fixture
  tests/storage/business/test_export.py
  tests/study/business/areas/test_st_storage_management.py
Due: ruff-format, ruff-check

rename
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/route.tsx
Due: none

move
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/general/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/general/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/route.tsx
Due: none

rename
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/general/index.tsx
Due: none

finalize DB test
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

add adequacy patch tabs pages
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/general/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/perimeter.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/route.tsx
Due: none

add config advanced params page
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/adequacy-patch/general/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-components/Fields.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/advanced-params/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/general/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/optimization/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/ts-generation/index.tsx
Due: none

fix relative import issue
  tests/storage/business/test_export.py
Due: ruff-format, ruff-check

feat(ui-results): add variable per variable views dates column
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

add config eco opts
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/eco-options.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
Due: none

hide variable per variable views export
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
Due: none

feat(ui-results): add variable per variable views dates column (#2899)
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/ResultMatrixViewer.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/services/api/studies/outputs/variableViews/index.ts
  webapp/src/services/api/studies/outputs/variableViews/types.ts
Due: none

add config geo trimming tabs pages
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/geo-trimming/areas.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/geo-trimming/binding-constraints.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/geo-trimming/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/geo-trimming/links.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/geo-trimming/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
Due: none

* bug debug view save form
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/CreateFolderDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Folder/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Data/Json.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/DebugContext.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/-components/Tree/FileTreeItem.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/debug/index.tsx
Due: none

fix(output): return the right years
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

fix(output): return the right MC years inside the variables view (#2900)
  antarest/study/storage/output_service.py
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

fix(ui-variants): remove commands.length dependency to prevent duplicate API calls (#2871)
  webapp/src/components/App/Singlestudy/CommandsDrawer/EditionView/index.tsx
Due: none

feat(task_status_str): finished integration tests
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(export,7z): compression parameter to the GET /export (#2881)
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/web/studies_blueprint.py
  tests/integration/studies_blueprint/test_study_export.py
  tests/storage/business/test_export.py
  tests/storage/web/test_studies_bp.py
  tests/study/storage/test_abstract_storage_service.py
Due: mypy, ruff-format, ruff-check

prevent invalid API calls when changing data type in variable-per-variable mode
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
Due: none

reset variable and cluster selections when dataType changes
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

review
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
Due: none

handle specific 404 error states in variable matrix
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
Due: none

auto select available cluster and first variable on data type change
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
Due: none

fix(ui-results): reset variable per variable selectors on data type change (#2901)
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableMatrix.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/components/VariableSelector.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/hooks/useVariablePerVariable.ts
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
Due: none

feat(timeseries): forced and planned outage counting for thermal time series generation (#2892)
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  antarest/study/web/study_data_blueprint.py
  tests/core/tasks/test_tasks_service.py
  tests/integration/study_data_blueprint/test_generate_thermal_cluster_timeseries.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/variantstudy/test_command_factory.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/Fields/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/TimeSeriesManagement/utils.ts
  webapp/src/redux/selectors.ts
  webapp/src/services/api/studies/timeseries/index.ts
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
