Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

finalize the upgrade code
  antarest/study/storage/database_storage.py
Due: mypy, ruff-format, ruff-check

fix cache issue for FS studies
  antarest/study/storage/file_study_storage.py
Due: mypy, ruff-format, ruff-check

upgrade worked on my local env
  antarest/study/storage/database_storage.py
Due: mypy, ruff-format, ruff-check

fix(output, ui): add new value for storageType enum
  webapp/src/services/api/studies/outputs/schemas.ts
  webapp/src/types/types.ts
Due: none

fix(output, ui): add new value for storageType enum (#3270)
  webapp/src/services/api/studies/outputs/schemas.ts
  webapp/src/types/types.ts
Due: none

fixing stupid UTs
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

fix last failing test
  tests/study/service/test_service.py
Due: ruff-format, ruff-check

add integration test for both storage modes
  tests/integration/test_studies_upgrade.py
Due: ruff-format, ruff-check

add little UT
  tests/study/storage/test_database_storage.py
Due: ruff-format, ruff-check

feat(study): support upgrade for db studies (#3269)
  antarest/study/service.py
  antarest/study/storage/database_storage.py
  antarest/study/storage/file_study_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage_interface.py
  tests/integration/test_studies_upgrade.py
  tests/storage/business/test_export.py
  tests/study/service/test_service.py
  tests/study/storage/test_database_storage.py
Due: mypy, ruff-format, ruff-check

feat(variant): fetch whole tree in single request (#3225)
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/variant_blueprint.py
  tests/helpers.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/storage/business/test_repository.py
  tests/storage/business/test_variant_study_service.py
  webapp/src/services/api/studies/variants/index.ts
  webapp/src/services/api/studies/variants/types.ts
Due: mypy, ruff-format, ruff-check

fix(import): issue when importing study in db mode with outputs in
  antarest/output/storage/file/abstract_storage.py
Due: mypy, ruff-format, ruff-check

fix(import): issue when importing study in db mode with outputs in (#3271)
  antarest/output/storage/file/abstract_storage.py
Due: mypy, ruff-format, ruff-check

fix(upgrade): remove usage of the cache for db studies
  antarest/study/dao/file/file_study_factory_dao.py
  tests/study/storage/test_database_storage.py
Due: mypy, ruff-format, ruff-check

fix(upgrade): remove usage of the cache for db studies (#3272)
  antarest/study/dao/file/file_study_factory_dao.py
  tests/study/storage/test_database_storage.py
Due: mypy, ruff-format, ruff-check

start the refactoring
  antarest/study/business/model/reserve_definition_model.py
  antarest/study/dao/api/reserve_definition_dao.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_definition.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/area_reserves.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/reserves_ini.py
  tests/study/dao/test_reserve_definition_dao.py
Due: mypy, ruff-format, ruff-check

add alembic migration
  alembic/versions/f50e7ed59478_add_reserve_name_column.py
Due: ruff-format, ruff-check

fix migration
  alembic/versions/f50e7ed59478_add_reserve_name_column.py
Due: ruff-format, ruff-check

f
  antarest/study/dao/database/models/reserve_definition.py
Due: mypy, ruff-format, ruff-check

f
  tests/study/dao/test_reserve_definition_dao.py
Due: ruff-format, ruff-check

fix doc
  antarest/study/business/model/reserve_definition_model.py
Due: mypy, ruff-format, ruff-check

fixing stupid UTs
  tests/study/business/model/test_reserve_definition_model.py
Due: ruff-format, ruff-check

fixing 5
  tests/variantstudy/model/command/test_reserve_definition_commands.py
Due: ruff-format, ruff-check

f
  tests/variantstudy/model/command/test_reserve_definition_commands.py
Due: ruff-format, ruff-check

continue fixing test
  antarest/study/dao/file/file_study_reserve_definition_dao.py
Due: mypy, ruff-format, ruff-check

add type ignore
  antarest/study/dao/file/file_study_reserve_definition_dao.py
Due: mypy, ruff-format, ruff-check

keep fixing
  tests/study/dao/test_reserve_definition_dao.py
Due: ruff-format, ruff-check

brioche
  antarest/study/dao/file/file_study_reserve_definition_dao.py
Due: mypy, ruff-format, ruff-check

adapt other tests
  tests/study/dao/conftest.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_empty_matrices.py
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

fix alembic migration, now tests work
  alembic/versions/f50e7ed59478_add_reserve_name_column.py
Due: ruff-format, ruff-check

fixing other UTs
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
Due: ruff-format, ruff-check

fixing one UT
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

fix other UT
  tests/study/dao/test_database_reserve_definition_dao.py
Due: ruff-format, ruff-check

add test for the YML format
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
Due: ruff-format, ruff-check

fix parsing
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
Due: mypy, ruff-format, ruff-check

refactor(reserves): adapt code to new file format (#3274)
  alembic/versions/f50e7ed59478_add_reserve_name_column.py
  antarest/study/business/model/reserve_definition_model.py
  antarest/study/dao/api/reserve_definition_dao.py
  antarest/study/dao/database/database_reserve_definition_dao.py
  antarest/study/dao/database/models/reserve_definition.py
  antarest/study/dao/file/file_study_reserve_definition_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_definition.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/area_reserves.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/reserves/reserves_ini.py
  tests/study/business/model/test_reserve_definition_model.py
  tests/study/dao/conftest.py
  tests/study/dao/file/test_filestudy_reserve_definition_dao.py
  tests/study/dao/matrix_raw_mapper/test_raw_path_to_matrix_mapper.py
  tests/study/dao/test_database_reserve_definition_dao.py
  tests/study/dao/test_empty_matrices.py
  tests/study/dao/test_garbage_collector.py
  tests/study/dao/test_reserve_definition_dao.py
  tests/variantstudy/model/command/test_reserve_definition_commands.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): skip matrixindex call for custom-fetcher matrices
  webapp/src/components/Matrix/hooks/useMatrixData.ts
Due: none

start writing the code
  alembic/versions/665f7b1d7575_add_thermal_cluster_reserve_.py
  antarest/core/exceptions.py
  antarest/study/business/areas/thermal_reserve_certification_management.py
  antarest/study/business/model/thermal_reserve_certification_model.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/thermal_reserve_certification_dao.py
  antarest/study/dao/common.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check
