Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix(celery): fix beat conf
  antarest/maintenance/app.py
Due: mypy, ruff-format, ruff-check

add provider and instantiate it
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

create test that is currently failing
  tests/study/dao/test_database_area_matrices_dao.py
Due: ruff-format, ruff-check

add provider
  tests/study/dao/test_database_area_matrices_dao.py
Due: ruff-format, ruff-check

feat(dao): add provider to not clean DB matrices inside GC (#2964)
  alembic/versions/f3a153a9a048_add_area_properties_inside_area_table.py
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/service.py
  tests/study/dao/test_database_area_matrices_dao.py
Due: mypy, ruff-format, ruff-check

add alembic migration
  alembic/versions/10318e5320f6_create_link_tables.py
Due: ruff-format, ruff-check

add link class
  alembic/versions/10318e5320f6_create_link_table.py
  antarest/study/dao/database/models.py
Due: mypy, ruff-format, ruff-check

the last commit ?
  webapp/src/queries/bindingConstraints/keys.ts
  webapp/src/queries/bindingConstraints/mutations.ts
  webapp/src/queries/bindingConstraints/queries.ts
  webapp/src/queries/storages/queries.ts
  webapp/src/queries/types.ts
  webapp/src/queries/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/-components/OccurrencesFE/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/$constraintId/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-hooks/useCreateStorageConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/-components/TermsFE.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/time-series.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-components/AddConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useCreateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDuplicateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useUpdateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-utils.ts
  webapp/src/services/api/studies/bindingConstraints/adapters.ts
  webapp/src/services/api/studies/bindingConstraints/index.ts
  webapp/src/services/api/studies/bindingConstraints/type.ts
Due: none

start implementations
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_study_dao.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/database/database_link_dao.py
Due: mypy, ruff-format, ruff-check

finalize implem
  antarest/study/dao/database/database_link_dao.py
Due: mypy, ruff-format, ruff-check

add serialization
  antarest/study/dao/database/database_link_dao.py
Due: mypy, ruff-format, ruff-check

fix issue inside code
  antarest/study/dao/database/database_link_dao.py
  tests/study/dao/test_database_link_dao.py
Due: mypy, ruff-format, ruff-check

a bit better
  tests/study/dao/test_database_link_dao.py
Due: ruff-format, ruff-check

test is ok
  tests/study/dao/test_database_link_dao.py
Due: ruff-format, ruff-check

add tests
  tests/study/dao/test_database_link_dao.py
Due: ruff-format, ruff-check

add final test
  tests/study/dao/test_database_link_dao.py
Due: ruff-format, ruff-check

fix import issue
  tests/study/dao/test_database_link_dao.py
Due: ruff-format, ruff-check

feat(district): address comments
  alembic/versions/8f3d2a1b5c7e_add_district_tables.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/models/__init__.py
  antarest/study/dao/database/models/area.py
  antarest/study/dao/database/models/district.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_district_dao.py
Due: mypy, ruff-format, ruff-check

feat(district): address comments
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/models/__init__.py
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_area_properties_dao.py
Due: mypy, ruff-format, ruff-check

feat(celery): fix bugs
  antarest/maintenance/app.py
  antarest/maintenance/tasks/auto_archive_task.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_blob_task.py
  antarest/maintenance/tasks/gc_matrix_task.py
  antarest/maintenance/tasks/gc_variable_view_task.py
  antarest/maintenance/tasks/watcher_scan_task.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

feat(district): address comments
  tests/study/dao/conftest.py
  tests/study/dao/test_database_district_dao.py
Due: ruff-format, ruff-check

feat(celery): remove comment
  antarest/maintenance/tasks/common.py
Due: mypy, ruff-format, ruff-check

feat(celery): remove comment
  antarest/maintenance/app.py
Due: mypy, ruff-format, ruff-check

feat(district): implement database support (#2956)
  alembic/versions/8f3d2a1b5c7e_add_district_tables.py
  antarest/study/business/district_manager.py
  antarest/study/dao/api/area_dao.py
  antarest/study/dao/api/district_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/common.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_area_properties_dao.py
  antarest/study/dao/database/database_district_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/__init__.py
  antarest/study/dao/database/models/area.py
  antarest/study/dao/database/models/district.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_district_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/create_district.py
  antarest/study/storage/variantstudy/model/command/update_district.py
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_area_properties_dao.py
  tests/study/dao/test_database_district_dao.py
Due: mypy, ruff-format, ruff-check

feat(hydro): implement cr23 back-end part for rte-i (#2966)
  antarest/study/business/compatibility_parameters_management.py
  antarest/study/business/model/config/compatibility_parameters_model.py
  antarest/study/dao/api/compatibility_parameters_dao.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_compatibility_parameters.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/compatibility_parameters.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/series/area/area.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/business/matrix_constants_generator.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/convert_hydro_pmax.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/studies_blueprint/test_synthesis.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
  tests/variantstudy/model/command/test_create_area.py
  tests/variantstudy/model/command/test_hydro_pmax_converter.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

change alembic revision
  alembic/versions/10318e5320f6_create_link_table.py
Due: ruff-format, ruff-check

fix import
  antarest/study/dao/database/models/area.py
  tests/study/dao/test_database_link_dao.py
Due: mypy, ruff-format, ruff-check

remove doc
  antarest/study/dao/database/models/link.py
Due: mypy, ruff-format, ruff-check

fix onError mutation
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/$bindingConstraintId/parameters/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-components/AddConstraintDialog.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useCreateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDeleteBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useDuplicateBindingConstraint.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-hooks/useUpdateBindingConstraint.ts
  webapp/src/services/api/studies/bindingConstraints/type.ts
Due: none

add default staletime
  webapp/src/main.tsx
Due: none

feat(cr23): frontend
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/utils.ts
Due: none

implement code review proposition
  antarest/study/dao/database/models/area.py
Due: mypy, ruff-format, ruff-check

fix(logic): separate logic inside fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/Fields.tsx
Due: none

feat(area): add matrices inside DB DAO (#2957)
  alembic/versions/6a6d36e3c6ed_create_area_matrices_table.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/area.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_area_matrices_dao.py
Due: mypy, ruff-format, ruff-check

bump alembic migration
  alembic/versions/10318e5320f6_create_link_table.py
Due: ruff-format, ruff-check

fix(logic separation): separate logic for compatibility
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
Due: none

fix migration revision
  alembic/versions/10318e5320f6_create_link_table.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
