Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

add new field
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

add field in filedata class
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
Due: mypy, ruff-format, ruff-check

fix(ui): enable temporal filters for matrices with fixed columns
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

add test
  tests/integration/study_data_blueprint/test_table_mode.py
Due: ruff-format, ruff-check

add a test
  tests/study/business/areas/test_st_storage_management.py
Due: ruff-format, ruff-check

add the front end part
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/utils.ts
Due: none

wip
  antarest/study/dao/api/scenario_builder_dao.py
  antarest/study/dao/file/file_study_scenario_builder_dao.py
Due: mypy, ruff-format, ruff-check

fix : make mandatory fields optional
  antarest/study/storage/rawstudy/model/filesystem/config/district.py
Due: mypy, ruff-format, ruff-check

move button to the right section
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
Due: none

feat(area): wip refacto areaoutpput
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/area_properties_model.py
  antarest/study/business/table_mode_management.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/variantstudy/model/command/test_update_areas_properties.py
  webapp/src/components/App/Singlestudy/explore/Configuration/index.tsx
  webapp/src/services/api/studies/tableMode/constants.ts
Due: mypy, ruff-format, ruff-check

Revert "feat(area): wip refacto areaoutpput"
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/area_properties_model.py
  antarest/study/business/table_mode_management.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/variantstudy/model/command/test_update_areas_properties.py
  webapp/src/components/App/Singlestudy/explore/Configuration/index.tsx
  webapp/src/services/api/studies/tableMode/constants.ts
Due: mypy, ruff-format, ruff-check

feat(area): refacto areaoutput
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
Due: mypy, ruff-format, ruff-check

Revert "feat(area): refacto areaoutput"
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
Due: mypy, ruff-format, ruff-check

Revert "Revert "feat(area): wip refacto areaoutpput""
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
  antarest/study/business/model/area_properties_model.py
  antarest/study/business/table_mode_management.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/variantstudy/model/command/test_update_areas_properties.py
  webapp/src/components/App/Singlestudy/explore/Configuration/index.tsx
  webapp/src/services/api/studies/tableMode/constants.ts
Due: mypy, ruff-format, ruff-check

feat(area): refacto areaoutput
  antarest/study/business/model/area_properties_model.py
  antarest/study/business/table_mode_management.py
Due: mypy, ruff-format, ruff-check

fix(ui-matrix): enable temporal filters for matrices with fixed column names (#2709)
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/MiscGen.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Reserve.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Thermal/ThermalConfig/ThermalMatrices.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Links/LinkConfig/LinkMatrices.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/utils/index.ts
Due: none

feat(sts): add new field `allow-overflow` for v9.3+ studies (#2708)
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  tests/integration/study_data_blueprint/test_table_mode.py
  tests/study/business/areas/test_st_storage_management.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/utils.ts
Due: mypy, ruff-format, ruff-check

feat(ui): use custom dialog instead of window.confirm for unsaved/ongoing submit warning
  webapp/src/components/App/Container/index.tsx
  webapp/src/components/common/DataGridForm.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/Matrix/hooks/useMatrixMutations.ts
  webapp/src/components/common/TabsView.tsx
  webapp/src/hooks/useBlocker.ts
  webapp/src/hooks/useCloseFormSecurity.ts
  webapp/src/hooks/useFormCloseConfirm.tsx
  webapp/src/hooks/useFormCloseProtection.ts
  webapp/src/hooks/usePrompt.ts
  webapp/src/redux/ducks/ui.ts
  webapp/src/redux/selectors.ts
Due: none

feat(ui): use custom dialog instead of window.confirm for unsaved/ongoing submit warning (#2696)
  webapp/src/components/App/Container/index.tsx
  webapp/src/components/common/DataGridForm.tsx
  webapp/src/components/common/Form/index.tsx
  webapp/src/components/common/Matrix/hooks/useMatrixMutations.ts
  webapp/src/components/common/TabsView.tsx
  webapp/src/hooks/useBlocker.ts
  webapp/src/hooks/useCloseFormSecurity.ts
  webapp/src/hooks/useFormCloseConfirm.tsx
  webapp/src/hooks/useFormCloseProtection.ts
  webapp/src/hooks/usePrompt.ts
  webapp/src/redux/ducks/ui.ts
  webapp/src/redux/selectors.ts
Due: none

build(ts-gen): bump antares-timeseries-generation package
  requirements.txt
Due: none

fix test
  tests/integration/study_data_blueprint/test_generate_thermal_cluster_timeseries.py
Due: ruff-format, ruff-check

feat(area): refactor everything
  antarest/study/business/area_management.py
  antarest/study/business/table_mode_management.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/study_download_utils.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  tests/cache/test_local_cache.py
  tests/cache/test_redis_cache.py
  tests/storage/business/test_arealink_manager.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/storage/repository/filesystem/root/input/hydro/common/capacity/test_capacity.py
  tests/storage/repository/filesystem/special_node/input_areas_list_test.py
  tests/storage/repository/filesystem/special_node/test_lower_case_nodes.py
  tests/storage/repository/filesystem/test_scenariobuilder.py
  tests/storage/test_model.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

build(ts-gen): bump `timeseries-generation` package (#2712)
  requirements.txt
  tests/integration/study_data_blueprint/test_generate_thermal_cluster_timeseries.py
Due: ruff-format, ruff-check

feat(ui-launcher): update the dialog
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/services/api/study.ts
  webapp/src/types/types.ts
Due: none

review
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/services/api/study.ts
Due: none

review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/services/api/study.ts
Due: none

feat(ui-launcher): update the dialog (#2711)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/LaunchStudyDialog.tsx
  webapp/src/services/api/study.ts
  webapp/src/types/types.ts
Due: none

refactor to services folder
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
  webapp/src/services/api/studies/config/scenarioBuilder/adapters.ts
  webapp/src/services/api/studies/config/scenarioBuilder/constants.ts
  webapp/src/services/api/studies/config/scenarioBuilder/index.ts
  webapp/src/services/api/studies/config/scenarioBuilder/types.ts
  webapp/src/services/api/studies/config/scenarioBuilder/utils.ts
Due: none

refactor api methods
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
  webapp/src/services/api/studies/config/scenarioBuilder/adapters.ts
  webapp/src/services/api/studies/config/scenarioBuilder/index.ts
  webapp/src/services/api/studies/config/scenarioBuilder/types.ts
Due: none

refactor adapters and utils
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
  webapp/src/services/api/studies/config/scenarioBuilder/adapters.ts
  webapp/src/services/api/studies/config/scenarioBuilder/constants.ts
  webapp/src/services/api/studies/config/scenarioBuilder/index.ts
  webapp/src/services/api/studies/config/scenarioBuilder/types.ts
  webapp/src/services/api/studies/config/scenarioBuilder/utils.ts
Due: none

feat(ui-scenario): filter scenario builder tabs by study version
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
Due: none

feat(ui-scenario): filter scenario builder tabs by version (#2698)
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/Table.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/adapters.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/index.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/services.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/types.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/utils.ts
  webapp/src/components/App/Singlestudy/explore/Configuration/General/dialogs/ScenarioBuilderDialog/withAreas.tsx
  webapp/src/services/api/studies/config/scenarioBuilder/adapters.ts
  webapp/src/services/api/studies/config/scenarioBuilder/constants.ts
  webapp/src/services/api/studies/config/scenarioBuilder/index.ts
  webapp/src/services/api/studies/config/scenarioBuilder/types.ts
  webapp/src/services/api/studies/config/scenarioBuilder/utils.ts
Due: none

feat(ui-studies): add scope filter and a button to show/hide variants
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Studies/FilterDrawer.tsx
  webapp/src/components/App/Studies/HeaderActions/FliterTags.tsx
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/utils/studiesUtils.ts
Due: none

review
  webapp/src/components/App/Studies/FilterDrawer.tsx
Due: none

review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Studies/FilterDrawer.tsx
  webapp/src/components/App/Studies/HeaderActions/FliterTags.tsx
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/utils/studiesUtils.ts
Due: none

review
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/utils/studiesUtils.ts
Due: none

feat(ui-studies): add scope filter and a button to show/hide variants (#2714)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Studies/FilterDrawer.tsx
  webapp/src/components/App/Studies/HeaderActions/FliterTags.tsx
  webapp/src/components/App/Studies/StudiesList/Header.tsx
  webapp/src/redux/ducks/studies.ts
  webapp/src/utils/studiesUtils.ts
Due: none

feat(ui): add text ellipsis and tooltips for long folder names
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb.tsx
  webapp/src/components/App/Singlestudy/NavHeader/BreadcrumbLink.tsx
Due: none

feat(ui): add study name navigation and default hierarchy
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb.tsx
  webapp/src/components/App/Singlestudy/NavHeader/index.tsx
  webapp/src/components/App/Singlestudy/NavHeader/utils.ts
Due: none

refactor(ui-nav): replace title/back button with breadcrumb navigation
  webapp/src/components/App/Singlestudy/NavHeader/Actions.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Breadcrumb.tsx
  webapp/src/components/App/Singlestudy/NavHeader/BreadcrumbLink.tsx
  webapp/src/components/App/Singlestudy/NavHeader/Details.tsx
  webapp/src/components/App/Singlestudy/NavHeader/index.tsx
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
