Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(xpansion): change validation rule for expansion field
  antarest/study/business/model/xpansion_model.py
Due: mypy, ruff-format, ruff-check

fix(xpansion): change validation rule for xpansion field (#2585)
  antarest/study/business/model/xpansion_model.py
Due: mypy, ruff-format, ruff-check

feat(version): fix comments
  antarest/core/core_blueprint.py
  antarest/core/version_info.py
  tests/core/test_version_info.py
Due: mypy, ruff-format, ruff-check

feat(matrix): normalize study at import and copy (#2580)
  antarest/core/serde/matrix_export.py
  antarest/matrixstore/parsing.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/variantstudy/model/command/generate_thermal_cluster_timeseries.py
  tests/integration/studies_blueprint/test_disk_usage.py
  tests/integration/studies_blueprint/test_study_version.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/repository/filesystem/matrix/test_input_series_matrix.py
Due: mypy, ruff-format, ruff-check

fix(test): standardize timezone between local development and CI environments
  .github/workflows/main.yml
  webapp/src/components/common/Matrix/shared/__tests__/fixtures.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.integration.test.ts
  webapp/src/components/common/Matrix/shared/__tests__/utils.test.ts
  webapp/src/components/common/Matrix/shared/constants.ts
  webapp/src/tests/setup.ts
Due: none

fix(ui-matrix): resolve timezone detection bug in datetime generation
  webapp/src/components/common/Matrix/shared/utils.ts
Due: none

add src code
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(version): update sqlalchemy versions script
  alembic/versions/0146b79f723c_update_study.py
  alembic/versions/15f3bce09264_permission_fix.py
  alembic/versions/2a8c5e41f214_fix_permissions.py
  alembic/versions/490b80a84bb5_add_cascade_delete_for_sqlite.py
  alembic/versions/6a04e38b8704_base.py
  alembic/versions/782a481f3414_fix_task_job_cascade_delete.py
  alembic/versions/9846e90c2868_fix_bot_foreign_key.py
  alembic/versions/c83b8bb38a7c_fix_permissions.py
  alembic/versions/c9dcca887456_move_folder_property.py
  alembic/versions/dae93f1d9110_populate_tag_and_study_tag_tables_with_.py
  antarest/core/filetransfer/model.py
  antarest/launcher/model.py
  antarest/login/service.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
Due: mypy, ruff-format, ruff-check

add verifications and modify an exception
  antarest/core/exceptions.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  antarest/study/web/studies_blueprint.py
Due: mypy, ruff-format, ruff-check

build(dependencies): bump antares-launcher to v1.4.5
  requirements.txt
Due: none

initialize test
  tests/integration/studies_blueprint/test_normalization.py
Due: ruff-format, ruff-check

add 2nd error case test
  tests/integration/studies_blueprint/test_normalization.py
Due: ruff-format, ruff-check

add comment to explain what i'm gonna od
  tests/integration/studies_blueprint/test_normalization.py
Due: ruff-format, ruff-check

build(dependencies): bump antares-launcher to v1.4.5 (#2587)
  requirements.txt
Due: none

chore(release): v2.22.2
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

feat(version): fix lint
  antarest/core/version_info.py
Due: mypy, ruff-format, ruff-check

feat(allocation): fix comments
  antarest/core/serde/np_array.py
  antarest/study/business/allocation_management.py
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

finalize test
  tests/integration/studies_blueprint/test_normalization.py
Due: ruff-format, ruff-check

chore(release): v2.22.2 (#2588)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

add check and test for archived study
  antarest/study/service.py
  tests/integration/studies_blueprint/test_normalization.py
Due: mypy, ruff-format, ruff-check

refactor(hydro): add hydro dao and file_study_hydro_dao, update hydro relative files, update in-memory study dao class.
  antarest/study/business/areas/hydro_management.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_hydro_management.py
  antarest/study/storage/variantstudy/model/command/update_inflow_structure.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(hydro): add implementation of methods in `in_memory_study_dao.py`
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

chore(hydro): remove TODOs
  antarest/study/dao/file/file_study_hydro_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-studies): add select/deselect all in outputs fields in copy dialog
  webapp/package-lock.json
  webapp/package.json
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/common/Form/useFormApiPlus.ts
  webapp/src/components/common/fieldEditors/CheckboxesTagsFE.tsx
  webapp/src/components/common/fieldEditors/ListFE/index.tsx
  webapp/src/components/common/fieldEditors/NewSelectFE.tsx
  webapp/src/components/common/fieldEditors/NumberFE.tsx
  webapp/src/components/common/fieldEditors/PasswordFE.tsx
  webapp/src/hoc/reactHookFormSupport.tsx
Due: none

refactor(ui-studies): update StudyPathFE pre-validation
  webapp/src/components/App/Singlestudy/explore/Debug/Data/Folder/CreateFolderDialog.tsx
  webapp/src/components/App/shared/studies/StudyPathFE.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/utils/studiesUtils.ts
Due: none

feat(allocation): fix comments
  antarest/study/business/correlation_management.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/input_series_matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/root/input/hydro/common/capacity/capacity.py
Due: mypy, ruff-format, ruff-check

feat(app-version): refactor version endpoint (#2582)
  antarest/core/core_blueprint.py
  antarest/core/version_info.py
  tests/integration/test_core_blueprint.py
Due: mypy, ruff-format, ruff-check

feat(study): add editor field
  tests/storage/rawstudies/samples/v810/sample1/study.antares
Due: none

fix PR
  antarest/study/model.py
  antarest/study/storage/explorer_service.py
  webapp/src/components/App/Container/index.tsx
  webapp/src/components/App/Settings/index.tsx
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
  webapp/src/components/App/Studies/StudyTree/__test__/utils.test.ts
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/App/Studies/StudyTree/types.ts
  webapp/src/components/App/Studies/StudyTree/utils.ts
  webapp/src/hooks/useAppMode.ts
  webapp/src/redux/middlewares/localStorageMiddleware.ts
  webapp/src/services/webSocket/ws.ts
Due: mypy, ruff-format, ruff-check

fix build
  antarest/study/model.py
  antarest/study/storage/explorer_service.py
  webapp/src/hooks/useAppMode.ts
Due: mypy, ruff-format, ruff-check

fix build
  webapp/src/components/App/Studies/StudyTree/utils.ts
Due: none

add doc
  webapp/src/redux/middlewares/localStorageMiddleware.ts
Due: none

refactor(ui-studies): update StudyPathFE pre-validation (#2591)
  webapp/src/components/App/Singlestudy/explore/Debug/Data/Folder/CreateFolderDialog.tsx
  webapp/src/components/App/shared/studies/StudyPathFE.tsx
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/App/shared/studies/dialogs/MoveStudyDialog.tsx
  webapp/src/utils/studiesUtils.ts
Due: none

code review
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
  webapp/src/components/common/fieldEditors/NewSelectFE.tsx
  webapp/src/components/common/fieldEditors/SelectFE.tsx
Due: none

code review
  webapp/src/components/common/fieldEditors/NewSelectFE.tsx
Due: none

code review
  webapp/src/components/App/shared/studies/dialogs/CopyStudyDialog.tsx
Due: none

feat(study): add editor field
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

feat(study): add editor field
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
