Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix(launcher): fix typo in export mps option
  antarest/launcher/adapters/local_launcher/local_launcher.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

continue implementation
  antarest/study/business/model/renewable_cluster_model.py
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/models/renewable.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/dao/database/database_renewable_dao.py
Due: mypy, ruff-format, ruff-check

fix(launcher): fix typo in export mps option (#3001)
  antarest/launcher/adapters/local_launcher/local_launcher.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/dao/database/database_renewable_dao.py
Due: mypy, ruff-format, ruff-check

add
  antarest/study/dao/database/database_renewable_dao.py
Due: mypy, ruff-format, ruff-check

finalize src
  antarest/study/dao/database/database_renewable_dao.py
Due: mypy, ruff-format, ruff-check

fix existing test
  tests/study/dao/test_database_thermal_dao.py
Due: ruff-format, ruff-check

add gc test
  tests/study/dao/test_garbage_collector.py
Due: ruff-format, ruff-check

fix naming issue
  antarest/study/dao/database/database_renewable_dao.py
  tests/study/dao/test_database_renewable_dao.py
Due: mypy, ruff-format, ruff-check

continue testing
  tests/study/dao/test_database_renewable_dao.py
Due: ruff-format, ruff-check

finalize test
  tests/study/dao/test_database_renewable_dao.py
Due: ruff-format, ruff-check

fix(celery): fix logging setup (#2999)
  antarest/main.py
  antarest/maintenance/app.py
  antarest/maintenance/config.py
  antarest/maintenance/context.py
  antarest/maintenance/tasks/auto_archive_task.py
  antarest/maintenance/tasks/gc_blob_task.py
  antarest/maintenance/tasks/gc_matrix_task.py
  antarest/maintenance/tasks/gc_variable_view_task.py
  antarest/maintenance/tasks/watcher_scan_task.py
  antarest/service_creator.py
  antarest/singleton_services.py
  tests/maintenance/conftest.py
  tests/maintenance/test_app.py
Due: mypy, ruff-format, ruff-check

feat(favorite directory): corrected misspelling errors on favorite API methods
  antarest/core/config.py
  antarest/core/tasks/repository.py
  antarest/core/tasks/service.py
  antarest/maintenance/app.py
  antarest/maintenance/context.py
  antarest/maintenance/tasks/common.py
  antarest/maintenance/tasks/gc_tasks.py
  antarest/maintenance/tasks/gc_tasks_task.py
  tests/maintenance/tasks/test_gc_tasks.py
Due: mypy, ruff-format, ruff-check

fix(debug): add matrix prefix for the front-end
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
Due: mypy, ruff-format, ruff-check

use the same prefix everywhere
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/rawstudies/test_factory.py
  tests/storage/repository/filesystem/root/input/st_storage/__init__.py
Due: mypy, ruff-format, ruff-check

fix test
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

feat(user-resource): first commit
  alembic/versions/f77c2a9e5d0c_add_user_resources_table.py
  antarest/core/exceptions.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_user_resources.py
  antarest/study/dao/database/models/user_resources.py
  tests/study/dao/test_database_user_resources_dao.py
Due: mypy, ruff-format, ruff-check

feat(user-resource): lint
  antarest/core/exceptions.py
  antarest/study/dao/database/database_user_resources.py
  tests/study/dao/test_database_user_resources_dao.py
Due: mypy, ruff-format, ruff-check

fix(debug): add matrix prefix for the front-end (#3004)
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/output_series_matrix.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/rawstudies/test_factory.py
  tests/storage/repository/filesystem/root/input/st_storage/__init__.py
Due: mypy, ruff-format, ruff-check

feat(user-resource): register new blob usage provider
  antarest/core/exceptions.py
  antarest/service_creator.py
  antarest/study/dao/database/database_blob_usage_provider.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_user_resources.py
  tests/study/dao/test_database_blob_usage_provider.py
Due: mypy, ruff-format, ruff-check

review
  webapp/src/components/icons/StatusDot.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-utils.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-utils.tsx
Due: none

feat(ui-bc,ui-storages): add enabled status icon to constraints lists
  webapp/src/components/icons/EnabledIcon.tsx
  webapp/src/components/page/ListView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-utils.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-utils.tsx
Due: none

feat(ui-bc,ui-storages): add enabled status icon to constraints lists (#3003)
  webapp/src/components/icons/StatusDot.tsx
  webapp/src/components/page/ListView.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/storages/$storageId/additional-constraints/-utils.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/binding-constraints/-utils.tsx
Due: none

refactor(ui): rename StudyTreeView to VariantsTree
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
Due: none

refactor(ui): restructure VariantsTree component
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/TreeNode.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/utils.ts
Due: none

fix(ui): make study tree view fill available width
  webapp/src/routes/_authenticated/studies/$studyId/-components/StudyTreeView/index.tsx
Due: none

refactor(ui): rework variants tree with responsive layout (#3005)
  webapp/src/routes/_authenticated/studies/$studyId/-components/StudyTreeView/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/StudyTreeView/treeconfig.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/StudyTreeView/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/TreeNode.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/constants.ts
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/-components/VariantsTree/utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/index.tsx
Due: none

feat(dao): support renewable clusters in DB (#3002)
  alembic/versions/0ed392eeb506_add_renewable_clusters_tables.py
  antarest/study/business/model/renewable_cluster_model.py
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/dao/database/database_renewable_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/models/renewable.py
  tests/study/dao/test_database_renewable_dao.py
  tests/study/dao/test_database_thermal_dao.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

refactor(archive): improve performances (#2987)
  Dockerfile
  antarest/core/utils/archives.py
  antarest/service_creator.py
  antarest/study/output/file_output_storage.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/core/utils/test_archive_dir.py
  tests/core/utils/test_extract_zip.py
  tests/storage/business/test_export.py
  tests/storage/business/test_import.py
  tests/storage/business/test_raw_study_service.py
  tests/study/output/test_output_service.py
Due: mypy, ruff-format, ruff-check

feat(user-resource): adress comments
  alembic/versions/f77c2a9e5d0c_add_user_resources_table.py
  antarest/study/dao/database/database_blob_usage_provider.py
  tests/integration/maintenance_blueprint/test_gc_blob.py
Due: mypy, ruff-format, ruff-check

feat(user-resources): implement database support (#3006)
  alembic/versions/f77c2a9e5d0c_add_user_resources_table.py
  antarest/core/exceptions.py
  antarest/service_creator.py
  antarest/study/dao/database/database_blob_usage_provider.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_user_resources.py
  antarest/study/dao/database/models/user_resources.py
  tests/integration/maintenance_blueprint/test_gc_blob.py
  tests/study/dao/test_database_blob_usage_provider.py
  tests/study/dao/test_database_user_resources_dao.py
Due: mypy, ruff-format, ruff-check

adapt output integration tests
  antarest/study/output/output_service.py
  tests/integration/test_helpers/__init__.py
  tests/integration/test_helpers/outputs.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

adapt output integration tests
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

feat(st-storage): first commit
  alembic/versions/7e3fd21b1c65_add_st_storage_table.py
  antarest/study/dao/api/st_storage_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/st_storage.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

make last integration tests pass
  tests/integration/output_blueprint/test_output_storage_v2.py
Due: ruff-format, ruff-check

feat(st-storage): finalize migration and model
  alembic/versions/7e3fd21b1c65_add_st_storage_table.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_st_storage_dao.py
  antarest/study/dao/database/models/st_storage.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

wup
  alembic/versions/ae838d5fd166_add_hydro_matrix_tables.py
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/database/models/hydro.py
  antarest/study/dao/study_conversion/study_converter.py
  antarest/study/service.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_hydro_dao.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/study/dao/database/database_hydro_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
