Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix ruff
  antarest/study/storage/variantstudy/model/command/remove_area.py
Due: mypy, ruff-format, ruff-check

fix ruff
  antarest/study/storage/variantstudy/business/utils_binding_constraint.py
Due: mypy, ruff-format, ruff-check

continue work
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
Due: mypy, ruff-format, ruff-check

feat(unittest): revert to fix selection
  tests/conftest.py
Due: ruff-format, ruff-check

implement check inside commands
  antarest/study/storage/variantstudy/model/command/remove_cluster.py
Due: mypy, ruff-format, ruff-check

fix test remove area
  tests/variantstudy/model/command/test_remove_area.py
Due: ruff-format, ruff-check

fix the other failing test
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_remove_cluster.py
Due: ruff-format, ruff-check

fix(study): copied study's outputs not downloadable (#2539)
  antarest/launcher/model.py
  antarest/launcher/repository.py
  antarest/study/main.py
  antarest/study/repository.py
  antarest/study/service.py
  tests/conftest_services.py
  tests/integration/test_integration.py
  tests/storage/business/test_watcher.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

feat(unittest): add --fast flag to speed up test execution
  requirements-test.txt
  tests/launcher/test_log_manager.py
Due: ruff-format, ruff-check

feat(unittest): add --fast flag to speed up test execution
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_get_studies.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/study_data_blueprint/test_hydro_allocation.py
  tests/integration/study_data_blueprint/test_hydro_correlation.py
  tests/integration/study_data_blueprint/test_link.py
  tests/integration/study_data_blueprint/test_playlist.py
  tests/integration/variant_blueprint/test_thermal_cluster.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
Due: ruff-format, ruff-check

chore(release): v2.22.0 (2025-06-25)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

fix link
  docs/CHANGELOG.md
Due: none

add breaking change label
  docs/CHANGELOG.md
Due: none

chore(release): v2.22.0 (2025-06-25) (#2551)
  antarest/__init__.py
  docs/CHANGELOG.md
  pyproject.toml
  sonar-project.properties
  webapp/package-lock.json
  webapp/package.json
Due: mypy, ruff-format, ruff-check

fix bug
  webapp/src/components/App/Tasks/index.tsx
Due: none

fix(bc): forbid area/cluster deletion when referenced in a constraint (#2550)
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/storage/variantstudy/business/utils_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  antarest/study/storage/variantstudy/model/command/remove_cluster.py
  tests/variantstudy/model/command/test_remove_area.py
  tests/variantstudy/model/command/test_remove_cluster.py
Due: mypy, ruff-format, ruff-check

feat(dep): pump pydantic and fastapi
  requirements.txt
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: ruff-format, ruff-check

feat(dep): pump pydantic and fastapi
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: ruff-format, ruff-check

refactor(st-storage): introduce the DAO layer and improve classes design (#2513)
  antarest/core/model.py
  antarest/study/business/areas/st_storage_management.py
  antarest/study/business/model/sts_model.py
  antarest/study/dao/api/st_storage_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_st_storage_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/files.py
  antarest/study/storage/rawstudy/model/filesystem/config/model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
  antarest/study/storage/variantstudy/model/command/binding_constraint_utils.py
  antarest/study/storage/variantstudy/model/command/create_st_storage.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  antarest/study/storage/variantstudy/model/command/remove_st_storage.py
  antarest/study/storage/variantstudy/model/command/update_st_storages.py
  antarest/study/web/study_data_blueprint.py
  tests/integration/study_data_blueprint/test_st_storage.py
  tests/integration/variant_blueprint/test_st_storage.py
  tests/storage/repository/filesystem/config/test_config_files.py
  tests/study/business/areas/test_st_storage_management.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/variantstudy/model/command/test_create_st_storage.py
  tests/variantstudy/model/command/test_remove_st_storage.py
  tests/variantstudy/model/command/test_update_short_term_storage.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

build(dep): bump pydantic and fastapi
  requirements.txt
Due: none

build(dep): bump pydantic and fastapi (#2555)
  requirements.txt
  tests/variantstudy/model/command/test_remove_st_storage.py
Due: ruff-format, ruff-check

build(deps): bump uvicorn and python-multipart
  requirements.txt
Due: none

build(deps): bump uvicorn and python-multipart (#2556)
  requirements.txt
Due: none

fix PR
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/Tasks/index.tsx
  webapp/src/components/common/fieldEditors/SearchFE.tsx
  webapp/src/services/utils/localStorage.ts
  webapp/src/types/types.ts
Due: none

accent + stuff
  webapp/src/components/App/Tasks/JobTableView.tsx
Due: none

reformat
  webapp/src/components/common/fieldEditors/SearchFE.tsx
Due: none

create first class
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

add order by
  webapp/src/components/App/Tasks/JobTableView.tsx
Due: none

add update and creation classe
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

rename class
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

add 2 methods
  antarest/study/business/model/sts_model.py
Due: mypy, ruff-format, ruff-check

fix sort
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/Tasks/index.tsx
Due: none

remove debug code
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/Tasks/index.tsx
Due: none

add ini class and methods
  antarest/study/business/model/sts_model.py
  antarest/study/storage/rawstudy/model/filesystem/config/st_storage.py
Due: mypy, ruff-format, ruff-check

refactor
  webapp/src/components/App/Tasks/JobTableView.tsx
Due: none

add user name to jobs
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/Tasks/index.tsx
  webapp/src/services/api/study.ts
  webapp/src/types/types.ts
Due: none

hide components
  webapp/src/components/App/Container/index.tsx
  webapp/src/components/App/Settings/index.tsx
Due: none

build artifact
  .github/workflows/deploy.yml
Due: none

feat(ui-tasks): filter tasks by user (#2547)
  webapp/src/components/App/Tasks/JobTableView.tsx
  webapp/src/components/App/Tasks/index.tsx
  webapp/src/components/common/fieldEditors/SearchFE.tsx
  webapp/src/services/api/study.ts
  webapp/src/services/utils/localStorage.ts
  webapp/src/types/types.ts
Due: none

feat(test_matrix_blueprint): finished correcting issues from review
  antarest/matrixstore/model.py
  antarest/matrixstore/web.py
  tests/integration/test_integration.py
  tests/integration/test_matrix_blueprint.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
