Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(ui, sts): allow inflows matrix resize for v9.3 studies
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

resolve comment
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

feat(ui-storages): allow `inflows` matrix resize for v9.3 studies (#2649)
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/StorageMatrices.tsx
Due: none

feat(ui-sts): add additional constraints matrix
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
Due: none

feat(ui-sts): add additional constraints matrix (#2650)
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/ConstraintForm.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/AdditionalConstraints/index.tsx
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Storages/StorageConfig/index.tsx
Due: none

feat(matrix_usage_provider): finished unit testing
  antarest/study/storage/rawstudy/raw_study_matrix_usage_provider.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/conftest.py
  tests/matrixstore/test_matrix_usage_providers.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): finalise last mypy issues
  antarest/launcher/model.py
  antarest/login/service.py
  antarest/study/model.py
  antarest/study/service.py
  antarest/tools/admin_lib.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): ruff check
  antarest/core/persistence.py
  antarest/study/storage/variantstudy/snapshot_generator.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): added usage providers in "in_memory_matrix_service"
  antarest/matrixstore/in_memory.py
  tests/matrixstore/test_in_memory_matrix_service.py
Due: mypy, ruff-format, ruff-check

feat(matrix_usage_provider): added usage providers in "in_memory_matrix_service"
  antarest/matrixstore/in_memory.py
Due: mypy, ruff-format, ruff-check

chore(patch): remove dead code related to patch data
  antarest/study/model.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_variant_study_service.py
  tests/storage/repository/test_study.py
  tests/study/test_model.py
Due: mypy, ruff-format, ruff-check

chore(db): remove patch from db
  alembic/versions/d2942741ae68_drop_patch_data.py
Due: ruff-format, ruff-check

feat(matrix_usage_provider): last update ?
  tests/variantstudy/model/command/test_create_link_in_memory.py
Due: ruff-format, ruff-check

fix alembic downgrade
  alembic/versions/d2942741ae68_drop_patch_data.py
Due: ruff-format, ruff-check

refactor(thematic-trimming): introduce DAO and associated command (#2635)
  antarest/study/business/model/thematic_trimming_model.py
  antarest/study/business/thematic_trimming_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/thematic_trimming_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_thematic_trimming_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/thematic_trimming.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_thematic_trimming.py
  antarest/study/web/study_data_blueprint.py
  tests/storage/business/test_config_manager.py
  tests/variantstudy/model/command/test_update_thematic_trimming.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

refactor(adequacy-patch): introduce DAO and new class design (#2629)
  antarest/study/business/adequacy_patch_management.py
  antarest/study/business/model/config/adequacy_patch_model.py
  antarest/study/dao/api/adequacy_patch_parameters_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_adequacy_patch_parameters_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/adequacy_patch_parameters.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_adequacy_patch_parameters.py
  antarest/study/web/study_data_blueprint.py
  requirements.txt
  tests/integration/studies_blueprint/test_study_settings.py
  tests/variantstudy/model/command/test_update_adequacy_patch_parameters.py
  tests/variantstudy/test_command_factory.py
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/Fields.tsx
  webapp/src/components/App/Singlestudy/explore/Configuration/AdequacyPatch/utils.ts
Due: mypy, ruff-format, ruff-check

refactor(xpansion): introduce DAO and new class design for settings (#2637)
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_settings.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
  tests/storage/business/test_xpansion_manager.py
Due: mypy, ruff-format, ruff-check

refactor(settings): implement DAO for timeseries configuration (#2640)
  antarest/study/business/model/config/timeseries_config_model.py
  antarest/study/business/timeseries_config_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/timeseries_config_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_timseries_config_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/update_timeseries_config.py
  antarest/study/web/study_data_blueprint.py
  tests/storage/business/test_timeseries_config_manager.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

add configuration methods inside the DAO
  antarest/core/exceptions.py
  antarest/study/business/model/xpansion_model.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/xpansion.py
Due: mypy, ruff-format, ruff-check

use dao inside one command
  antarest/study/storage/variantstudy/model/command/remove_xpansion_configuration.py
Due: mypy, ruff-format, ruff-check

use dao inside one command
  antarest/study/storage/variantstudy/model/command/create_xpansion_configuration.py
Due: mypy, ruff-format, ruff-check

add method inside dao
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_settings.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(patch): remove "patch" related dead code (#2652)
  alembic/versions/d2942741ae68_drop_patch_data.py
  antarest/study/model.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_variant_study_service.py
  tests/storage/repository/test_study.py
  tests/study/test_model.py
Due: mypy, ruff-format, ruff-check

use dao inside manager
  antarest/study/business/xpansion_management.py
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

add another method inside the DAO
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

fix
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

use dao
  antarest/study/business/xpansion_management.py
Due: mypy, ruff-format, ruff-check

use the dao
  antarest/study/business/xpansion_management.py
Due: mypy, ruff-format, ruff-check

use dao
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_resource.py
Due: mypy, ruff-format, ruff-check

use dao
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_constraint.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_matrix.py
Due: mypy, ruff-format, ruff-check

clean
  antarest/study/storage/variantstudy/model/command/create_xpansion_matrix.py
Due: mypy, ruff-format, ruff-check

build(sqlalchemy): query fix
  antarest/login/repository.py
  antarest/matrixstore/migration_script.py
Due: mypy, ruff-format, ruff-check

finalize src code
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

fix several tests
  tests/variantstudy/model/command/test_remove_xpansion_resource.py
Due: ruff-format, ruff-check

fix test
  tests/variantstudy/model/command/test_remove_xpansion_resource.py
Due: ruff-format, ruff-check

fixing some code
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/web/xpansion_studies_blueprint.py
  tests/storage/business/test_xpansion_manager.py
Due: mypy, ruff-format, ruff-check

modifying src code
  antarest/study/business/xpansion_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
