Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

complete one todo
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

implement the other todo
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fixing a bit the code
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fixing one test
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: ruff-format, ruff-check

semi fix
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: ruff-format, ruff-check

fixing tests
  antarest/study/business/binding_constraint_management.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: mypy, ruff-format, ruff-check

fix(matrix): make MatrixContext optional in MatrixGrid to support standalone usage
  webapp/src/components/common/Matrix/components/MatrixGrid/index.tsx
  webapp/src/components/common/Matrix/context/MatrixContext.tsx
Due: none

allow legacy parsing
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
Due: mypy, ruff-format, ruff-check

quick & dirty study opening
  antarest/study/service.py
  antarest/study/web/studies_blueprint.py
  webapp/src/components/DesktopApp/SingleStudyPlaceholder.tsx
  webapp/src/components/DesktopApp/index.tsx
  webapp/src/electron/dialog.ts
  webapp/src/electron/main.ts
  webapp/src/electron/preload.cts
  webapp/src/types/electron.d.ts
Due: mypy, ruff-format, ruff-check

fix one test
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

fix url
  webapp/src/components/DesktopApp/SingleStudyPlaceholder.tsx
Due: none

adding some parsing tests
  antarest/study/storage/rawstudy/model/filesystem/config/binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

wip
  antarest/main.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/watcher.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

fix
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

remove old commands
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

add test
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

add parsing tests
  antarest/study/business/model/binding_constraint_model.py
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

2
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

rewriting matrices instantiation
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

ok
  antarest/study/storage/variantstudy/model/command/create_binding_constraint.py
Due: mypy, ruff-format, ruff-check

one test fixed
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

adapting test
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

all good ??
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

ok ??
  antarest/study/dao/file/file_study_constraint_dao.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraint.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
Due: mypy, ruff-format, ruff-check

feat(matrixstore): wip unit testing of get_matrices
  antarest/matrixstore/repository.py
  antarest/matrixstore/service.py
  antarest/matrixstore/web.py
  tests/matrixstore/test_service.py
Due: mypy, ruff-format, ruff-check

feat(matrix-results): add filtering capabilities to results grid
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/ResultFilters.tsx
  webapp/src/components/App/Singlestudy/explore/Results/ResultDetails/index.tsx
  webapp/src/components/common/Matrix/components/FilterableMatrixGrid.tsx
  webapp/src/components/common/page/ViewWrapper.tsx
Due: none

override hasCHildren
  webapp/src/components/App/Studies/StudyTree/index.tsx
Due: none

fix performance issue on scenario builder
  antarest/study/dao/file/file_study_constraint_dao.py
Due: mypy, ruff-format, ruff-check

feat(ui-matrix): hide operations block when matrix filter is in readonly mode
  webapp/src/components/common/Matrix/components/FilterableMatrixGrid.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
  webapp/src/components/common/Matrix/components/MatrixFilter/types.ts
Due: none

feat(matrix-filter): implement transparent backdrop for drawer
  webapp/src/components/common/Matrix/components/MatrixFilter/index.tsx
Due: none

use alias_generator
  antarest/study/model.py
  antarest/study/storage/explorer_service.py
Due: mypy, ruff-format, ruff-check

feat(matrix): rename matrix mapper type
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/factory.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/conftest.py
  tests/conftest_services.py
  tests/storage/business/conftest.py
  tests/storage/business/test_url_resolver_service.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
  tests/storage/repository/filesystem/test_folder_node.py
  tests/study/business/areas/test_thermal_management.py
Due: mypy, ruff-format, ruff-check

feat(matrix): rename matrix mapper type
  tests/storage/repository/filesystem/test_folder_node.py
Due: ruff-format, ruff-check

keep track of explored folder in study tree
  antarest/study/storage/explorer_service.py
  webapp/src/components/App/Studies/StudyTree/StudyTreeNode.tsx
  webapp/src/components/App/Studies/StudyTree/index.tsx
  webapp/src/components/App/Studies/StudyTree/types.ts
Due: mypy, ruff-format, ruff-check

feat(matrix): rename method
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
Due: mypy, ruff-format, ruff-check

feat(matrix): move normalise and denormalise methods
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
  tests/storage/repository/filesystem/matrix/test_matrix_node.py
Due: mypy, ruff-format, ruff-check

feat(matrix): move normalise and denormalise methods
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
Due: mypy, ruff-format, ruff-check

feat(matrix): move normalise and denormalise methods
  antarest/matrixstore/matrix_uri_mapper.py
Due: mypy, ruff-format, ruff-check

feat(matrix): move delete method
  antarest/matrixstore/matrix_uri_mapper.py
  antarest/study/storage/rawstudy/model/filesystem/matrix/matrix.py
Due: mypy, ruff-format, ruff-check

fix typo
  webapp/public/locales/fr/main.json
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
