Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

fix test
  antarest/launcher/model.py
  antarest/launcher/service.py
  tests/launcher/test_web.py
Due: mypy, ruff-format, ruff-check

refactor(directory): remove redundant comments and imports, adjust test data for consistency
  antarest/study/directory_service.py
  antarest/study/repository.py
  antarest/study/service.py
  tests/integration/studies_blueprint/test_create_study.py
  tests/integration/studies_blueprint/test_directory.py
Due: mypy, ruff-format, ruff-check

fix(ui): typescript issue
  webapp/src/components/common/DataGridForm.tsx
Due: none

refactor(directory): simplify duplicate name check and permission handling
  antarest/study/directory_service.py
  antarest/study/repository.py
  antarest/study/service.py
  tests/study/test_directory_repository.py
Due: mypy, ruff-format, ruff-check

fix(ui): typescript issue (#2778)
  webapp/src/components/common/DataGridForm.tsx
Due: none

refactor(directory): remove redundant comments and type adjustments in directory APIs and repository
  antarest/study/repository.py
  antarest/study/web/directory_blueprint.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/main.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command_context.py
  tests/conftest.py
  tests/matrixstore/test_matrix_garbage_collector.py
  tests/storage/business/conftest.py
  tests/variantstudy/conftest.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

use blob service
  antarest/service_creator.py
  antarest/study/main.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/integration/test_exporter.py
  tests/storage/web/test_studies_bp.py
Due: mypy, ruff-format, ruff-check

address all mypy issue
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_user_resources_dao.py
  tests/conftest_services.py
  tests/storage/test_service.py
  tests/study/business/areas/test_st_storage_management.py
  tests/study/business/areas/test_thermal_management.py
  tests/study/business/conftest.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/variantstudy/test_variant_study_service.py
Due: mypy, ruff-format, ruff-check

create fixture even if it still crashes
  antarest/study/service.py
  tests/conftest_services.py
Due: mypy, ruff-format, ruff-check

simplify
  tests/study/storage/rawstudy/test_raw_study_service.py
Due: ruff-format, ruff-check

fixing some issues
  tests/conftest_services.py
Due: ruff-format, ruff-check

avoid writing data if it already exists
  antarest/blobstore/repository.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

fill values
  antarest/study/business/study_interface.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  antarest/study/storage/variantstudy/variant_command_generator.py
Due: mypy, ruff-format, ruff-check

try to simplify code
  antarest/study/business/output_variables_management.py
Due: mypy, ruff-format, ruff-check

simplify a bit
  antarest/study/business/output_variables_management.py
Due: mypy, ruff-format, ruff-check

continue reducing code complexity
  antarest/study/business/output_variables_management.py
Due: mypy, ruff-format, ruff-check

fix(datetime): align datetime creation with naive format to prevent timezone issues
  antarest/core/filetransfer/service.py
  antarest/core/tasks/service.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/conftest_services.py
  tests/core/tasks/test_task_job_service.py
  tests/core/test_tasks.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/launcher/test_service.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
  tests/storage/business/test_autoarchive_service.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/conftest.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_abstract_storage_service.py
  tests/study/storage/test_utils.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

refactor(directory): improve path parsing, simplify directory validation, and optimize batch operations
  alembic/versions/f1ff6904ff9f_add_directory_management.py
  antarest/study/model.py
  antarest/study/repository.py
Due: mypy, ruff-format, ruff-check

fix(pr2772): resolved review comments
  webapp/public/locales/fr/main.json
  webapp/src/components/App/Singlestudy/explore/Configuration/AdvancedParameters/utils.ts
  webapp/src/components/App/Singlestudy/explore/Modelization/Areas/Hydro/index.tsx
Due: none

change default value for blob_gc
  antarest/core/config.py
  docs/developer-guide/install/1-CONFIG.md
Due: mypy, ruff-format, ruff-check

fix existing test
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

add migration ut
  tests/variantstudy/test_command_factory.py
Due: ruff-format, ruff-check

fix test
  tests/integration/raw_studies_blueprint/test_fetch_raw_data.py
Due: ruff-format, ruff-check

add UT for the command
  tests/variantstudy/model/command/test_create_user_resource.py
Due: ruff-format, ruff-check

add gc test
  tests/blobstore/__init__.py
  tests/blobstore/test_blob_garbage_collector.py
Due: ruff-format, ruff-check

cleaning
  tests/blobstore/test_blob_garbage_collector.py
Due: ruff-format, ruff-check

chore(datetime): clean deprecated method `utc_now` (#2773)
  antarest/core/filetransfer/service.py
  antarest/core/tasks/model.py
  antarest/core/tasks/service.py
  antarest/launcher/service.py
  antarest/matrixstore/matrix_garbage_collector.py
  antarest/matrixstore/service.py
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/auto_archive_service.py
  antarest/study/storage/rawstudy/model/filesystem/lazy_node.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/conftest_services.py
  tests/core/tasks/test_task_job_service.py
  tests/core/test_tasks.py
  tests/integration/variant_blueprint/test_variant_manager.py
  tests/launcher/test_service.py
  tests/matrixstore/test_matrix_usage_providers.py
  tests/matrixstore/test_repository.py
  tests/matrixstore/test_service.py
  tests/storage/business/test_autoarchive_service.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/business/test_watcher.py
  tests/storage/conftest.py
  tests/storage/repository/test_study.py
  tests/storage/test_service.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/study/storage/test_abstract_storage_service.py
  tests/study/storage/test_utils.py
  tests/study/storage/variantstudy/model/test_dbmodel.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/study/storage/variantstudy/test_variant_study_service.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

chore(service): merge dev
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

start writing test file
  tests/blobstore/test_service.py
Due: ruff-format, ruff-check

instantiate register provider
  antarest/study/storage/variantstudy/command_blob_usage_provider.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/blobstore/test_service.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/storage/variantstudy/command_blob_usage_provider.py
  antarest/study/storage/variantstudy/model/command/create_user_resource.py
  tests/blobstore/test_service.py
Due: mypy, ruff-format, ruff-check

fix useless for loop inside matrix gc
  antarest/study/storage/variantstudy/command_matrix_usage_provider.py
Due: mypy, ruff-format, ruff-check

finalize test
  tests/blobstore/test_service.py
Due: ruff-format, ruff-check

fix matrix gc test
  tests/matrixstore/test_matrix_usage_providers.py
Due: ruff-format, ruff-check

/bin/bash: line 1: q: command not found
  antarest/core/config.py
  antarest/core/exceptions.py
  antarest/core/metrics.py
  antarest/main.py
  conf/gunicorn.py
  docker-compose.yml
  requirements.txt
  scripts/start.sh
Due: mypy, ruff-format, ruff-check

add doc and move method inside db model
  antarest/study/business/aggregator_management.py
  antarest/study/business/output_variables_management.py
  antarest/study/storage/output_model.py
  antarest/study/storage/output_service.py
Due: mypy, ruff-format, ruff-check

use pid for worker id
  antarest/core/config.py
  antarest/core/exceptions.py
  antarest/core/metrics.py
  requirements.txt
Due: mypy, ruff-format, ruff-check

ignore errors in start script
  scripts/start.sh
Due: none

enable auto describe to try avoiding duplicates
  antarest/core/metrics.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
