Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(editor): replaced get_user_id by get_user_name and placed a study_service in study_interfaces
  antarest/study/service.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

feat(editor): finished update_editor_name method and integration testing
  antarest/study/service.py
  antarest/study/storage/utils.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

feat(editor): finished db variant study testing, wip on db raw study testing
  tests/study/test_model.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: ruff-format, ruff-check

feat(editor): finished integration test next : database modification
  antarest/study/service.py
  antarest/study/storage/utils.py
Due: mypy, ruff-format, ruff-check

feat(editor): finished database editor field unit testing
  tests/study/test_model.py
Due: ruff-format, ruff-check

feat(editor): finished database editor_name changing methods and wip on unit testing
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/test_repository.py
Due: mypy, ruff-format, ruff-check

feat(editor): finished
  antarest/study/service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
Due: mypy, ruff-format, ruff-check

feat(editor): finished database editor field unit testing
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(study_editor): taking reviews into account
  antarest/study/service.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

feat(study_editor): finished #1
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

feat(study_editor): readapting unit and integration tests
  tests/storage/test_service.py
Due: ruff-format, ruff-check

fix(tests): in-memory sqlite needs staticpool to work in multithread env
  tests/conftest_db.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_STA_mini.py
Due: ruff-format, ruff-check

fix tests
  antarest/study/storage/utils.py
  tests/core/test_tasks.py
  tests/integration/test_integration.py
Due: mypy, ruff-format, ruff-check

add copy tests
  tests/integration/test_integration.py
Due: ruff-format, ruff-check

fix editor on variant creation
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/study/test_repository.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

refactor(study): fixes
  antarest/study/business/area_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/storage/variantstudy/model/command/remove_area.py
  antarest/study/storage/variantstudy/model/command/replace_layer_areas.py
  tests/study/storage/variantstudy/test_snapshot_generator.py
  tests/variantstudy/model/command/test_create_area.py
  tests/variantstudy/model/command/test_replace_layer_areas.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

refactor(study): fixes
  antarest/study/business/area_management.py
  antarest/study/business/correlation_management.py
  antarest/study/business/model/area_model.py
  antarest/study/dao/api/area_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/test_correlation_manager.py
Due: mypy, ruff-format, ruff-check

remove duplicate condition
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

feat(editor): updating editor name when modifying file studies (#2700)
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/conftest_db.py
  tests/core/test_tasks.py
  tests/integration/test_integration.py
  tests/storage/business/test_raw_study_service.py
  tests/storage/integration/conftest.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/test_service.py
  tests/study/storage/rawstudy/test_raw_study_service.py
  tests/variantstudy/model/test_variant_model.py
Due: mypy, ruff-format, ruff-check

chore(deps): add `typing_extensions` to requirements
  requirements.txt
Due: none

chore(deps): bump `fastapi` to 0.118.1 in requirements
  requirements.txt
Due: none

feat(version): bump default study version to 9.3 inside back-end
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

chore(deps): upgrade dependencies and refactor optional field handling (#2754)
  antarest/core/persistence.py
  antarest/study/business/all_optional_meta.py
  requirements.txt
Due: mypy, ruff-format, ruff-check

feat(version): bump default study version to 9.3 inside back-end (#2758)
  antarest/study/model.py
Due: mypy, ruff-format, ruff-check

create model file
  antarest/study/business/model/hydro_correlation_model.py
Due: mypy, ruff-format, ruff-check

width issue
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/Fields.tsx
Due: none

height issue
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/StudyList.tsx
Due: none

feat(ui-launcher): add `adequacyCriterions` field
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/Fields.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/LauncherMetrics.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/index.tsx
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/utils.ts
  webapp/src/components/common/dialogs/FormDialog.tsx
  webapp/src/types/types.ts
Due: none

missed translation
  webapp/src/components/App/shared/studies/dialogs/StudyLaunchDialog/Fields.tsx
Due: none

add DAO empty skeleton
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/business/correlation_management.py
  antarest/study/business/model/hydro_correlation_model.py
  antarest/study/web/study_data_blueprint.py
  tests/study/business/test_correlation_manager.py
Due: mypy, ruff-format, ruff-check

refactor(study): update `get_all_areas_ui_info` to return `dict[str, AreaUIData]` and introduce `AreaUIData` model
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
  antarest/study/dao/api/area_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/create_area.py
  antarest/study/storage/variantstudy/model/command/replace_layer_areas.py
  antarest/study/storage/variantstudy/model/command/update_area_ui.py
  antarest/study/web/study_data_blueprint.py
  tests/storage/business/test_arealink_manager.py
  tests/variantstudy/model/command/test_create_area.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

fix imports
  tests/study/business/test_correlation_manager.py
Due: ruff-format, ruff-check

c
  antarest/study/business/model/hydro_correlation_model.py
  tests/study/business/test_allocation_manager.py
  tests/study/business/test_correlation_manager.py
Due: mypy, ruff-format, ruff-check

remove test, should put them back after
  tests/study/business/test_correlation_manager.py
Due: ruff-format, ruff-check

create cmd and use it
  antarest/study/business/correlation_management.py
  antarest/study/dao/api/hydro_dao.py
  antarest/study/dao/file/file_study_hydro_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/replace_hydro_correlation.py
Due: mypy, ruff-format, ruff-check

remove dic
  antarest/study/business/correlation_management.py
Due: mypy, ruff-format, ruff-check

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
