Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

add comment
  antarest/study/business/areas/thermal_reserve_symmetries_management.py
Due: mypy, ruff-format, ruff-check

feat(favorite_external_directories): finished taking reviews into account (?)
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: ruff-format, ruff-check

continue
  antarest/study/business/areas/reserve_certification_management.py
  antarest/study/business/areas/reserve_symmetries_management.py
  antarest/study/business/areas/thermal_reserve_certification_management.py
  antarest/study/business/model/thermal_reserve_certification_model.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

add certifications endpoint
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

typo
  antarest/study/storage/variantstudy/model/command/replace_thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

fix issue
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

implement the DB code
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

start writing cmd UT
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

finalize set up code
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

typo
  antarest/study/dao/file/common.py
Due: mypy, ruff-format, ruff-check

continue
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

continue
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/database/database_thermal_reserve_symmetries_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

fix fs behavior
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

finalize error case test
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

fix fs code
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
Due: mypy, ruff-format, ruff-check

add first logic test
  antarest/study/dao/file/file_study_thermal_reserve_symmetries_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

c
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

fix
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

finalize UT
  tests/variantstudy/model/command/test_replace_thermal_reserve_symmetries.py
Due: ruff-format, ruff-check

fix src code
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_symmetries.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/core/exceptions.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

error test ok on DB but not on FS
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: ruff-format, ruff-check

error test ok
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

start real test
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

fix certification order inside db code
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

forgot to save the yaml content
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

fix parsing code
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

test okay for FS but not for DB
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: ruff-format, ruff-check

fix db code
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

start writing command factory test
  antarest/study/storage/variantstudy/command_factory.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

test is ok
  antarest/study/storage/variantstudy/model/command/replace_thermal_reserve_certifications.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

set up the FS test
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: ruff-format, ruff-check

start writing test
  antarest/study/storage/rawstudy/model/filesystem/config/thermal_reserve_certifications.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: mypy, ruff-format, ruff-check

handle error case
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
Due: mypy, ruff-format, ruff-check

rename
  antarest/study/business/areas/reserve_certification_management.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/api/thermal_reserve_certification_dao.py
  antarest/study/dao/database/database_thermal_reserve_certification_dao.py
  antarest/study/dao/file/file_study_thermal_dao.py
  antarest/study/dao/file/file_study_thermal_reserve_certification_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/storage/rawstudy/model/filesystem/config/reserve_symmetries.py
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
  tests/variantstudy/model/command/test_replace_thermal_reserve_certifications.py
Due: mypy, ruff-format, ruff-check

c
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: ruff-format, ruff-check

finalize UT for FS
  tests/study/dao/file/test_filestudy_thermal_reserves_dao.py
Due: ruff-format, ruff-check

feat(favorite_external_directory): add external directories favorite (#3239)
  alembic/versions/80fdf2408ede_add_favorite_external_directory_table.py
  antarest/dependencies.py
  antarest/favorite/model.py
  antarest/favorite/repository.py
  antarest/favorite/service.py
  antarest/favorite/web.py
  antarest/service_creator.py
  tests/favorite_study/test_favorite_external_directory.py
  tests/integration/favorite_blueprint/test_favorite_external_directory.py
Due: mypy, ruff-format, ruff-check

refactor(ui-reserves): load includeReserves flag via TanStack Query, apply read-only to all tabs
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/queries/reserves/keys.ts
  webapp/src/queries/reserves/queries.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/general.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/needs.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/reserves/route.tsx
Due: none
