Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

feat(gems): refactor
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): update alembic migration file
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
Due: ruff-format, ruff-check

feat(gems): fix issue when validating and saving connections
  antarest/study/dao/database/gems/database_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): fix PR comments
  antarest/study/dao/database/gems/database_system_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): update validating and saving connections process
  antarest/study/dao/database/gems/database_system_dao.py
  tests/study/dao/test_database_gems_system_dao.py
Due: mypy, ruff-format, ruff-check

Update comment
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
Due: ruff-format, ruff-check

feat(gems): update connection comparison logic
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
Due: mypy, ruff-format, ruff-check

chore(all): fix reliability sonar issues
  .github/workflows/main.yml
Due: none

feat(gems): fix PR comments
  alembic/versions/3b48d03db4ef_create_gems_components_connections_table.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
Due: mypy, ruff-format, ruff-check

feat(gems): move the db query into the raise function
  antarest/study/dao/database/gems/database_system_dao.py
Due: mypy, ruff-format, ruff-check

add the src code that should fix the issue
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/database/database_xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/study_conversion/study_converter.py
Due: mypy, ruff-format, ruff-check

add test
  tests/study/dao/test_database_xpansion_dao.py
Due: ruff-format, ruff-check

chore(typing): include tests in default mypy checks
  pyproject.toml
Due: none

resolve theo comment
  antarest/study/dao/file/file_study_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

fix(xpansion): issue with projection foreign key (#3432)
  antarest/study/dao/api/xpansion_dao.py
  antarest/study/dao/database/database_xpansion_dao.py
  antarest/study/dao/file/file_study_xpansion_dao.py
  antarest/study/dao/study_conversion/study_converter.py
  tests/study/dao/test_database_xpansion_dao.py
Due: mypy, ruff-format, ruff-check

feat(gems): read string or float values for component parameters
  alembic/versions/f2e3f7ba9896_store_gems_parameter_value_as_string.py
  antarest/study/business/model/gems/system.py
  antarest/study/dao/database/gems/database_system_dao.py
  antarest/study/dao/database/models/gems/system.py
  tests/study/dao/assets/gems/system/system.yml
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check
