Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

remove with db
  antarest/launcher/service.py
Due: mypy, ruff-format, ruff-check

feat(launcher): add support for solver presets (#2763)
  alembic/versions/04a098a4a38e_add_solver_presets_table.py
  antarest/launcher/main.py
  antarest/launcher/model.py
  antarest/launcher/repository.py
  antarest/launcher/service.py
  antarest/launcher/web.py
  tests/integration/test_integration_launcher.py
  tests/launcher/test_service.py
  tests/launcher/test_solver_presets.py
  tests/launcher/test_web.py
Due: mypy, ruff-format, ruff-check

feat(directory): fix `@sylvlecl` comments
  antarest/study/directory_service.py
  antarest/study/repository.py
  antarest/study/service.py
  tests/study/test_directory_repository.py
  tests/study/test_directory_service.py
Due: mypy, ruff-format, ruff-check

fix src code
  antarest/study/business/output/variables_management.py
Due: mypy, ruff-format, ruff-check

fix existing test
  tests/integration/raw_studies_blueprint/assets/output_variables_list/res1.json
Due: none

add a test for mc-all links
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: ruff-format, ruff-check

add TNR
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: ruff-format, ruff-check

try query field
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(output): fix issue inside links variables retrieval (#2810)
  antarest/study/business/output/variables_management.py
  tests/integration/raw_studies_blueprint/assets/output_variables_list/res1.json
  tests/integration/raw_studies_blueprint/test_output_variables.py
Due: mypy, ruff-format, ruff-check

docs(readme): improve readme
  CONTRIBUTING.md
  README.md
Due: none

feat(directory): remove useless condition
  antarest/core/utils/web.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/web/directory_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(binding-constraintes): deprecate term-related endpoints
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

remove mentions of the Desktop version inside the doc
  docs/developer-guide/1-add-new-antares-version.md
  docs/developer-guide/3-desktop-version-cheat-sheet.md
  docs/developer-guide/desktop_artifacts_ui.png
  docs/developer-guide/install/0-INSTALL.md
  docs/developer-guide/install/2-DEPLOY.md
  mkdocs.yml
  scripts/package_antares_installer.sh
Due: none

feat(tasks): fix enum handling in API
  antarest/core/tasks/model.py
Due: mypy, ruff-format, ruff-check

refactor(remove_study_additional_data): WIP removing StudyAdditionalData mentions
  antarest/study/model.py
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/utils.py
  antarest/study/storage/variantstudy/repository.py
  antarest/study/storage/variantstudy/snapshot_generator.py
  antarest/study/storage/variantstudy/variant_study_service.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

feat(directory): implement directory management backend (#2774)
  alembic/versions/f1ff6904ff9f_add_directory_management.py
  antarest/core/utils/web.py
  antarest/study/directory_exceptions.py
  antarest/study/directory_service.py
  antarest/study/main.py
  antarest/study/model.py
  antarest/study/repository.py
  antarest/study/service.py
  antarest/study/storage/abstract_storage_service.py
  antarest/study/storage/study_storage.py
  antarest/study/storage/utils.py
  antarest/study/web/directory_blueprint.py
  antarest/study/web/studies_blueprint.py
  tests/conftest_services.py
  tests/core/test_tasks.py
  tests/integration/studies_blueprint/test_create_study.py
  tests/integration/studies_blueprint/test_directory.py
  tests/integration/studies_blueprint/test_get_studies.py
  tests/integration/studies_blueprint/test_move.py
  tests/integration/test_integration.py
  tests/integration/variant_blueprint/test_st_storage.py
  tests/storage/business/test_watcher.py
  tests/storage/integration/test_STA_mini.py
  tests/storage/test_service.py
  tests/storage/web/test_studies_bp.py
  tests/study/test_directory_repository.py
  tests/study/test_directory_service.py
  tests/study/test_model.py
Due: mypy, ruff-format, ruff-check

fix(tasks): fix enum handling in API GET /tasks (#2814)
  antarest/core/tasks/model.py
Due: mypy, ruff-format, ruff-check

test(ci): add more time for windows ci
  tests/integration/studies_blueprint/test_comments.py
  tests/integration/studies_blueprint/test_synthesis.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/integration/study_data_blueprint/test_thermal.py
  tests/integration/utils.py
Due: ruff-format, ruff-check

test(ci): add more time for windows ci
  tests/integration/utils.py
Due: ruff-format, ruff-check

wip
  antarest/study/web/output_blueprint.py
Due: mypy, ruff-format, ruff-check

fix(migrations): resolve alembic divergent heads
  alembic/versions/0b2141573d50_merge_directory_and_solver_presets.py
Due: ruff-format, ruff-check

fix(migrations): resolve alembic divergent heads (#2815)
  alembic/versions/0b2141573d50_merge_directory_and_solver_presets.py
Due: ruff-format, ruff-check

fix(migrations): resolve alembic divergent heads
  tests/integration/utils.py
Due: ruff-format, ruff-check

wip
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: ruff-format, ruff-check

chore(binding-constraints): deprecate term-related endpoints (#2812)
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

chore(api): avoid tag repetition, fix some
  antarest/launcher/web.py
  antarest/matrixstore/web.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

remove more tags
  antarest/core/core_blueprint.py
  antarest/core/filetransfer/web.py
  antarest/core/tasks/web.py
  antarest/login/web.py
  antarest/matrixstore/web.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
Due: mypy, ruff-format, ruff-check

remove Any and response_model
  antarest/core/filetransfer/web.py
  antarest/core/utils/web.py
  antarest/launcher/web.py
  antarest/matrixstore/web.py
  antarest/study/web/directory_blueprint.py
  antarest/study/web/explorer_blueprint.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/watcher_blueprint.py
  antarest/study/web/xpansion_studies_blueprint.py
Due: mypy, ruff-format, ruff-check

remove redundant response_model
  antarest/core/filesystem_blueprint.py
  antarest/login/web.py
  antarest/study/web/output_blueprint.py
  antarest/study/web/raw_studies_blueprint.py
  antarest/study/web/studies_blueprint.py
  antarest/study/web/study_data_blueprint.py
  antarest/study/web/variant_blueprint.py
Due: mypy, ruff-format, ruff-check

fixes
  antarest/core/tasks/web.py
  antarest/study/web/output_blueprint.py
  tests/launcher/test_web.py
Due: mypy, ruff-format, ruff-check

fix(presets): fix issue inside solver call
  antarest/launcher/model.py
Due: mypy, ruff-format, ruff-check

chore(desktop): remove desktop related resources (#2807)
  .github/workflows/deploy.yml
  AntaresWebLinux.spec
  AntaresWebWin.spec
  docs/developer-guide/1-add-new-antares-version.md
  docs/developer-guide/3-desktop-version-cheat-sheet.md
  docs/developer-guide/desktop_artifacts_ui.png
  docs/developer-guide/install/0-INSTALL.md
  docs/developer-guide/install/2-DEPLOY.md
  mkdocs.yml
  requirements-desktop.txt
  resources/AntaresWebServerShortcut.lnk
  resources/antares-desktop-fs/README.md
  resources/antares-desktop-fs/archives/.placeholder
  resources/antares-desktop-fs/config.yaml
  resources/antares-desktop-fs/internal_studies/.placeholder
  resources/antares-desktop-fs/local_workspace/.placeholder
  resources/antares-desktop-fs/logs/.placeholder
  resources/antares-desktop-fs/matrices/.placeholder
  resources/antares-desktop-fs/studies/.placeholder
  resources/antares-desktop-fs/studies/README.md
  resources/antares-desktop-fs/tmp/.placeholder
  scripts/build-front.sh
  scripts/package_antares_installer.sh
  scripts/package_antares_web.sh
Due: none

fix tests
  tests/integration/test_integration_launcher.py
  tests/launcher/test_solver_presets.py
Due: ruff-format, ruff-check

fix final test
  tests/launcher/test_service.py
Due: ruff-format, ruff-check

fix(presets): fix issue inside solver call (#2819)
  antarest/launcher/model.py
  tests/integration/test_integration_launcher.py
  tests/launcher/test_service.py
  tests/launcher/test_solver_presets.py
Due: mypy, ruff-format, ruff-check

wip
  tests/launcher/test_service.py
Due: ruff-format, ruff-check

feat(aggregate): add custom file download expiration time (#2797)
  antarest/study/storage/output_service.py
  antarest/study/web/output_blueprint.py
  tests/integration/raw_studies_blueprint/test_aggregate_raw_data.py
Due: mypy, ruff-format, ruff-check
