Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

mypy:
  name: Run mypy
  entry: mypy
  language: system

ruff-format:
  name: Ruff format
  entry: ruff
  args:
  - format
  - antarest
  - tests
  language: system

ruff-check:
  name: Ruff check
  entry: ruff
  args:
  - check
  - --fix
  - antarest
  - tests
  language: system

feat(layer): fixes
  alembic/versions/9c4e7f2a3b1d_add_layer_table.py
  antarest/core/exceptions.py
  antarest/study/business/model/area_model.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_layer_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/storage/test_service.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_layer_dao.py
Due: mypy, ruff-format, ruff-check

fix(xpansion): allow candidate creation with integer name
  antarest/study/business/model/xpansion_model.py
  tests/storage/business/test_xpansion_manager.py
Due: mypy, ruff-format, ruff-check

fix(xpansion): allow candidate creation with integer name (#2979)
  antarest/study/business/model/xpansion_model.py
  tests/storage/business/test_xpansion_manager.py
Due: mypy, ruff-format, ruff-check

feat(layer): implement database support (#2970)
  alembic/versions/9c4e7f2a3b1d_add_layer_table.py
  antarest/core/exceptions.py
  antarest/study/business/layer_management.py
  antarest/study/business/model/area_model.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_area_dao.py
  antarest/study/dao/database/database_layer_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/database/models/area.py
  antarest/study/dao/database/models/layer.py
  antarest/study/dao/file/file_study_area_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_layer_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/rawstudy/raw_study_service.py
  tests/storage/test_service.py
  tests/study/dao/conftest.py
  tests/study/dao/test_database_area_dao.py
  tests/study/dao/test_database_layer_dao.py
  tests/variantstudy/model/command/test_replace_layer_areas.py
Due: mypy, ruff-format, ruff-check

remove irrelevant processing of group and input clusters
  antarest/study/dao/database/database_thermal_dao.py
Due: mypy, ruff-format, ruff-check

bump revision
  alembic/versions/124274d80f2e_create_link_matrices.py
Due: ruff-format, ruff-check

resolve one comment
  alembic/versions/124274d80f2e_create_link_matrices.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/models/link.py
Due: mypy, ruff-format, ruff-check

resolve other comment
  antarest/study/dao/database/database_link_dao.py
Due: mypy, ruff-format, ruff-check

fix alembic issue
  alembic/versions/124274d80f2e_create_link_matrices.py
Due: ruff-format, ruff-check

feat(dao): add link matrices in DB (#2975)
  alembic/versions/124274d80f2e_create_link_matrices.py
  antarest/study/dao/database/database_link_dao.py
  antarest/study/dao/database/database_matrices_provider.py
  antarest/study/dao/database/models/link.py
  tests/study/dao/test_database_area_matrices_dao.py
  tests/study/dao/test_database_link_matrices_dao.py
  tests/study/dao/test_garbage_collector.py
Due: mypy, ruff-format, ruff-check

feat(launcher): add export mps option
  antarest/launcher/adapters/local_launcher/local_launcher.py
  tests/launcher/test_local_launcher.py
Due: mypy, ruff-format, ruff-check

bump alembic
  alembic/versions/e61f6bcf304c_create_study_settings_tables.py
Due: ruff-format, ruff-check

initialize settings
  antarest/study/dao/database/database_study_dao.py
Due: mypy, ruff-format, ruff-check

creat factory object
  antarest/study/dao/factory/__init__.py
  antarest/study/dao/factory/factory.py
Due: mypy, ruff-format, ruff-check

continue
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/database/database_study_dao.py
  antarest/study/dao/factory/factory.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/factory/factory.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/dao/factory/factory.py
Due: mypy, ruff-format, ruff-check

c
  antarest/study/dao/factory/factory.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/dao/factory/factory.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

a
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

no mypy
  antarest/study/dao/factory/factory.py
Due: mypy, ruff-format, ruff-check

testing things
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

a
  antarest/study/service.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

a
  tests/study/dao/conftest.py
Due: ruff-format, ruff-check

should be better
  antarest/study/dao/factory/factory.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

one fix
  tests/study/dao/test_database_layer_dao.py
Due: ruff-format, ruff-check

fix other test
  tests/study/dao/test_database_layer_dao.py
Due: ruff-format, ruff-check

fixes
  tests/storage/test_service.py
Due: ruff-format, ruff-check

other fix
  tests/storage/business/test_watcher.py
Due: ruff-format, ruff-check

use tmp_path
  tests/storage/test_service.py
Due: ruff-format, ruff-check

fix test
  tests/storage/test_service.py
Due: ruff-format, ruff-check

fix final test
  tests/core/tasks/test_tasks_service.py
Due: ruff-format, ruff-check

implementing upsert
  antarest/study/business/model/thermal_cluster_model.py
  antarest/study/dao/database/database_thermal_dao.py
  antarest/study/dao/database/sql_utils.py
  tests/study/dao/test_database_thermal_dao.py
  tests/study/dao/test_sql_utils.py
Due: mypy, ruff-format, ruff-check

resolve comments
  antarest/study/dao/api/study_factory_dao.py
  antarest/study/dao/database/database_study_factory_dao.py
  antarest/study/dao/file/file_study_factory_dao.py
  antarest/study/service.py
  tests/study/dao/conftest.py
Due: mypy, ruff-format, ruff-check

fixing a test
  tests/storage/test_service.py
Due: ruff-format, ruff-check

refactor (cr23): refactor frontend for cr23
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/compatibility/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/compatibility/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-daily-gen-energy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-daily-pump-energy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-hourly-gen-power.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-hourly-pump-power.tsx
Due: none

fix(lint): fix lint error
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-daily-gen-energy.tsx
Due: none

feat(ui-hydro): add compatibility form and new hydro matrices (#2982)
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/routeTree.gen.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/compatibility/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/compatibility/index.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/configuration/route.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/-utils.ts
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-daily-gen-energy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-daily-pump-energy.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-hourly-gen-power.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/max-hourly-pump-power.tsx
  webapp/src/routes/_authenticated/studies/$studyId/explore/modeling/areas/$areaId/hydro/route.tsx
Due: none

Path conditions:
  mypy: any of: ^antarest/ and \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
