Repository AntaresSimulatorTeam/AntaREST: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, ruff-format, ruff-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: mypy
        name: Run mypy
        entry: mypy
        language: system
        files: ^antarest/
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-format
        name: Ruff format
        entry: ruff
        args: ["format", "antarest", "tests"]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: ruff-check
        name: Ruff check
        entry: ruff
        args: ["check", "--fix", "antarest", "tests"]
        language: system
        types: [python]

add liscence header to test file
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: ruff-format, ruff-check

fix(ui-matrix): keep undo after saving
  webapp/src/components/common/Matrix/components/MatrixActions/MatrixActions.test.tsx
  webapp/src/components/common/Matrix/components/MatrixActions/index.tsx
  webapp/src/components/common/Matrix/context/MatrixContext.tsx
  webapp/src/components/common/Matrix/hooks/useMatrixData.ts
  webapp/src/components/common/Matrix/hooks/useMatrixMutations.ts
  webapp/src/components/common/Matrix/index.tsx
Due: none

finally fix matrix writing
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: mypy, ruff-format, ruff-check

resolve comments
  antarest/study/business/model/xpansion_model.py
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/common.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/update_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  tests/integration/xpansion_studies_blueprint/test_integration_xpansion.py
  tests/variantstudy/model/command/test_xpansion_candidates.py
  tests/variantstudy/test_command_factory.py
Due: mypy, ruff-format, ruff-check

chore(tests): fix unit tests
  antarest/study/storage/variantstudy/model/command/create_link.py
  tests/storage/test_service.py
Due: mypy, ruff-format, ruff-check

refacto(dao): introduce read only dao
  antarest/study/business/study_interface.py
  antarest/study/dao/study_dao.py
  antarest/study/service.py
Due: mypy, ruff-format, ruff-check

chore(doc): some docstring
  antarest/study/dao/study_dao.py
Due: mypy, ruff-format, ruff-check

chore(dao): move file impl to its own file
  antarest/study/business/study_interface.py
  antarest/study/business/utils.py
  antarest/study/dao/file_study_dao.py
  antarest/study/dao/study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  tests/storage/test_service.py
  tests/variantstudy/model/command/test_manage_district.py
Due: mypy, ruff-format, ruff-check

add pyantic verification inside cmd
  antarest/study/business/xpansion_management.py
  antarest/study/storage/variantstudy/command_factory.py
  antarest/study/storage/variantstudy/model/command/create_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/remove_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/replace_xpansion_candidate.py
  antarest/study/storage/variantstudy/model/command/xpansion_common.py
  tests/variantstudy/model/command/test_xpansion_candidates.py
Due: mypy, ruff-format, ruff-check

refacto(dao): in mem implementations
  antarest/study/business/study_interface.py
  antarest/study/dao/in_memory_study_dao.py
Due: mypy, ruff-format, ruff-check

feat(area): refactor properties management
  antarest/study/business/areas/properties_management.py
Due: mypy, ruff-format, ruff-check

chore(dao): in memory test for demonstration
  tests/variantstudy/model/command/test_create_link_in_memory.py
Due: ruff-format, ruff-check

nice
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

put code in common
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

fix table mode return
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

feat(ui-matrix): reduce action buttons size
  webapp/eslint.config.js
  webapp/public/locales/en/main.json
  webapp/public/locales/fr/main.json
  webapp/src/components/common/Matrix/components/MatrixResize.tsx
  webapp/src/components/common/Matrix/shared/utils.ts
  webapp/src/theme/components.ts
Due: none

refacto(dao): separate impl in multiple files
  antarest/study/business/study_interface.py
  antarest/study/business/utils.py
  antarest/study/dao/file/__init__.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  antarest/study/storage/variantstudy/variant_command_generator.py
  tests/storage/test_service.py
  tests/variantstudy/model/command/test_manage_district.py
Due: mypy, ruff-format, ruff-check

chore(dao): fix circular import issues
  antarest/study/business/study_interface.py
  antarest/study/dao/file/file_study_link_dao.py
Due: mypy, ruff-format, ruff-check

chore(dao): split api and impl
  antarest/study/business/study_interface.py
  antarest/study/dao/api/__init__.py
  antarest/study/dao/api/link_dao.py
  antarest/study/dao/api/study_dao.py
  antarest/study/dao/file/file_study_dao.py
  antarest/study/dao/file/file_study_link_dao.py
  antarest/study/dao/memory/__init__.py
  antarest/study/dao/memory/in_memory_study_dao.py
  antarest/study/service.py
  antarest/study/storage/variantstudy/model/command/create_link.py
  antarest/study/storage/variantstudy/model/command/icommand.py
  tests/variantstudy/model/command/test_create_link_in_memory.py
Due: mypy, ruff-format, ruff-check

fix(debug): ensure `json` files with `file://` proper rendering
  webapp/src/components/App/Singlestudy/explore/Debug/utils.ts
Due: none

perf(links): improve drastically perfs for update links inside table-mode (#2381)
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

perf(links): improve drastically perfs for links inside table-mode (#2384)
  antarest/study/business/link_management.py
Due: mypy, ruff-format, ruff-check

feat(area): refactor properties management
  antarest/study/business/area_management.py
  antarest/study/business/areas/properties_management.py
  antarest/study/business/model/area_model.py
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
Due: mypy, ruff-format, ruff-check

feat(area): replace update config command with dedicated command
  antarest/study/business/area_management.py
  antarest/study/business/areas/properties_management.py
  antarest/study/business/model/area_model.py
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
Due: mypy, ruff-format, ruff-check

feat(area): replace update config command with dedicated command
  antarest/study/business/area_management.py
  antarest/study/business/model/area_model.py
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
Due: mypy, ruff-format, ruff-check

feat(area): replace update config command with dedicated command
  antarest/study/storage/variantstudy/model/command/update_area_properties.py
Due: mypy, ruff-format, ruff-check

feat(area): replace update config command with dedicated command
  antarest/study/business/model/area_model.py
Due: mypy, ruff-format, ruff-check

fix PR
  antarest/study/business/binding_constraint_management.py
  antarest/study/storage/variantstudy/model/command/update_binding_constraints.py
  tests/integration/study_data_blueprint/test_binding_constraints.py
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: mypy, ruff-format, ruff-check

fix more PR
  tests/variantstudy/model/command/test_update_binding_constraints.py
Due: ruff-format, ruff-check
